body {
	background: #f6f6f6;
	font-family: "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC", "Helvetica Neue", "Open Sans", Arial, "Hiragino Sans GB", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}

.campus-CJ {
	overflow: hidden;
}

ul,
ol,
li {
	list-style: none;
}

em,
i {
	font-style: normal;
}

input,
button,
textarea {
	outline: none;
}

a:active,
a:hover {
	text-decoration: none;
}

::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #a8a8a8;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #a8a8a8;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #a8a8a8;
}

:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #a8a8a8;
}

img[src=""] {
	opacity: 0;
}


/* 禁止选中 */

* {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Chrome/Safari/Opera */
	-khtml-user-select: none;
	/* Konqueror */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently not supported by any browser */
}

input,
textarea {
	webkit-touch-callout: default;
	/* iOS Safari */
	-webkit-user-select: text;
	/* Chrome/Safari/Opera */
	-khtml-user-select: text;
	/* Konqueror */
	-moz-user-select: text;
	/* Firefox */
	-ms-user-select: text;
	/* Internet Explorer/Edge */
	user-select: text;
	/* Non-prefixed version, currently not supported by any browser */
}


/* 标题 */

.navbar {
	margin: 0;
	border: none;
	min-height: 45px;
	z-index: 1;
}

.smart-message {}

.smart-message-true:after {
	content: "●";
	color: red;
	font-size: 20px;
	position: absolute;
	top: 0px;
	right: 0;
}

.smart-header {
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 45px;
	min-height: 45px;
	text-align: center;
}

.smart-header-fixed {
	position: fixed;
}

.smart-header-abs {
	position: absolute;
}

.smart-icon-right,
.smart-icon-left {
	position: absolute;
	width: 45px;
	height: 45px;
	min-height: 45px;
	top: 0;
	z-index: 1;
	padding: 10px;
}

.smart-header .smart-icon-right {
	right: 0;
}

.smart-header .smart-icon-left {
	left: 0;
}

.smart-header .smart-back img,
.smart-header .smart-scan-code img {
	width: 100%;
	vertical-align: top;
}

.smart-icon-left img,
.smart-icon-right img {
	max-width: 25px;
	vertical-align: top;
}

.smart-header h1 {
	display: inline-block;
	color: #fff;
	margin: 0;
	font-size: 16px;
	line-height: 45px;
}

.smart-header .smart-cancel,
.smart-header .smart-screen,
.smart-header .smart-edit,
.smart-header .smart-search-btn,
.smart-header .smart-text {
	color: #a8a8a8;
	font-size: 15px;
	position: absolute;
	width: 45px;
	height: 45px;
	right: 0;
	top: 0;
	z-index: 1;
	padding: 0px;
	line-height: 45px;
	font-weight: normal;
}

.smart-cancel.smart-icon-left,
.smart-screen.smart-icon-left,
.smart-edit.smart-icon-left,
.smart-search-btn.smart-icon-left,
.smart-text.smart-icon-left {
	text-align: right;
}

.smart-cancel.smart-icon-right,
.smart-screen.smart-icon-right,
.smart-edit.smart-icon-right,
.smart-search-btn.smart-icon-right,
.smart-text.smart-icon-right {
	text-align: left;
}

.smart-header.smart-white {
	background: #fff;
}


/* 边框 */


/*.smart-header:after,*/

.smart-gear:after,
.smart-accordion .smart-sub-list .smart-sub-list-item:first-child:before,
.smart-header.smart-white:after,
.smart-accordion .panel-default:after,
.smart-sub-list .smart-sub-list-item:not(:last-child):after,
.smart-list.smart-list-space .smart-list-item:not(:last-child):after,
.smart-list:after,
.smart-sub-list:after,
.smart-content .smart-account:after,
.smart-payment-box:after,
.smart-keyboard-head:after,
.campus-index .smart-list-item:after,
.campus-edit .smart-list-item:after,
.campus-CJ-table thead:after,
.campus-CJ-table tbody tr:after,
.campus-CJ-table thead tr th:after,
.campus-CJ-table tbody tr td:after,
.smart-border:after {
	content: " ";
	height: 1px;
	position: absolute;
	left: 0;
	width: 100%;
	background: #e0e0e0;
	transform: rotateX(60deg);
	-webkit-transform: rotateX(60deg);
}


/* 上边框 */

.smart-accordion .smart-sub-list .smart-sub-list-item:first-child:before {
	top: 0;
}


/* 下边框 */


/*.smart-header:after,*/

.smart-gear:after,
.smart-list:after,
.smart-sub-list:after,
.smart-header.smart-white:after,
.smart-accordion .panel-default:after,
.smart-sub-list .smart-sub-list-item:not(:last-child):after,
.smart-list.smart-list-space .smart-list-item:not(:last-child):after,
.smart-content .smart-account:after,
.smart-payment-box:after,
.smart-keyboard-head:after,
.campus-index .smart-list-item:after,
.campus-edit .smart-list-item:after,
.campus-CJ-table thead:after,
.campus-CJ-table tbody tr:after,
.campus-CJ-table thead tr th:after,
.campus-CJ-table tbody tr td:after {
	bottom: 0;
}

.smart-header.smart-white h1 {
	color: #000;
}


/* 无下边框 */

body .smart-border:after,
body .smart-border:before,
body .smart-border-bottom-0:after,
body .smart-border-top-0:before {
	height: 0;
}


/* 加载中 */

.smart-loading {
	text-align: center;
	padding: 10px;
}

.smart-loading:after {
	content: "加载中 . . .";
	display: block;
	color: #afafaf;
}

.smart-loading .mui-waiting {
	display: block;
	margin: 0 auto;
}

.smart-waiting {
	display: inline-block;
	width: 24px;
	height: 24px;
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-animation: waiting-spin 1s step-end infinite;
	animation: waiting-spin 1s step-end infinite
}

.smart-waiting:after {
	display: block;
	width: 100%;
	height: 100%;
	content: '';
	background-image: url('data:image/svg+xml;charset=utf-8,<svg viewBox=\'0 0 120 120\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'><defs><line id=\'l\' x1=\'60\' x2=\'60\' y1=\'7\' y2=\'27\' stroke=\'%236c6c6c\' stroke-width=\'11\' stroke-linecap=\'round\'/></defs><g><use xlink:href=\'%23l\' opacity=\'.27\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(30 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(60 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(90 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(120 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(150 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.37\' transform=\'rotate(180 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.46\' transform=\'rotate(210 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.56\' transform=\'rotate(240 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.66\' transform=\'rotate(270 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.75\' transform=\'rotate(300 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.85\' transform=\'rotate(330 60,60)\'/></g></svg>');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100%
}


/* 加载结果 nothing */

.smart-nothing .smart-waiting {
	display: none;
}

.smart-nothing:after {
	content: "无结果";
	color: #afafaf;
}


/*
.smart-waiting-white:after {
background-image: url('data:image/svg+xml;charset=utf-8,<svg viewBox=\'0 0 120 120\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'><defs><line id=\'l\' x1=\'60\' x2=\'60\' y1=\'7\' y2=\'27\' stroke=\'%23fff\' stroke-width=\'11\' stroke-linecap=\'round\'/></defs><g><use xlink:href=\'%23l\' opacity=\'.27\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(30 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(60 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(90 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(120 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(150 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.37\' transform=\'rotate(180 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.46\' transform=\'rotate(210 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.56\' transform=\'rotate(240 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.66\' transform=\'rotate(270 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.75\' transform=\'rotate(300 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.85\' transform=\'rotate(330 60,60)\'/></g></svg>')
}*/

@-webkit-keyframes waiting-spin {
	0% {
		-webkit-transform: rotate(0deg)
	}
	8.33333333% {
		-webkit-transform: rotate(30deg)
	}
	16.66666667% {
		-webkit-transform: rotate(60deg)
	}
	25% {
		-webkit-transform: rotate(90deg)
	}
	33.33333333% {
		-webkit-transform: rotate(120deg)
	}
	41.66666667% {
		-webkit-transform: rotate(150deg)
	}
	50% {
		-webkit-transform: rotate(180deg)
	}
	58.33333333% {
		-webkit-transform: rotate(210deg)
	}
	66.66666667% {
		-webkit-transform: rotate(240deg)
	}
	75% {
		-webkit-transform: rotate(270deg)
	}
	83.33333333% {
		-webkit-transform: rotate(300deg)
	}
	91.66666667% {
		-webkit-transform: rotate(330deg)
	}
	100% {
		-webkit-transform: rotate(360deg)
	}
}

@keyframes waiting-spin {
	0% {
		transform: rotate(0deg)
	}
	8.33333333% {
		transform: rotate(30deg)
	}
	16.66666667% {
		transform: rotate(60deg)
	}
	25% {
		transform: rotate(90deg)
	}
	33.33333333% {
		transform: rotate(120deg)
	}
	41.66666667% {
		transform: rotate(150deg)
	}
	50% {
		transform: rotate(180deg)
	}
	58.33333333% {
		transform: rotate(210deg)
	}
	66.66666667% {
		transform: rotate(240deg)
	}
	75% {
		transform: rotate(270deg)
	}
	83.33333333% {
		transform: rotate(300deg)
	}
	91.66666667% {
		transform: rotate(330deg)
	}
	100% {
		transform: rotate(360deg)
	}
}


/* 快速 */

.fast-way-left,
.fast-way-right {
	position: absolute;
	bottom: 30%;
	color: #c6c6c6;
	padding: 10px 30px;
	background-color: rgba(0, 0, 0, .8);
	border-radius: 5rem;
	transition: background-color .1s ease-in;
	-webkit-transition: background-color .1s ease-in;
}

.fast-way-left:after,
.fast-way-right:after {
	content: " ";
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	background: url(../images/continue.png) no-repeat center;
}

.fast-way-right {
	background-color: rgba(0, 0, 0, .8);
	background-position: 0;
	right: -20px;
}

.fast-way-right:after {
	transform: rotateZ(180deg);
	left: 10px;
}

.fast-way-left {
	left: -20px;
}

.fast-way-left:active,
.fast-way-right:active {
	background-color: rgba(0, 0, 0, .6);
}


/* 底部 */

.smart-foot {
	position: fixed;
	width: 100%;
	bottom: 0;
	right: 0;
	font-size: 0
}

.smart-content .smart-container-sure-btn,
.smart-content .smart-btn {
	outline: none;
	width: 85%;
	display: block;
	border-radius: 5px;
	background-color: #dfdfdf;
	border: none;
	font-size: 16px;
	margin: 20px auto;
	padding: 10px 0;
	color: #fff;
	transition: background-color .2s ease-in;
	-webkit-transition: background-color .2s ease-in;
}
.smart-content .smart-container-sure-btn.active{
	background-color: rgba(115, 210, 254, 1);
    border-color: #73d2fe;
}
.smart-content .smart-container-sure-btn.active:active {
	background-color: rgba(115, 210, 254, .7);
}
.smart-content .smart-foot .smart-btn {
	width: 100%;
	padding: 12px 0;
	margin-top: -12px;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	background: #73d2fe;
	color: #fff;
	font-size: 16px;
	transition: background .1s ease-in;
	-webkit-transition: background .1s ease-in;
}

.smart-foot .smart-btn.smart-btn-5{
	width: 50%;
	display: inline-block;
	border-right: 1px solid #fff;
}
.smart-foot .smart-btn.smart-btn-5:last-child{
	border:0;
}
.smart-foot .smart-btn:active {
	background: #a9edff;
}
.smart-container-sure-btn.smart-btn-active,
.smart-btn.smart-btn-active {
	background-color: #73d2fe;
	border-color: #73d2fe
}

.smart-container-sure-btn.smart-btn-active:active,
.smart-btn.smart-btn-active:active {
	background: #a9edff;
}


/* 弹出层提示 */

.smart-tips {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: 999;
	padding: 15%;
}

.smart-tips-box {
	background: #fff;
	border-radius: 5px;
}

.smart-tips h1 {
	color: #000;
	font-size: 20px;
	text-align: center;
	padding: 10% 0;
}

.smart-tips p {
	color: #8d8d8d;
	font-size: 16px;
	width: 60%;
	padding: 7rem 0;
	margin: 0 auto;
}

.smart-tips .smart-close {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../img/close-1.png) no-repeat;
	background-size: 100%;
	border: 2px solid #fff;
	border-radius: 5rem;
	margin: 5rem auto;
}


/* 小标题 */

.smart-subtitle-h1 {
	background: #f6f6f6;
	color: #a8a8a8;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding-left: 20px;
}

.smart-subtitle-h2 {
	font-size: 14px;
	line-height: 14px;
	margin: 0;
	padding: 9px 20px;
	color: #505050;
	border-bottom: 1px solid #efefef;
	box-sizing: border-box;
}

.smart-subtitle-h2 em {
	float: right
}


/* 列表 */

.smart-list,
.smart-sub-list {
	padding: 0;
	background: #efefef;
	margin: 0;
	position: relative;
	/*border-bottom: 1px solid #efefef;*/
}

.smart-list .smart-list-item,
.smart-sub-list .smart-sub-list-item {
	font-size: 15px;
	height: 58px;
	display: block;
	line-height: 58px;
	padding: 0 20px;
	color: #3c3c3c;
	margin-top: 10px;
	background: #fff;
	transition: background .1s ease-in;
	-webkit-transition: background .1s ease-in;
	position: relative;
}

.smart-list .smart-list-item:first-child,
.smart-sub-list .smart-sub-list-item:first-child {
	margin-top: 0;
}

.smart-list .smart-list-item[set-terget]:active {
	text-decoration: none;
	background: #efefef;
}


/* sub list*/

.smart-sub-list .smart-sub-list-item {
	height: 48px;
	line-height: 48px;
	margin: 0;
}

.smart-list.smart-list-space .smart-list-item {
	margin: 0;
}


/* smart-sure */

.smart-list .smart-list-item .smart-icon-sure,
.smart-sub-list .smart-sub-list-item .smart-icon-sure {
	position: absolute;
	width: 25px;
	height: 25px;
	background: url(../../img/sure.png) no-repeat;
	background-size: 100%;
	top: 50%;
	right: 30px;
	margin-top: -12.5px;
	opacity: 0;
	transition: opacity .1s ease-in;
	-webkit-transition: opacity .1s ease-in;
}

.smart-list .smart-list-item .smart-icon-sure.smart-active,
.smart-sub-list .smart-sub-list-item .smart-icon-sure.smart-active {
	opacity: 1;
}

.smart-list .smart-list-item.smart-list-expand {
	margin-top: 0;
	display: none;
}

.smart-list .smart-list-item.smart-list-expand:before {
	content: " ";
	position: absolute;
	height: 1px;
	background: #e0e0e0;
	width: 100%;
	top: 0;
	left: 20px;
}

.smart-list .smart-list-item.smart-list-expand.smart-list-expand-foot .smart-list-expand-content {
	width: 80%;
	color: #c8c8c8;
	line-height: initial;
}

.smart-list .smart-list-item.smart-list-expand.smart-list-expand-foot:before {
	height: 0px;
}


/* 列表图片 */


/* 列表开头图片 */

.smart-list-title-icon {}

.smart-list-title-icon .sr-only {
	max-width: 80px;
}

.smart-list-title-icon .smart-input {
	width: 60%;
}


/* 列表结尾图片 */

.smart-list-end-icon {
	position: absolute;
	top: 0;
	height: 100%;
	right: 20px;
	color: #8d8d8d;
}

.smart-list-end-icon img {
	vertical-align: middle;
	max-width: 25px;
}


/* 表单填充 */

.form-signin-fill {
	/*position: absolute;
width: 100%;
top:150px;
bottom: 0;
background: #fff;*/
}


/* smart-help 帮助 */

.smart-help {
	height: 35px;
	line-height: 35px;
	background: #fff6b6;
	color: #8d8d8d;
	font-size: 14px;
	padding: 0 40px;
	position: relative;
}

.smart-help:after {
	content: "i";
	position: absolute;
	width: 13px;
	height: 13px;
	background: #abe0e1;
	border: 0;
	border-radius: 5rem;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	left: 18px;
	top: 50%;
	margin-top: -8px;
}


/* smart-change */

.smart-change {
	text-align: center;
}

.smart-change label {
	font-weight: normal;
	color: #8d8d8d;
	font-size: 14px;
}

.smart-change span {
	color: #73d2fe;
}

.smart-change span:after {
	content: " ";
	display: inline-block;
	background: url(../images/continue.png) no-repeat center;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}


/* 遮罩层 */

.smart-screen-mask {
	display: none;
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .6);
}

.smart-account-change,
.camput-popup {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
	display: none;
	z-index: 111;
}

.smart-account-change ul,
.camput-popup ul,
.smart-account-change ul li,
.camput-popup ul li {
	padding: 0;
	text-align: center;
	position: relative;
	margin: 0;
}

.smart-account-change ul:before,
.smart-account-change ul li:before,
.camput-popup ul:before,
.camput-popup ul li:before {
	content: " ";
	height: 1px;
	position: absolute;
	left: 0;
	width: 100%;
	background: #e0e0e0;
	transform: rotateX(45deg);
	-webkit-transform: rotateX(45deg);
	top: 0;
}

.smart-account-change ul li,
.camput-popup ul li {
	font-size: 16px;
	color: #3c3c3c;
	height: 40px;
	line-height: 40px;
	padding: 0 50px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.smart-account-change ul li:before,
.camput-popup ul li:before {
	bottom: 0;
}

.smart-account-change ul li.smart-active:after,
.camput-popup ul li.smart-active:after {
	content: " ";
	width: 25px;
	position: absolute;
	height: 25px;
	right: 20px;
	top: 50%;
	margin-top: -12px;
	background: url(../../img/sure.png) no-repeat center;
	background-size: 100%;
}


/* 搜索框 */

.smart-search {
	border: 1px solid #a8a8a8;
	border-radius: 5px;
	padding: 5px;
}

.smart-search input {
	display: block;
	width: 100%;
	border: none;
	padding: 0 40px 0 10px;
	height: 25px;
	font-size: 14px;
	vertical-align: middle;
}

.smart-search button {
	float: right;
	vertical-align: middle;
	border: none;
	width: 25px;
	height: 25px;
	margin-top: -25px;
	background: url(../../img/yingyongdating/search.png) no-repeat;
}

.smart-imgBox {
	display: block;
	width: 100%;
	background: #fff;
	padding-top: 20%;
	padding-bottom: 10%;
}

.smart-imgBox img {
	width: 70%;
	display: block;
	margin: 0 auto;
}

.smart-imgBox p {
	text-align: center;
	color: #8d8d8d;
	font-size: 16px;
	margin-top: 10%;
	width: 55%;
	margin: 10% auto 0;
}


/* 筛选 */

.smart-screen {
	width: 100%;
	position: absolute;
	z-index: 3;
	top: 45px;
	left: 0;
	background: #fff
}

.smart-screen-mask {
	display: none;
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .6);
}

.smart-screen .smart-column-list {
	padding: 0;
	height: 40px;
	line-height: 40px;
	/*border:1px solid #efefef;*/
}

.smart-screen div[class^="col-xs"] {
	text-align: center;
	color: #6d6d6d;
	transition: color .2s ease-in;
	-webkit-transition: color .2s ease-in;
}

.smart-screen div[class^="col-xs-4"]:after {
	content: " ";
	background: url(../images/screen-1.png) no-repeat center;
	background-size: 35px;
	vertical-align: middle;
	margin-top: -2px;
	width: 20px;
	height: 20px;
	display: inline-block;
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);

/*	transition: transform .2s ease-in, background .1s ease-in;
	-webkit-transition: transform .2s ease-in, background .1s ease-in;*/
}

.smart-screen div[class^="col-xs-4"].smart-active {
	color: #73d2fe;
}

.smart-screen div[class^="col-xs-4"].smart-active:after {
	background: url(../images/screen-2.png) no-repeat center;
	background-size: 35px;
	transform: rotateX(-180deg);
	-webkit-transform: rotateX(-180deg);
}

.smart-screen .smart-screen-list {
	display: none;
}

.smart-screen div[class^="col-xs-12"] {
	font-size: 15px;
	color: #3c3c3c;
	height: 45px;
	line-height: 45px;
	background: rgba(255, 255, 255, 1);
	border-bottom: 1px solid #e0e0e0;
	transition: background .1s ease-in;
	-webkit-transition: background .1s ease-in;
}

.smart-screen div[class^="col-xs-12"]:first-child {
	border-top: 1px solid #e0e0e0;
}

.smart-screen div[class^="col-xs-12"]:active {
	background: rgba(222, 222, 222, 1);
}


/* 温馨提示 */

.smart-lockCard-tips {}

.smart-lockCard-tips h1 {
	font-weight: normal;
	font-size: 14px;
	padding-left: 35px;
	position: relative;
	color: #6d6d6d;
	margin-top: 0;
	margin-bottom: 15px;
}

.smart-lockCard-tips h1:after {
	content: " ";
	position: absolute;
	width: 5px;
	height: 100%;
	background: #02e699;
	left: 20px;
}

.smart-lockCard-tips p {
	font-weight: normal;
	font-size: 13px;
	padding-left: 50px;
	padding-right: 20px;
	color: #a8a8a8;
	position: relative;
}

.smart-lockCard-tips p:after {
	content: " ";
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #8d8d8d;
	margin-top: -1px;
	top: 20%;
	left: 35px;
}


/*
* 刘瑞泉
* 2017/7/3
* 关于iphone5上字体偏大样式调整
*/

@media screen and (max-width: 350px) {
	p.height-value {
		font-size: 14px !important;
	}
	.list-zl .title-name span {
		font-size: 15px !important;
	}
	.comment-bar .comment-user .name,
	.comment-bar .comment-user .contant {
		font-size: 13px !important;
	}
}


/*li add*/

.loaddingbox {
	background: #f6f6f6;
	color: #a8a8a8;
	text-align: center;
	display: block;
	font-size: 14px;
	line-height: 10px;
	padding: 1em;
	vertical-align: middle;
}

.loaddingbox img {
	width: 20px;
	float: none;
	background: transparent;
	margin: 0 auto;
}


/* 2017.8.2 王驰 */

.smart-search-box {
	text-align: center;
	margin: 10px 0;
	padding: 0 20px;
	position: relative;
	height: 70px;
}
.smart-search-box>div{
	position: absolute;
	top:15px;
	left:20px;
	right: 60px;
}
.smart-search-box input {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	text-indent: 30px;
	font-size: 14px;
	background: url(../../common/images/search.png) no-repeat 5px center;
	background-size: 20px;
}

.smart-search-box button {
	position: absolute;
	top:15px;
	right: 20px;
	color: #3c3c3c;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border: 0;
	background: #fff;
	margin-right: -12px;
}
/* 字数统计 */
.smart-textarea-statis{
	display: block;
	font-size: 14px;
	color:#a8a8a8;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
}
/* 空列表 */
.smart-list-nothing{
    position: absolute;
    width: 100%;
    top:.5rem;
    bottom: 0;
}
.smart-list-nothing{
    display: none;
    background: #fff;
    z-index: 2;
}
.smart-list-nothing img{
	width: 50%;
	display: block;
	margin:25% auto .2rem;
}
.smart-list-nothing p{
  text-align: center;
  margin-top: 50%;
  font-size: .15rem;
  line-height: .15rem;
}
.smart-list-nothing img + p{
    text-align: center;
    margin:0;
    font-size: .15rem;
    line-height: .15rem;
}
.smart-list-nothing p button{
	border:0;
	background: none;
	color:#73d2fe;
}