body .smart-border-bottom-0:after,
body .smart-border-top-0:before {
    height: 0;
}

/* poppicker css*/
.mui-poppicker{
    top:130px;
    bottom: auto;
    -webkit-transform: translateY(-400px);
}
.mui-poppicker-header{
    position: absolute;
    top:200px;
    background: #fff;
    width: 100%;
    border-top:1px solid #ddd;
}
.mui-poppicker-header .mui-poppicker-btn-ok{
    background: #42c3ef;
    border-color:#42c3ef;
}
.navbar,.smart-screen{
    z-index: 9999;
}
.mui-poppicker-body{
    border:0;
}
/* poppicker*/

/*.smart-query .navbar+.smart-content .smart-screen{
    top:90px;
}*/

.smart-query-title{
    font-size: 16px;
    margin:0;
    height: 45px;
    line-height: 25px;
    padding: 10px 25px 10px 55px;
    background: url(../images/icon-1.png) no-repeat 25px 10px #fff;
    background-size:25px;
    color:#8d8d8d;
}
.smart-time-box{
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-top: 85px;
    background: #fff;
    display: none;
}
.smart-time-box *{
    display: inline-block;
    vertical-align: middle;

}
.smart-time-box p{
    width: 35%;
    margin: 0;
    height: 100%;
    font-size:16px;
    color:#0f0f0f;
}
.smart-time-box em{
    width: 10%;
    min-width: 40px;
    color:#8d8d8d;
}
.smart-time-box.smart-show{
    display: block;
}
.smart-query-statistics{
    text-align: center;
    margin-top: 85px;
    padding-top:20px; 
    padding-bottom: 15px;
    background: #fff;
}
.smart-time-box.smart-show+.smart-query-statistics{
    margin-top: 0;
}
.smart-query-statistics button{
    width: 32%;
    border: 1px solid #42c3ef;
    border-radius: 5px;
    padding:5px 0;
    background: #fff;
    color:#42c3ef;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.smart-query-statistics button:active{
    color:#fff;
    background: #42c3ef;
}
.smart-query .smart-query-statistics button:first-child{
    margin-right: 40px;
}
.smart-screen .smart-column-list div[class^="col-xs"]{
    padding: 0;
    font-size: 15px;
}
.panel-group{
    margin-top: 0;
}
/*  */
.smart-accordion{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.smart-query-bill .smart-accordion .smart-sub-list li .smart-accordion-content{
    padding-right:20px;
}
.smart-accordion-content em,.smart-accordion-content i{
    display: inline-block;
    width: 48%;
    font-size: 14px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}
.smart-accordion-content i{
    float:right;
    text-align: right;
}
.smart-accordion-content h3 i[set-status=pay]{
    color:#ee5b17;
}
.smart-accordion-content h3 i[set-status=income]{
    color:#01e699;
}
.smart-query-summarize{
    background: #fff;
    padding: 0 0 20px 25px;
    font-size: 0;
}
.smart-query-summarize 
.smart-query-summarize p{
    margin: 0;
    font-size: 16px;
}
.smart-query-bill .smart-query-summarize{
    padding:0 25px 10px;
}
.smart-query-summarize h1{
    color:#8d8d8d;
    margin: 0;
    font-size: 16px;
    padding: 10px 0;
}
.smart-query-summarize em{
    display: block;
    font-weight: bold;
    font-size: 22px;
    color:#0f0f0f;
}
.smart-query-bill .smart-query-summarize em{
    display: inline-block;
    margin: 0 5px;
}
.smart-query-summarize .smart-query-note,.smart-query-summarize .smart-query-money{
    display: inline-block;
    width: 50%;
    font-size:16px;
    color:#0f0f0f;
}
.smart-query .smart-query-summarize .smart-query-note,
.smart-query .smart-query-summarize .smart-query-money{
   
}
.smart-query .smart-accordion .smart-sub-list li .smart-accordion-content h3{
     color:#8d8d8d;
}
.smart-query .smart-accordion .smart-sub-list li .smart-accordion-content p{
     color:#0f0f0f;
}
.smart-query .smart-accordion .smart-sub-list li:nth-child(odd):after{
    left:110px;
}
.smart-query-summarize .smart-query-note em:after{
    content:"笔";
    font-size: 16px;
    margin-left: 5px;
}
.smart-query-summarize .smart-query-money em:after{
    content:"元";
    font-size: 16px;
    margin-left: 5px;
}
.smart-query-bill .smart-accordion .smart-sub-list li .smart-accordion-head{
    height: auto;
    vertical-align: top
}
.smart-query .smart-accordion .smart-sub-list li .smart-accordion-head{
    width: 88px;
}
.smart-query .smart-accordion .smart-sub-list li .smart-accordion-head span{
    font-size: 16px;
    color:#0f0f0f;
}
.smart-query .smart-accordion .smart-sub-list li .smart-accordion-content{
    padding-left: 130px;
    padding-right: 25px;
}
.smart-accordion .smart-sub-list{
    display: block;
}
.pullDown{
   /* height: 0;
    font-size: 0;*/
}
.smart-echart{
    display: none;
    background: #fff;
    padding: 0 25px;
}
.smart-toggle .smart-accordion,.smart-toggle .smart-query-summarize{
    display: none;
}
.smart-toggle .smart-echart{
    display: block;
}
.smart-echart label{
    color:#8d8d8d;
    font-size:16px;
    padding: 5px 0;
}
.smart-echart h1{
    color:#0f0f0f;
    margin:0;
    font-size:16px;
}
.smart-echart h1 em{
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}
.smart-query-bill .smart-accordion .smart-sub-list .smart-sub-list-item:nth-last-of-type(2):after{
    height: 1px;
}
.smart-query-bill .smart-sub-list .smart-sub-list-item:not(:last-child):after{
    left:50px;
}
/* dtpicker css*/
.mui-dtpicker {
    border: none;
    box-shadow: none;
    background-color: #fff;
}

.mui-dtpicker-header button {
    border: none;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #73D2FE;
}

.mui-dtpicker-header {
    border-bottom: 1px solid #EEEEEE;
}

.mui-dtpicker-title {
    display: none;
}

.mui-pciker-rule.mui-pciker-rule-ft {
    text-align: right;
    padding-right: 20px;
}

.mui-picker {
    background: #fff;
}

div[data-id='picker-h'] .mui-pciker-rule.mui-pciker-rule-ft {
    padding-right: 30px;
}

div[data-id='picker-i'] .mui-pciker-rule.mui-pciker-rule-ft {
    text-align: left;
    padding-left: 90px;
}

.mui-backdrop {
    background: rgba(0, 0, 0, .5);
}

div[data-id='picker-h'] .mui-pciker-list li {
    text-align: right;
    padding-right: 70px;
}

div[data-id='picker-i'] .mui-pciker-list li {
    text-align: left;
    padding-left: 70px;
}

.mui-toast-container div{
    border-radius: 20px !important;
}
.smart-header .smart-icon-left{
    margin-left: 10px;
    color: #8D8D8D;
}
.smart-header .smart-icon-left:active{
    color: #6D6D6D;
}
.smart-edit.smart-icon-right{
    padding-left: 10px;
    color: #6D6D6D;
}
.smart-edit.smart-icon-right:active{
    color: #505050;
}
/* 图表 */
.smart-echart{
    /*height: 300px;*/
    overflow-y: scroll;
    /*position: absolute;
    width: 100%;
    bottom: 0;
    overflow-y: scroll;*/

}
.smart-line-charts,.smart-pie-charts{
    height: 200px;
}











