<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title></title>
		<link href="../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../content/style/common/css/common.css" rel="stylesheet">
		<link href="../../content/style/white/kechengbiao/css/xia-la.css" rel="stylesheet">
		<link href="../../content/style/frame/jquery/tab/css/scroller.css" rel="stylesheet">
		<link rel="stylesheet" href="../../content/style/white/kechengbiao/css/kechengbiao.css" />
	</head>

	<body>
		<header class="sys-header content">
			<div class="select">
				<p data-value="第三周">第三周</p>
				<div class="wrapper" id="demo05">
					<div class="scroller">
						<ul class="clearfix">
							<li class="mui-control-item" data-value="第一周">第一周</li>
							<li class="mui-control-item" data-value="第二周">第二周</li>
							<li class="mui-control-item Selected" data-value="第三周">第三周</li>
							<li class="mui-control-item" data-value="第四周">第四周</li>
							<li class="mui-control-item" data-value="第五周">第五周</li>
							<li class="mui-control-item" data-value="第二周">第二周</li>
							<li class="mui-control-item" data-value="第三周">第三周</li>
							<li class="mui-control-item" data-value="第四周">第四周</li>
							<li class="mui-control-item" data-value="第五周">第五周</li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="weizhi-top">9月</th>
						<th><p>4</p>周一</th>
						<th><p>5</p>周二</th>
						<th><p>6</p>周三</th>
						<th><p>7</p>周四</th>
						<th class="today"><p>8</p>周五</th>
						<th><p>9</p>周六</th>
						<th><p>10</p>周日</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td rowspan="2"><span class="ke-end">形式与政治@西主 203</span></td>
						<td></td>
						<td></td>
						<td><span class="ke-end">高等数学@西主203</span></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>2</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>3</td>
						<td rowspan="2"><span class="ke-end">思想品德@西主203</span></td>
						<td></td>
						<td><span class="ke-end">戏剧赏析@西主203</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>4</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td rowspan="2"><span class="ke-start-opcity">思想品德@西主203</span></td>
						<td></td>
					</tr>
					<tr>
						<td>5</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>6</td>
						<td></td>
						<td></td>
						<td rowspan="2"><span class="ke-end">形式与政治@西主203</span></td>
						<td></td>
						<td><span class="ke-start">形式与政治@西主</span></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>7</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>8</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>9</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>10</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="backdrop" style="display: none;"></div>
	</body>
	<script src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../content/style/frame/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../content/style/frame/iscroll/iscroll.js"></script>
	<script src="../../content/style/frame/jquery/tab/js/navbarscroll.js"></script>
	<script src="../../content/style/white/kechengbiao/js/kb.js" ></script>
	<script>
		$(function() {
			$(".select p").click(function(e) {
				$(".select").toggleClass('open');
				e.stopPropagation();
				$(".backdrop").toggle();
			});
			$(".backdrop").click(function(){
				$(this).toggle()
			})
			$(".content .select ul li").click(function(e) {
				var _this = $(this);
				$(".select > p").text(_this.attr('data-value'));
				_this.addClass("Selected").siblings().removeClass("Selected");
				$(".select").removeClass("open");
				e.stopPropagation();
				$(".backdrop").toggle();
			});

			$(document).on('click', function() {
				$(".select").removeClass("open");
			})

		});
		$('#demo05').navbarscroll({
			defaultSelect: 1,
			endClickScroll: function(obj) {
				console.log(obj.text())
			}
		});
	</script>

</html>