html,body{
	overflow-x: hidden;
	overflow-y: scroll;
}
.navbar{
	position:fixed;
	z-index: 10
}
.smart-header,.smart-header a{
	color:#000!important;
}
.navbar+.smart-content{
	padding-top: 45px;
}
.smart-search{
	height: 55px;
	margin:0;
	border:0;
	padding:10px 15px;
	background: #fff;
	border-radius: 0;
}
.smart-search input{
	border: 1px solid #a8a8a8;
    border-radius: 5px;
    height: 35px;
}
.smart-search button{
	font-size: 16px;
	margin: -31px 10px 0 0;
}
.smart-accordion-head{
	color:#8d8d8d;
	font-size: 14px
}
.smart-accordion-head em{
	float:right;
	min-width: 20px;
	height: 40px;
	padding-right:26px;
	line-height: 40px;
	font-size: 0;
	color:#515151;
	position: relative;
}

.smart-accordion-head em:after{
	content:" ";
	position: absolute;
	width: 25px;
	height:100%;
	background: url(../images/accordion.png) no-repeat right center ;
	background-size: 25px;
	transform: rotateZ(0deg);
	-webkit-transform: rotateZ(0deg);
	transition: transform .2s ease-in;
	-webkit-transition: transform .2s ease-in;
}
.panel{
	box-shadow:none;
}
.panel-group{
	margin-top: 20px;
}
.panel-group .panel{
	border:none;
}
.panel-default,.layer,.box{
	position: relative;
	padding: 5px 0;
	background: #fff;
	overflow:hidden
}
.panel-default:after,.layer:after,.box:after,.smart-search-list:before{
	content:" ";
	height: 1px;
	background: #e0e0e0;
	position: absolute;
	width: 100%;
	left:15px;
	transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
    z-index: 1;
}
.panel-default:after,.layer:after,.box:after{
	bottom: 0;
}

.panel-default>.panel-heading{
	border:none;
	background: #fff;
	padding:10px 0 ;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
	border:none;
}
.panel-body{
	padding: 0
}
.advanced-box{
	position: relative;
	z-index: 2;
	top:0;
	transition: top .2s ease-in-out;
	-webkit-transition: top .2s ease-in-out;
}
.tool-box{
	position: absolute;
	width: 100%;
	top:0;
	transition: top .2s ease-in-out;
	-webkit-transition: top .2s ease-in-out;
}
.navbar +.smart-content .tool-box{
	padding-top:40px;
}
.smart-accordion-head{
	height: 40px;
	line-height: 40px;
	padding:0 15px;
}
.advanced-box ul,.tool-box ul{
	font-size:0;
	padding: 0 15px;
	margin: 0;
}
.advanced-box ul li,.tool-box ul li{
	display: inline-block;
	font-size: 12px;
	width: 22%;
	padding-bottom: 22%;
	text-align: center;
	margin:1.5%;
	position: relative;
}
.advanced-box ul li span,.tool-box ul li span{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
}
.advanced-box ul li img,.tool-box ul li img{
	display: block;
	width: 40%;
	margin:10px auto 5px;
}
/*#advanced{
	margin:0;
	transition: margin .2s ease-in-out;
	-webkit-transition: margin .2s ease-in-out;
}*/

/*编辑应用*/
.campus-active{

}
.campus-active .smart-search{
	display: none
}
.campus-active #advanced .smart-accordion-head em{
	font-size: 14px;
}
.smart-accordion-head.smart-active em:after{
	transform: rotateZ(180deg);
	-webkit-transform: rotateZ(180deg);
}

.campus-active .advanced-box{
	box-shadow: 0px 5px 5px #a8a8a8;
	top:0px;
}
.campus-active #wrapper {
	position: absolute;
	z-index: 1;
	
	bottom: 0px;
	left: 0;
	width: 100%;
	overflow: hidden;
}

.campus-active #scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.campus-active .tool-box{
}
.campus-active #advanced{
	/*margin:-55px 0 0 0 ;*/
	/*position: relative;
	width: 100%;
	background:#fff;
	z-index: 1;
	top:45px;*/
	
}
.campus-active #advanced .box{
	/*padding: 0;*/
}
.campus-active .advanced {
	max-height: 200px;
	overflow-y: scroll;
}
.campus-active .advanced li{
	background: #f7f7f7;
}
.campus-active .advanced li .smart-app-icon{
	content:" ";
	position: absolute;
	width: 20px;
	height: 20px;
	top:0;
	right:0;
	z-index: 1;
}
.campus-active .advanced li.smart-app-add .smart-app-icon{
	background:url(../images/add.png) no-repeat;
	background-size:contain; 
}

.campus-active .advanced li.smart-app-remove .smart-app-icon{
	background:url(../images/remove.png) no-repeat;
	background-size:contain; 
}

.campus-active .advanced li.smart-app-select .smart-app-icon{
	background:url(../images/select.png) no-repeat;
	background-size:contain; 
}


/* campus-search */
.campus-search{
	background: #fff
}
.campus-search .smart-header h1{
	display: block;
	height: 100%;
	padding:0 55px;
}
.campus-search .smart-header input{
	width: 100%;
	height: 30px;
	margin-top: 7px;
	border:1px solid #e0e0e0;
	border-radius: 5px;
	text-indent: 30px;
	font-size: 14px;
	background:url(../images/search.png) no-repeat 5px center;
	background-size: 20px; 
	/*transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;*/

}
/*.campus-search .smart-header input:focus{

}
*/
.smart-search-ass {
	height:40px;
	padding: 0 25px;
}
.smart-search-ass h2{
	line-height: 40px;
	margin: 0;
	height: 100%;
	font-size: 14px;
	
	color:#8d8d8d;
	display: inline-block;
}
.smart-search-ass span{
	float: right;
	line-height: 40px;
	padding-right: 25px;
	background: url(../images/refresh.png) no-repeat right;
	background-size:20px;
}
.smart-hot-box{
	display: none
}

.smart-hot-box ul{
	font-size: 0;
	margin: 0;
	padding:0;
}
.smart-hot-box ul li{
	display: inline-block;
	width: 50%;
	text-align: center;
	padding:20px 0;
	position: relative;
}
.smart-hot-box ul li:after{
	content:" ";
	position: absolute;
	width: 80%;
	height: 1px;
	background: #e0e0e0;
	transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
    left:50%;
    bottom: 0;
    margin-left: -40%

}
.smart-hot-box a{
	display: block;
	font-size: 14px;
	color:#3c3c3c;
}
.smart-hot-box a img{
	display: inline-block;
	width: 25px;
	vertical-align: middle;
	margin-right: 5px;
}
.smart-hot-box a span{
	display: inline-block;
	vertical-align: middle;
}
/* 搜索结果列表 */
.smart-search-list{
	position: relative;
	display: none;
}
.smart-search-list:before{
	top: 0;
	left:0;
}
.smart-search-list li{
	overflow:hidden;
}
.smart-search-list li img,.smart-search-list li span{
	display: inline-block;
	vertical-align: middle;
}
.smart-search-list li img{
	width: 20px;
	height: 20px;
}