<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name=twitter:app:name:googleplay content=WeChat>
  <meta name=twitter:app:id:googleplay content=newplatform.synjones.yjkfy.dlmu>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>宣传</title>

  <!-- Bootstrap -->

  <link href="../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../content/style/frame/jquery/fullpage/css/jquery.fullPage.css" rel="stylesheet">
  <link href="../../content/style/frame/swipe/css/idangerous.swiper-2.7.6.css" rel="stylesheet">
  <link href="../../content/style/white/xuanchuan/css/xuanchuan.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]> param.month = getOtherDate(getM);
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style type="text/css">
 /* .parts.active{
    animation: animationParts .5s ease 1s;
    -webkit-animation: animationParts .5s ease 1s; 
  }
  @-webkit-keyframes animationParts{
    0%{
      -webkit-transform: translateY(-40px);
    }
    25%{
      -webkit-transform: translateY(40px);
    }
    50%{
      -webkit-transform: translateY(-20px);
    }
    75%{
      -webkit-transform: translateY(20px);
    }
    200%{
      -webkit-transform: translateY(0);
    }
  }
  @keyframes animationParts{
    0%{
      transform: translateY(-40px);
    }
    25%{
      transform: translateY(40px);
    }
    50%{
      transform: translateY(-20px);
    }
    75%{
      transform: translateY(20px);
    }
    200%{
      transform: translateY(0);
    }
  }*/
</style>
<!-- <body class="smart-query" > -->
<body class="smart-propaganda">
  <div class="container-fluid">
    <!-- parts-1 -->
    <div class="parts parts-1 section">
      <div class="hidden-xs logo">
        <img src="../../content/style/white/xuanchuan/images/logo.png">
      </div>
      <div class="part-content">
        <h1>
          <em>海大，</em>我们来啦!
        </h1>
        <div class="sub-title">
          <em>online</em>
          <p>2017-2018 <i> | </i> 我们不一样</p>
        </div>
        <!-- web -->
        <div class="row web hidden-xs">
          <div class="col-md-4 col-sm-4">
            <img src="../../content/style/white/xuanchuan/images/parts-1-img-1.png" alt="">
          </div>
          <div class="col-md-4 col-sm-4">
            <img src="../../content/style/white/xuanchuan/images/parts-1-img-2.png" alt="">
          </div>
          <div class="col-md-4 col-sm-4">
            <img src="../../content/style/white/xuanchuan/images/parts-1-img-3.png" alt="">
          </div>
        </div>
        <!-- wap -->
        <div id="myCarousel" class="visible-xs-block">
          <a class="arrow-left" href="#">
            <img src="../../content/style/white/xuanchuan/images/continue.png">
          </a> 
          <a class="arrow-right" href="#">
            <img src="../../content/style/white/xuanchuan/images/continue.png">
          </a>
          <div class="swiper-container ">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../../content/style/white/xuanchuan/images/parts-1-img-1.png">
                </div>
                <div class="swiper-slide">
                  <img src="../../content/style/white/xuanchuan/images/parts-1-img-2.png">
                </div>
                <div class="swiper-slide">
                  <img src="../../content/style/white/xuanchuan/images/parts-1-img-3.png">
                </div>
            </div>
          </div>
        </div>
      </div>   
    </div>
    <!-- parts-2 -->
    <div class="parts parts-2 section">
      <div class="part-content">
        <h1>这一年，我<em>初识</em>海大</h1>
        <h2>数字迎新——缩短了我和大学的距离</h2>
        <div class="row">
          <div class="col-md-5 col-sm-5">
            <p>
              移动“数字迎新”，校圈校趣早知道，手机终端便捷报到，统计数据实时查看
            </p>
            <div class="row hidden-xs ">
              <div class="col-xs-12">
                <img class="" src="../../content/style/white/xuanchuan/images/parts-2-person.png">
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-7">
            <div class="row">
              <div class="col-xs-6 phone">
                <img class="" src="../../content/style/white/xuanchuan/images/parts-2-img.png">
              </div>
              <div class="col-xs-6 car">
                <img class="" src="../../content/style/white/xuanchuan/images/parts-2-car.png">
              </div>
              <div class="line"></div>
            </div>
          </div>
          <div class="col-xs-12 visible-xs-block">
            <img class="" src="../../content/style/white/xuanchuan/images/parts-2-person.png">
          </div>
        </div>
      </div>
    </div>
    <!-- parts-3 -->
    <div class="parts parts-3 section">
      <div class="part-content">
        <h1>这一年，我<em>学习</em>在海大</h1>
        <h2>学习服务——便捷了我的求学之路</h2>
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <p class='visible-xs-block '>查课表、查成绩、查宿舍、查通知；上课签到、找空教室、考试提醒、邮件服务；在线课堂更实现了知识的“零存整取”</p>
            <div>
              <img src="../../content/style/white/xuanchuan/images/parts-3-img-1.png" alt="">
              <img src="../../content/style/white/xuanchuan/images/parts-3-img-3.png" alt="">
              <img src="../../content/style/white/xuanchuan/images/parts-3-img-2.png" alt="">
            </div>
          </div>
          <div class="col-md-5 col-sm-5">
            <p class='hidden-xs '>
              查课表、查成绩、查宿舍、查通知；<br>
              上课签到、找空教室、考试提醒、<br>
              邮件服务；<br>
              在线课堂更实现了知识的“零存整取”
            </p>
            <img src="../../content/style/white/xuanchuan/images/parts-3-img-4.png">
            <img class="book" src="../../content/style/white/xuanchuan/images/3xuexi-book.png">
          </div>
        </div>
      </div>
    </div>
    <!-- parts-4 -->
    <div class="parts parts-4 section">
      <div class="part-content">
        <h1>这一年，我<em>工作</em>在海大</h1>
        <h2>办公服务——提高了我的工作效率</h2>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <p>待办/已办事宜、待阅/已阅事宜、申请状态查询，学校文件搜索分享、办公通知，邮件服务，签到管理，会议提醒，在线问答管理... 移动办公灵活先进高效快捷</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="bg">
              <img src="../../content/style/white/xuanchuan/images/4bangong-1.png">
              <img src="../../content/style/white/xuanchuan/images/4bangong-2.png">
              <img src="../../content/style/white/xuanchuan/images/4bangong-3.png">
            </div>
            <div class="icon">
              <img class="icon-1" src="../../content/style/white/xuanchuan/images/4bangong-4.png" alt="">
              <img class="icon-2" src="../../content/style/white/xuanchuan/images/4bangong-5.png" alt="">
              <img class="icon-3" src="../../content/style/white/xuanchuan/images/4bangong-6.png" alt="">
              <img class="icon-4" src="../../content/style/white/xuanchuan/images/4bangong-7.png" alt="">
              <img class="icon-5" src="../../content/style/white/xuanchuan/images/4bangong-8.png" alt="">
              <img class="icon-6" src="../../content/style/white/xuanchuan/images/4bangong-9.png" alt="">
              <img class="icon-7" src="../../content/style/white/xuanchuan/images/4bangong-10.png" alt="">
              <img class="icon-8" src="../../content/style/white/xuanchuan/images/4bangong-11.png" alt="">
            </div>
            <span class="mask"></span>
          </div>
        </div>
      </div>
    </div>
    <!-- parts-5 -->
    <div class="parts parts-5 section">
      <div class="part-content">
        <h1>这一年，我们<em>生活</em>在海大</h1>
        <h2>综合服务——丰富了我的海大生活</h2>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <p>看校趣、找失物、在线问答；<br>
                查余额、查流水，充值转账；<br></p>
            <p>校园帮帮互帮互助、运动PK全校健身、图书管家借／还提醒、报修维修共建校
                园，学期画像个人盘点，“刷脸”黑科
                技引领无卡校园行</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <div>
              <img src="../../content/style/white/xuanchuan/images/5zonghe-1.png">
              <img src="../../content/style/white/xuanchuan/images/5zonghe-2.png">
              <img src="../../content/style/white/xuanchuan/images/5zonghe-3.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- parts-6 -->
    <div class="parts parts-6 section">
      <div class="part-content">
        <h2>加密算法 & 签名认证确保安全性</h2>
          <div class="animation-box">
            <div class="imgs imgs-1"><img src="../../content/style/white/xuanchuan/images/6anquan-04.png" alt=""></div>
            <div class="imgs imgs-2"><img src="../../content/style/white/xuanchuan/images/6anquan-05.png" alt=""></div> 
            <div class="imgs imgs-3"><img src="../../content/style/white/xuanchuan/images/6anquan-06.png" alt=""></div>
            <div class="imgs imgs-4"><img src="../../content/style/white/xuanchuan/images/6anquan-07.png" alt=""></div>
            <div class="imgs imgs-5"><img src="../../content/style/white/xuanchuan/images/6anquan-08.png" alt=""></div>
            <div class="imgs imgs-6"><img src="../../content/style/white/xuanchuan/images/6anquan-02.png" alt=""></div>
          </div>
          <div class="bg">
            <img class="imgs-bg imgs-bg-1" src="../../content/style/white/xuanchuan/images/6anquan-09.png" alt="">
            <img class="imgs-bg imgs-bg-2" src="../../content/style/white/xuanchuan/images/6anquan-10.png" alt="">
            <img class="imgs-bg imgs-bg-3" src="../../content/style/white/xuanchuan/images/6anquan-11.png" alt="">
            <img class="imgs-bg imgs-bg-4" src="../../content/style/white/xuanchuan/images/6anquan-12.png" alt="">
            <img class="imgs-bg imgs-bg-5" src="../../content/style/white/xuanchuan/images/6anquan-13.png" alt="">
            <img class="imgs-bg imgs-bg-6" src="../../content/style/white/xuanchuan/images/6anquan-14.png" alt="">
            <img class="imgs-bg imgs-bg-7" src="../../content/style/white/xuanchuan/images/6anquan-15.png" alt="">
          </div>
      </div>
    </div>
    <!-- parts-7 -->
    <div class="parts parts-7 section">
      <div class="part-content">
        <div class="row">
          <div class="col-xs-6">
            <p>视觉上的极简</p>
            <img src="../../content/style/white/xuanchuan/images/7-img-1.png">
          </div>
          <div class="col-xs-6">
            <p>功能上的丰富</p>
            <img src="../../content/style/white/xuanchuan/images/7-img-2.png">
          </div>
        </div>
        <span class="cloud cloud-1"><img src="../../content/style/white/xuanchuan/images/7-img-01.png" alt=""></span>
        <span class="cloud cloud-2"><img src="../../content/style/white/xuanchuan/images/7-img-02.png" alt=""></span>
        <span class="cloud cloud-3"><img src="../../content/style/white/xuanchuan/images/7-img-03.png" alt=""></span>
      </div>
    </div>
    <!-- parts-8 -->
    <div class="parts parts-8 section">
      <div class="part-content">
        <h2>微服务微架构的全新技术， 易扩展，易集成</h2>
        <div class="animation-box">
          <div class="bg hidden-xs">
            <img src="../../content/style/white/xuanchuan/images/8jishu-1.png">
            <img src="../../content/style/white/xuanchuan/images/8jishu-2.png">
            <img src="../../content/style/white/xuanchuan/images/8jishu-4.png">
          </div>
          <div class="bg visible-xs-block">
            <img src="../../content/style/white/xuanchuan/images/parts-8-wap-1.png">
            <img src="../../content/style/white/xuanchuan/images/parts-8-wap-2.png">
            <img src="../../content/style/white/xuanchuan/images/8jishu-4.png">
          </div>
          <div class="books">
            <img src="../../content/style/white/xuanchuan/images/8jishu-5.png" alt="" class="book-1">
            <img src="../../content/style/white/xuanchuan/images/8jishu-6.png" alt="" class="book-2">
            <img src="../../content/style/white/xuanchuan/images/8jishu-7.png" alt="" class="book-3">
          </div>
        </div>
      </div>
    </div>
    <!-- parts-9 -->
    <div class="parts parts-9 section">
      <div class="part-content">
        <h1><em>2018·</em>海大在线</h1>
        <h2>开启不一样的校园生活</h2>
        <div class="row">
          <div class="col-xs-6">
            <div>
              <a href="">
                <img src="../../content/style/white/xuanchuan/images/and.png">
              </a>
            </div>
            <p>Android 下载</p>
          </div>
          <div class="col-xs-6">
            <div>
              <a href="http://www.baidu.com">
                <img src="../../content/style/white/xuanchuan/images/ios.png">
              </a>
            </div>
            <p>iphone 下载</p>
          </div>
        </div>
        <!-- <div class="animation-box animation-box-0 visible-xs-block">
          <img src="../../content/style/white/xuanchuan/images/9haida-boat.png">
        </div> -->
        <div class="animation-box animation-box-1">
          <img src="../../content/style/white/xuanchuan/images/9haida-boat.png">
        </div>
        <div class="animation-box animation-box-2">
          <img src="../../content/style/white/xuanchuan/images/9haida-boat.png">
        </div>
        <div class="animation-box animation-box-3">
          <img src="../../content/style/white/xuanchuan/images/9haida-3.png">
          <img src="../../content/style/white/xuanchuan/images/9haida-3.png">
        </div>
      </div>
    </div>
  </div>
  <!-- 箭头 -->
  <!-- <div class="arrow-down">
    <img src="../../content/style/white/xuanchuan/images/slide-down-2.png">
  </div> -->
</body>
<script src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
<script src="../../content/style/frame/jquery/fullpage/js/jquery.fullPage.min.js"></script>
<script src="../../content/style/frame/bootstrap/js/bootstrap.min.js"></script>
<script src="../../content/style/frame/swipe/js/idangerous.swiper.min-2.7.6.js"></script>
<script type="text/javascript">
  // 单屏滚动 onepage_scroll
pageScroll();
function pageScroll(data){
  $('.container-fluid').fullpage({
    sectionsColor: ['#ffffff', '#5FD2ED', '#EA9F96', '#83A9ED', '#D190D1','#81C5F7','#F7B052','#727AD6','#0686D8'],
    afterLoad:function(anchorLink,index){
      console.log(`当前是${index}页`);
    },
    easingcss3: 'cubic-bezier(0.175, 0.885, 0.320, 1.175)'

  });
  console.log(11);
  var mySwiper = new Swiper('.swiper-container',{
    loop:true,
    grabCursor: true,
    paginationClickable: true
  })
  $('.arrow-left').on('click', function(e){
    e.preventDefault()
    mySwiper.swipePrev()
  })
  $('.arrow-right').on('click', function(e){
    e.preventDefault()
    mySwiper.swipeNext()
  });
  // parts-9
}

</script>
</html>
