<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>通讯录-编辑</title>
    <!-- Bootstrap -->
    <link href="../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../content/style/common/css/common.css" rel="stylesheet">
    <!-- mui -->
    <link href="../../content/style/frame/mui/css/mui.min.css" rel="stylesheet">
    <link href="../../content/style/frame/mui/css/mui.picker.min.css" rel="stylesheet">
    <!-- myself -->
    <link href="../../content/style/white/tongxunlu/css/mail-list-common.css" rel="stylesheet">
    <link href="../../content/style/common/css/popup.css" rel="stylesheet">
    <link href="../../content/style/white/tongxunlu/css/index.css" rel="stylesheet">

    <!-- javascript -->
    <script src="../../content/style/frame/vue/vue.min.js"></script>
    <script src="../../content/style/frame/mui/js/mui.min.js"></script>
    <script src="../../content/style/frame/mui/js/mui.picker.min.js"></script>
    <!-- data.js里面是数据对象 可以删除 -->
    <script src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../content/style/common/js/popup.js"></script>
    <script src="../../content/style/white/tongxunlu/js/data.js"></script>
    <script src="../../content/style/white/tongxunlu/js/index.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> param.month = getOtherDate(getM);
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- smart-QA 标示，暂时没有用到 -->
<!-- onload="postNewApps()" -->
<style type="text/css">
    html{
        height: 100%;
        background:#fff;
    }
</style>
<body class="apps-edit" onload="getValFn();">
    <div class="smart-content" id="edit-app" v-cloak>
        <form>
            <!-- 基本信息 -->
            <div class="mandatory-info">
                <!-- 头像 -->
                <div class="header">
                    <input type="button" name="" @click="selectPicture">
                    <!-- <input accept="image/*" type="file" v-on:change="changeHead"/> -->
                    <span class="photo"><img v-bind:src="header" alt=""></span>
                </div>
                <div class="infos">
                    <!-- 姓名 -->
                    <div>
                        <label>姓名</label>
                        <input type="text" name="" @keyup="inputInFn" reType="name" v-model="info.Name" class="name">
                    </div>
                    <!-- 姓名 -->
                    <div>
                        <input type="button" name="" class="org" v-on:click="pickerShow" v-model="currentOrgName" :setId="currentOrgId">
                        <input type="button" name="" class="offce" v-on:click="pickerShow" v-model="currentOffceName" :setId="currentOffceId">
                    </div>
                    <!-- 第二种形式 -->
                    <!-- <input type="button" name="" v-bind:value="currentOrgText" class="org" v-on:click="pickerShow">
                    <input type="button" name="" v-bind:value="currentOffceText" class="offce" v-on:click="pickerShow"> -->
                    <!-- 职务 -->
                    <div>
                        <label>职务</label>
                        <input type="text" name="" @keyup="inputInFn" reType="job" v-model="info.Title" class="job">
                    </div>
                </div>
                <!-- phones -->
                <template v-if=isInfo>
                    <component-tel v-for="(item,index) in info.TelNos" v-bind:tel='item' v-bind:index='index'></component-tel>
                </template>
                <template v-else>
                    <component-telno v-for="(item,index) in addPhones" v-bind:tel='item' v-bind:index='index'></component-telno>
                    <!-- <div class="phones">
                        <button class="delBtn"></button>
                        <label>手机</label>
                        <input type="text" placeholder="电话" @keyup="inputInFn" reType="phone">
                        <button class="setDefaultNo" v-if=>设为默认</button>
                    </div> -->
                </template>

                <!-- <div class="phones">
                    <label>手机</label>
                    <input type="text" placeholder="电话" @keyup="inputInFn" reType="phone">
                    <button class="setDefaultNo" v-if=>设为默认</button>
                </div>
                <div class="phones">
                    <label>座机</label>
                    <input type="text" placeholder="电话" @keyup="inputInFn" reType="tel">
                    <button class="setDefaultNo" v-if=>设为默认</button>
                </div> -->
                <div class="addPhone" @click="addTelFn" v-show='info.TelNos?(info.TelNos.length == 3?false:true):(addPhones.lenght == 3?false:true)'>
                    <a>添加电话</a>
                </div>
            </div>
            <!-- 补充信息 -->
            <div class="added">
                <!-- email -->
                <div class="email">
                    <input type="email" placeholder="请输入E-mail地址" @blur="inputInFn" reType="email" v-model="info.Email">
                </div>
                <!-- 办公地址 -->
                <div class="address">
                    <input type="text" placeholder="请输入办公地址" @keyup="inputInFn" reType="address" v-model="info.Address">
                </div>
                <!-- 所数学科 -->
                <div class="subject">
                    <input type="text" placeholder="请输入所属学科" @keyup="inputInFn" reType="subject" v-model="info.Subject">
                </div>
            </div>
            <div class="smart-foot">
                <button type="button" class="smart-btn" set-terget="ka-recharge.html" @click=delPersonFn v-if="isCreatePerson">删除联系人</button>
                <button type="submit" class="smart-btn submit" set-terget="ka-recharge.html"  >完成</button>
            </div>
        </form>
        <!-- tips -->
        <transition name="fade">
            <div class="tips" v-if="tipsState">
                <div class="tips-val">{{tipsText}}</div>
                <div class="tips-mask"></div>
            </div>
        </transition>
    </div>
   
</body>
<script src="../../content/style/white/tongxunlu/js/edit.js"></script>
<script type="text/javascript">
</script>

</html>