<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>通讯录</title>
    <!-- Bootstrap -->
    <link href="../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../content/style/common/css/common.css" rel="stylesheet">
    <link href="../../content/style/frame/swipe/css/idangerous.swiper-2.7.6.css" rel="stylesheet">
    <link href="../../content/style/frame/slidernav/css/slidernav.css" rel="stylesheet">
    
    <link href="../../content/style/common/css/popup.css" rel="stylesheet">
    <link href="../../content/style/frame/sortable/css/sortable.css" rel="stylesheet">
    <link href="../../content/style/white/tongxunlu/css/mail-list-common.css" rel="stylesheet">
    <link href="../../content/style/white/tongxunlu/css/index.css" rel="stylesheet">
    <!-- javascript -->
    <script src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../content/style/frame/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../content/style/frame/vue/vue.js"></script>
    <script src="../../content/style/frame/lodash/lodash.min.js"></script>
    <script src="../../content/style/frame/swipe/js/idangerous.swiper.min-2.7.6.js"></script>
    <script src="../../content/style/frame/sortable/Sortable.js"></script>
    <!-- data.js里面是数据对象 可以删除 -->
    <script src="../../content/style/white/tongxunlu/js/data.js"></script>
    <script src="../../content/style/common/js/popup.js"></script>
    <script src="../../content/style/frame/slidernav/js/slidernav.js"></script>
    <script src="../../content/style/white/tongxunlu/js/index.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> param.month = getOtherDate(getM);
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- smart-QA 标示，暂时没有用到 -->
<!-- onload="postNewApps()" -->

<body class="apps-list" onload="postList();">
    <div class="smart-content" id="app" v-cloak>
        <!-- 选项卡 -->
        <div class="tabs">
            <div class="editBtn" v-if = false>
                <button class="edit-btn" v-on:click="changeEditStartFn" v-show=!isShow >编辑</button>
                <button class="done-btn" v-on:click="changeEditStartFn" v-show=isShow>完成</button>
            </div>
            <a href="#">联系人</a>
            <a href="#">按组织查</a>
        </div>
        
        <!-- list -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- swiper-slide -->
                <!-- tab-1 -->
                <div class="swiper-slide">
                    <!-- 输入框 -->
                    <div class="input">
                        <input type="text" name="" placeholder="输入人员姓名 / 组织部门" v-on:keyup="searchFn" v-model="searchKey">
                    </div>
                    <!-- 新增联系人 -->
                    <!-- <a href="edit.html" class="add-mail-list">新增联系人</a> -->
                    <div class="mail-list">
                        <div class="slider-content">
                            <!-- list -->
                            <ul>
                                <li v-bind:id="event ==='#'?'other':event" v-for="(event,index) in capArr">
                                    <a v-bind:name="event ==='#'?'other':event" class="title">{{event}}</a>
                                    <ul>
                                        <li v-for="item in mailList[index].Items" v-bind:DeptID="item.DeptID" >
                                            <!-- {{item}} -->
                                            <!-- <img v-bind:src="item.img" class="mail-list-img" v-if=""> -->
                                            <img v-bind:src="defaultImg" class="mail-list-img">
                                            <div class="mail-list-info">
                                                <div class="mail-list-name" v-on:click="jump(item)">
                                                    <h2>{{item.Name}}</h2>
                                                    <p>{{item.DeptName}}{{item.Title === null?"":"-"+item.Title}}</p>
                                                </div>
                                                <communication-box v-bind:tels="item.TelNos" v-if=!editStart></communication-box>
                                                <edit-box v-bind:info-content="item" v-else></edit-box>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- tab-2 -->
                <div class="swiper-slide">
                    <!--  -->
                    <div class="dept-groups">
                        <button v-for="item in deptNames" v-bind:deptId="item.id" v-on:click="changeDept" v-bind:class="{active: item.id == 1}">{{item.name}}</button>
                    </div>
                    <!-- tips -->
                    <div class="tips" v-if=editStart>
                        点击组织名可修改，长按拖动可对组织排序；点击“向下箭头”展开成员列表，长按可拖动成员进行排序；
                    </div>
                    <!-- list -->
                    <div class="panel-group smart-accordion" id="accordion">
                        <!-- part -->
                        <div class="panel panel-default" v-for="(todo,index) in deptNativeArr[deptNativeIndex].Items">
                            <div class="panel-heading">
                                <!-- {{todo}} -->
                                <a data-toggle="collapse" data-parent="#accordion"  v-bind:href="'#collapse'+index">
                                   <h2>{{todo.Name}}</h2>
                                   <!-- <input type="text" name="" v-show=editStart v-model=todo.Name class="editInput" readonly="readonly"> -->
                                   <em class="smart-list-end-icon"></em>

                                </a>
                                <!-- <button class="rename" v-show=editStart @click="renameFn">重命名</button> -->
                            </div>
                            <div  v-bind:id="'collapse'+index" class="panel-collapse collapse" v-bind:deptId="todo.Id">
                                <div class="panel-body">
                                    <ul class="smart-sub-list">
                                        <li class="smart-sub-list-item" 
                                        v-for="sub in deptsObj[todo.Id]"
                                        v-bind:personId ='sub.Id'
                                        v-bind:personSequence = 'sub.Sequence' >
                                            <img v-bind:src="defaultImg" class="mail-list-img">
                                            <div class="mail-list-info">
                                                <div class="mail-list-name">
                                                    <h2>{{sub.Name}}</h2>
                                                    <p>{{sub.Title}}</p>
                                                </div>
                                                <em class="smart-list-end-icon" v-if=editStart>
                                                    <img src="../../content/style/white/tongxunlu/images/sortable.png" alt="">
                                                </em>
                                                <communication-box v-bind:tels="sub.TelNos" v-else></communication-box>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- swiper-slide -->
            </div>
        </div>
        <!-- end -->
    </div>
</body>
<script src="../../content/style/white/tongxunlu/js/main.js"></script>
<script type="text/javascript">
</script>

</html>