/*
 * login.css
 * 18.1.29
 * Tempest
 * v 1.0.0
 */
body{
	background: #f9f9f9
}
*:not(input) {
	font-family: 'PingFangSC-Semibold', 'PingFangSC-Regular', 'Microsoft YaHei', helvetica, sans-serif;
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	/*Firefox3.5+*/
	-webkit-box-sizing: border-box;
	/*Safari3.2+*/
	-o-box-sizing: border-box;
	/*Opera9.6*/
	-ms-box-sizing: border-box;
	/*IE8*/
	box-sizing: border-box;
	/*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-style: normal;
    list-style: none;
}

input::-webkit-input-placeholder {
	color: #333;
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #333;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #333;
}

input::-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #333;
}

input:focus,
textarea:focus,button:focus {
	outline: none;
	border: 1px solid #3f9dd0;
}
/*自适应样式*/
@media screen and (max-width: 420px) {
	.form{
		width: 100% !important;
		border:none !important;
	}
}

/*
 * 页面header
 */
header{
	position: fixed;
	width: 100%;
	height: 60px;
	overflow:hidden;
	top:0;
	left:0;
	background:#fff;
	border-bottom: 1px solid #e6e6e6;
	z-index: 100
}
.header {
	max-width: 1200px;
	min-width: 826px;
	margin: 0 auto;
	height: 60px;
	padding: 12px 20px;
	background-color: #fff;
	position: relative;
	font-size: 0;
}
.header-login {
	width: 36px;
	height: 36px;
	object-fit: contain;
	display: inline-block;
}

.header-title {
	display: inline-block;
	position: absolute;
	/*width: 37px;*/
	height: 25px;
	font-family: PingFangSC;
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #333333;
	margin-left: 9px;
}

.header-title-top {
	top: 18px;
}
.content{
	margin: 60px auto 0;
	overflow:hidden;
}
.content.collection{
	max-width: 1200px;
	min-width: 826px;
	background: #f9f9f9;
}
/* 头部工具 */
.header-tools{
	position: absolute;
	width:calc(100% - 160px);
	top:0;
	right: 0;
	height: 60px;
}
.header-tools > [class*= header-]{
	display: inline-block;
	font-size: 16px;
	height: inherit;
	vertical-align: top;
	margin-right: 50px;
}
.header-tools > [class*= header-] button{
	width: 32px;
	text-align: center;
	border:0;
	background: #fff;
	font-weight: bold;
	height: 60px;
	line-height: 60px;
	color:#333333;
	cursor: pointer;
}
.header-tools > [class*= header-] button.active{
	border-bottom: 2px solid #27b3cb;
	color:#27b3cb;
}

.header-tools .header-search-btn{
	width: 330px;
	height: 37px;
	margin-top: 12px;
	background:#f9f9f9;
	font-size: 0;
	margin-right: 0;
}
.header-tools .header-search-btn input{
	display: inline-block;
	width: calc(100% - 37px);
	height: inherit;
	border:0;
	background:none;
	padding: 0 15px;
	font-size: 12px;
	line-height: 37px;
	vertical-align: top;
}
.header-tools .header-search-btn button{
	display: inline-block;
	width: 37px;
	height: 37px;
	vertical-align: top;
	background: #f9f9f9;
	position: relative;
}
.header-tools .header-search-btn button:before{
	position: absolute;
	content: " ";
	width: 18px;
	height: 2px;
	background:#cbcbcb;
	top:50%;
	left:50%;
	margin-top: -1px;
	margin-left: -9px;
}
.header-tools .header-search-btn button:after{
	position: absolute;
	content: " " ;
	margin-top: -9px;
	margin-left: -1px;
	width: 2px;
	height: 18px;
	background:#cbcbcb;
}
.header-tools .header-search-btn button.active{
	background: #27b3cb;
}
.header-tools .header-search-btn button.active:before,
.header-tools .header-search-btn button.active:after{
	background:#fff;
}
.header-tools .header-search-btn button.active:after{
	position: absolute;
	content: " " ;
	margin-top: -9px;
	margin-left: -1px;
	width: 2px;
	height: 18px;
	background:#fff;
}
.header-tools .header-right{
	float: right;
	margin: 0;
	width: calc(88px * 2 + 140px)
}
.header-tools .header-info{
	width: 140px;
	font-size: 0;
	display: inline-block;
	vertical-align: middle;
}
.header-tools .header-info-img{
	width: 38px;
	height: 38px;
	background: #f9f9f9;
	border-radius: 50%;
	overflow:hidden;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.header-tools .header-info p{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
}
.header-tools .header-info-img img{
	width: 30px;
	height: 30px;
	display: block;
	margin: 4px;
}
.header-tools .header-right > [class*=header-] {
	margin-right: 30px;
	display: inline-block;
	vertical-align: middle;
}
.header-tools .header-right .header-info{
	margin: 0;
	padding-right: 40px;
	background:url(../img/jinru@2x.png) no-repeat right 10px top 10px;
	background-size: 20px;
} 
.header-tools .header-maillist-btn {
	
}
.header-tools .header-maillist-btn button{
	background:url(../img/tongxunlu@2x.png) no-repeat center;
	background-size: 20px;
}
.header-tools .header-message-btn {
	position: relative;
}
.header-tools .header-message-btn .message-tips{
	position: absolute;
	width: 10px;
	height: 10px;
	background:#ff0000;
	z-index: 1;
	top:17px;
	right:3px;
	border-radius: 50%;
}
.header-tools .header-message-btn button{
	background:url(../img/tongzhi-weixuan@2x.png) no-repeat center;
	background-size: 20px;
}

/* 收藏 */
.content{
	max-width: 1050px;
	min-width: 826px;
}
.content.collection{
	width: 1000px;
}
.header-tools{

}
/* tips */
.tips{
	position: fixed;
	top:0;
	bottom: 0;
	left:0;
	right: 0;
	z-index: 200;
	
}
.tips .tips-mask{
	position: fixed;
	top:0;
	bottom: 0;
	left:0;
	right: 0;
	z-index: 200;
	background: rgba(0,0,0,0.3);
}
.tips .tips-content{
	position: absolute;
	width: 45%;
	min-width: 480px;
	z-index: 201;
	background: #fff;
	padding:20px 20px 0 20px;
	top:25%;
	left:50%;
	margin-left: -22.5%;
}
.tips .tips-content ul{
	font-size: 0;
}
.tips .tips-content li{
	background: #f9f9f9;	
	padding:10px 20px;
	display: inline-block;
	font-size: 14px;
	margin-right: 20px;
	margin-bottom: 20px;
	height: 40px;
	color:#3c3c3c;
	cursor: pointer;
	transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;	
}
.tips .tips-content li.active,
.tips .tips-content li:hover{
	background: #444444;
	color:#fff;
}

@media screen and (max-width: 826px) {
	.header-tools .header-search-btn{
		max-width: 150px;
	}
	.header-tools .header-search-btn input{
		max-width: 113px;
	}
}
@media screen and (min-width: 827px) and (max-width: 1000px){
	.header-tools .header-search-btn{
		width: calc(100% - 316px - 82px * 2 - 40px * 2);
		min-width: 150px;
	}
	.header-tools .header-search-btn input{
		width: calc(100% - 37px);
		min-width: 113px;
	}
}