<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>人脸认证-管理端-审核</title>
    <!-- Bootstrap -->
    <link href="../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../content/style/common/css/common.css" rel="stylesheet">
    
    <link href="../../content/style/white/faceManage/css/faceManage-common.css" rel="stylesheet">
    <link href="../../content/style/white/faceManage/css/faceManage-echart.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> param.month = getOtherDate(getM);
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="">
    <div class="smart-content">
        <!-- part 1 -->
        <div class="smart-proportion-box">
            <div class="smart-proportion-sum clearfix">
                <span>已完成认证：<em>13245</em></span>
                <span>待审核：<em>80.00</em></span>
            </div>
            <div class="smart-proportion-btns">
              <button>按年</button>
              <button>按月</button>
            </div>
        </div>
        <!-- 图表部分 -->
        <div class="chart-box">
            <div class="auto">
              <label>自动审核132132</label>
              <div class="contrast">
                <span>通过：2000（50%）</span>
                <span>不通过：2000（50%）</span>
              </div>
              <!-- echarts -->
              <div id="auto-Echart">
                
              </div>
            </div>
            <div class="artificial">
              <label>人工审核132132</label>
              <div class="contrast">
                <span>通过：2000（50%）</span>
                <span>不通过：2000（50%）</span>
              </div>
              <!-- echarts -->
              <div id="artificial-Echart">
                
              </div>
            </div>
        </div>
    </div>
</body>
<script src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
<script src="../../content/style/frame/echarts/echarts.common.min.js"></script>

<script src="../../content/style/white/faceManage/js/faceManage-echart.js"></script>
<script type="text/javascript">

</script>

</html>