<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>人脸认证-管理端</title>
    <!-- Bootstrap -->
    <link href="../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../content/style/common/css/common.css" rel="stylesheet">
    <link href="../../content/style/common/css/proportion.css" rel="stylesheet">
    <link href="../../content/style/frame/iscroll4/css/pullToRefresh.css" rel="stylesheet">
    <link href="../../content/style/white/faceManage/css/faceManage-common.css" rel="stylesheet">
    <link href="../../content/style/white/faceManage/css/faceManage.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> param.month = getOtherDate(getM);
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="">
    <div class="smart-content">
        <!--  -->
        <div class="smart-proportion-box">
            <div class="smart-proportion-sum clearfix">
                <span>已完成认证（<em>13245</em>）例</span>
                <span>系统当前对比数：<em>80.00</em></span>
            </div>
            <div class="proportion"></div>
            <!-- 1 -->
            <div class="statis-btns">
            	<a href="faceManage-echart.html">统计</a>
            	<a href="faceManage-statistical.html">流水</a>
            </div>
        </div>
        <!-- 列表部分 -->
        <div class="smart-list-part">
            <h2>待审核认证<em>34例</em></h2>
            <div class="select-btns">
                <button class="sort-btn active">对比度高<em></em>低</button>
                <button class="radio-btn active">教职工</button>
                <button class="radio-btn">学生</button>
                <button class="radio-btn">其他</button>
            </div>
            <!-- iscroll container -->
            <div id="wrapper">
                <ul class="smart-list smart-list-continue smart-list-space smart-list-title-icon">
                    <li class="smart-list-item">
                        
                            <label class="">
                                <img src="../../content/style//white/faceManage/images/head.png" alt="">
                            </label>
                            <div class="smart-list-line-2">
                                <h3><em>李小萌</em> <span>2017/12/12</span></h3>
                                <p><em>航海学院轮机专业航海学院轮机专业</em><span>对比数：80.00</span></p>
                            </div>
                        
                    </li>
                    <li class="smart-list-item">
                        
                            <label class="">
                                <img src="../../content/style/white/faceManage/images/head.png" alt="">
                            </label>
                            <div class="smart-list-line-2">
                                <h3><em>罗杰</em> <span>2017/12/12</span></h3>
                                <p><em>航海学院放置大宝藏专业</em><span>对比数：80.00</span></p>
                            </div>
                        
                    </li>
                    <li class="smart-list-item">
                        
                            <label class="">
                                <img src="../../content/style/white/faceManage/images/head.png" alt="">
                            </label>
                            <div class="smart-list-line-2">
                                <h3><em>路飞</em> <span>2017/12/12</span></h3>
                                <p><em>航海学院寻找大宝藏专业</em><span>对比数：80.00</span></p>
                            </div>
                        
                    </li>
                </ul>
            </div>
            <!-- list nothing -->
            <div class="smart-list-nothing">
                <img src="../../content/style/common/images/list-nothing.png">
                <p>无更多数据...
                    <button>重新获取</button>
                </p>
            </div>
            <input type="hidden" name="" id="" value=123456  class="hid-input"/>
        </div>
    </div>
</body>

<script src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
<script src="../../content/style/frame/babel/browser.min.js"></script>
<script src="../../content/style/common/js/proportion.js"></script>
<script src="../../content/style/frame/iscroll4/js/iscroll.js"></script>
<script src="../../content/style/frame/iscroll4/js/pullToRefresh.js"></script>
<script src="../../content/style/white/faceManage/js/faceManage.js"></script>
<script src="../../content/style/white/faceManage/js/faceManage-common.js"></script>
<script type="text/javascript">

</script>
</html>