<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>商户查询</title>

  <!-- Bootstrap -->

  <link href="../../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../content/style/common/css/xiaoyuanka/common.css" rel="stylesheet">

  <link href="../../../content/style/frame/mui/css/mui.min.css" rel="stylesheet">
  <link href="../../../content/style/frame/mui/css/mui.picker.min.css" rel="stylesheet">
  
  <link href="../../../content/style/frame/iscroll4/css/pullToRefresh.css" rel="stylesheet">
  <link href="../../../content/style/white/shanghuchaxun/css/shanghuchaxun.css" rel="stylesheet">
  
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]> param.month = getOtherDate(getM);
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body class="smart-query-bill" onload="setTop();">
  <nav class="navbar">
    <div class="smart-header smart-white">
      <a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
        <img src="../../../content/style/common/images/back-2.png" alt="">
      </a>
      <h1>商户查询</h1>
    </div>
  </nav>
  <div class="smart-content">
    
    <!-- 筛选 -->
    <div class="smart-screen smart-top">
      <h1 class="smart-query-title">00112233--一餐厅1楼1-16窗口</h1>
      <div class="row smart-column-list">
        <div class="col-xs-4">今日</div>
        <div class="col-xs-4">全部POS</div>
        <div class="col-xs-4">全部时段</div>
      </div>
      <!-- 筛选内容 -->
      <div class="row smart-screen-list set-popup">
      </div>
    </div>
    <!-- 日期选择结果 -->
    <div class="smart-time-box smart-top smart-border">
      <p set-time="start" onclick="selectTime(this);" >开始时间</p>
      <em>至</em>
      <p set-time="end" onclick="selectTime(this);">结束时间</p>
    </div>
    <!-- 按钮 -->
    <div class="smart-query-statistics smart-top">
      <button>统计分析</button>
    </div>
    <!--  -->
    <div class="smart-query-summarize smart-border smart-top">
      <h1>2017.09.08</h1>
      <p>总计：<em>144000.00</em>元</p>
    </div>
    <!-- 折叠面板 -->
    <div class="smart-accordion" id="wrapper">
        <!-- 列表 -->
        <ul class="smart-sub-list smart-border-top-0">
          <!-- 列表一组 -->
          <li class="smart-sub-list-item">
            <!-- 日期 -->
            <div class="smart-accordion-head">
              09/09
              <span>14:14</span>
            </div>
            <!-- 列表内容 -->
            <div class="smart-accordion-content">
              <h3>
                <em>POS-201</em>
                <i set-status="pay">-1000.00</i>
              </h3>
              <p>
                <em>132132132132132</em>
                <i>张三（132132132132312）</i>
              </p>
            </div>
          </li>
          <!-- 列表一组 -->
          <li class="smart-sub-list-item">
            <!-- 日期 -->
            <div class="smart-accordion-head">
              <span>14:14</span>
            </div>
            <!-- 列表内容 -->
            <div class="smart-accordion-content">
              <h3>
                <em>POS-202</em>
                <i set-status="pay">-1000.00</i>
              </h3>
              <p>
                <em>132132132132132</em>
                <i>张三（132132132132312）</i>
              </p>
            </div>
          </li>
          <!-- 列表一组 -->
          <li class="smart-sub-list-item">
            <!-- 日期 -->
            <div class="smart-accordion-head">
              <span>14:14</span>
            </div>
            <!-- 列表内容 -->
            <div class="smart-accordion-content">
              <h3>
                <em>POS-203</em>
                <i set-status="income">+1000.00</i>
              </h3>
              <p>
                <em>132132132132132</em>
                <i>张三（132132132132312）</i>
              </p>
            </div>
          </li>
          <!-- 列表一组 -->
          <li class="smart-sub-list-item">
            <!-- 日期 -->
            <div class="smart-accordion-head">
              <span>14:14</span>
            </div>
            <!-- 列表内容 -->
            <div class="smart-accordion-content">
              <h3>
                <em>POS-204</em>  
                <i set-status="income">+1000.00</i>
              </h3>
              <p>
                <em>132132132132132</em>
                <i>张三（132132132132312）</i>
              </p>
            </div>
          </li>
        </ul>
    </div>
    <!-- 遮罩 -->
    <div class="smart-screen-mask"></div>
  </div>
</body>
<script src="../../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
<script src="../../../content/style/frame/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../content/style/frame/echarts/echarts.common.min.js"></script>

<script src="../../../content/style/frame/mui/js/mui.min.js"></script>
<script src="../../../content/style/frame/mui/js/mui.picker.min.js"></script>

<script src="../../../content/style/frame/iscroll4/js/iscroll-true.js"></script>
<script src="../../../content/style/frame/iscroll4/js/pullToRefresh.js"></script>
<script src="../../../content/style/frame/iscroll4/js/loadMore.js"></script>

<script src="../../../content/style/white/shanghuchaxun/js/shaixuan.js"></script>
<script type="text/javascript">
  var option = {
    id:"wrapper",
    pullDown:"refresh",
    pullUp:function (){
      setTimeout(function() {
          var li = "",
              i;
          for (i = 0; i < 3; i++) {
              li += `<li class="smart-sub-list-item">
          <!-- 日期 -->
          <div class="smart-accordion-head">
            <span>14:14</span>
          </div>
          <!-- 列表内容 -->
          <div class="smart-accordion-content">
            <h3>
              <em>POS-204</em>
              <i set-status="income">+1000.00</i>
            </h3>
            <p>
              <em>132132132132132</em>
              <i>张三（132132132132312）</i>
            </p>
          </div>
        </li>`;
          }
          $("#wrapper ul").append(li);
          wrapper.refresh();
      }, 1000);
    }
  }
  loadMore.scroll(option);
  // accordionClick();

</script>
</html>
