/*
 * login.css
 * 18.1.29
 * Tempest
 * v 1.0.0
 */
html  *{
    font-size:16px;
    /*max-width:100%;*/
    padding:0;
    margin:0;
    list-style:none;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box
}
body {
    background: #f9f9f9
}
*:not(input) {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    /*Firefox3.5+*/
    -webkit-box-sizing: border-box;
    /*Safari3.2+*/
    -o-box-sizing: border-box;
    /*Opera9.6*/
    -ms-box-sizing: border-box;
    /*IE8*/
    box-sizing: border-box;
    /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-style: normal;
    list-style: none;
    text-decoration: none;
}
@font-face {
    font-family: 'PingFang-Light';
    src: url('../font/PingFang-Light.ttf');
    src: local('☺'),
    /*url('../../common/PingFang Light.eot?#iefix') format('embedded-opentype'),  
        url('../../common/PingFang Light.woff') format('woff'),  */
    url('../font/PingFang-Light.ttf') format('truetype'),
    /*url('../../common/PingFang Light.svg#webfontOTINA1xY') format('svg');  */
    /*font-weight:normal;  
        font-style:normal; */
}
@font-face {
    font-family: 'PingFangSC-Semibold';
    src: url('../font/PingFangSC-Semibold.ttf');
    src: local('☺'),
    /*url('../../common/PingFang SC Semibold.eot?#iefix') format('embedded-opentype'),  
        url('../../common/PingFang SC Semibold.woff') format('woff'),  */
    url('../font/PingFangSC-Semibold.ttf') format('truetype'),
    /*url('../../common/PingFang SC Semibold.svg#webfontOTINA1xY') format('svg');  */
    /*font-weight:normal;  
        font-style:normal;*/
}
@font-face {
    font-family: 'PingFangSC-Regular';
    src: url('../font/PingFangSC-Regular.otf');
    src: local('☺'),
    /*url('../../common/font/PingFangSC-Regular.eot?#iefix') format('embedded-opentype'),  
        url('../../common/font/PingFangSC-Regular.woff') format('woff'), */
    /*url('../../common/font/PingFangSC-Regular.ttf') format('truetype'),  */
    /*url('../../common/font/PingFangSC-Regular.svg#webfontOTINA1xY') format('svg');  */
    /*font-weight:normal;  
        font-style:normal;*/
}
a:link,
a:visited,
a:hover,
a:active {
    color: #333333;
}
input::-webkit-input-placeholder {
    color: #333;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #333;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #333;
}

input::-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #333;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
    border: 1px solid #3f9dd0;
}


/*自适应样式*/

@media screen and (max-width: 420px) {
    .form {
        width: 100% !important;
        border: none !important;
    }
}
.state-laud,
.popupBox .sendBtn {
    opacity: 1;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}
.state-laud:active,
.popupBox .sendBtn:active {
    opacity: .7;
}

/* hover */

.header-tools>[class*=header-] a,
.tips .tips-content li,
.float-tools a:hover,
aside h2 button:hover,
aside .comment-state .comment-state-reply-btn:hover,
.popupBox ul .add:hover,
.popupBox label:hover,
.popupBox .del:hover,
.level-catalog ul li:hover,
.level-catalog h3.back,
.popupBox h2 button:hover,
.header-add-btn button:hover,
.popupBox .photo-add-btn:hover,
.popupBox .collapse-container ul li:hover,
.popupBox .collapse-title button:hover,
.popupBox .popup-btns button:hover,
.collection-word .word .video-tool .full-screen:hover,
.collection-word .word video:hover,
.collection-word .word .video-tool .playPause:hover,
.file-list ul li:hover,
.list li .list-source .tool button:hover,
.upload-container .upload-title >div button:hover{
    cursor: pointer;
}

/* 滚动条 */

::-webkit-scrollbar {
    width: 3px;
    height: 1px;
}
::-webkit-scrollbar-thumb {
    background: #eaeaea;
}
::-webkit-scrollbar-track {
    background-color: none;
}

/*
 * 页面header
 */

header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    z-index: 1000
}
.header {
    max-width: 1200px;
    min-width: 826px;
    margin: 0 auto;
    height: 59px;
    padding: 12px 20px;
    background-color: #fff;
    position: relative;
    font-size: 0;
}
.header-login {
    width: 36px;
    height: 36px;
    object-fit: contain;
    display: inline-block;
}

.header-title {
    display: inline-block;
    position: absolute;
    height: 25px;
    font-family: PFSCB;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin-left: 9px;
}

.header-title-top {
    top: 18px;
}
.header-title-top,
.header-tools>[class*=header-] a,
.header-tools .header-info p,
.select-type button,
.list li .list-title h1,
.content-right>h1,
.content.collection>h1,
.list li .list-header em,
.list li .list-title h1,
aside h2,
.popupBox h2,
.popupBox h3,
.popupBox .list-title h1,
.level-catalog h3,
.share-notice .notice-title,
.popup-box h3,
.header-add-btn .popup-box >button,
.content .word h2,
.file-list >h3,
.upload-container .upload-title em,
.upload-container .upload-file .upload-info p{
    font-family: 'PingFangSC-Semibold', 'Microsoft YaHei', helvetica, sans-serif;
}
.header-tools .header-search-btn input,
.list li .list-source i,
.content.collection>h2 em,
.content-right>h2 i,
.content.collection>h2 i,
.content-right>p,
.content.collection>p,
.tips .tips-content li,
.list li .list-header p,
.list li .list-header i,
.list li .list-word,
.float-tools a em,
aside .comment li .comment-state form a,
.popupBox .sendBtn,
.share-notice .part h3,
.share-notice .list li >p,
.popup-box h3 span,
.header-tools .popup-box h3 span a,
.header-add-input-btn input[type=text],
.header-add-btn .popup-box > button em,
.popupBox .collapse-title,
.content .word p,
.popupBox .popup-btns button,
.collection-word .word .video-tool .progress-bar span,
.file-list ul li em{
    font-family: 'PingFangSC-Regular', 'Microsoft YaHei', helvetica, sans-serif;
}
.list li .list-source p,
.list li .list-source em,
aside .comment li .comment-state,
.popupBox textarea,
.popupBox .font-statis,
.person-sum,
.level-catalog h3 em,
.ztree li a.level0 span,
.header-add-input-btn button,
.upload-container .upload-file .upload-info em{
    font-family: 'PingFang-Light', 'Microsoft YaHei', helvetica, sans-serif;
}
.content {
    margin: 60px auto 0;
    /*overflow:hidden;*/
}
.content.collection {
    max-width: 1200px;
    min-width: 826px;
    background: #f9f9f9;
}

/* 头部工具 */

.header-tools {
    position: absolute;
    -webkit-width: calc(100% - 160px);
    -moz-width: calc(100% - 160px);
    width: calc(100% - 160px);
    top: 0;
    right: 0;
    height: 60px;
}
.header-tools>[class*=header-] {
    display: inline-block;
    font-size: 16px;
    height: inherit;
    vertical-align: top;
    margin-right: 50px;
    height: 59px;
    overflow: hidden;
}
.header-tools>[class*=header-] a {
    display: block;
    min-width: 32px;
    /*text-align: center;*/
    border: 0;
    background: #fff;
    height: 60px;
    line-height: 60px;
    color: #333333;
    font-size: 0;
}
.header-tools>[class*=header-] a.active {
    border-bottom: 4px solid #27b3cb;
    color: #27b3cb;
    
}
.header-tools .header-collcetion-btn a,
.header-tools .header-recommend-btn a{
    font-size: 16px;
}
.header-tools .header-search-btn {
    width: 330px;
    height: 37px;
    margin-top: 12px;
    background: #f9f9f9;
    font-size: 0;
    margin-right: 0;
}
.collection .header-tools .header-search-btn {
    display: none;
}

.header-tools .header-search-btn input {
    display: inline-block;
    -webkit-width: calc(100% - 37px);
    -moz-width: calc(100% - 37px);
    width: calc(100% - 37px);
    height: inherit;
    border: 0;
    background: none;
    padding: 0 15px;
    font-size: 12px;
    line-height: 37px;
    vertical-align: top;
}
.header-tools .header-search-btn button {
    display: inline-block;
    width: 37px;
    height: 37px;
    vertical-align: top;
    background: #f9f9f9;
    position: relative;
    border: 0;
}
.collect .header-tools .header-search-btn button:before {
    position: absolute;
    content: " ";
    width: 18px;
    height: 2px;
    background: #cbcbcb;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -9px;
}
.collect .header-tools .header-search-btn button:after {
    position: absolute;
    content: " ";
    margin-top: -9px;
    margin-left: -1px;
    width: 2px;
    height: 18px;
    background: #cbcbcb;
}
.collect .header-tools .header-search-btn button.active {
    background: #27b3cb;
}
.collect .header-tools .header-search-btn button.active:before,
.collect .header-tools .header-search-btn button.active:after {
    background: #fff;
}
.collect .header-tools .header-search-btn button.active:after {
    position: absolute;
    content: " ";
    margin-top: -9px;
    margin-left: -1px;
    width: 2px;
    height: 18px;
    background: #fff;
}
.share .header-tools .header-search-btn button[disabled]{
    background:url(../img/search.png) no-repeat center;
    background-size: 22px;
}
.share .header-tools .header-search-btn button,
.share .header-tools .header-search-btn button.active{
    background:url(../img/search-1.png) no-repeat center #27b3cb;
    background-size: 22px;
}
.header-tools .header-right {
    float: right;
    margin: 0;
    -webkit-width: calc(88px * 2 + 140px) -moz-width: calc(88px * 2 + 140px) width: calc(88px * 2 + 140px)
}
.header-tools .header-info {
    width: 170px;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
}
.header-tools .header-info-img {
    width: 38px;
    height: 38px;
    background: #f9f9f9;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.header-tools .header-info p {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}
.header-tools .header-info-img img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 4px;
}
.header-tools .header-right>[class*=header-] {
    margin-right: 30px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.header-tools .header-right .header-info {
    margin: 0;
    padding-right: 70px;
    background: url(../img/jinru@2x.png) no-repeat right 30px center;
    background-size: 20px;
}
.header-tools .header-maillist-btn {}
.header-tools .header-add-btn > a{
    background: url(../img/add.png) no-repeat center;
    background-size: 20px;
}
.share .header-tools .header-add-btn{
    display: none;
}
.header-tools .header-maillist-btn a {
    background: url(../img/tongxunlu@2x.png) no-repeat center;
    background-size: 20px;
}
.header-tools .header-message-btn {
    position: relative;
}
.header-tools .header-message-btn .message-tips {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ff0000;
    z-index: 1;
    top: 17px;
    right: 3px;
    border-radius: 50%;
}
.header-tools .header-message-btn > a {
    background: url(../img/tongzhi-weixuan@2x.png) no-repeat center;
    background-size: 20px;
}
.popup-box{
    position: absolute;
    z-index: 2;
    top:65px;
    left:50%;
    width: 330px;
    height: 200px;
    margin-left: -165px;
    background:#fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    display: none;
}
.header-message-btn .popup-box{
    height: auto;
    max-height: 500px;
    padding-bottom: 45px;
}
.popup-box:before{
    content:" ";
    width: 16px;
    height: 16px;
    background:#fff;
    transform: rotateZ(-135deg);
    -webkit-transform:rotateZ(-135deg);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    top:-8px;
    left:50%;
    z-index: -1;
    margin-left:-8px;
}
.popup-box h3{
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    font-size: 14px;
    
}
.popup-box h3 span{
    font-size: 12px;
    color:#999;
    float:right;
    line-height: 44px;
}
.header-tools .popup-box h3 span a{
    font-size: 12px;
    display: inline-block;
    color:#27b3cb;
    padding-left: 10px;
    height: 44px;
    line-height: 44px;
}
.header-add-input-btn{
    text-align: center;
    font-size: 0;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}
.header-add-input-btn input[type=text]{
    display: inline-block;
    width: 210px;
    border:0;
    background:#f9f9f9;
    height: 40px;
    font-size: 14px;
    padding: 0 14px;
}
.header-add-input-btn input[type=text]::placeholder{
    color:#999999;
}
.header-add-input-btn button{
    width: 80px;
    height: 40px;
    border:0;
    vertical-align: top;
    background: #27b3cb;
    color:#fff;
    font-size: 14px;
}
/*.header-add-btn:hover .popup-box{
    display: block;
}*/
.header-add-btn .popup-box > button{
    display: block;
    width: 100%;
    height: 44px;
    border:0;
    line-height: 44px;
    background:none;
    font-size: 14px;
    border-top:1px solid #e6e6e6;
    text-align: left;
    padding-left: 20px;
}
.header-add-btn .popup-box > button:hover{
    background: #f9f9f9;
}
.header-add-btn .popup-box > button em{
    font-size:12px;
    color:#999;
}
.header-message-btn .popup-box .list{
    max-height:450px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
}
.popup-box .list li{
    width: 100%;
    height: auto;
    margin:0;
    border:0;
    padding: 0;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
}
.popup-box .list li a{
    height: auto;
}
.popup-box .list li a .list-header *{
    vertical-align: top;
}
.header-tools .popup-box .inform{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    text-align: center;
    border-top:1px solid #e6e6e6;
}
/* 收藏 */

.content {
    max-width: 1050px;
    min-width: 826px;
    height: auto!important;
    /*height: calc(100vh - 60px);*/
    /*overflow-y:  hidden;*/
    font-size: 0;
    position: relative;
}
.content.collection {
    width: 1000px;
}
.header-tools {}

/* tips */

.tips {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    display: none;
}
.tips .tips-mask,
.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}
.tips .tips-content {
    position: absolute;
    width: 45%;
    min-width: 480px;
    z-index: 201;
    background: #fff;
    padding: 20px 20px 0 20px;
    top: 25%;
    left: 50%;
    margin-left: -22.5%;
}
.tips .tips-content ul {
    font-size: 0;
}
.tips .tips-content li {
    background: #f9f9f9;
    padding: 10px 20px;
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 40px;
    color: #3c3c3c;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.tips .tips-content li.active,
.tips .tips-content li:hover {
    background: #444444;
    color: #fff;
}

/* flaot tools */

.float-tools {
    position: fixed;
    height: 45px;
    z-index: 199;
    width: 220px;
    top: 81px;
    right: 0px;
    background: #fff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .1);
    transform: translateX(165px);
    -webkit-transform: translateX(165px);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.float-tools:hover,
.float-tools.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.float-tools a {
    width: 55px;
    float: left;
    text-align: center;
    padding: 12px 0;
    color: #999;
}
.float-tools a:first-child {
    display: none;
}
.float-tools:hover a:first-child,
.float-tools.active a:first-child {
    display: block;
}
.float-tools a img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.float-tools a em {
    font-size: 12px;
    line-height: 20px;
    margin-left: 4px;
}


/* 侧边栏 */

aside {
    position: fixed;
    width: 350px;
    height: calc(100vh - 60px);
    top: 60px;
    right: 0;
    background: #fff;
    padding: 22px 0;
    z-index: 999;
    overflow-y: scroll;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;

    /*display: none;*/
}
@-moz-document url-prefix() { 
    aside {
        width: 365px;
    }
}
aside.show{
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
aside h2 {
    font-size: 16px;
    color: #333;
    padding: 0 20px;
}
aside h2 button,
.popupBox h2 button {
    width: 20px;
    height: 20px;
    background: url(../img/combined-shape@2x.png) no-repeat center;
    background-size: 20px;
    border: 0;
    vertical-align: middle;
    float: right;
    transform: rotateZ(0);
    -webkit-transform: rotateZ(0);
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}
aside h2 button:hover,
.popupBox h2 button:hover{
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
}
aside form {
    font-size: 0px;
    margin-top: 24px;
    padding: 0 20px;

}
aside form input[type=text],
aside form input[type=search] {
    width: 220px;
    height: 36px;
    background: #f9f9f9;
    font-size: 14px;
    border: 0;
    display: inline-block;
    padding: 0 15px;
    line-height: 36px;
    box-sizing: border-box;
    color: #999;
    vertical-align: top;
}
aside form input[type=text]::placeholder,
aside form input[type=search]::placeholder{
    color: #999;
}
aside form input[type=search]::placeholder{
    background: url(../../common/img/group-3@2x.png) no-repeat;
    background-size: 20px;
    text-indent: 25px;
}
aside form input[type=submit] {
    width: 80px;
    height: 36px;
    background: #27b3cb;
    font-size: 14px;
    border: 0;
    display: inline-block;
    color: #fff;
}
aside form button.searchBtn {
    width: 40px;
    height: 36px;
    background: url(../../common/img/group-3@2x.png) no-repeat center #f9f9f9;
    background-size: 20px;
    border: 0;
    vertical-align: middle;
}
aside .comment li {
    margin: 0;
    margin-top: 20px;
    border: 0;
    padding: 0;
    width: 300px;
    height: auto;
}
aside .comment li .comment-state {
    font-size: 12px;
    color: #666;
    margin-left: 40px;
}
aside .comment li .comment-state form,
aside .comment li .comment-state .none {
    display: none;
}
aside .comment li .comment-state .none+form {
    display: block;
}
aside .comment li .comment-state form input {
    width: 100%;
    height: 36px;
}

aside .comment li .comment-state form a {
    float: right;
    width: 80px;
    height: 30px;
    border: 0;
    margin-top: 5px;
    background: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
}
aside .comment li .comment-state form .state-laud {
    background: #27b3cb;
    color: #fff;
}
aside .comment li p {
    margin-left: 40px;
}
aside .comment li .comment-state a {
    color: #999;
}

/* 弹窗 */

.popupBox {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20%;
    margin-left: -250px;
    width: 480px;
    max-height: 550px;
    background: #fff;
    z-index: 201;
    overflow: hidden;
    display: none;
}
.popupBox h2 {
    text-align: center;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e6e6e6;
}
.popupBox h2 button {
    margin-right: 10px;
    height: 50px;
    position: absolute;
    right: 0;
}
.popupBox .list-title {
    width: 440px;
    margin: 10px auto;
}
.popupBox .list-title h1 {
    width: 350px!important;
}
.popupBox textarea,
.popupBox .textarea {
    width: 440px;
    display: block;
    margin: 0 auto;
    border: 0;

    padding: 0;
    line-height: 20px;
    resize: none;
    font-size: 14px;
    color: #999;
    border-bottom: 1px solid #e6e6e6;
    outline: none;
}
.popupBox .font-statis {
    width: 440px;
    margin: 5px auto;
    text-align: right;
    color: #999;
    font-size: 13px;
}
.popupBox h3 {
    height: 20px;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 14px;
    color: #333333;
}
.popupBox ul {
    max-height: 135px;
    font-size: 0;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-right: 5px;
    overflow-y: auto;
}

.popupBox ul li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 15px;
    vertical-align: top;
    position: relative;
}
.popupBox .del {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../../common/img/shanchu@3x.png) no-repeat;
    background-size: 20px; 
    top:-10px;
    right: -10px;
}
.popupBox ul li img {
    width: 100%;
}
.popupBox ul .add {
    border: 1px solid #e6e6e6;
    background: #f9f9f9;
    position: relative;
}
.popupBox ul .add:before,
.popupBox ul .add:after {
    content: " ";
    position: absolute;
    background: #999;
    top: 50%;
    left: 50%;
}
.popupBox ul .add:before {
    width: 16px;
    height: 1px;
    margin-top: -.5px;
    margin-left: -8px;
}
.popupBox ul .add:after {
    width: 1px;
    height: 16px;
    margin-top: -8px;
    margin-left: -.5px;
}
.popupBox .send {
    height: 56px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 5px;
    border-top: 1px solid #e6e6e6;
}
.popupBox .sendBtn {
    float: right;
    width: 80px;
    height: 36px;
    background: #27b3cb;
    color: #fff;
    border: 0;
}
.popupBox .send label {
    line-height: 36px;
    display: none;
}

.popupBox label a {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #979797;
    background: #fff;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;

    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.popupBox label.active a {
    background: #27b3cb;
    border: 1px solid #fff;
}
/* textarea */
.expandingArea {
    width: 440px;
    max-height: 101px;
    left: 20px;
    position: relative;
    background: #fff;
    overflow-y: auto;
}
.expandingArea textarea,
.expandingArea pre {
    padding: 5px;
    background: transparent;
    font: 400 14px/20px helvetica, arial, sans-serif;
    /* Make the text soft-wrap */
    white-space: pre-wrap;
    word-wrap: break-word;
}
.expandingArea textarea {
    /* The border-box box model is used to allow
       * padding whilst still keeping the overall width
       * at exactly that of the containing element.
       */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /* This height is used when JS is disabled */
    height: 100px;
}
.expandingArea.active textarea {
    /* Hide any scrollbars */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* Remove WebKit user-resize widget */
    resize: none;
}
.expandingArea pre {
    display: none;
}
.expandingArea.active pre {
    display: block;
    /* Hide the text; just using it for sizing */
    visibility: hidden;
}
/* upload-container */
.upload-container{
    position: fixed;
    width: 440px;
    height: 172px;
    background: #fff;
    top:188px;
    right: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.upload-container .upload-title{
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}
.upload-container .upload-title em{
    font-size: 16px;
}
.upload-container .upload-title >div{
    float:right;
}
.upload-container .upload-title >div button{
    border:0;
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.upload-container .upload-title .toggle-fade-btn{
    background: url(../../common/img/jinru-1.png) no-repeat center;
    background-size: 20px;
}
.upload-container .upload-title .close-btn{
    background: url(../img/combined-shape@2x.png) no-repeat center;
    background-size: 20px;
}
.upload-container .upload-file{
    width: 100%;
    height: 40px;
    font-size: 0;
    margin-bottom: 15px;
}
.upload-container .upload-file:last-child{
    margin-bottom: 0
}
.upload-container .upload-file > div{
    width:360px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.upload-container .upload-file > div.upload-img{
    width: 40px;
}
.upload-container .upload-file > div.upload-img img{
    width: 40px;
}
.upload-container .upload-file .upload-info{
    width: 200px;
    height: 40px;
    padding: 5px 0;
    margin-left: 15px;
    display: inline-block;
} 
.upload-container .upload-file .upload-edit{
    display: inline-block;
    vertical-align: middle;
}
.upload-container .upload-file .upload-info p{
    font-size: 14px;
    line-height: 15px;
}
.upload-container .upload-file .upload-info em{
    font-size: 12px;
    line-height: 15px;
}
.upload-container .upload-file .upload-edit{
    width: 100px;
    height: 40px;
    line-height: 40px;
    float:right;
    text-align: right;
}
.upload-container .upload-file .upload-edit img{
    width: 22px;
    display: inline-block;
    vertical-align: middle;
}
.upload-container .upload-file .upload-edit button{
    display: inline-block;
    width: 33px;
    height: 20px;
    border:0;
    background: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    margin-left: 20px;
}
.upload-container .upload-file .bar-range{
    width: 200px;
    height: 4px;
    background: #eaeaea;
    margin-top: 10px;
}
.upload-container .upload-file .bar-track{
    height: 4px;
    background: -webkit-linear-gradient(#37b9cf, #37b9cf) no-repeat;
    background-size: 10% 100%;
}
/* 媒体 */

@media screen and (max-width: 826px) {
    .header-tools .header-search-btn {
        max-width: 150px;
    }
    .header-tools .header-search-btn input {
        max-width: 113px;
    }
}
@media screen and (min-width: 827px) and (max-width: 1000px) {
    .header-tools .header-search-btn {
        -webkit-width: calc(100% - 316px - 82px * 2 - 40px * 2);
        -moz-width: calc(100% - 316px - 82px * 2 - 40px * 2);
        width: calc(100% - 316px - 82px * 2 - 40px * 2);
        min-width: 150px;
    }
    .header-tools .header-search-btn input {
        -webkit-width: calc(100% - 67px);
        -moz-width: calc(100% - 67px);
        width: calc(100% - 67px);
        min-width: 113px;
    }
}