<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>问答管理</title>

  <!-- Bootstrap -->

  <link href="../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="../../content/style/common/css/xiaoyuanka/common.css" rel="stylesheet"> -->
  <link href="../../content/style/common/css/common.css" rel="stylesheet">
  <link href="../../content/style/frame/mui/css/mui.min.css" rel="stylesheet">
  <link href="../../content/style/frame/mui/css/mui.picker.min.css" rel="stylesheet">

  <link href="../../content/style/frame/iscroll4/css/pullToRefresh.css" rel="stylesheet">
  <link href="../../content/style/common/css/popup.css" rel="stylesheet">
  <link href="../../content/style/white/wendaguanli/css/wenda.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]> param.month = getOtherDate(getM);
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- smart-QA 标示，暂时没有用到 -->
<body class="smart-QA"> 
  <div class="smart-content">
    <!-- 筛选 -->
    <div class="smart-screen smart-top">
      <div class="row smart-column-list">
        <div class="col-xs-4" id="picker1" setType="states" setid="1">未回答1</div>
        <div class="col-xs-4" id="picker2" setType="types" setid="1">意见反馈1</div>
        <div class="col-xs-4" id="picker3" setType="class1" setid="1">所有分类1</div>
      </div>
    </div>
    <!-- 加载 -->
    <div class="smart-iScroll-container" id="wrapper">
      <!-- 列表 -->
      <ul>
      </ul>
    </div>
    <!-- 更改类型 -->
    <!-- <div class="popup-box popup-selectBtns" style="display: block;">
      <ul>
        <li><button class="active">综合类</button></li>
        <li><button>生活类</button></li>
        <li><button>一卡通</button></li>
        <li><button>学习类</button></li>
      </ul>
    </div> -->
    <!-- 无数据 -->
    <div class="smart-list-nothing">
      <p>无更多数据...<button onclick="$('.smart-list-nothing').hide(0);">重新获取</button></a></p>
    </div>
  </div>
</body>
<script src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
<script src="../../content/style/frame/bootstrap/js/bootstrap.min.js"></script>

<script src="../../content/style/frame/mui/js/mui.min.js"></script>
<script src="../../content/style/frame/mui/js/mui.picker.min.js"></script> 

<script src="../../content/style/frame/iscroll4/js/iscroll-true.js"></script>
<script src="../../content/style/frame/iscroll4/js/pullToRefresh.js"></script>
<script src="../../content/style/frame/iscroll/iscroll-probe.js"></script>
<script src="../../content/style/frame/iscroll4/js/loadMore.js"></script>
<script src="../../content/style/common/js/popup.js"></script>
<script src="../../content/style/white/wendaguanli/js/answer.js"></script>
<script type="text/javascript">
  
  feedbackMGT.isAuthorization();
</script>
</html>
