<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>问答管理</title>

  <!-- Bootstrap -->

  <link href="../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../content/style/common/css/xiaoyuanka/common.css" rel="stylesheet">
  
  <link href="../../content/style/frame/mui/css/mui.min.css" rel="stylesheet">
  <link href="../../content/style/frame/mui/css/mui.picker.min.css" rel="stylesheet">

  <link href="../../content/style/frame/iscroll4/css/pullToRefresh.css" rel="stylesheet">
  <link href="../../content/style/white/wendaguanli/css/wenda.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]> param.month = getOtherDate(getM);
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- smart-QA 标示，暂时没有用到 -->
<body class="smart-QA"> 
  <div class="smart-content">
    <!-- 筛选 -->
    <div class="smart-screen smart-top">
      <div class="row smart-column-list">
        <div class="col-xs-6" id="picker1">全部</div>
        <div class="col-xs-6" id="picker2">意见反馈</div>
      </div>
    </div>
    <!-- 横向滚动 -->
    <div class="smart-probe">
      <div id="wrapper-probe">
        <div id="scroller-probe">
           <ul class="">
             <li class="active"><a>所有分类</a></li>
             <li><a>未分类</a></li>
             <li><a>综合类</a></li>
             <li><a>学习类</a></li>
             <li><a>教务类</a></li>
             <li><a>生活类</a></li>
             <li><a>就业类</a></li>
           </ul>
        </div>
      </div>
    </div>
    <!-- 加载 -->
    <div class="smart-iScroll-container" id="wrapper">
      <!-- 列表 -->
      <ul>
        <li class="smart-QA-container smart-border-bottom">
          <div class="smart-Q">
            <h2><span>Q 张三</span><em>2017/12/12 12:12</em></h2>
            <p>鼠标事件的事件参数是事件对象的数据的各个属性，对于图表的点击事件，基本参数如下，其它图表诸如饼图可能会有部分附加参数。</p>
          </div>
          <div class="smart-A">
            <h2><span>A 李四</span><em>2017/12/12 12:12</em></h2>
            <p>例如饼图会有percent属性表示百分比，具体见各个图表类型的 label formatter 回调函数的 params。</p>
          </div>
          <div class="smart-A-btns">
            <a href="answer.html" class="smart-A-reviseBtn">修改回复</a>
          </div>
        </li>
        <li class="smart-QA-container smart-border-bottom">
          <div class="smart-Q">
            <h2><span>Q 张三</span><em>2017/12/12 12:12</em></h2>
            <p>关于我们 · runoob.com All Ri 关注微信 Copyright © 2013-2017 菜鸟教程 runoob.com All Rights Reserved. 备案号:闽ICP备15012807号-1 微信关注</p>
          </div>
          <div class="smart-A-btns">
            <label>生活类</label><a href="answer.html" class="smart-A-reviseBtn">回复</a>
          </div>
        </li>
        <li class="smart-QA-container smart-border-bottom">
          <div class="smart-Q">
            <h2><span>Q 张三</span><em>2017/12/12 12:12</em></h2>
            <p>鼠标事件的事件参数是事件对象的数据的各个属性，对于图表的点击事件，基本参数如下，其它图表诸如饼图可能会有部分附加参数。</p>
          </div>
          <div class="smart-A">
            <h2><span>A 李四</span><em>2017/12/12 12:12</em></h2>
            <p>有了上面两个公式以后，我们就可以获得球面上所需要的平均分布的点。然后再对每个标签进行操作：</p>
          </div>
          <div class="smart-A-btns">
            <label>学习类</label><a href="answer.html" class="smart-A-reviseBtn">修改回复</a>
          </div>
        </li>
      </ul>
    </div>
    <!-- 无数据 -->
    <div class="smart-list-nothing">
      <p>无更多数据...<button onclick="$('.smart-list-nothing').hide(0);">重新获取</button></a></p>
    </div>
  </div>
</body>
<script src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
<script src="../../content/style/frame/bootstrap/js/bootstrap.min.js"></script>

<script src="../../content/style/frame/mui/js/mui.min.js"></script>
<script src="../../content/style/frame/mui/js/mui.picker.min.js"></script> 

<script src="../../content/style/frame/iscroll4/js/iscroll-true.js"></script>
<script src="../../content/style/frame/iscroll4/js/pullToRefresh.js"></script>
<script src="../../content/style/frame/iscroll/iscroll-probe.js"></script>
<script src="../../content/style/frame/iscroll4/js/loadMore.js"></script>
<script src="../../content/style/white/wendaguanli/js/wenda.js"></script>

<script type="text/javascript">

// 获取ajax 列表 
// 进入页面第一次加载数据列表 
// getAjaxList ({
//   url:"http://localhost:3000/", // 接口地址
//   data:{
//     type:"list",
//   },                            // 传参
//   listType:"allList",           //列表类型：tongji.html:          
//   //                                             allList   (所有列表); 
//   //                                             specifyList  (指定列表，如6个月列表);
//   //                                        chaliushui.html:
//   //                                             streamList (所有列表);
//   //                                             streamSpecifyList  (指定某一个设备列表);
//   parentObj:$("#wrapper ul"),   // 列表容器
//   num:4                         // 列表个数（仅限本地模拟）
// });
// 显示无数据 并点击“重新获取” 操作
// $(".smart-list-nothing").show(0);
// $(".smart-list-nothing button").on("click",function(){
//   $(this).parent().hide(0,function (){
//     // 获取列表
//     getAjaxList ({
//       url:"http://localhost:3000/", 
//       data:{
//         type:"list",
//       },                           
//       listType:"allList",
//       parentObj:$("#wrapper ul"),  
//       num:4                         
//     });
//     // 获取图表 
//     // 配置 config_bar 和 config_pie
//     // 调用 myEcharts.createEcharts(config_bar);
//     //      myEcharts.createEcharts(config_pie);
    
//   })
// })

// scroll 事件
var option = {
    id:"wrapper", 
    pullDown:function (){
        wrapper.refresh();
    },
    pullUp:function (){
        setTimeout(function() {
          console.log("加载 ... ");
          // 加载 ... 
          wrapper.refresh();
        }, 1000);
    }
}

loadMore.scroll(option);
</script>
</html>
