.smart-content ul{
	padding: 0;
	background: #efefef;
}
.smart-content ul li {
	height:50px;
	display: block;
	line-height: 50px;
	padding:0 15px;
	color:#3c3c3c;
	margin-top: 10px;
	background: #fff;
	transition: background .1s ease-in;
	-webkit-transition: background .1s ease-in;
	position: relative;
}
.smart-content ul li:first-child{
	margin-top: 0;
}
.smart-content ul li:last-child{
	border-bottom: 1px solid #efefef;
}
.smart-content ul li:active{
	text-decoration: none;
	background: #efefef;
}
.smart-content ul li[set_target]:after{
	content: " ";
	background: url(../img/back-2.png) no-repeat;
	background-size:100%;
	position: absolute;
	width: 20px;
	height:20px;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	top:50%;
	right:15px;
	margin-top:-10px;
}