html,body {
  background: #fff;
  overflow: hidden;
}
.sr-only{
  font-size: 14px;
  width: 30%;
  min-width: 60px;
  max-width: 60px;
  height: 100%;
  position: static;
  font-weight: normal;
  vertical-align: middle;

}
.smart-input{
  display: inline-block;
  width:65%;
  vertical-align: middle;
  border:0;
  box-shadow: none;
  font-size: 14px;
  height: 34px;
  outline: none;
  margin-left: 5%;
}
.smart-btn{
  width: 90%;
  font-size: 16px;
  padding:10px 0;
  display: block;
  margin: 4rem auto;
  background-color:#e2e2e2;
  border:1px solid;
  border-color:#e2e2e2;
  border-radius:5px;
  color:#fff;
  outline: normal;
  transition: opacity .1s ease-in;
  -webkit-transition: opacity .1s ease-in;
/*  transition: background-color .1s ease-in, border-color.1s ease-in;
  -webkit-transition: background-color .1s ease-in, border-color.1s ease-in;*/

}
.smart-btn:active{
  opacity: .7;
/*  background-color:#37d2fe;
  border-color:#37d2fe;*/
}