/* smart-screen 筛选*/
.smart-screen{
	width: 100%;
	position: absolute;
	z-index: 2;
	top:45px;
	left:0;
}
.smart-screen-mask{
	display: none;
 	position: fixed;
 	z-index: 1;
 	width: 100%;
 	height: 100%;
 	background: rgba(0,0,0,.6);
}
.smart-screen .smart-column-list{
	padding: 0;
	height: 40px;
	line-height: 40px;
	/*border:1px solid #efefef;*/
}
.smart-screen div[class^="col-xs"]{
	text-align: center;
	color:#6d6d6d;
	transition: color .2s ease-in;
	-webkit-transition: color .2s ease-in;

}
.smart-screen div[class^="col-xs-4"]:after{
	content:" ";
	background: url(../../custom/img/screen-1.png) no-repeat center;
	vertical-align: middle;
	margin-top: -2px;
	width: 20px;
	height: 20px;
	display: inline-block;
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	transition: transform .2s ease-in,background .1s ease-in;
	-webkit-transition: transform .2s ease-in,background .1s ease-in;
}
.smart-screen div[class^="col-xs-4"].smart-active{
	color:#73d2fe;
}
.smart-screen div[class^="col-xs-4"].smart-active:after{
	background: url(../../custom/img/screen-2.png) no-repeat center;
	transform: rotateX(-180deg);
	-webkit-transform: rotateX(-180deg);
}
.smart-screen .smart-screen-list{
	display: none;
}
.smart-screen div[class^="col-xs-12"]{
	font-size: 15px;
	color:#3c3c3c;
	height: 45px;
	line-height: 45px;
	background: rgba(255,255,255,1);
	border-bottom:1px solid #e0e0e0;
	transition: background .1s ease-in;
	-webkit-transition: background .1s ease-in;
}
.smart-screen div[class^="col-xs-12"]:first-child{
	border-top:1px solid #e0e0e0;
}
.smart-screen div[class^="col-xs-12"]:active{
	background: rgba(222,222,222,1);
}
/* 手风琴 accordion */
.panel-group .panel+.panel{
	margin-top: 0;
}
.panel-group {
  margin-top: 40px;
}
.panel{
	box-shadow:none;
}
#accordion a {
  text-decoration: none;
}
.smart-accordion{
	font-size: 0;
}
.smart-accordion .panel-heading{
	position: relative;
	line-height: 50px;
}
.smart-accordion a[data-toggle]{
	display: block;
	height: 30px;
	position: relative;
}
.smart-accordion a[data-toggle] .smart-accordion-head,.smart-accordion .smart-accordion-content,.smart-accordion .smart-accordion-foot{
	display:inline-block;
}
.smart-accordion a[data-toggle] .smart-accordion-head{
	color:#0f0f0f;
	width:28px;
	font-size: 14px;
	text-align: center;
	height: 100%;
	line-height: 15px;
}
.smart-accordion a[data-toggle] .smart-accordion-head span{
	font-size: 12px;
	color:#8d8d8d;
	display: block;
}
.smart-accordion .panel-group .panel,
.smart-accordion .panel-heading{
	border-radius: 0px;
}
.smart-accordion .panel-default>.panel-heading,.smart-accordion .panel-default{
	border:none;
	background: #fff;
}
.smart-accordion .panel-default{
	border-bottom:1px solid #e0e0e0;
}
.smart-accordion .smart-accordion-content{
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	left:0;
	padding:0 60px 0 40px ;
}
.smart-accordion .smart-accordion-content .smart-accordion-bar{
	height: 100%;
	margin-left: -10%;
}
.smart-accordion .panel-body{
	border-top:0!important;
	padding:0 ;
	font-size: 14px;
}
/*手风琴效果的结尾图标*/
.smart-accordion .panel-heading .smart-list-end-icon{
	right:35px;
}
.smart-accordion .panel-heading .smart-list-end-icon:after{
	content: " ";
	background: url(../../custom/img/screen-1.png) no-repeat center;
	position: absolute;
	width: 26px;
	height:26px;
	top:50%;
	right: -21px;
	margin-top: -13px;
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	transition: transform .2s ease-in,background .1s ease-in;
	-webkit-transition: transform .2s ease-in,background .1s ease-in;
}
.smart-accordion .panel-heading.smart-active .smart-list-end-icon:after{
	/*background: url(../../custom/img/screen-2.png) no-repeat center;*/
	transform: rotateX(-180deg);
	-webkit-transform: rotateX(-180deg);
}
/* 手风琴效果的列表修改 */
.smart-accordion .smart-sub-list{
	border:0;
	display: none;
}
.smart-accordion .smart-sub-list .smart-sub-list-item{
	height: 60px;
	padding:10px 15px;
}

.smart-accordion .smart-sub-list .smart-sub-list-item .smart-accordion-head,
.smart-accordion .smart-sub-list .smart-sub-list-item .smart-accordion-content{
	line-height: 20px;
	display: inline-block;
}
.smart-accordion .smart-sub-list .smart-sub-list-item .smart-accordion-head {
	color: #a8a8a8;
    width: 28px;
    font-size: 14px;
    text-align: center;
    height: 100%;
}
.smart-accordion .smart-sub-list .smart-sub-list-item .smart-accordion-head span{
	font-size: 12px;
	color: #a8a8a8;
	display: block;
}
.smart-accordion .smart-sub-list .smart-sub-list-item:nth-child(odd):after{
	left:50px;
}
.smart-accordion .smart-sub-list .smart-sub-list-item:nth-last-of-type(2):after{
	height: 0;
}
.smart-accordion .smart-sub-list .smart-sub-list-item:first-child{
	border-top: 1px solid #e0e0e0;
}
.smart-accordion .smart-sub-list .smart-sub-list-item .smart-accordion-content{
	height: 60px;
	padding:10px 58px;
}
.smart-accordion .smart-sub-list .smart-sub-list-item .smart-accordion-content h3{
	font-size: 15px;
	margin: 0;
	line-height: 20px;
}
.smart-accordion .smart-sub-list .smart-sub-list-item .smart-accordion-content p{
	font-size: 12px;	
	margin: 0;
	line-height: 20px; 
	color:#a8a8a8;
}
.smart-accordion .smart-sub-list .smart-sub-list-item .smart-list-end-icon{
	padding:10px 0;
	line-height: 20px;
}
.smart-accordion .smart-sub-list .smart-sub-list-item .smart-list-end-icon[set-status=pay]{
	color:#ee5b17;
}
.smart-accordion .smart-sub-list .smart-sub-list-item .smart-list-end-icon[set-status=income]{
	color:#01e699;
}
.smart-accordion .smart-sub-list .smart-sub-list-item.smart-sub-list-item-content{
	background: #efefef;
	margin-top:-1px;
	border-top:1px solid #e0e0e0;
	height: auto;
	padding: 10px 0 10px 58px;
	color:#a8a8a8;
	font-size: 12px;
	line-height: 12px;
	display: none;
}
.smart-accordion .smart-sub-list .smart-sub-list-item.smart-sub-list-item-content:after{
	left:0px;
	
}
.smart-accordion .smart-sub-list .smart-sub-list-item.smart-sub-list-item-content label{
	font-weight: normal;
	
}
.smart-accordion .smart-sub-list .smart-sub-list-item.smart-sub-list-item-content span{
	
}
.smart-accordion .smart-sub-list .smart-sub-list-item.smart-sub-list-item-content [class^="col-xs"]{
	margin:2px 0 ;
	height: 16px;
	line-height: 16px;
}
/*.smart-accordion .smart-sub-list .smart-sub-list-item.smart-sub-list-item-content .col-xs-6:nth-child(even){
	margin-left: -15px;
}*/