.smart-container {
	position: relative;
	overflow: hidden;
}

.smart-container .smart-container-icon {
	font-size: 30px;
	font-style: normal;
	position: absolute;
	top: 60px;
	left: 20px;
}
.smart-container .smart-container-icon img{
	margin-top: -10px
}

.smart-container .smart-container-title {
	display: block;
	padding: 20px 20px 10px 20px;
	font-size: 16px;
	margin:0;
}

.smart-container input[type=number] {
	height: 42px;
	font-size: 40px;
	display: block;
	width: 100%;
	border: none;
	outline: none;
	margin: 10px 0 0 20px;
	border-bottom: 1px solid #efefef;
	padding-left: 35px;
	padding-bottom: 10px;
}

.smart-container {
	background: #fff;
}

.smart-container .smart-container-text {
	resize: none;
	border: none;
	display: block;
	width: 100%;
	margin-top: 20px;
	padding:0 20px;
	height: 60px
}
.smart-content .smart-container-sure-btn{
	outline: none;
	width: 80%;
	display: block;
	border-radius: 5px;
	background-color: #dfdfdf;
	border:none;
	font-size: 16px;
	margin: 20px auto;
	padding: 10px 0;
	color:#fff;
	transition: background-color .2s ease-in;
	-webkit-transition: background-color .2s ease-in;
}
.smart-content .smart-container-sure-btn:active{
	background-color:#73d2fe;
}
