/* 输入框眼睛 */
.smart-icon-eye{
	position: absolute;
	width: 30px;
	height: 100%;
	right: 10px;
}
.smart-icon-eye:before,.smart-icon-eye-hide:before,.smart-icon-eye-clear:before{
	content:" ";
	position: absolute;
	width: 30px;
	height: 30px;
	top:50%;
	margin-top: -15px;
}
.smart-icon-eye:before{
	background: url(../img/show.png) no-repeat;
	background-size:100%;
}
.smart-icon-eye-hide:before{
	background: url(../img/hide.png) no-repeat;
	background-size:100%;
}
.smart-icon-eye-clear:before{
	background: url(../img/clear.png) no-repeat;
	background-size:100%;
}
