.dis-shou-hide{
	font-size: 14px;
	color: #46a0af;
}
.navbar{
	z-index: 1;
}
.xysq .contant-text .height-value{
	font-size: 16px;
	margin: 5px 0;
	font-family: "微软雅黑";
}
.xysq .p-gdpl-text{
	margin-top: 8px !important;
}
.list-zl .row{
	padding-bottom: 15px;
}
