<!--  -->
<style type="text/css" media="screen">
.myTooltip .title{
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    padding-top: 2px;
    background: #259beb;
    color:#fff;
    font-style: 12px;
    font-weight: normal;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.myTooltip .myTooltipBox{
    padding: 10px;
    margin-top: -20px;
}
</style>
<!--  -->
<div id="myChartLine" style="width:1000px ;height:400px;margin:0 auto;"></div>


<script type="text/javascript">
    require(['../normal/js/checkbox-line'],function(line){
        console.log('line :',line);
        line();
    })
    
</script>