<div class="header-page-content">
    <div class="navbar-collapse">
        <!-- logo-->
        <div class="navbar-header">
            <div class="navbar-brand">
                微校园后台管理系统
            </div>
        </div>
        <!-- logo end-->
        <!-- Quick Actions -->
        <ul class="nav navbar-nav quick-actions">
            <li class="dropdown">
                <a href="#">
                    <i class="ico-mail"></i>
                    <span class="label">1</span>
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="ico-theme"></i>
                </a>
                <ul class="dropdown-menu arrow settings">
                    <li>
                        <ul id="color-schemes">
                            <li><a href="#" class="bg-1"></a></li>
                            <li><a href="#" class="bg-2"></a></li>
                            <li><a href="#" class="bg-3"></a></li>
                            <li><a href="#" class="bg-4"></a></li>
                            <li><a href="#" class="bg-5"></a></li>
                            <li><a href="#" class="bg-6"></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown user">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="profile-photo">
                        <img src="../content/normal/images/profile-photo.jpg" alt />
                    </span>
                    系统管理员
                    <i class="ico-arr-dropdown"></i>
                </a>
                <ul class="dropdown-menu arrow settings">
                    <li>
                        <a href="#"><i class="fa fa-user"></i>基本信息</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope"></i>消息<span class="badge badge-red" id="user-inbox">3</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#"><i class="fa fa-power-off"></i>退出系统</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="language">英文版</a>
            </li>
        </ul>
        <!-- /Quick Actions -->
        <!-- Search -->
        <div class="search" id="main-search">
            <input type="text" placeholder="Search..."><i class="ico-search"></i>
        </div>
        <!-- Search end -->
    </div>
</div>
