<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>管理中心</title>
    <link rel="stylesheet" type="text/css" href="../content/plugin/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../content/common/css/common.css">
    <link rel="stylesheet" type="text/css" href="../content/module/index/css/index.css">
    <!-- js -->
    <script type="text/javascript" src="../content/plugin/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../content/plugin/bootstrap/js/bootstrap.min.js"></script>
    
</head>

<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="../content/common/img/logo.png">
                <span>快享管理中心</span>
            </div>
            <nav>
                <ul>
                    <li><a href="maillist/maillist.html">通讯录</a></li>
                    <li><a>企业数据</a></li>
                    <li><a>标签管理</a></li>
                    <li><a>运营为管理</a></li>
                    <li><a>设置</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- container -->
    <div class="container">
        <!-- left -->
        <div class="container-left container-nav">
            <div class="synjones-logo">
                <img src="../content/common/img/synjones.png">
            </div>
            <h2 class="synjones-name">新中新集团</h2>
            <div>
                <p><span>组织人数</span><em>1200人</em></p>
                <p><span>部门数</span><em>62人</em></p>
                <p><span>昨日使用人数</span><em>668人</em></p>
            </div>
            <div>
                <p><span>组织存储使用量</span><em>32G<i>/120G</i></em></p>
            </div>
        </div>
        <!-- right -->
        <div class="container-right container-box">
            <h2>快捷入口</h2>
            <ul class="tools">
                <li>
                    <a href="#n">
                        <img src="../content/common/img/biaoqianguanli@3x.png">
                        <span>企业数据</span>
                    </a>
                </li>
                <li>
                    <a href="#n">
                        <img src="../content/common/img/qiyeshuju@3x.png">
                        <span>组织存储</span>
                    </a>
                </li>
                <li>
                    <a href="#n">
                        <img src="../content/common/img/zuzhicunchu@3x.png">
                        <span>标签管理</span>
                    </a>
                </li>
                <li>
                    <a href="#n">
                        <img src="../content/common/img/biaoqianguanli@3x.png">
                        <span>企业数据</span>
                    </a>
                </li>
                <li>
                    <a href="#n">
                        <img src="../content/common/img/qiyeshuju@3x.png">
                        <span>组织存储</span>
                    </a>
                </li>
                <li>
                    <a href="#n">
                        <img src="../content/common/img/zuzhicunchu@3x.png">
                        <span>标签管理</span>
                    </a>
                </li>
                <li>
                    <a href="#n">
                        <img src="../content/common/img/biaoqianguanli@3x.png">
                        <span>企业数据</span>
                    </a>
                </li>
                <li>
                    <a href="#n">
                        <img src="../content/common/img/qiyeshuju@3x.png">
                        <span>组织存储</span>
                    </a>
                </li>
                <li>
                    <a href="#n">
                        <img src="../content/common/img/zuzhicunchu@3x.png">
                        <span>标签管理</span>
                    </a>
                </li>
                <li>
                    <a href="#n">
                        <img src="../content/common/img/biaoqianguanli@3x.png">
                        <span>企业数据</span>
                    </a>
                </li>
                <li>
                    <a href="#n">
                        <img src="../content/common/img/qiyeshuju@3x.png">
                        <span>组织存储</span>
                    </a>
                </li>
                <li>
                    <a href="#n">
                        <img src="../content/common/img/zuzhicunchu@3x.png">
                        <span>标签管理</span>
                    </a>
                </li>
                <li>
                    <a href="#n">
                        <img src="../content/common/img/biaoqianguanli@3x.png">
                        <span>企业数据</span>
                    </a>
                </li>
                <li>
                    <a href="#n">
                        <img src="../content/common/img/qiyeshuju@3x.png">
                        <span>组织存储</span>
                    </a>
                </li>
                <li>
                    <a href="#n">
                        <img src="../content/common/img/zuzhicunchu@3x.png">
                        <span>标签管理</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>