html{
  font-size: calc(100vw/3.75);
  background:#fff;
}
html *{
  margin:0;
  padding: 0; 
  font-style:normal;
}
button{
  outline-style: none;
}
body{
  background: #e0e0e0;
  overflow:hidden;
}
.clearfix:after{
  content:" ";
  height: 0;
  display: block;
  clear:both;
}
/* selected */
.selected{
  display: none;
}
.top{
  height: calc( 100vh - 1.45rem);
  background: #fff;
  padding-top: 1rem;
}
.top-img{
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
  text-align:center;
  overflow:hidden;
  /*border-radius: 50%;*/
}
.top-img img{
  width: 100%;
}
.top-tips{
  padding-top: .58rem;
  text-align: center;
}
.top-tips h2{
  font-size: .18rem;
  color:#3c3c3c;
}
.top-tips p{
  width: 75%;
  margin:0 auto;
  padding-top: .2rem;
  font-size: .14rem;
  color:#8d8d8d;
  line-height: 2em;
}
.bottom,.upload-btns{
  height: 1.45rem;
  background: #fff;
  margin-top:1px;
  padding: .5rem 1rem 0 1rem;
}
.bottom button,
.upload-btns button{
  width: .45rem;
  /*height: .6rem;*/
  border:0;
  background: #fff;
  color:#3c3c3c;
  font-size: .14rem;
  float:left;
  text-align: center;
}
.bottom button:last-child{
  float:right;
}
.bottom button img{
  display: block;
  height: .45rem;
  margin: 0 auto;
}
/* upload */
.upload{
  position: absolute;
  width: 100%;
  top:0;
  bottom:0;
  background: #fff;
  display: none;
  text-align: center;
}
.upload-box{
  height: 100vw;
  margin-top: .5rem;
  position: relative;
  z-index: 4;
}
.upload-box >div{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  overflow:hidden;
  position: absolute;
  top: calc(50% - .75rem);
  left: calc(50% - .75rem);
  z-index: 1;
}
.upload-box >div img{
  width: 100%;
}
.tips{
  max-width: 2.5rem;
  display: inline-block;
  line-height: 2em; 
  padding-top:.1rem;
  text-align: center;
  text-indent: .3rem;
  background: url(../images/icon-2.png) no-repeat left top .1rem;
  background-size: .3rem;
  opacity: 0;
}
.tips a{
  color:#73d2fe;
}
.upload .tips.tipShow,
.upload.upload-transition .tips{
  opacity: 1;
}
/* bg line */

.upload div[class*='bg-']{
  position: absolute;
  width: 100vw;
  height: 100vw;
  top:.5rem;
  left:0;
  opacity:0;
}
.upload .bg-1{
  z-index: 3;
  width: 2.4rem;
  height: 2.4rem;
  top:calc(50% - 1.2rem);
  left:calc(50% - 1.2rem);
  border-radius: 50%;
  transform:rotateZ( -180deg);
  -webkit-transform:rotateZ( -180deg);
  -o-transform:rotateZ( -180deg);
  -moz-transform:rotateZ( -180deg);
  background: url(../images/bg-1.png) no-repeat center;
  background-size:1rem;
  transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
}
.upload .bg-2{
  z-index: 2;
  width: 3rem;
  height: 3rem;
  top:calc(50% - 1.5rem);
  left:calc(50% - 1.5rem);
  border-radius: 50%;
  background: url(../images/bg-2.png) no-repeat center;
  background-size: 1rem;
  transition: all .5s ease-in .5s;
  -webkit-transition: all .5s ease-in .5s;
}
.upload .bg-3{
  z-index: 1;
  border-radius: 50%;
  background: url(../images/bg-3.png) no-repeat center;
  background-size: 1rem;
  transition: all .5s ease-in 1s;
  -webkit-transition: all .5s ease-in 1s;
}
/* transiton */
.upload.show .bg-1{
  opacity:1;
  background-size: 3.4rem;
}
.upload.show .bg-2{
  opacity:1;
  background-size: 3.3rem;
}
.upload.show .bg-3{
  opacity:1;
  background-size: 3.5rem;
}
.upload.upload-transition .bg-3{
  animation: uploadAnimate 10s linear infinite both;
  -webkit-animation: uploadAnimate 10s linear infinite both;
  -o-animation: uploadAnimate 10s linear infinite both;
  -moz-animation: uploadAnimate 10s linear infinite both;
}
.upload.upload-transition-paused .bg-3{
  animation-play-state:paused;
  -webkit-animation-play-state:paused;
  -o-animation-play-state:paused;
  -moz-animation-play-state:paused;
}
@-webkit-keyframes uploadAnimate {
  from { 
    transform:rotateZ( 0deg);
    -webkit-transform:rotateZ( 0deg);
    -o-transform:rotateZ( 0deg);
    -moz-transform:rotateZ( 0deg);
  }
  to { 
    transform:rotateZ( 360deg);
    -webkit-transform:rotateZ( 360deg);
    -o-transform:rotateZ( 360deg);
    -moz-transform:rotateZ( 360deg);
  }
}
@-o-keyframes uploadAnimate {
  from { 
    transform:rotateZ( 0deg);
    -webkit-transform:rotateZ( 0deg);
    -o-transform:rotateZ( 0deg);
    -moz-transform:rotateZ( 0deg);
  }
  to { 
    transform:rotateZ( 360deg);
    -webkit-transform:rotateZ( 360deg);
    -o-transform:rotateZ( 360deg);
    -moz-transform:rotateZ( 360deg);
  }
}
@-moz-keyframes uploadAnimate {
  from { 
    transform:rotateZ( 0deg);
    -webkit-transform:rotateZ( 0deg);
    -o-transform:rotateZ( 0deg);
    -moz-transform:rotateZ( 0deg);
  }
  to { 
    transform:rotateZ( 360deg);
    -webkit-transform:rotateZ( 360deg);
    -o-transform:rotateZ( 360deg);
    -moz-transform:rotateZ( 360deg);
  }
}
@keyframes uploadAnimate {
  from { 
    transform:rotateZ( 0deg);
    -webkit-transform:rotateZ( 0deg);
    -o-transform:rotateZ( 0deg);
    -moz-transform:rotateZ( 0deg);
  }
  to { 
    transform:rotateZ( 360deg);
    -webkit-transform:rotateZ( 360deg);
    -o-transform:rotateZ( 360deg);
    -moz-transform:rotateZ( 360deg);
  }
}
.upload.upload-transition .bg-2{
  animation: uploadBeforeAnimate 10s linear infinite reverse both;
  -webkit-animation: uploadBeforeAnimate 10s linear infinite reverse both;
  -o-animation: uploadBeforeAnimate 10s linear infinite reverse both;
  -moz-animation: uploadBeforeAnimate 10s linear infinite reverse both;
}
.upload.upload-transition-paused .bg-2{
  animation-play-state:paused;
  -webkit-animation-play-state:paused;
  -o-animation-play-state:paused;
  -moz-animation-play-state:paused;
}
@-webkit-keyframes uploadBeforeAnimate {
  from { 
    transform:rotateZ( 360deg);
    -webkit-transform:rotateZ( 360deg);
    -o-transform:rotateZ( 360deg);
    -moz-transform:rotateZ( 360deg);
  }
  to { 
    transform:rotateZ( 0deg);
    -webkit-transform:rotateZ( 0deg);
    -o-transform:rotateZ( 0deg);
    -moz-transform:rotateZ( 0deg);
  }
}
@-o-keyframes uploadBeforeAnimate {
  from { 
    transform:rotateZ( 0deg);
    -webkit-transform:rotateZ( 0deg);
    -o-transform:rotateZ( 0deg);
    -moz-transform:rotateZ( 0deg);
  }
  to { 
    transform:rotateZ( 360deg);
    -webkit-transform:rotateZ( 360deg);
    -o-transform:rotateZ( 360deg);
    -moz-transform:rotateZ( 360deg);
  }
}
@-moz-keyframes uploadBeforeAnimate {
  from { 
    transform:rotateZ( 0deg);
    -webkit-transform:rotateZ( 0deg);
    -o-transform:rotateZ( 0deg);
    -moz-transform:rotateZ( 0deg);
  }
  to { 
    transform:rotateZ( 360deg);
    -webkit-transform:rotateZ( 360deg);
    -o-transform:rotateZ( 360deg);
    -moz-transform:rotateZ( 360deg);
  }
}
@keyframes uploadBeforeAnimate {
  from { 
    transform:rotateZ( 0deg);
    -webkit-transform:rotateZ( 0deg);
    -o-transform:rotateZ( 0deg);
    -moz-transform:rotateZ( 0deg);
  }
  to { 
    transform:rotateZ( 360deg);
    -webkit-transform:rotateZ( 360deg);
    -o-transform:rotateZ( 360deg);
    -moz-transform:rotateZ( 360deg);
  }
}
.upload.upload-transition .bg-1{
  animation: uploadAfterAnimate 10s linear infinite both;
  -webkit-animation: uploadAfterAnimate 10s linear infinite both;
  -o-animation: uploadAfterAnimate 10s linear infinite both;
  -moz-animation: uploadAfterAnimate 10s linear infinite both;
}
.upload.upload-transition-paused .bg-1{
  animation-play-state:paused;
  -webkit-animation-play-state:paused;
  -o-animation-play-state:paused;
  -moz-animation-play-state:paused;
}
@-webkit-keyframes uploadAfterAnimate {
  from { 
    transform:rotateZ( -180deg);
    -webkit-transform:rotateZ( 180deg);
    -o-transform:rotateZ( 180deg);
    -moz-transform:rotateZ( 180deg);
  }
  to { 
    transform:rotateZ( 180deg);
    -webkit-transform:rotateZ( 180deg);
    -o-transform:rotateZ( 180deg);
    -moz-transform:rotateZ( 180deg);;
  }
}
@-o-keyframes uploadAfterAnimate {
  from { 
    transform:rotateZ( -180deg);
    -webkit-transform:rotateZ( 180deg);
    -o-transform:rotateZ( 180deg);
    -moz-transform:rotateZ( 180deg);
  }
  to { 
    transform:rotateZ( 180deg);
    -webkit-transform:rotateZ( 180deg);
    -o-transform:rotateZ( 180deg);
    -moz-transform:rotateZ( 180deg);;
  }
}
@-moz-keyframes uploadAfterAnimate {
  from { 
    transform:rotateZ( -180deg);
    -webkit-transform:rotateZ( 180deg);
    -o-transform:rotateZ( 180deg);
    -moz-transform:rotateZ( 180deg);
  }
  to { 
    transform:rotateZ( 180deg);
    -webkit-transform:rotateZ( 180deg);
    -o-transform:rotateZ( 180deg);
    -moz-transform:rotateZ( 180deg);;
  }
}
@keyframes uploadAfterAnimate {
  from { 
    transform:rotateZ( -180deg);
    -webkit-transform:rotateZ( -180deg);
    -o-transform:rotateZ( -180deg);
    -moz-transform:rotateZ( -180deg);
  }
  to { 
    transform:rotateZ( 180deg);
    -webkit-transform:rotateZ( 180deg);
    -o-transform:rotateZ( 180deg);
    -moz-transform:rotateZ( 180deg);;
  }
}
/* transiton end*/
.upload-btns{
  position: absolute;
  width: 100%;
  padding-left:.8rem;
  padding-right:.8rem; 
  bottom: 0;
  border-top:.5px solid #e0e0e0;
}
.upload-btns button{
  width: .8rem;
  line-height: .4rem;
  border:1px solid #e0e0e0;
  border-radius:.05rem;
  color:#3c3c3c;
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
}
.upload-btns button:active{
  background: #e0e0e0;
  color:#fff;
}
.upload-btns .upload-btns-sure{
  color:#73defe;
  float:right;
}
.upload-btns .upload-btns-sure:active{
  background: #73d2fe;
  color:#fff;
  border-color:#73d2fe;
}
.upload-btns .upload-btns-change{
  width: 1.2rem;
  float: none;
  display:none;
  margin: 0 auto;
}
.upload-btns.change button{
  display: none;
}
.upload-btns.change .upload-btns-change{
  display: block;
}












/* media */
/*@media screen and (max-width: 320px) {
    html{
        font-size: calc(100vw/3.2);
    }
}
@media screen and (min-width: 376px) and (max-width: 414px) {
    html{
        font-size: calc(100vw/4.14);
    }
}
@media screen and (min-width: 415px) {
    html{
        font-size: 100px;
    }
}


*/