.navbar{
	z-index: 2
}
/* 轮播 */

.carousel-indicators {
	bottom: 0;
	margin-bottom: 0;
	max-height: 113px;
}

.carousel-indicators li {
	width: 15px;
	height: 5px;
	border: 0;
	background: #a8a8a8;
	transition: all .1s ease-in;
	-webkit-transition: all .1s ease-in;
}

.carousel-indicators li.active {
	width: 20px;
	height: 5px;
	border: 0;
	margin: 1px;
}


/* banner */

.banner-box {
	max-height: 85px;
	background: #fff;
	overflow: hidden
}

.banner-box img {
	max-width: 100%;
	max-height: 85px;
}

.smart-baituan .smart-subtitle-h1 {
	background: #fff;
	color: #3c3c3c;
	position: relative;
}

.smart-baituan .smart-subtitle-h1:after {
	left: 20px;
	bottom: 0;
}


/* 社团 */

.smart-teams {
	background: #fff
}

.smart-teams-list {
	font-size: 0;
	margin: 0;
	padding: 20px;
	// width: 1
}

.smart-teams-list li {
	display: inline-block;
	width: 60px;
	vertical-align: top
}

.smart-teams-list li a {}

.smart-teams-list li a img {
	width: 50px;
	display: block;
	margin: 0 auto;
}
.smart-teams-list li a p{
	color:#3c3c3c;
	font-size: 12px;
	text-align: center;
	width: 55px;
	margin: 5px auto;
	// display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;

}
.smart-teams #wrapper {
	position: relative;
	z-index: 1;
	height: 117px;
	overflow: hidden;
	-ms-touch-action: none;
}

.smart-teams #scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	// width: ;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
/* 热门活动 */
.smart-view-box{
	margin-top: 10px;
	background: #fff;
	// padding: 0 20px;
}
.smart-view-list{
	margin: 0;
	padding: 15px 20px;
}
.smart-view-list li{
	
}
.smart-view-list li .smart-view-left{
	width: 50px;
	height: 50px;
	float: left
}
.smart-view-list li .smart-view-left img{
	width: 100%;
}
.smart-view-list li .smart-view-right{
	padding-left: 65px;
}
.smart-view-list li .smart-view-right label{
	font-weight: normal;
	color:#0082a5;
	font-size: 14px;
}
.smart-view-list li .smart-view-right p{
	font-size: 12px;
	color:#3c3c3c;
	text-align: justify;

}
.smart-view-list li .smart-view-right p span{
	color:#0082a5;
	font-size: 12px;
}
.smart-view-list li .smart-view-right >span{
	color:#8d8d8d;
	padding-left: 25px;
}
.smart-view-list li .smart-view-right .smart-view-imgs{
	
}
.smart-view-list li .smart-view-right .smart-view-imgs img{
	width: 23%;
	// height: 50px;
	display: block;
	float:left;
	margin:0 2% 0 0;

}
.smart-view-list li .smart-view-right .smart-view-imgs:after{
	content: " ";
	clear: both;
	display: block;
}