

/* 挂失loss */
.smart-loss .form-signin{
	position: absolute;
	width: 100%;
	top:150px;
	bottom: 0;
	background: #fff;
}


.smart-loss {
	overflow: hidden;
}

.smart-loss .smart-info:before {
	height: 0;
}

.smart-loss .con-img {
	display: none;
	width: 100%;
	height: auto;
	padding: 40px;
	background: #fff;
	position: absolute;
	top: 140px;
	bottom: 0;
}

.smart-loss .con-img img {
	width: 100%;
}

.smart-loss .con-img span {
	display: block;
	color: #A8A8A8;
	font-size: 16px;
	padding: 10px 60px;
	text-align: center;
}
.smart-btn-white:active{
	background: #73d2fe;
	color:#fff;
}
.smart-loss input.log-btn,
.smart-loss button.log-btn {
	padding: 13px;
}

.smart-lockCard{
	background: #fff;
}

.smart-loss .smart-imgBox,
.smart-loss .smart-foot{
	display: none;
}
/*.smart-btn:active{
	background: #73d2fe;
	color:#fff;
}*/