<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>红黑大战</title>

  <!-- Bootstrap -->

  <link href="../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../content/style/white/hongheidazhan/css/index.css" rel="stylesheet"> 
  <link href="../../content/style/frame/pageScroll/css/onepage-scroll.css" rel="stylesheet"> 
  <!-- <link href="../../content/style/frame/" rel="stylesheet"> -->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]> param.month = getOtherDate(getM);
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<!-- <body class="smart-query" > -->
<body class="smart-war">
  <div class="smart-content">
    <!-- 背景图片 -->
    <div class="background-img">
      <div class="background-img-part-1">
        <img src="../../content/style/white/hongheidazhan/images/bg-1.png">  
      </div>
    </div>
    <div class="pages">
      <!-- Progress bar -->
      <div class="smart-progress-bar">
        <div class="smart-progress-bar-left"><em>60%</em></div>
        <div class="smart-progress-bar-right"><em>40%</em></div>
      </div>
      <!-- 红黑阵营 -->
      <div class="smart-war-divs">
        <div class="active"><a></a></div>
        <div><a></a></div>
        <!-- <div><a></a><em class="append"></em></div>
        <div><a></a><em class="defend"></em></div> -->
        <p>当前运动能量：<em>324</em>战力，请选择战队阵营</p>
      </div>
    </div>
    <div class="pages">
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li>11</li>
        <li>12</li>
        <li>13</li>
        <li>14</li>
        <li>15</li>
        <li>16</li>
        <li>17</li>
        <li>18</li>
        <li>19</li>
        <li>20</li>
        <li>21</li>
        <li>22</li>
        <li>23</li>
        <li>24</li>
        <li>25</li>
        <li>26</li>
        <li>27</li>
        <li>28</li>
        <li>29</li>
        <li>30</li>
        <li>31</li>
        <li>32</li>
        <li>33</li>
        <li>34</li>
        <li>35</li>
        <li>36</li>
        <li>37</li>
        <li>38</li>
        <li>39</li>
        <li>40</li>
        <li>41</li>
        <li>42</li>
        <li>43</li>
        <li>44</li>
        <li>45</li>
        <li>46</li>
        <li>47</li>
        <li>48</li>
        <li>49</li>
        <li>50</li>
      </ul>
    </div>
    <div class="pages">
      <ul class="li">1+1</ul>
      <ul class="li">1+2</ul>
      <ul class="li">1+3</ul>
      <ul class="li">1+4</ul>
      <ul class="li">1+5</ul>
      <ul class="li">1+6</ul>
      <ul class="li">1+7</ul>
      <ul class="li">1+8</ul>
      <ul class="li">1+9</ul>
      <ul class="li">1+10</ul>
      <ul class="li">1+11</ul>
      <ul class="li">1+12</ul>
      <ul class="li">1+13</ul>
      <ul class="li">1+14</ul>
      <ul class="li">1+15</ul>
      <ul class="li">1+16</ul>
      <ul class="li">1+17</ul>
      <ul class="li">1+18</ul>
      <ul class="li">1+19</ul>
      <ul class="li">1+20</ul>
      <ul class="li">1+21</ul>
      <ul class="li">1+22</ul>
      <ul class="li">1+23</ul>
      <ul class="li">1+24</ul>
      <ul class="li">1+25</ul>
      <ul class="li">1+26</ul>
      <ul class="li">1+27</ul>
      <ul class="li">1+28</ul>
      <ul class="li">1+29</ul>
      <ul class="li">1+30</ul>
      <ul class="li">1+31</ul>
      <ul class="li">1+32</ul>
      <ul class="li">1+33</ul>
      <ul class="li">1+34</ul>
      <ul class="li">1+35</ul>
      <ul class="li">1+36</ul>
      <ul class="li">1+37</ul>
      <ul class="li">1+38</ul>
      <ul class="li">1+39</ul>
      <ul class="li">1+40</ul>
      <ul class="li">1+41</ul>
      <ul class="li">1+42</ul>
      <ul class="li">1+43</ul>
      <ul class="li">1+44</ul>
      <ul class="li">1+45</ul>
      <ul class="li">1+46</ul>
      <ul class="li">1+47</ul>
      <ul class="li">1+48</ul>
      <ul class="li">1+49</ul>
      <ul class="li">1+50</ul>
      <ul class="li">1+51</ul>
      <ul class="li">1+52</ul>
      <ul class="li">1+53</ul>
      <ul class="li">1+54</ul>
      <ul class="li">1+55</ul>
      <ul class="li">1+56</ul>
      <ul class="li">1+57</ul>
      <ul class="li">1+58</ul>
      <ul class="li">1+59</ul>
      <ul class="li">1+60</ul>
      <ul class="li">1+61</ul>
      <ul class="li">1+62</ul>
      <ul class="li">1+63</ul>
      <ul class="li">1+64</ul>
      <ul class="li">1+65</ul>
      <ul class="li">1+66</ul>
      <ul class="li">1+67</ul>
      <ul class="li">1+68</ul>
      <ul class="li">1+69</ul>
      <ul class="li">1+70</ul>
      <ul class="li">1+71</ul>
      <ul class="li">1+72</ul>
      <ul class="li">1+73</ul>
      <ul class="li">1+74</ul>
      <ul class="li">1+75</ul>
      <ul class="li">1+76</ul>
      <ul class="li">1+77</ul>
      <ul class="li">1+78</ul>
      <ul class="li">1+79</ul>
      <ul class="li">1+80</ul>
      <ul class="li">1+81</ul>
      <ul class="li">1+82</ul>
      <ul class="li">1+83</ul>
      <ul class="li">1+84</ul>
      <ul class="li">1+85</ul>
      <ul class="li">1+86</ul>
      <ul class="li">1+87</ul>
      <ul class="li">1+88</ul>
      <ul class="li">1+89</ul>
      <ul class="li">1+90</ul>
      <ul class="li">1+91</ul>
      <ul class="li">1+92</ul>
      <ul class="li">1+93</ul>
      <ul class="li">1+94</ul>
      <ul class="li">1+95</ul>
      <ul class="li">1+96</ul>
      <ul class="li">1+97</ul>
      <ul class="li">1+98</ul>
      <ul class="li">1+99</ul>
      <ul class="li">1+100</ul>
    </div> 
  </div>
</body>
<script src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
<script src="../../content/style/frame/bootstrap/js/bootstrap.min.js"></script>
<script src="../../content/style/frame/pageScroll/js/onepage-scroll.js"></script>
<script type="text/javascript">
$(function(){

  $('.smart-content').onepage_scroll({

    sectionContainer: '.pages',
    // responsiveFallback: true,
    loop: false

  });

});



</script>
</html>
