.style-box{
    padding: 20px;
}
.console{
}
.console .title{
    margin-top: 32px;
    margin-bottom:10px;
    font-size: 0;
}
.console .title > *{
    display: inline-block;
    vertical-align: middle;
}
.console .title em{
    font-size: 18px;
    margin-right:10px;
}
.btns{
    font-size:0;
}
.btns button:not(:last-child){
    border-right: 0;
}
.white-btn{
    background: #fff;
    border:1px solid #e6e6e6;
    text-align: center;
    padding:0 15px;
    height: 30px;
    font-size: 14px;
}
.white-btn[disabled=disabled]{
    background:none;
    color:#999999;
}

.breadcrumb{
    padding: 0;
    margin-top: 22px;
}
.tips{
    background: #fff2c5;
    font-size: 12px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}