<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>校园一览</title>
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/frame/jquery/tab/css/scroller.css" />
		<link rel="stylesheet" href="../../content/style/frame/jquery/css/jquery.mobile.custom.structure.min.css" />
		<link rel="stylesheet" href="../../content/style/frame/jquery/toast/css/jquery.toast.css" />
		<link rel="stylesheet" href="../../content/style/common/css/zf-common.css" />
		<link rel="stylesheet" href="../../content/style/white/xyyl/css/xyyl.css" />

	</head>

	<body class="xyyl">
		<!--<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" alt="">
				</a>
				<h1>校园一览</h1>
			</div>
		</nav>-->
		<div class="container">
			<div class="tab systab">
				<div class="wrapper wrapper02" id="wrapper02">
					<div class="scroller">
						<ul class="clearfix">
							<li modular="xyjj">
								<a href="javascript:void(0)">校园简介</a>
								<i></i>
							</li>
							<li modular="jgsz">
								<a href="javascript:void(0)">机构设置</a>
								<i></i>
							</li>
							<li modular="xydt">
								<a href="javascript:void(0)">校园地图</a>
								<i></i>
							</li>
							<li modular="xyfg">
								<a href="javascript:void(0)">校园风光</a>
								<i></i>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-modu">
					<div class="xyjj">
						<img src="../../content/style/white/xiaoyuanka/images/ka-jf.png" />
						<div class="xyyl-container">
							<p>
								大连海事大学（Dalian Maritime University），简称海大，是一所以航运为特色，多学科综合发展的交通运输部直属理工类院校，是被国际海事组织认定的海事院校之一。大连海事大学历史悠久，系晚清至新中国建立40余年间中国仅有的三所海运高等院校合并而成。1953年，由东北航海学院、上海航务学院、福建航海专科学校合并成立大连海运学院，1978年被中共中央列入全国重点大学行列。1994年，大连海运学院更名为大连海事大学，并实现交通运输部、教育部、国家海洋局[1]  、辽宁省人民政府和大连市人民政府重点共建，国家“211工程”、“卓越工程师培养计划”、“卓越法律人才教育培养计划”高校。
							</p>
							<p>
								至2016年12月，学校占地面积136.6万平方米，校舍建筑面积87.7万平方米。[2]  拥有设施和功能齐全的航海类专业教学实验楼群、航海训练与研究中心、水上求生训练馆、教学港池、图书馆、游泳馆、天象馆等；拥有航海模拟实验室、轮机模拟实验室等100余个教学科研实验室，拥有2艘远洋教学实习船。在校本科生、研究生共计20000余人。并校60多年来，学校为国家培养了各类高级专业技术人才9万余名，其中大多数已成为我国航运事业的骨干力量。[
							</p>
						</div>
					</div>
					<div class="jgsz">
						<ul>
							<li>
								<a href="xyyl-contant.html">航海学院</a>
							</li>
							<li>
								<a href="xyyl-contant.html">机电工程学院</a>
							</li>
							<li>
								<a href="xyyl-contant.html">信息科学技术学院</a>
							</li>
							<li>
								<a href="xyyl-contant.html">环境程程学院</a>
							</li>
							<li>
								<a href="xyyl-contant.html">装备运输与海洋工程学院</a>
							</li>
							<li>
								<a href="xyyl-contant.html">法学院</a>
							</li>
							<li>
								<a href="xyyl-contant.html">外国语学院</a>
							</li>
							<li>
								<a href="xyyl-contant.html">文学院</a>
							</li>
							<li>
								<a href="xyyl-contant.html">信息科学技术学院</a>
							</li>
							<li>
								<a href="xyyl-contant.html">航海学院</a>
							</li>
							<li>
								<a href="xyyl-contant.html">法学院</a>
							</li>
							<li>
								<a href="xyyl-contant.html">外国语学院</a>
							</li>
							<li>
								<a href="xyyl-contant.html">文学院</a>
							</li>
							<li>
								<a href="xyyl-contant.html">信息科学技术学院</a>
							</li>
							<li>
								<a href="xyyl-contant.html">航海学院</a>
							</li>
						</ul>
					</div>
					<div class="xydt">
						<img src="../../content/style/white/xiaoyuanka/images/ka-jf.png" />
					</div>
					<div class="xyfg">
						<ul>
							<li>
								<a href="xyfc-contant.html">
									<h3>海大杯的竞技者们</h3>
									<p><span class="bot-time">2017/02/11</span></p>
									<img src="../../content/style/white/kongjiaoshi/images/bg-1.png" />
								</a>
								
							</li>
							<li>
								<a href="xyfc-contant.html">
									<h3>海大杯的竞技者们</h3>
									<p><span class="bot-time">2017/02/11</span></p>
									<img src="../../content/style/white/kongjiaoshi/images/bg-1.png" />
								</a>
							</li>
							<li>
								<a href="xyfc-contant.html">
									<h3>海大杯的竞技者们</h3>
									<p><span class="bot-time">2017/02/11</span></p>
									<img src="../../content/style/white/kongjiaoshi/images/bg-1.png" />
								</a>
							</li>
							<li>
								<a href="xyfc-contant.html">
									<h3>海大杯的竞技者们</h3>
									<p><span class="bot-time">2017/02/11</span></p>
									<img src="../../content/custom/img/img-eee.jpg" />
								</a>
							</li>
							<li>
								<a href="xyfc-contant.html">
									<h3>海大杯的竞技者们</h3>
									<p><span class="bot-time">2017/02/11</span></p>
									<img src="../../content/style/white/kongjiaoshi/images/bg-1.png" />
								</a>
							</li>
							<li>
								<a href="xyfc-contant.html">
									<h3>海大杯的竞技者们</h3>
									<p><span class="bot-time">2017/02/11</span></p>
									<img src="../../content/style/white/kongjiaoshi/images/bg-1.png" />
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</body>
	<!--<script type="text/javascript" src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>-->
	<script type="text/javascript" src="../../content/style/frame/jquery/jquery.min.js" ></script>
	<script type="text/javascript" src="../../content/style/frame/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../content/style/frame/iscroll/iscroll.js"></script>
	<script type="text/javascript" src="../../content/style/frame/jquery/tab/js/navbarscroll.js"></script>
	<script type="text/javascript" src="../../content/style/frame/jquery/jquery.mobile.custom.min.js" ></script>
	<script type="text/javascript" src="../../content/style/frame/jquery/toast/js/jquery.toast.js" ></script>
	<script>
		$(function() {
			$('.wrapper').navbarscroll();
		});
		var index_page = 0;
		$(".clearfix li").click(function() {
			index_page = $(this).index();
			$(".tab-modu>div").eq(index_page).css("display", "block").siblings().css("display", "none");
		});
		
		var max_page = $(".clearfix li").length
		$(".tab-modu").on("swiperight",function(){
			console.log(11111111111)
			if(index_page>0){
				index_page--;
				console.log("从左向右滑动"+index_page);
				$(".clearfix li").eq(index_page).addClass("cur").siblings().removeClass("cur");
				$(".tab-modu>div").eq(index_page).css("display", "block").siblings().css("display", "none");
			}else{
				$.toast({
				    text: '当前是第一页 ',
				    showHideTransition: 'fade',
				    allowToastClose: false,
				    hideAfter: 2000,
				    stack: false, 
				    position: 'bottom-center', 
				    textAlign: 'center',
				    loader: false,
				});
			}
		});
		//swipeleft 事件在用户在某个元素上从左滑动超过 30px 时被触发：
		$(".tab-modu").on("swipeleft",function(){
			console.log("********")
			if(index_page<max_page-1){
				index_page++;
				console.log("从右向左滑动"+index_page)
				$(".clearfix li").eq(index_page).addClass("cur").siblings().removeClass("cur");
				$(".tab-modu>div").eq(index_page).css("display", "block").siblings().css("display", "none");
			}else{
				$.toast({
				    text: '当前是最后一页 ',
				    showHideTransition: 'fade',
				    allowToastClose: false,
				    hideAfter: 2000,
				    stack: false, 
				    position: 'bottom-center', 
				    textAlign: 'center',
				    loader: false,
				});
			}
		});
	</script>

</html>