<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>移动办公</title>
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/white/yidongbangong/css/ydbg.css" />
	</head>
	<body>
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" alt="">
				</a>
				<h1>移动办公</h1>
			</div>
		</nav>
		<div class="container jiugongge">
			<div class="row">
				<div class="col-xs-4">
					<img src="../../content/style/white/yidongbangong/images/img-1.png" />
					<span>待办事宜</span>
				</div>
				<div class="col-xs-4">
					<img src="../../content/style/white/yidongbangong/images/img-2.png" />
					<span>已办事宜</span>
				</div>
				<div class="col-xs-4">
					<img src="../../content/style/white/yidongbangong/images/img-3.png" />
					<span>待阅事宜</span>
				</div>
				<div class="col-xs-4">
					<img src="../../content/style/white/yidongbangong/images/img-4.png" />
					<span>已阅事宜</span>
				</div>
				<div class="col-xs-4">
					<img src="../../content/style/white/yidongbangong/images/img-5.png" />
					<span>申请状态</span>
				</div>
				<div class="col-xs-4">
					<img src="../../content/style/white/yidongbangong/images/img-6.png" />
					<span>学校文件</span>
				</div>
				<div class="col-xs-4">
					<img src="../../content/style/white/yidongbangong/images/img-7.png" />
					<span>周会表</span>
				</div>
				<div class="col-xs-4">
					<img src="../../content/style/white/yidongbangong/images/img-8.png" />
					<span>办公通知</span>
				</div>
				<div class="col-xs-4">
					<img src="../../content/style/white/yidongbangong/images/img-9.png" />
					<span>领导日程</span>
				</div>
			</div>
		</div>
	</body>
</html>
