<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>校趣</title>		
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/frame/jquery/tab/css/scroller.css" />
		<link rel="stylesheet" href="../../content/style/frame/jquery/toast/css/jquery.toast.css" />
		<link rel="stylesheet" href="../../content/style/white/xq/css/xq.css" />
		<link rel="stylesheet" href="../../content/style/common/css/zf-common.css" />
	</head>

	<body class="xq">
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" alt="">
				</a>
				<h1>校趣</h1>
				<a href="xq-search.html" class="smart-back smart-icon-right">
					<img src="../../content/style/white/xq/images/xq_search_1.png" alt="">
				</a>
			</div>
		</nav>
		<div class="container">
			<div class="tab">
				<div class="wrapper wrapper02" id="wrapper02">
					<div class="scroller">
						<ul class="clearfix">
							<li modular="kjzl">
								<a href="javascript:void(0)">科技专栏</a>
							</li>
							<li modular="xxtz">
								<a href="javascript:void(0)">信息通知</a>
							</li>
							<li modular="hdyw">
								<a href="javascript:void(0)">海大要闻</a>
							</li>
							<li modular="mthd">
								<a href="javascript:void(0)">媒体海大</a>
							</li>
							<li modular="yshc">
								<a href="javascript:void(0)">艺术荟萃</a>
							</li>
							<li modular="yxfc">
								<a href="javascript:void(0)">院系风采</a>
							</li>
							<li modular="zhxw">
								<a href="javascript:void(0)">综合新闻</a>
							</li>
							<li modular="hdxw">
								<a href="javascript:void(0)">海大新闻</a>
							</li>
							<li modular="gddy">
								<a href="javascript:void(0)">更多订阅</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-modu">
					<div style="display: block;" class="kjzl">
						<ul>
							<li class="row">
								<a class="">
									<div class="li-title">海事系统国际化人才高级研修班（第二期）顺利开班海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
							<li class="row">
								<a class="">
									<div class="li-title">海事系统国际化人才</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
								
							</li>
							<li class="row">
								<a class=" ">
									<div class="li-title">海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
							<li class="row">
								<a class=" ">
									<div class="li-title">海事系统国际化人才高级研修班（第二期）顺利开班海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="xxtz">
						<ul>
							<li class="row">
								<a class=" ">
									<div class="li-title">信息通知海事系统国际化人才高级研修班（第二期）顺利开班海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
							<li class="row">
								<a class=" ">
									<div class="li-title">信息通知海事系统国信息通知际化人才</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
							<li class="row">
								<a class=" ">
									<div class="li-title">海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
							<li class="row">
								<a class=" ">
									<div class="li-title">海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="hdyw">
						<ul>
							<li class="row">
								<a class=" ">
									<div class="li-title">海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
							<li class="row">
								<a class=" ">
									<div class="li-title">海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
							<li class="row">
								<a class=" ">
									<div class="li-title">海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
							<li class="row">
								<a class=" ">
									<div class="li-title">海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="mthd">
						<ul>
							<li class="row">
								<a class=" ">
									<div class="li-title">海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="yshc">
						<ul>
							<li class="row">
								<a class=" ">
									<div class="li-title">海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
							<li class="row">
								<a class=" ">
									<div class="li-title">海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="yxfc">
						<ul>
							<li class="row">
								<a class=" ">
									<div class="li-title">海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
							
						</ul>
					</div>
					<div class="zhxw">
						<ul>
							<li class="row">
								<a class=" ">
									<div class="li-title">海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
							<li class="row">
								<a class=" ">
									<div class="li-title">海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="hdxw">
						<ul>
							<li class="row">
								<a class=" ">
									<div class="li-title">海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-man">学生处</span>
										<span class="bot-list">314</span>
										<span class="bot-time">2017/02/11</span>
									</div>
								</a>
								
							</li>
						</ul>
					</div>
					<div class="gddy liststyle">
						<ul>
							<li class="row">
								<div class="col-xs-4">
									<img src="../../content/style/white/xiaoyuanka/images/ka-jf.png" />
								</div>
								<a class="col-xs-5">
									<div class="li-title">海事系统国际化人才高级研修班利开班海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-read">订阅量(820)</span>
									</div>
								</a>
								<div class="col-xs-3">
									<input type="button" type="button" class="button log-btn con-btn" value="+ 订阅" />
								</div>
							</li>
							<li class="row">
								<div class="col-xs-4">
									<img src="../../content/style/white/xiaoyuanka/images/ka-jf.png" />
								</div>
								<a class="col-xs-5">
									<div class="li-title">海事系统国际化人才高级研修班利开班海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-read">订阅量(820)</span>
									</div>
								</a>
								<div class="col-xs-3">
									<input type="button" type="button" class="button log-btn con-btn" value="+ 订阅" />
								</div>
							</li>
							<li class="row">
								<div class="col-xs-4">
									<img src="../../content/style/white/xiaoyuanka/images/ka-jf.png" />
								</div>
								<a class="col-xs-5">
									<div class="li-title">海事系统国际化人才高级研修班利开班海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-read">订阅量(820)</span>
									</div>
								</a>
								<div class="col-xs-3">
									<input type="button" type="button" class="button log-btn con-btn" value="+ 订阅" />
								</div>
							</li>
							<li class="row">
								<div class="col-xs-4">
									<img src="../../content/style/white/xiaoyuanka/images/ka-jf.png" />
								</div>
								<a class="col-xs-5">
									<div class="li-title">海事系统国际化人才高级研修班利开班海事系统国际化人才高级研修班（第二期）顺利开班</div>
									<div class="li-bottom">
										<span class="bot-read">订阅量(820)</span>
									</div>
								</a>
								<div class="col-xs-3">
									<input type="button" type="button" class="button log-btn con-btn" value="+ 订阅" />
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

</body>
	
	<script type="text/javascript" src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../content/style/frame/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../content/style/frame/iscroll/iscroll.js"></script>
	<script type="text/javascript" src="../../content/style/frame/jquery/tab/js/navbarscroll.js"></script>
	<script type="text/javascript" src="../../content/style/frame/jquery/toast/js/jquery.toast.js"></script>
	<script>
		$(function() {
			$('.wrapper').navbarscroll();
		});
		$(".clearfix li").click(function() {
			var divmodu = $(this).attr("modular");
			console.log(divmodu);
			$("." + divmodu).css("display", "block").siblings().css("display", "none");
		})
		$(".btn-query").click(function() {
			//			hrefurl($(this).href)
		})
		$(".con-btn").click(function() {
			$(this).val("已订阅").addClass("btn-hui");
			$.toast({
				text: '您订阅成功 ',
				showHideTransition: 'fade', // fade, slide or plain
				allowToastClose: false, // Boolean value true or false
				hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
				stack: false,
				position: 'bottom-center',
				textAlign: 'center',
				loader: false,
			});
		});
		$(".tab-modu li").click(function() {
			location.href = "xq-details.html";
		})
	</script>

</html>