html{
    font-size: calc(100vw/3.75);
    
}
html *{
    padding:0;
    margin: 0;
    list-style:none;
}

.smart-column-list > div[class^="col-xs"]{
    font-size: .14rem;
}
/* poppicker css*/
.mui-poppicker{
    bottom: -200%;
    -webkit-transform: translateY(-4rem);
}
.mui-poppicker.mui-active{
    bottom: 0
}
.mui-poppicker-header{
    position: absolute;
    top:-45px;
    background: #fff;
    width: 100%;
    border-top:1px solid #ddd;
}
.mui-poppicker-header .mui-poppicker-btn-ok{
    border: none;
    background-color: #FFFFFF;
    font-size: .16rem;
    color: #73D2FE;
}
.smart-content>h2{
    height: .5rem;
    line-height: .5rem;
    font-size: .15rem;
    font-weight: normal;
    background: url(../../../common/images/continue.png) no-repeat #fff center right .15rem;
    background-size: .2rem;
    padding: 0 .2rem;
}
.smart-content>h2 a{
    color:#73D2FE;
}
.smart-content .smart-screen{
    top:.5rem;
}

.mui-poppicker-body{
    border:0;
}
.mui-picker{
    background-color: #FFFFFF;
}
.mui-poppicker-header .mui-poppicker-btn-cancel,.mui-dtpicker-header button:first-child{
    border: none;
    font-size: .16rem;
    color: #a8a8a8;
}
.mui-pciker-list li{
    font-size:.16rem;
}
.smart-iScroll-container{
    position: absolute;
    width: 100%;
    top:1rem;
    bottom: 0
}
.smart-probe{
    height: .5rem;
    margin-top:.5rem;
    line-height: .5rem;
    padding: 0 .2rem;
    background:#fff;
    display:none;
    
}
.smart-probe ul{
    font-size: 0;
    width: 200%;
}
.smart-probe ul li{
    display:inline-block;
    width: .7rem;
    height: .36rem;
    margin-right: .16rem;
}
.smart-probe ul li a{
    display: block;
    font-size: .14rem;
    line-height: .36rem;
    text-align: center;
    color:#a8a8a8;
    border:1px solid #a8a8a8;
    border-radius:.05rem;
    vertical-align: middle;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}
.smart-probe ul li.active a{
    color:#73d2fe;
    border-color:#73d2fe;
}
.smart-probe ul li a:active{
    color:#73d2fe;
    border-color:#73d2fe;
}
.smart-probe.smart-active{
    display: block;
}
.smart-probe.smart-active + .smart-iScroll-container {
    top:1rem;
}
.smart-screen .smart-column-list{
    height: .5rem;
    line-height: .5rem;
}
/* 问答 */
.smart-QA-container{
    background:#fff;
    padding:.15rem .20rem 0;
}
.smart-QA-container h2{
    height: .3rem;
    line-height: .3rem;
}
.smart-QA-container h2 >span{
    display: inline-block;
    font-size:.16rem;
    color:#2ca4de;
    vertical-align: top;
}
.smart-QA-container h2 >span>i{
    font-size: .14rem;
}
.smart-QA-container h2 > em{
    font-size:.13rem;
    color:#a8a8a8;
    float:right;
}
.smart-QA-container p{
    text-align:justify;
    margin-top:.10rem;
    padding-left:.2rem;
    font-size:.15rem;
    color:#8d8d8d;
}
.smart-A{
    margin-left:.2rem;
    margin-top:.13rem;
    padding:.05rem .15rem .15rem;
    background: #efefef;
    border-radius:.2rem;
    border-top-left-radius:0;
}
.smart-A h2 >span{
    font-size: .14rem;
}
.smart-A h2 >span>i,
.smart-A h2 >span+em{
    font-size: .12rem;
}
.smart-A p{
    color:#3c3c3c;
    padding:0;
    margin: 0;
    font-size: .15rem;
}
.smart-A-btns{
    height:.5rem;
    text-align: right;
}
.smart-A-btns .classBtn{
    height: .25rem;
    display: inline-block;
    line-height: .25rem;
    color:#73d2fe;
    border:1px solid #72defe;
    border-radius:.05rem;
    font-size: .14rem;
    padding: 0 .1rem;
    vertical-align: middle;
    transition:all .2s ease-in;
    -webkit-transition:all .2s ease-in;
}
.smart-A-btns >label{
    height: .2rem;
    background: #72defe;
    display: inline-block;
    line-height: .2rem;
    color:#fff;
    font-size: .12rem;
    padding: 0 .05rem;
    vertical-align: middle;
}
.smart-A-btns .classBtn:active {
    background: #72defe;
    color:#fff;
}
.smart-A-reviseBtn{
    display: inline-block;
    height:.5rem;
    line-height: .5rem;
    border:0;
    font-size:.14rem;
    padding-left:.3rem;
    background:url(../images/icon-A.png) no-repeat left center;
    background-size: .3rem;
    color:#a8a8a8;

}
.smart-border-bottom,
.Echarts-line{
    position:relative;
}
.smart-border-bottom:after,
.Echarts-line:after{
    position:absolute;
    content:" ";
    height: 1px;
    background: #e0e0e0;
    width: 100%;
    bottom: 0;
    left:0;
    transform:rotateX(60deg);
    -webkit-transform: rotateX(60deg);
}
.smart-list-nothing{
    position: absolute;
    width: 100%;
    top:.5rem;
    bottom: 0;
}
.smart-list-nothing{
    display: none;
    background: #fff;
    z-index: 2;
}
.smart-list-nothing p{
    text-align: center;
    position: absolute;
    width: 100%;
    top:50%;
    margin:0;
    margin-top: -20%;
    font-size: .15rem;
    line-height: .15rem;
}
.smart-list-nothing button{
    border:0;
    color:#42c3ef;
    padding:0;
    margin-left: .1rem;
    vertical-align: middle;
}
/* smart-QA-answer */
.smart-QA-answer{
}
.smart-QA-answer textarea{
    display: block;
    font-size:.16rem;
    width: 100%!important;
    padding: .15rem;
    border:0;
    resize:none;
    height: calc(100vh / 2.5)!important;
}

/* smart-answer-statis */
.smart-answer-statis .smart-content{
    padding:.2rem 0;
    background: #fff;
    overflow: hidden;
}
.smart-answer-statis .smart-probe{
    display:block;
    margin-top:0;
}
.smart-answer-statis .smart-statis-box{
    padding:.2rem;
}
.smart-answer-statis .smart-statis-box h2{
    font-size:.15rem;
}
/* Echarts-line */
.smart-Echarts-container{
    position: relative;
}
.smart-Echarts-container ul {
    position: absolute;
    width: .15rem;
    top:.64rem;
    left:.18rem;
    /*display: none;*/

}
.smart-Echarts-container ul li{
    position: relative;  
    height: .345rem;
    width: .15rem;
    
}
.smart-Echarts-container ul li em{
    position: absolute;
    top: calc(50% - 0.07rem);
    left:0;
    font-size: .12rem;
    width: .15rem;
    height:.15rem;
    line-height: .15rem;
    text-align: center;
    color:#fff;
    border-radius:.03rem;
    background: #e0e0e0;
}
.smart-Echarts-container ul li:nth-child(1) em{
    background: #ff5408;
}
.smart-Echarts-container ul li:nth-child(2) em{
    background: #f9ae00; 
}
.smart-Echarts-container ul li:nth-child(3) em{
    background: #01e699; 
}
.Echarts-line{
    height: 3.6rem;
    /*height: calc(100vh - 3.68rem);*/
    padding: 0 .2rem;
}
.Echarts-line:after{
    top:0;
}







/* media */
@media screen and (max-width: 320px) {
    html{
        font-size: calc(100vw/3.2);
    }
    /*.smart-Echarts-container ul {
        margin-top: .05rem;
    }
    .smart-Echarts-container ul li{
        width: .14rem;
        height: .14rem;
        margin: .05rem 0 0 0;
    }*/
}
@media screen and (min-width: 376px) and (max-width: 414px) {
    html{
        font-size: calc(100vw/4.14);
    }
}
@media screen and (min-width: 415px) {
    html{
        font-size: 100px;
    }
}


