<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>turntable</title>
	<link rel="stylesheet" href="../content/css/turntable.css">
</head>
<body>
	<div id="turntable">
		<div class="content">
			<div class="bg"><img src="../content/img/img-2.png" alt=""></div>
			<div class="pointer"><img src="../content/img/img-1.png" alt=""></div>
		</div>
	</div>
</body>
<script>
	var pointer = document.querySelector(".pointer");
	var bg = document.querySelector(".bg");
	var cat = parseFloat((360 / 7).toFixed(1));
	var endNum = 0;
	var isOff = true;
	pointer.addEventListener("click",function(){
		// console.log(this);
		if(isOff){
			isOff = !isOff;
			bg.style.transform = "rotate(0deg)";
			InRotation();
		}

		
	});
	function InRotation(){
		clearInterval(timer);
		var rdm = 0;
		var timer = setInterval(function(){
			console.log(rdm,'/',rdm/360)
			if(Math.floor(rdm / 360 < 3)){
				rdm = Math.floor(Math.random()*360 * 10);
			}else{
				bg.style.transform = "rotate(" + rdm + "deg)";
				clearInterval(timer)
				isOff = !isOff;
				endNum = rdm % 360;
				console.log('endNum = ',endNum);
				setTimeout(function(){
					if (endNum <= cat * 1) { 
						alert("4999元"); 
						console.log("rdm=" + rdm + "，endNum=" + endNum + "，" + "4999元"); 
					}else if (endNum <= cat * 2) { 
						alert("50元"); 
						console.log("rdm=" + rdm + "，endNum=" + endNum + "，" + "50元"); 
					}else if (endNum <= cat * 3) { 
						alert("10元"); 
						console.log("rdm=" + rdm + "，endNum=" + endNum + "，" + "10元"); 
					}else if (endNum <= cat * 4) { 
						alert("5元"); 
						console.log("rdm=" + rdm + "，endNum=" + endNum + "，" + "5元"); 
					}else if (endNum <= cat * 5) { 
						alert("免息服务"); 
						console.log("rdm=" + rdm + "，endNum=" + endNum + "，" + "免息服务"); 
					}else if (endNum <= cat * 6) { 
						alert("提交白金"); 
						console.log("rdm=" + rdm + "，endNum=" + endNum + "，" + "提交白金"); 
					}else if (endNum <= cat * 7) { 
						alert("未中奖"); 
						console.log("rdm=" + rdm + "，endNum=" + endNum + "，" + "未中奖"); 
					}
				},4000);
				
			}
		},30);
	}
	
	console.log(pointer,bg)
</script>
</html>