<!DOCTYPE >
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″ />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no,text/x-component">
    <!-- <meta content-type="text/x-component"> -->
    <title>快享client-收藏</title>
    <link rel="stylesheet" href="../../content/common/css/listcommon.css" />
    <link rel="stylesheet" href="../../content/collection/css/collection.css" />
    <link rel="stylesheet" href="../../content/common/css/range.css" />
    <link rel="stylesheet" href="../../content/common/css/zTreeStyle.css" />
    <link rel="stylesheet" href="../../content/common/css/my-zTreeStyle.css" />
    <link rel="stylesheet" href="../../content/common/css/pgwSlideshow.css" />
    <!-- js -->
    <script src="../../content/common/js/browser.min.js"></script>
    <script type="text/javascript" src="../../content/common/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../content/common/js/jquery.ztree.core.min.js"></script>
    
    <script type="text/javascript" src="../../content/common/js/common.js"></script>
    <!-- [if IE 9] >	
		<script type="text/babel" src="../../content/common/js/common.js"></script>
		[endif]-->
    <script type="text/javascript" src="../../content/common/js/PgwSlideshow.min.js"></script>
</head>

<body class="collection collection-word">
    <header>
        <div class="header header-border">
            <!-- 搜索 -->
            <img class="header-login" src="../../content/common/img/logo@2x.png" srcset="../../content/common/img/logo@2x.png 2x,../../content/common/img/logo@3x.png 3x" />
            <h3 class="header-title header-title-top">快享</h3>
            <!-- 头部工具 -->
            <div class="header-tools">
                <!-- 收藏 -->
                <div class='header-collcetion-btn'>
                    <a class="active">收藏</a>
                </div>
                <!-- 推荐 -->
                <div class="header-recommend-btn">
                    <a href="share-main.html">推荐</a>
                </div>
                <div class="header-search-btn">
                    <input type="text" name="" placeholder="请输入关键字">
                    <button disabled="disabled"></button>
                </div>
                <div class="header-right">
                    <!-- 添加 -->
                    <div class="header-add-btn">
                        <a></a>
                        <div class="popup-box">
                            <i class="i-before"></i>
                            <h3>收藏网页内容 <span>快速收藏请添加<a href="#">浏览器插件</a></span></h3>
                            <div class="header-add-input-btn">
                                <input type="text" name="" placeholder="请输入关键字">
                                <button>保存</button>
                            </div>
                            <button class="upload-file">上传文件</button>
                            <button class="upload-photo" max-length="12">上传照片 <em>12张上限</em></button>
                        </div>
                    </div>
                    <!-- 通讯录 -->
                    <div class="header-maillist-btn">
                        <a></a>
                    </div>
                    <!-- 消息 -->
                    <div class="header-message-btn">
                        <a></a>
                        <em class="message-tips"></em>
                        <div class="popup-box">
                            <i class="i-before"></i>
                            <ul class="list">
                                <li>
                                    <a href="#n">
                                        <div class="list-header">
                                            <img src="../../content/common/img/header.png">
                                            <em>周红</em>
                                            <p>推荐给战略文章集等推荐给战略文章集等</p>
                                            <i>刚刚</i>
                                        </div>
                                        <p class="list-word">天气一天比一天冷，穿什么更时髦讲真我们已经没那么care了。要知道，最近oversize毛衣已经成为编辑部出勤率最高的员工了。</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#n">
                                        <div class="list-header">
                                            <img src="../../content/common/img/header.png">
                                            <em>周红</em>
                                            <p>推荐给战略文章集等推荐给战略文章集等</p>
                                            <i>刚刚</i>
                                        </div>
                                        <p class="list-word">天气一天比一天冷，穿什么更时髦讲真我们已经没那么care了。要知道，最近oversize毛衣已经成为编辑部出勤率最高的员工了。</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#n">
                                        <div class="list-header">
                                            <img src="../../content/common/img/header.png">
                                            <em>周红</em>
                                            <p>推荐给战略文章集等推荐给战略文章集等</p>
                                            <i>刚刚</i>
                                        </div>
                                        <p class="list-word">天气一天比一天冷，穿什么更时髦讲真我们已经没那么care了。要知道，最近oversize毛衣已经成为编辑部出勤率最高的员工了。</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#n">
                                        <div class="list-header">
                                            <img src="../../content/common/img/header.png">
                                            <em>周红</em>
                                            <p>推荐给战略文章集等推荐给战略文章集等</p>
                                            <i>刚刚</i>
                                        </div>
                                        <p class="list-word">天气一天比一天冷，穿什么更时髦讲真我们已经没那么care了。要知道，最近oversize毛衣已经成为编辑部出勤率最高的员工了。</p>
                                    </a>
                                </li>
                            </ul>
                            <a href="share-notice.html" class="inform">查看全部通知</a>
                        </div>
                    </div>
                    <!-- 个人 -->
                    <div class="header-info">
                        <a>
                            <div class="header-info-img">
                                <img src="../../content/common/img/header.png">
                            </div>
                            <p>风清扬</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--  -->
    <div class="content">
        <!--  -->
        <div class="word">
            <h2>用户协议.txt</h2>
            <!-- 无效文件 -->
            <div class="invalid-file">
                <img src="../../content/common/img/qita@3x.png">
                <em>暂不支持该文件格式</em>
            </div>
            <!-- 视频 -->
            <div class="video">
                <video controls="false">
                    <source src="../../content/common/video/20180322170212.mp4" type="video/mp4">
                    <!-- <source src="../../content/common/video/20180326104424.mp4" type="video/mp4" > -->
                    您的浏览器不支持Video标签。
                </video>
                <div class="video-tool">
                    <button onclick="playPause()" class="playPause"></button>
                    <div class="video-tool-floot">
                        <div class="progress-bar">
                            <span class="startTime">00:00</span>
                            <div class="range">
                                <input type="range" name="" value="0">
                            </div>
                            <span class="endTime">11:11</span>
                        </div>
                        <button class="full-screen" onclick="fullScreen();"></button>
                        <!-- <button class="full-screen" onclick="alert(1);"></button> -->
                    </div>
                </div>
            </div>
            <!-- 文字 -->
            <p>
                欢迎你使用快享的服务！
                <br> 本协议双方为北京新中新图思互联科技有限公司旗下“快享”与快享网站用户，本服务协议具有合同效力，请务必审慎阅读、充分理解各条款内容。
                <br> 如果你未满18周岁，请在法定监护人的陪同下阅读本协议。
                <br> 【总则】
                <br> 1、 用户在网站注册页面勾选《用户服务协议》，点击注册按钮并完成注册程序、获得快方网站账号和密码时，视为用户与快方已达成该协议。无论用户事实上是否在注册之前认真阅读了本服务协议，只要用户按照注册程序成功注册，用户的行为仍然表示其同意并签署了本服务协议。
                <br> 2、 快享作为一家网络存储空间服务商，仅为用户提供信息存储空间服务。快享所有权、经营权、管理权均属北京新中新图思互联科技有限公司。
                <br> 3、 本协议最终解释权归属北京新中新图思互联科技有限公司。
                <br> 【账号和密码安全】
                <br> 用户在使用快享的服务时需要注册一个账号，考虑到快享所提供的网络服务的重要性及相关法律法规的要求，用户在注册账号时应同意
                <br> （1）提供详尽、准确的个人资料；
                <br> （2）按照“后台实名，前台自愿”的原则，通过真实身份信息认证；（3）如个人资料有任何变动，必须及时更新。
                <br> 如果用户提供的资料不准确、不真实、不合法有效，快享保留结束用户使用各项服务的权利。一旦注册成功，成为快享的合法用户，将得到一个密码和账号。快享账号的所有权归快享，用户完成注册后，获得快享账号的使用权。
                <br> 快享特别提醒你应妥善保管你的账号和密码，如果你未保管好自己的账号和密码而对你、快享或第三方造成的损害，你将负全部责任。另外，每个用户都要对其账户中的所有活动和事件负全责。你可随时改变你的密码，也可以结束旧的账户重开一个新账户。用户若发现任何非法使用用户账号或存在安全漏洞的情况，请立即通告快享。
                <br> 【用户个人信息保护】
                <br>
            </p>
            <!-- 文件列表 -->
            <div class="file-list">
                <h3>年会图片(15)</h3>
                <ul>
                    <li><img src="../../content/common/img/189720-106.jpg"><em>文件1.png</em></li>
                    <li><img src="../../content/common/img/265777-100.jpg"><em>文件2.png</em></li>
                    <li><img src="../../content/common/img/315954-100.jpg"><em>文件3.png</em></li>
                    <li><img src="../../content/common/img/355813-106.jpg"><em>文件4.png</em></li>
                    <li><img src="../../content/common/img/word@3x.png"><em>文件5.png</em></li>
                    <li><img src="../../content/common/img/Group@3x.png"><em>文件1文件1文件1文件1文件1.png</em></li>
                    <li><img src="../../content/common/img/Group 3@3x.png"><em>文件2文件2文件2文件2文件2.png</em></li>
                    <li><img src="../../content/common/img/Group 4@3x.png"><em>文件3文件3文件3文件3文件3.png</em></li>
                    <li><img src="../../content/common/img/Group 5@3x.png"><em>文件4文件4文件4文件4文件4.png</em></li>
                    <li><img src="../../content/common/img/word@3x.png"><em>文件5文件5文件5文件5文件5.png</em></li>
                    <li><img src="../../content/common/img/Group@3x.png"><em>文件1.png</em></li>
                    <li><img src="../../content/common/img/Group 3@3x.png"><em>文件2.png</em></li>
                    <li><img src="../../content/common/img/Group 4@3x.png"><em>文件3.png</em></li>
                    <li><img src="../../content/common/img/Group 5@3x.png"><em>文件4.png</em></li>
                    <li><img src="../../content/common/img/word@3x.png"><em>文件5.png</em></li>
                </ul>
            </div>
            <div class="pgwSlideshow-fixed-box">
                <ul class="pgwSlideshow">
                    <!--src：标识轮播图片的路径-->
                    <!--alt：标识轮播图片的标题-->
                    <!--data-description：标识轮播图片的数据描述，显示在标题的下方-->
                    <!--data-large-src：标识轮播图片的上方大图的路径，如不设置，默认采用src的图片路径-->
                    <li><img src="../../content/common/img/189720-106.jpg" alt="" data-description="年会图片(1/15)"></li>
                    <li><img src="../../content/common/img/265777-100.jpg" alt="" data-description="年会图片(2/15)"></li>
                    <li><img src="../../content/common/img/315954-100.jpg" alt=""></li>
                    <li><img src="../../content/common/img/355813-106.jpg" alt=""></li>
                    <li><img src="../../content/common/img/qita@3x.png" alt=""></li>
                    <li><img src="../../content/common/img/Group@3x.png"></li>
                    <li><img src="../../content/common/img/Group 3@3x.png"></li>
                    <li><img src="../../content/common/img/Group 4@3x.png"></li>
                    <li><img src="../../content/common/img/Group@3x.png"></li>
                    <li><img src="../../content/common/img/Group 3@3x.png"></li>
                    <li><img src="../../content/common/img/Group 4@3x.png"></li>
                    <li><img src="../../content/common/img/Group@3x.png"></li>
                    <li><img src="../../content/common/img/Group 3@3x.png"></li>
                    <li><img src="../../content/common/img/Group 4@3x.png"></li>
                    <li><img src="../../content/common/img/Group 5@3x.png"></li>
                    <li><img src="../../content/common/img/word@3x.png"></li>
                    <li>
                        <!--此处可通过a标签包裹img，给轮播图片加上你想要的超链-->
                        <a href="http://www.cnblogs.com/fonour" target="_blank">
					            <img src="../../content/common/img/qita@3x.png" alt="Monaco">
					        </a>
                    </li>
                </ul>
                <div class="pgwSlideshow-mask" onclick="$('.pgwSlideshow-fixed-box').fadeOut(200)"></div>
            </div>
        </div>
    </div>
    <div class="float-tools">
        <a class="collection-btn"><img src="../../content/common/img/xiazai@3x.png"></a>
        <a class="collection-btn"><img src="../../content/collection/img/group-16-copy@2x.png"></a>
        <a class="share-btn" onclick="$('.popupBox,.mask').show(0);"><img src="../../content/collection/img/tuijian-tanchuang@2x.png"></a>
        <a class="laud-btn"><img src="../../content/collection/img/tuijian@2x.png"><em>123</em></a>
        <a class="comment-btn" onclick="$('aside').show(0);"><img src="../../content/collection/img/invalid-name@2x.png"><em>123</em></a>
    </div>
</body>
<script type="text/javascript" src="../../content/common/js/range.js"></script>
<script type="text/javascript" src="../../content/common/js/event-listeners.js"></script>
<!--[if IE 9]> 
		<script type="text/babel" src="../../content/common/js/range.js"></script>
		<script type="text/babel" src="../../content/common/js/event-listeners.js"></script>
	<![endif]-->

</html>