<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>快享client-收藏</title>
    <link rel="stylesheet" href="../../content/common/css/listcommon.css" />
    <link rel="stylesheet" href="../../content/collection/css/collection.css" />
    <link rel="stylesheet" href="../../content/common/css/zTreeStyle.css" />
    <link rel="stylesheet" href="../../content/common/css/my-zTreeStyle.css" />
    <!-- js -->
    <script type="text/javascript" src="../../content/common/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../content/common/js/jquery.ztree.core.min.js"></script>
    <script type="text/javascript" src="../../content/common/js/my-ztree.js"></script>
    <script type="text/javascript" src="../../content/common/js/common.js"></script>
</head>
<body class="share-notice">
    <header>
            <div class="header header-border">
                <div class="logo">
                    <a href="list.html">
                        <img class="header-login" src="../../content/common/img/logo@3x.png" srcset="../../content/common/img/logo@2x.png 2x,../../content/common/img/logo@3x.png 3x" />
                        <h3 class="header-title header-title-top">快享</h3>
                    </a>
                </div>
                <!-- header nav -->
                <nav>
                    <ul>
                        <li><a href="list.html">收藏</a></li>
                        <li><a class="active" >推荐</a></li>
                    </ul>
                </nav>
                <!-- 搜索 -->
                <div class="header-search-btn">
                    <input type="text" name="" placeholder="请输入关键字">
                    <button disabled="disabled"></button>
                </div>
                <!-- 头部工具 -->
                <div class="header-tools">  
                    <div class="header-right">
                        <!-- 添加 -->
                        <div class="header-add-btn">
                            <a></a>
                            <div class="popup-box">
                                <i class="i-before"></i>
                                <h3>收藏网页内容 <span>快速收藏请添加<a href="#">浏览器插件</a></span></h3>
                                <div class="header-add-input-btn">
                                    <input type="text" name="" placeholder="请输入关键字">
                                    <button>保存</button>
                                </div>
                                <button class="upload-file">上传文件</button>
                                <button class="upload-photo" max-length="12">上传照片 <em>12张上限</em></button>
                            </div>
                        </div>
                        <!-- 通讯录 -->
                        <div class="header-maillist-btn">
                            <a></a>
                        </div>
                        <!-- 消息 -->
                        <div class="header-message-btn">
                            <a></a>
                            <em class="message-tips"></em>
                            <div class="popup-box">
                                <i class="i-before"></i>
                                <ul class="list">
                                    <li>
                                        <a href="#n">
                                            <div class="list-header">
                                                <img src="../../content/common/img/header.png">
                                                <em>周红</em>
                                                <p>推荐给战略文章集等推荐给战略文章集等</p>
                                                <i>刚刚</i>
                                            </div>
                                            <p class="list-word">天气一天比一天冷，穿什么更时髦讲真我们已经没那么care了。要知道，最近oversize毛衣已经成为编辑部出勤率最高的员工了。</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#n">
                                            <div class="list-header">
                                                <img src="../../content/common/img/header.png">
                                                <em>周红</em>
                                                <p>推荐给战略文章集等推荐给战略文章集等</p>
                                                <i>刚刚</i>
                                            </div>
                                            <p class="list-word">天气一天比一天冷，穿什么更时髦讲真我们已经没那么care了。要知道，最近oversize毛衣已经成为编辑部出勤率最高的员工了。</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#n">
                                            <div class="list-header">
                                                <img src="../../content/common/img/header.png">
                                                <em>周红</em>
                                                <p>推荐给战略文章集等推荐给战略文章集等</p>
                                                <i>刚刚</i>
                                            </div>
                                            <p class="list-word">天气一天比一天冷，穿什么更时髦讲真我们已经没那么care了。要知道，最近oversize毛衣已经成为编辑部出勤率最高的员工了。</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#n">
                                            <div class="list-header">
                                                <img src="../../content/common/img/header.png">
                                                <em>周红</em>
                                                <p>推荐给战略文章集等推荐给战略文章集等</p>
                                                <i>刚刚</i>
                                            </div>
                                            <p class="list-word">天气一天比一天冷，穿什么更时髦讲真我们已经没那么care了。要知道，最近oversize毛衣已经成为编辑部出勤率最高的员工了。</p>
                                        </a>
                                    </li>
                                </ul>
                                <a href="share-notice.html" class="inform">查看全部通知</a>
                            </div>
                        </div>
                        <!-- 个人 -->
                        <div class="header-info">
                            <a>
                                <div class="header-info-img">
                                    <img src="../../content/common/img/header.png">
                                </div>
                                <p>风清扬</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <div class="content">
        <h2 class='notice-title'>
				全部通知
			</h2>
        <div class="part">
            <h3>2017-12-12</h3>
            <ul class="list">
                <li>
                    <div class='list-header'>
                        <img src="../../content/common/img/head-1.png">
                        <em>周一围</em>
                        <p>推荐给你</p>
                    </div>
                    <p>教育机器人公司 MakeblockCEO万网。教育机器人公司 MakeblockCEO万网。教育机器人公司 MakeblockCEO万网。</p>
                </li>
                <li>
                    <div class='list-header'>
                        <img src="../../content/common/img/head-1.png">
                        <em>周一围</em>
                        <p>推荐给你</p>
                    </div>
                    <p>教育机器人公司 MakeblockCEO万网。教育机器人公司MakeblockCEO万网。教育机器人公司MakeblockCEO万网。教育机器人公司MakeblockCEO万网。教育机器人公司MakeblockCEO万网。教育机器人公司 MakeblockCEO万网。教育机器人公司 MakeblockCEO万网。</p>
                </li>
            </ul>
        </div>
        <div class="part">
            <h3>2017-12-11</h3>
            <ul class="list">
                <li>
                    <div class='list-header'>
                        <img src="../../content/common/img/head-1.png">
                        <em>周一围</em>
                        <p>推荐给你</p>
                    </div>
                    <p>教育机器人公司 MakeblockCEO万网。教育机器人公司 MakeblockCEO万网。教育机器人公司 MakeblockCEO万网。</p>
                </li>
                <li>
                    <div class='list-header'>
                        <img src="../../content/common/img/head-1.png">
                        <em>周一围</em>
                        <p>推荐给你</p>
                    </div>
                    <p>教育机器人公司 MakeblockCEO万网。教育机器人公司 MakeblockCEO万网。教育机器人公司 MakeblockCEO万网。</p>
                </li>
            </ul>
        </div>
    </div>
    <!-- <aside class="show">
        <ul id="treeDemo" class="ztree showIcon"></ul>
        <p class="person-sum">共162人</p>
    </aside> -->
    <!-- float tools -->
    <!-- <div class="float-tools">
			<a class="collection-btn"><img src="../../content/collection/img/group-16-copy@2x.png"></a>
			<a class="share-btn"><img src="../../content/collection/img/tuijian-tanchuang@2x.png"></a>
			<a class="laud-btn"><img src="../../content/collection/img/tuijian@2x.png"><em>123</em></a>
			<a class="comment-btn" onclick="$('aside').show(0);"><img src="../../content/collection/img/invalid-name@2x.png"><em>123</em></a>
		</div> -->
</body>
<script type="text/javascript" src="../../content/common/js/event-listeners.js"></script>
</html>