<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>快享client-收藏</title>
		<link rel="stylesheet" href="../../content/common/css/common.css" />
		<link rel="stylesheet" href="../../content/collection/css/collection.css" />
		<link rel="stylesheet" href="../../content/common/css/zTreeStyle.css" />
	    <link rel="stylesheet" href="../../content/common/css/my-zTreeStyle.css" />
	    <script type="text/javascript" src="../../content/common/js/jquery.min.js"></script>
	    <script type="text/javascript" src="../../content/common/js/jquery.ztree.core.min.js"></script>
	    <script type="text/javascript" src="../../content/common/js/my-ztree.js"></script>
	</head>
	<body>
		<header>
			<div class="header header-border">
				<img class="header-login" src="../../content/common/img/logo@2x.png" srcset="../../content/common/img/logo@2x.png 2x,../../content/common/img/logo@3x.png 3x" />
				<h3 class="header-title header-title-top">快享</h3>
				<!-- 头部工具 -->
				<div class="header-tools">
					<!-- 收藏 -->
					<div class='header-collcetion-btn'>
						<a href="list.html" >收藏</a>
					</div>
					<!-- 推荐 -->
					<div class="header-recommend-btn">
						<a class="active">推荐</a>
					</div>
					<!-- 搜索 -->
					<div class="header-search-btn">
						<input type="text" name="" placeholder="请输入关键字">
						<button disabled="disabled"></button>
					</div>
					<div class="header-right">
						<!-- 通讯录 -->
						<div class="header-maillist-btn">
							<a></a>
						</div>
						<!-- 消息 -->
						<div class="header-message-btn">
							<a></a>
							<em class="message-tips"></em>
						</div>
						<!-- 个人 -->
						<div class="header-info">
							<a>
								<div class="header-info-img">
									<img src="../../content/common/img/header.png">
								</div>
								<p>风清扬</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="content">
			<div class="content-left">
				<ul class="list">
					<li>
						<div class="list-header">
							<img src="../../content/common/img/header.png">
							<em>周红</em>
							<p>推荐给战略文章集等推荐给战略文章集等</p>
							<i>刚刚</i>
						</div>
						<p class="list-word">天气一天比一天冷，穿什么更时髦讲真我们已经没那么care了。要知道，最近oversize毛衣已经成为编辑部出勤率最高的员工了。</p>
						<div class="list-title">
							<h1>腾讯金融学院成立，致力成为培养互联网与金融</h1>
							<img src="../../content/collection/img/inset.png" alt="">
						</div>
					</li>
					<li>
						<div class="list-header">
							<img src="../../content/common/img/header.png">
							<em>周红</em>
							<p>推荐给战略文章集等推荐给战略文章集等</p>
							<i>刚刚</i>
						</div>
						<div class="list-title">
							<h1>腾讯金融学院成立，致力成为培养互联网与金融</h1>
							<img src="../../content/collection/img/inset.png" alt="">
						</div>
					</li>
					<li>
						<div class="list-header">
							<img src="../../content/common/img/header.png">
							<em>周红</em>
							<p>推荐给战略文章集等推荐给战略文章集等</p>
							<i>刚刚</i>
						</div>
						<div class="list-title">
							<h1>腾讯金融学院成立，致力成为培养互联网与金融</h1>
							<img src="../../content/collection/img/inset.png" alt="">
						</div>
					</li>
					<li>
						<div class="list-header">
							<img src="../../content/common/img/header.png">
							<em>周红</em>
							<p>推荐给战略文章集等推荐给战略文章集等</p>
							<i>刚刚</i>
						</div>
						<p class="list-word">天气一天比一天冷，穿什么更时髦讲真我们已经没那么care了。要知道，最近oversize毛衣已经成为编辑部出勤率最高的员工了。</p>
						<div class="list-title">
							<h1>腾讯金融学院成立，致力成为培养互联网与金融</h1>
							<img src="../../content/collection/img/inset.png" alt="">
						</div>
					</li>
					<li>
						<div class="list-header">
							<img src="../../content/common/img/header.png">
							<em>周红</em>
							<p>推荐给战略文章集等推荐给战略文章集等</p>
							<i>刚刚</i>
						</div>
						<div class="list-title">
							<h1>腾讯金融学院成立，致力成为培养互联网与金融</h1>
							<img src="../../content/collection/img/inset.png" alt="">
						</div>
					</li>
					<li>
						<div class="list-header">
							<img src="../../content/common/img/header.png">
							<em>周红</em>
							<p>推荐给战略文章集等推荐给战略文章集等</p>
							<i>刚刚</i>
						</div>
						<div class="list-title">
							<h1>腾讯金融学院成立，致力成为培养互联网与金融</h1>
							<img src="../../content/collection/img/inset.png" alt="">
						</div>
					</li>
				</ul>
			</div>
			<div class="content-right hasTools">
					<!-- h1 标题 -->
				<h1>腾讯金融学院成立，致力成为培养互联网与金融复合型人才</h1>
				<!-- h2 副标题 -->
				<h2>
					<img src="../../content/common/img/Bitmap@2x.png">
					<em>微交互</em>
					<i>2017-12-12</i>
				</h2>
				<!-- p 文章内容 -->
				<p>腾讯金融学院挂牌仪式在深圳举行。腾讯集团副总裁、腾讯支付基础平台与金融应用线负责人腾讯金融学院院长赖智明，北京大学汇丰商学院经济学教授何帆，国家金融与发展实验室银行研究中心主任曾刚等嘉宾出席仪式。</p>
				<div class="content-img">
					<img src="../../content/collection/img/img-1.jpg">
				</div>
				<p>腾讯金融学院挂牌仪式在深圳举行。腾讯集团副总裁、腾讯支付基础平台与金融应用线负责人腾讯金融学院院长赖智明，北京大学汇丰商学院经济学教授何帆，国家金融与发展实验室银行研究中心主任曾刚等嘉宾出席仪式。</p>
				<div class="content-img">
					<img src="../../content/collection/img/img-2.jpg">
				</div>
				<p>腾讯金融学院挂牌仪式在深圳举行。腾讯集团副总裁、腾讯支付基础平台与金融应用线负责人腾讯金融学院院长赖智明，北京大学汇丰商学院经济学教授何帆，国家金融与发展实验室银行研究中心主任曾刚等嘉宾出席仪式。</p>
			</div>			
		</div>
		<!-- float tools -->
		<div class="float-tools">
			<a class="collection-btn"><img src="../../content/collection/img/group-16-copy@2x.png"></a>
			<a class="share-btn" onclick="$('.popupBox,.mask').show(0);"><img src="../../content/collection/img/tuijian-tanchuang@2x.png"></a>
			<a class="laud-btn"><img src="../../content/collection/img/tuijian@2x.png"><em>123</em></a>
			<a class="comment-btn" onclick="$('aside').show(0);"><img src="../../content/collection/img/invalid-name@2x.png"><em>123</em></a>
		</div>

		<!-- aside 侧边栏 -->
		
		<!-- popupBox -->
		
		<div class="popupBox">
			<h2><label>推荐给朋友</label><button onclick="$('.popupBox,.mask').hide(0);"></button></h2>
			<div class="list-title">
				<h1>腾讯金融学院成立，致力成为培养互联网与金融</h1>
				<img src="../../content/collection/img/inset.png" alt="">
			</div>
			<div class="expandingArea " id="textarea">
				<pre><span class="textarea-span"></span><br></pre>
				<textarea class="textarea" placeholder="推荐理由..." maxlength="120"></textarea>
			</div>
			<p class="font-statis">0/120</p>
			<h3>选择推荐人</h3>
			<ul>
				<li><img src="../../content/common/img/header.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-1.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-3.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/header.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-1.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-3.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/header.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-1.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-3.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/header.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-1.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-3.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/header.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-1.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-3.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/header.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-1.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-3.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/header.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-1.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-3.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/header.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-1.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-3.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/header.png"><a class="del"></a></li>
				<li><img src="../../content/common/img/head-1.png"><a class="del"></a></li>
				
				<li class="add"></li>
			</ul>
			<div class="send">
				<label><a></a>公开次推送</label>
				<button class="sendBtn">发送</button>
			</div>
		</div>
		<!-- mask -->
		<div class="mask"></div>
	</body>
	<script type="text/javascript" src="../../content/common/js/common.js"></script>
</html>
