.smart-collect {
	background: #8ec220;
}

.smart-box {
	width: 90%;
	background: #fff;
	border-radius: 5px;
	margin: 0 auto;
}

.smart-box h1 {
	font-size: 16px;
	padding: 20px 10px;
	margin-bottom: 0;
}

.scan-code,
.more {
	width: 35px;
	height: 35px;
}

.more {
	float: right;
}

.smart-box-content h2 {
	font-size: 14px;
	text-align: center;
	color: #8d8d8d;
	margin-top: 15px;
}

.code-1 {
	display: block;
	width: 80%;
	margin: 0 auto;
}

.code-2 {
	display: block;
	width: 60%;
	margin: 20px auto 15px;
}

.smart-box-content p {
	text-align: center;
	padding-bottom: 20px;
}
.smart-box-content p label {
	color: #000;
	font-weight: normal;
	font-size: 14px;
	padding-bottom: 30px;
}
.smart-box-content p a:first-child {
	border-right: 1px solid #a8a8a8;
}

.bill {
	display: block;
	text-align: center;
	color: #fff;
	padding-top: 20px;
}

.money-show {
	display: none;
}

.money-show p {
	padding: 0;
	font-size: 25px;
}

.money-show p:last-child {
	font-size: 14px;
}
.smart-box-content p a {
	font-size: 14px;
	color: #a8a8a8;
	position: relative;
}

.smart-box-content p img {
	margin-left: -18px;
}

.smart-box-content p a:after {
	content: " ";
	background: url(../img/back-2.png) no-repeat center;
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0px;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
}
