/*续写theme-two.css*/
/*#wrap #right-container {
	padding-bottom:0;
	padding-right:25px;
	height:100%;
	width:100%;
}
#wrap #right-container .main {
	margin:10px 0;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:400;
	-webkit-font-smoothing:antialiased;
}
#wrap .navbar.navbar-fixed-top ~ #right-container {padding-left:225px;}
#wrap .navbar.navbar-fixed-top.collapsed ~ #right-container {padding-left:255px;}
#wrap .navbar.navbar-fixed-top.closed ~ #right-container {padding-left:225px;}
#wrap .navbar.navbar-fixed-top.collapsed.closed ~ #right-container {padding-left:75px;}*/
.main {
	padding-bottom:70px;
}
/***
Bootstrap Tables
***/
.table thead > tr > th {
	border-bottom:0;
}
.table tbody tr.active td,
.table tbody tr.active th {
	background-color:#e9e9e9 !important;
}
.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
	background-color:#e1e1e1 !important;
}
.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
	background-color:#017ebc;
}
/***Responsive & Scrollable Tables***/
.table-scrollable {
	width:100%;
	overflow-x:auto;
	overflow-y:hidden;
	margin:0 0 25px;
}
.table-visible {
	overflow-x:inherit;
	overflow-y:inherit;
}
.table-scrollable > .table {
	width:100%;
	margin:0;
	margin-bottom:0;
	background-color:#fff;
}
.table-scrollable > .table > thead > tr > th,
.table-scrollable > .table > tbody > tr > th,
.table-scrollable > .table > tfoot > tr > th,
.table-scrollable > .table > thead > tr > td,
.table-scrollable > .table > tbody > tr > td,
.table-scrollable > .table > tfoot > tr > td {
	/*white-space:nowrap;*/
}
.table-scrollable > .table-bordered {
	border:0;
}
.table-scrollable > .table-bordered > thead > tr > th:first-child,.table-scrollable > .table-bordered > tbody > tr > th:first-child,.table-scrollable > .table-bordered > tfoot > tr > th:first-child,.table-scrollable > .table-bordered > thead > tr > td:first-child,.table-scrollable > .table-bordered > tbody > tr > td:first-child,.table-scrollable > .table-bordered > tfoot > tr > td:first-child {
	border-left:0;
}
.table-scrollable > .table-bordered > thead > tr > th:last-child,
.table-scrollable > .table-bordered > tbody > tr > th:last-child,
.table-scrollable > .table-bordered > tfoot > tr > th:last-child,
.table-scrollable > .table-bordered > thead > tr > td:last-child,
.table-scrollable > .table-bordered > tbody > tr > td:last-child,
.table-scrollable > .table-bordered > tfoot > tr > td:last-child {
	border-right:0;
}
.table-scrollable > .table-bordered > thead > tr:last-child > th,
.table-scrollable > .table-bordered > tbody > tr:last-child > th,
.table-scrollable > .table-bordered > tfoot > tr:last-child > th,
.table-scrollable > .table-bordered > thead > tr:last-child > td,
.table-scrollable > .table-bordered > tbody > tr:last-child > td,
.table-scrollable > .table-bordered > tfoot > tr:last-child > td {
	border-bottom:0;
}
.table {
	border-bottom:1px solid #eaeaea;
}
.table > thead > tr > th,.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding:8px 15px;
	line-height:1.42857143;
	line-height:1.7;
	vertical-align:middle;
	color:#000000;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
	padding:5px;
	line-height:1.42857143;
}
.table > tbody > tr > td {
	vertical-align:middle;
}
.table > thead > tr > th {
	background:#F1F1F1;
	color:#4A4A4A;
	font-weight:normal;
}
.table > thead > tr > th:last-child {
	background-image:none;
}
.table.table-striped > tbody > tr:nth-child(odd) > td,
.table.table-striped > tbody > tr:nth-child(odd) > th {
	background-color:#fff;
}
.table.table-striped > tbody > tr:nth-child(even) > td,
.table.table-striped > tbody > tr:nth-child(even) > th {
	background-color:#FCFCFC;
}
.table.table-hover > tbody > tr:hover > td,
.table.table-hover > tbody > tr:hover > th {
	background-color:#FFF7EA;
}
.table.table-hover > tfoot > tr > td,
.table.table-hover > tfoot > tr > th {
	padding:13px 15px;
	background-color:#FFF7EA;
}
/*special*/
.table-nobordered > thead > tr > th {
	padding:8px 15px;
	border-bottom:1px solid #ddd;
}
.table-nobordered > tbody > tr:first-child > td {
	padding-top:15px;
}
.table-nobordered > tbody > tr > td,
.table > tfoot > tr > td {
	border:none;
	padding:2px 15px;
	font-size:15px;
}
td * {
	vertical-align:middle;
}
.table > tbody > tr > td.time {
	color:#BCBCBC;
}
th.right,td.right {
	text-align:right;
}
th.center,td.center {
	text-align:center;
}
td a {
	margin-right:15px;
}

.no-wrap td,.no-wrap th {
	white-space:nowrap;
}
td.linefeed,.no-wrap td.linefeed,.no-wrap th.linefeed
{white-space:normal;}
td.numdisapy span,td.numdisapy span a {
	display:inline-block;
	color:gray
}
td.numdisapy span {display:inline-block; width:210px;word-wrap:break-word;white-space:normal;padding-right:45px;position:relative;}
td.numdisapy span * {
	vertical-align:top;
}
td.numdisapy span a {position:absolute;right:0;top:50%;margin-top:-10px;}
.nothing * {
	vertical-align:middle;
}
.nothing {
	font-size:14px;
	text-align:center;
	color:#000;
	margin:35px 0;
}
.photo {
	width:60px;
	height:60px;
	margin:5px 0;
	overflow:hidden;
	display:inline-block;
}
.photo img {
	width:60px;
}
.zoom .photo {
	width:60px;
	height:84px;
	border-radius:4px;
}
.zoom img {
	cursor:pointer;
}
#pic,.pic {
	position:absolute;
	display:none;
}
#pic1,.pic1 {
	width:200px;
	height:280px;
	border-radius:5px;
	-webkit-box-shadow:5px 5px 5px 5px hsla(0,0%,5%,1.00);
	box-shadow:5px 5px 5px 0px hsla(0,0%,5%,0.3);
}
/*----------table end-----------*/

label {
	font-weight:normal;
}
option.form-control {
	border:none;
}
select.form-control {
	/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
   /*很关键：将默认的select选择框样式清除*/
   appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	/*在选择框的最右侧中间显示小箭头w图片*/
   background:url(../images/dropdown-arr.png) no-repeat scroll right center transparent;
	/*为下拉小箭头留出一点位置，避免被文字覆盖*/
   padding-right:22px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
	display:none;
}
.form-control,.form-date input {
	display:block;
	width:100%;
	height:30px;
	padding:0 8px;
	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #C5C5C5;
	border-radius:0;
	-webkit-box-shadow:none;
	box-shadow:none;
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-date input {
	display:inline-block;
}
.form-group textarea {
	padding:5px;
	line-height:20px;
}
.form-date input {
	background-image:url(../images/clock.png);
	background-repeat:no-repeat;
	background-position:94px center;
}
.form-control:focus,.form-date input:focus {
	border-color:#66afe9;
	outline:0;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.form-inline .form-control {
	width:auto;
}
/*form-horizontal*/
.form-horizontal .control-label {
	font-weight:normal;
	padding:0;
}
.form-horizontal .control-label {
	margin:0;
	line-height:30px;
	vertical-align:bottom;
}
.form-horizontal .control-label span {
	vertical-align:middle;
	margin-right:5px;
}
.text-inline {
	line-height:30px;
}
.text-inline *{vertical-align:middle;}
.form-horizontal select {
	width:auto;
}
.form-horizontal textarea.form-control {
	/*width:auto;*//*影响宽度*/
	resize:none;
	outline:none;
}
.form-horizontal .form-date .form-control {
	display:inline-block;
}
.form-horizontal .btn-lg {
	margin:15px 23px;
}
.form-horizontal .btn-lg:first-child {
	margin-left:-7px;
}
/*双列表单*/
.form-horizontal-two {
	margin-left:6%;
}
.form-horizontal-two .form-group {
	display:inline-block;
	width:48%;
}
.form-horizontal-two .form-group {
	margin-left:0;
	margin-right:0;
	float:left;
}
.form-inline {
	margin-left:5px;
	margin-right:5px;
}
.form-inline .form-date {
	display:inline-block;
	width:auto;
	vertical-align:middle;
}
.form-inline .form-group,.form-inline .btn {
	margin-bottom:15px;
}
.form-inline > .btn {
	margin-left:6px;
}
.form-date input {
	width:120px;
}
.form-inline select.form-control {
	border-radius:0;
}
.form-inline label {
	font-weight:normal;
	margin:0;
	line-height:30px;
	vertical-align:bottom;
}
.searcharea > .form-inline .btn {
	float:right;
}
.form-inline-table {
	margin-right:-3px;
	text-align:right;
}
.form-inline-table .btn {
	margin:0 3px 15px;
}
.form-inline-table .btn:last-child {
	margin-right:0;
}
.form-inline-table select.form-control {
	width:auto;
}
.form-inline span {
	line-height:30px;
}
.form-inline .form-group {
	margin-right:26px;
}
/*form-inline-alignment对齐式内联表单*/
.form-inline-alignment .form-group {
	width:40%;
}
.form-inline-alignment .form-group label {
	width:80px;
	text-align:right;
}
/*独立成行搜索*/
.searcharea .form-horizontal .form-group {
	margin:0 0 10px;
}
.searcharea .form-horizontal .control-label {
	display:inline;
	font-weight:normal;
	margin:0;
	padding:0;
	line-height:30px;
	width:72px;
	text-align:right;
}
.searcharea .form-group [class*="col-"] {
	margin:0 -10px;
}
.searcharea .form-group .col-md-11 {
	margin:0 -70px 0 -10px;
}
.searcharea .form-group.col-md-6 .row {
	margin-left:-15px;
	margin-right:-15px;
}
/*diy*/
.grid {
	margin-left:-10px;
	margin-right:-10px;
}
.grid [class*="col-"] {
	margin-bottom:15px;
}
.searcharea {
	margin:0 0 40px;
}
/*表单验证*/
.col-md-reset {
	width:auto;
	padding-left:15px;
	padding-right:0;
	float:none!important;
}
.help-block{margin-bottom:0;}
.help-block * {
	vertical-align:middle;
}
/*btn*/
.btn {
	height:30px;
	border-radius:0;
	line-height:28px;
	padding:0 12px;
}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {
	outline:none;
	outline-offset:-2px;
}
.btn:hover,.btn:focus,.btn.focus {
	color:#333;
	text-decoration:none;
}
.btn:active,.btn.active {
	background-image:none;
	outline:0;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
	cursor:not-allowed;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	box-shadow:none;
	opacity:.65;
}
.btn-default {
	background:#F7F7F7;
	border:1px solid #C5C5C5;
	color:#000;
}
.btn-primary {
	color:#fff;
	background:-webkit-linear-gradient(-45deg,#3CB8ED 0%,#00C1E1 100%);
	background:linear-gradient(to -45deg,#3CB8ED 0%,#00C1E1 100%);
	border-color:#31AFE4;
}
.btn-primary:focus,.btn-primary.focus {
	color:#fff;
	background:-webkit-linear-gradient(-45deg,#3CB8ED 0%,#00C1E1 100%);
	background:linear-gradient(to -45deg,#3CB8ED 0%,#00C1E1 100%);
	border-color:#31AFE4;
}
.btn-primary:hover {
	color:#fff;
	background:-webkit-linear-gradient(-45deg,#3CB8ED 0%,#00C1E1 100%);
	background:linear-gradient(to -45deg,#3CB8ED 0%,#00C1E1 100%);
	border-color:#31AFE4;
}
.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary {
	color:#fff;
	background:-webkit-linear-gradient(-45deg,#3CB8ED 0%,#00C1E1 100%);
	background:linear-gradient(to -45deg,#3CB8ED 0%,#00C1E1 100%);
	border-color:#31AFE4;
}
.btn-primary:active:hover,.btn-primary.active:hover,.open > .dropdown-toggle.btn-primary:hover,.btn-primary:active:focus,.btn-primary.active:focus,.open > .dropdown-toggle.btn-primary:focus,.btn-primary:active.focus,.btn-primary.active.focus,.open > .dropdown-toggle.btn-primary.focus {
	color:#fff;
	background-color:#204d74;
	background:-webkit-linear-gradient(-45deg,#0CADF2 0%,#00C3E6 100%);
	background:linear-gradient(to -45deg,#0CADF2 0%,#00C3E6 100%);
	border-color:#02A0E3;
}
.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary {
	background-image:none;
}
.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus {
	background-color:#337ab7;
	border-color:#2e6da4;
}
.btn-default.btn-lg {
	color:#00C1DE;
	background:transparent;
	border:1px solid #00C1DE;
}
.btn-primary.btn-lg {
	color:#00C1DE;
	background:transparent;
	border:1px solid #00C1DE;
	color:#fff;
	background:-webkit-linear-gradient(-45deg,#3CB8ED 0%,#00C1E1 100%);
	background:linear-gradient(to -45deg,#3CB8ED 0%,#00C1E1 100%);
	border-color:#31AFE4;
}
.btn-lg {
	padding:0 45px;
	height:40px;
	line-height:37px;
	border-radius:6px;
}
.form-group .btn {
	margin-bottom:15px;
}

.form-group label.btn{margin-bottom:0;}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline:0;
  outline-offset:0;
}
.input-group .form-control{text-overflow:ellipsis;}
button:focus,.input-group-btn:focus{outline:0;}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
}

/*根据需求可能会有要调整这里的图片缩略图为固定值*/
.thumb-image{
	display: block;
	max-width:100%;
	max-height:100%;
	border:1px solid #ddd;
	margin-top:15px;
	padding:5px;
	background:#fff;
	
}
input[type=number].form-control {
	width:60px;/*float:left;*/margin-right:10px;
}
.form-horizontal input[type=number].form-control {
	float:left;
}
.form-horizontal label.radio-inline,.form-horizontal label.checkbox-inline,label.radio-inline,label.checkbox-inline {
	padding-left:20px;
	margin-right:20px;
	padding-top:5px;
}
/*-------------------------checkbox & raio& switch---------*/
.radio-inline,.checkbox-inline {
	padding-left:0;
	margin:0;
}
.form-horizontal .radio-inline,.form-horizontal .checkbox-inline {
	padding-top:2px;
}
.radio-inline label,.checkbox-inline label {
	margin-right:25px;
}
/*checkbox & radio*/
input[type=checkbox].ace,input[type=radio].ace {
	opacity:0;
	position:absolute;
	z-index:1;
	width:18px;
	height:18px;
	cursor:pointer
}
label input[type=checkbox].ace,label input[type=radio].ace {
	z-index:-100!important;
	width:1!important;
	height:0!important
}
input[type=checkbox].ace:checked,input[type=checkbox].ace:focus,input[type=radio].ace:checked,input[type=radio].ace:focus {
	outline:0!important
}
input[type=checkbox].ace+.lbl,input[type=radio].ace+.lbl {
	position:relative;
	display:inline-block;
	margin:0;
	line-height:18px;
	min-height:18px;
	min-width:18px;
	font-weight:normal;
	cursor:pointer;
}
input[type=checkbox].ace+.lbl::before,input[type=radio].ace+.lbl::before {
	cursor:pointer;
	font-weight:400;
	font-size:12px;
	color:#32a3ce;
	content:"";
	background-color:#FAFAFA;
	border:1px solid #c8c8c8;
	display:inline-block;
	text-align:center;
	height:18px;
	line-height:14px;
	min-width:18px;
	position:relative;
	top:-1px;
	top:0;
	top:4px;
	background-image:none;
	border-radius:2px;
}
input[type=checkbox].ace:checked+.lbl::before,input[type=radio].ace:checked+.lbl::before {
	display:inline-block;
	border-color:#66afe9;
	box-shadow:0 1px 2px rgba(0,0,0,.05),inset 0 -15px 10px -12px rgba(0,0,0,.05),inset 15px 10px -12px rgba(255,255,255,.1);
	background-image:url(../images/checkbox-on.png);
	background-repeat:no-repeat;
	background-position:center center;
}
input[type=checkbox].ace+.lbl:hover::before,input[type=checkbox].ace:hover+.lbl::before,input[type=radio].ace+.lbl:hover::before,input[type=radio].ace:hover+.lbl::before {
	border-color:#66afe9;
}
input[type=checkbox].ace:active+.lbl::before,input[type=checkbox].ace:checked:active+.lbl::before,input[type=radio].ace:active+.lbl::before,input[type=radio].ace:checked:active+.lbl::before {
	box-shadow:0 1px 2px rgba(0,0,0,.05),inset 0 1px 3px rgba(0,0,0,.1)
}
input[type=checkbox].ace.disabled+.lbl::before,input[type=checkbox].ace:disabled+.lbl::before,input[type=checkbox].ace[disabled]+.lbl::before,input[type=radio].ace.disabled+.lbl::before,input[type=radio].ace:disabled+.lbl::before,input[type=radio].ace[disabled]+.lbl::before {
	background-color:#DDD!important;
	border-color:#CCC!important;
	box-shadow:none!important;
	opacity:0.3;
	filter:opacity(alpha=30);
	border-color:#c8c8c8!important;
	color:#BBB
}
input.ace+.lbl::before {
	margin-right:8px
}
input.ace+.lbl.padding-16::before {
	margin-right:16px
}
input.ace+.lbl.padding-12::before {
	margin-right:12px
}
input.ace+.lbl.padding-8::before {
	margin-right:8px
}
input.ace+.lbl.padding-4::before {
	margin-right:4px
}
input.ace+.lbl.padding-0::before {
	margin-right:0
}
input[type=radio].ace+.lbl::before {
	border-radius:100%;
	font-size:10px;
	text-shadow:0 0 1px #32a3ce;
	line-height:15px;
	height:18px;
	min-width:18px
}
input[type=radio].ace:checked+.lbl::before {
	content:"";
	background:url(../images/radio-button-on.png) no-repeat center center;
}
/*switch*/
input[type=checkbox].ace.ace-switch {
	width:66px;
	height:30px
}
input[type=checkbox].ace.ace-switch+.lbl {
	margin:0;
	min-height:10px
}
input[type=checkbox].ace.ace-switch+.lbl::before {
	content:"";
	border-width:0;
	font-size:12px;
	overflow:hidden;
	border-radius:20px;
	display:inline-block;
	background-color:#d8d8d8;
	width:66px;
	height:30px;
	-webkit-transition:background .1s ease;
	-o-transition:background .1s ease;
	transition:background .1s ease;
	top:0;
}
input[type=checkbox].ace.ace-switch+.lbl::after {
	content:'';
	text-shadow:none;
	position:absolute;
	top:2px;
	left:1px;
	border-radius:12px;
	width:26px;
	height:26px;
	text-align:center;
	background-color:#f9f9f9;
	border:4px solid #f9f9f9;
	-webkit-transition:left .2s ease;
	-o-transition:left .2s ease;
	transition:left .2s ease
}
input[type=checkbox].ace.ace-switch:checked+.lbl::before {
	background-color:#84d43c;
	border-color:#84d43c;
	background-image:none;
}
input[type=checkbox].ace.ace-switch:checked+.lbl::after {
	left:39px;
	background-color:#FFF;
}
input[type=checkbox].ace.ace-switch.ace-switch+.lbl {
	position:relative;
}
.nav-tabs {
	margin-bottom:20px;
	border-bottom:1px solid #E1E1E1;
	padding:0 10px;
}
.nav-tabs > li {
	float:left;
	margin-bottom:-1px;
}
.nav-tabs > li > a {
	margin-right:20px;
	line-height:1.7;
	border:none;
	border-radius:0;
	font-size:16px;
	color:#000;
}
.nav-tabs > li > a:hover {
	border-color:#eee #eee #ddd;
}
.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus {
	color:#53B7E4;
	border:none;
	border-bottom:5px solid #53B7E4;
	font-weight:bold;
}
/* paging */
#paging-app {
	text-align:right;
}
.page {
	display:inline-block;
	height:50px;
	margin-bottom:30px;
	text-align:center;
	background:#f2f2f2;
	user-select:none;
}
.pagelist {
	font-size:0;
	background:#fff;
	height:50px;
	line-height:50px;
}
.pagelist span {
	font-size:14px;
	color:#d7d7d7;
}
.pagelist .jump {
	border:1px solid #d7d7d7;
	padding:2px 10px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
	margin-left:10px;
}
.pagelist .bgprimary {
	cursor:default;
	color:#fff;
	background:#0188c8;
	border-color:#0188c8;
}
.jumpinp input {
	width:40px;
	height:22px;
	font-size:13px;
	border:1px solid #ccc;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	text-align:center;
}
.ellipsis {
	width:30px;
	height:24px;
	padding:2px 8px;
	border:1px solid #d7d7d7;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	margin-left:10px;
}
.jumppoint {
	margin-left:10px;
}
.pagelist .gobtn {
	font-size:12px;
	padding:4px 10px;
}
.bgprimary {
	cursor:default;
	color:#fff;
	background:#337ab7;
	border-color:#337ab7;
}
.pagelist .jump.disabled {
	pointer-events:none;
	background:#ddd;
	display:none;
}
.page .auxiliary {
	color:#333;
}
.auxiliary-last {
	margin-right:10px;
}
.pageheader {
	border-bottom:1px solid #979797;
	height:66px;
	margin-top:5px;
	margin-bottom:30px;
}
.pageheader h1 {
	font-size:24px;
	font-weight:normal;
	color:#000;
	float:left;
}
.pageheader .h1-title {
	display:inline-block;
	width:20px;
	height:20px;
	content:'';
	margin-right:12px;
	background:url(../images/h1_icon.png);
}
.content-h2 {
	background:url(../images/h2_line.png) no-repeat 0 center;
	padding-left:14px;
	line-height:30px;
	border:none;
	margin:0 0 15px;
	font-weight:normal;
	font-size:18px;
}
/*temp*/.row > .content-h2 {
	margin-left:15px;
}
.breadcrumbs {
	float:left;
}
.breadcrumb {
	background:transparent;
	padding:8px 15px;
	margin:20px 0 0;
	list-style:none;
}
.breadcrumb > li:before,.breadcrumb > li + li:before {
	padding:0;
	color:#979797;
	content:"";
	display:inline-block;
	width:12px;
	height:12px;
	background:url(../images/ico-bread.png) no-repeat center center;
	margin-right:5px;
}
.breadcrumb > .active,.breadcrumb a {
	color:#000;
}
.breadcrumb a:hover {
	color:#777;
}
.red {
	color:#D0021B;
}
/*list-filter"*/
.list-filter {
	padding:0 0 0 15px;
	margin:0 -15px -2px;
}
.filters > span {
	display:inline-block;
	float:left;
	padding:0 8px;
	margin-right:10px;
	border-radius:4px;
	margin-bottom:4px;
}
.filters span,.filters span.qita b {
	line-height:30px;
}
.filters span.cur {
	background:#ffc03a;
	color:#fff;
}
.filters > span:hover,.filters > span.qita.cur b:hover {
	background:#ffcd82;
	color:#fff;
	cursor:pointer;
}
.filters > span:hover em {
	color:#000;
}
.filters span.qita {
	width:350px;
	height:28px;
	background:none;
	margin-top:-3px;
	position:relative;
	padding:2px 0;
}
.filters span.qita b {
	margin-right:10px;
	margin-top:1px;
	display:inline-block;
	padding:0 8px;
	margin-right:10px;
	font-size:12px;
	border-radius:4px;
	margin-bottom:4px;
	font-weight:normal;
}
.filters span.qita.cur,.filters span.qita.cur:hover {
	background:none;
}
.filters span.qita.cur b,.filters span.qita.cur:hover b {
	background:#ffc03a;
}
.filters span.qita:hover b {
	background:#ffcd82;
}
.filters span.qita .form-group {
	background:none;
	display:inline-block;
}
.filters span.qita.cur input {
	border:1px solid #acacac;
}
/*icon*/
.icon-none {
	display:inline-block;
	width:40px;
	height:40px;
	background:url(../images/default-none.png) no-repeat 0 0;
	margin:0 15px 0 0;
}
.refresh {
	width:40px;
	height:40px;
	display:inline-block;
	margin-top:18px;
}
.icon-refresh {
	display:inline-block;
	width:40px;
	height:40px;
	background:url(../images/refresh.png) no-repeat center center;
}
.refresh:hover {
	opacity:0.6;
	filter:alpha(opacity=60);
}
.icon-info,.icon-hidden,.icon-show {
	display:inline-block;
	width:20px;
	height:20px;
	margin-right:5px;
	background:url(../images/icon-help.png) no-repeat 0 0;
	text-indent:-9000px;
	overflow:hidden;
}
.icon-show {
	background:green;
}
.icon-hidden {
	background:url(../images/hiddendiv.png) no-repeat 0 0
}
.icon-show {
	background:url(../images/showdiv.png) no-repeat 0 0
}
/*temp*/
.clearfix{clear:both;float:none;}
.clearfix.height30 {
	height:100px;
}
.clearfix.height10 {
	height:20px;
}
/*======modal========*/
.modal-header .close {
	float:right;
	margin-right:5px;
	width:30px;
	height:30px;
	border:none;
	background:url(../images/window-close.png) no-repeat center center;
}
.modal {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1050;
	display:none;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
	outline:0;
}
.modal.fade .modal-dialog {
	-webkit-transition:-webkit-transform .3s ease-out;
	-o-transition:-o-transform .3s ease-out;
	transition:transform .3s ease-out;
	-webkit-transform:translate(0,-25%);
	-ms-transform:translate(0,-25%);
	-o-transform:translate(0,-25%);
	transform:translate(0,-25%);
}
.modal.in .modal-dialog {
	-webkit-transform:translate(0,0);
	-ms-transform:translate(0,0);
	-o-transform:translate(0,0);
	transform:translate(0,0);
}
.modal-open .modal {
	overflow-x:hidden;
	overflow-y:auto;
}
.modal-dialog {
	position:relative;
	width:auto;
	margin:10px;
}
.modal-content {
	position:relative;
	background-color:#fff;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	border:1px solid #999;
	border:1px solid rgba(0,0,0,.2);
	border-radius:6px;
	outline:0;
	-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);
	box-shadow:0 3px 9px rgba(0,0,0,.5);
}
.modal-backdrop {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1040;
	background-color:#000;
}
.modal-backdrop.fade {
	filter:alpha(opacity=0);
	opacity:0;
}
.modal-backdrop.in {
	filter:alpha(opacity=50);
	opacity:.5;
}
.modal-header {
	padding:15px 5px 0;
	border-bottom:none;
}
.modal-header h4 {
	float:none;
	border-bottom:1px solid #e1e1e1;
	margin:0 10px;
	font-size:16px;
	font-weight:normal;
	line-height:20px;
	height:35px;
}
.modal-header h4 * {
	vertical-align:top;
}
.modal-header .close {
	margin-top:-2px;
	opacity:0.6;
	filter:alpha(opacity=60);
}
.modal-header .close:hover {
	opacity:1;
	filter:alpha(opacity=100);
}
.modal-title {
	margin:0;
	line-height:1.42857143;
}
.modal-body {
	position:relative;
	padding:25px;
}
.modal .form-horizontal {
	margin:0 10px;
}
.modal form textarea {
	width:100%;
}
.modal-footer {
	padding:15px 0;
	text-align:right;
	border-top:1px solid #e5e5e5;
	margin:0 15px;
}
.noborder .modal-footer {border:none;}
.modal-footer .btn + .btn {
	margin-bottom:0;
	margin-left:5px;
}
.modal-footer .btn-group .btn + .btn {
	margin-left:-1px;
}
.modal-footer .btn-block + .btn-block {
	margin-left:0;
}
.modal-scrollbar-measure {
	position:absolute;
	top:-9999px;
	width:50px;
	height:50px;
	overflow:scroll;
}
@media (min-width:768px) {
		.modal-dialog {
		width:420px;
		margin:15% auto 30px;
	}
	.modal-content {
		-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
		box-shadow:0 5px 15px rgba(0,0,0,.5);
	}
	.modal-sm {
		width:300px;
	}
	.modal-big .modal-dialog {
		width:600px;
	}
	.modal-small .modal-dialog {
		width:300px;
		margin-top:20%;
	}
}
@media (min-width:992px) {
	.modal-lg {
		width:900px;
	}
}

/*card*/
.card {
	border:0px solid#ccc;
	width:22%;
	min-width:190px;
	float:left;
	margin-right:3%;
	box-shadow:0 0 4px rgba(0,0,0,.2);
	-webkit-box-shadow:0 0 2px rgba(0,0,0,.2);
	position:relative;
	box-sizing:padding-box;
	padding:25px;
}
.card:hover {
	background:#FCFCFC;
}
.card:before {
	background:url(../images/shadow-right.png) bottom center no-repeat;
	content:'';
	display:block;
	width:100px;
	height:15px;
	position:absolute;
	bottom:-9px;
	right:-6px;
	z-index:-1;
}
.card:after {
	clear:both;
	background:url(../images/shadow-left.png) bottom left no-repeat;
	content:'';
	display:block;
	width:100px;
	height:15px;
	position:absolute;
	bottom:-11px;
	left:-3px;
	z-index:-1;
}
/*这些宽度可调整为采用栅格时显示的效果，则适时调整掉此些宽度*/
.card-2,.card-3,.card-4,.card-5,.card-10 {
	width:30%;
	min-width:220px;
}
.card-4,.card-5 {
	min-width:300px;
}
.card-4 {min-width:330px;}
.card-6 {
	width:16.8%;
	min-width:170px;
}
.card-7 {
	width:16.8%;
	min-width:100px;
}
.card-9 {
	width:47%;
	min-width:480px;
}
.card-10 {
	min-width:330px;
}
/*关于卡片的各种状态*/
.card label {
	display:none;
}
.card[class*="forward-"]:before, .card[class*="forward-"]:after{
	display:inline-block;
}
.card [class*="forwardlabel-"] {
	display:inline-block;
}
[class*="forward-"] label,[class*="forwardlabel-"] {
	display:inline-block;
	position:absolute;
	left:0;
	top:0;
	content:'';
	width:47px;
	height:20px;
}
[class*="forwardlabel-"] {
	left:-3px;
	top:6px;
}
[class*="forward-"] label:after,[class*="forward-"] label span,[class*="forwardlabel-"]:after,[class*="forwardlabel-"] span {
	position:absolute;
	content:'';
	top:6px;
}
[class*="forward-"] label:after,[class*="forwardlabel-"]:after {
	width:47px;
	height:20px;
	left:-3px;
}
[class*="forward-"] label span,[class*="forwardlabel-"] span {
	color:#fff;
	left:2px;
	font-size:12px;
	line-height:16px;
	-webkit-transform-origin-x:0;
	-webkit-transform:scale(0.9);
	z-index:100;
}
[class*="forwardlabel-"] span {
	top:0;
	left:4px;
}
[class*="forward-"]:before {
	position:absolute;
	content:'';
	display:block;
	bottom:-5px;
	left:-1px;
	right:-1px;
	width:auto;
	height:6px;
	z-index:1;
}
.card-8[class*="forward-"]:before {
	top:0;
	bottom:auto;
}
.card-8[class*="forward-"] label:after,.card-8[class*="forward-"] label span {
	top:12px;
}
[class*="forwardlabel-b-"] {
	left:auto;
	right:0;
	top:auto;
	bottom:10px;
	width:44px;
}
[class*="forwardlabel-b-"]:after {
	transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	width:44px;
	left:0;
	bottom:0;
}
.forwardlabel-b-1:after {
	background:url(../images/forward-1.png) no-repeat right 0;
}
.forwardlabel-b-2:after {
	background:url(../images/forward-2.png) no-repeat right 0;
}
.forwardlabel-b-3:after {
	background:url(../images/forward-3.png) no-repeat right 0;
}
[class*="forwardlabel-b-"] span {
	top:10px;
	left:8px;
}
.forward-1 label:after,.forwardlabel-1 {
	background:url(../images/forward-1.png) no-repeat 0 0;
}
.forward-1:before {
	background:#FFBC00;
}
.forward-2 label:after,.forwardlabel-2 {
	background:url(../images/forward-2.png) no-repeat 0 0;
}
.forward-2:before {
	background:#00EAC7;
}
.forward-3 label:after,.forwardlabel-3 {
	background:url(../images/forward-3.png) no-repeat 0 0;
}
.forward-3:before {
	background:#45C4FF;
}

.card.alert {
	margin-bottom:25px;
	border-radius:2px;
}
.card dl {
	margin:0;
}
.card dt {
	position:relative;
}
.card dt em {
	font-weight:normal;
	font-style:normal;
}
.card dd {
	line-height:180%;
	color:#4A4A4A;
}
.card big {
	font-weight:bold;
	font-size:16px;
}
.card-9 dt big {
	font-size:18px;
}
.card big,.card em,.card dd {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.address-list dd,.card dd.wide {
	white-space:normal;
	text-overflow:normal;
}
.photo-rectangle,.photo-circle {
	width:75px;
	height:100px;
	display:inline-block;
	background:url(../images/photo-default.png) no-repeat center center#DFDFDF;
	border:1px solid #DFDFDF;
	border-radius:4px;
	overflow:hidden;
	margin-right:25px;
}
.photo-circle {
	width:80px;
	height:80px;
	border-radius:50%;
	margin-top:8px;
}
.photo-circle img {
	margin-top:-10px;
	width:100%;
}
.address-list {
	border-top:1px dashed #ccc;
	margin-top:15px;
	padding-top:15px;
}
.address-list img {
	margin-bottom:15px;
}
.address-list .row {
	margin-left:-15px;
	margin-right:-15px;
}
.address-list .row [class*="col-"] {
	white-space:normal;
	word-wrap:break-word;
	line-height:150%;
}
.operation-list {
	border-top:1px solid #ccc;
	line-height:300%;
	padding:0 10px;
	margin-top:20px;
}
.operation-list span {
	padding:0 5px;
	color:#00C1DE;
}
.close {
	float:right;
	font-size:21px;
	font-weight:normal;
	line-height:1;
	color:#000;
	text-shadow:none;
	filter:alpha(opacity=20);
	opacity:.2;
}
.close:hover,.close:focus {
	color:#000;
	text-decoration:none;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:.5;
}
button.close {
	-webkit-appearance:none;
	padding:0;
	cursor:pointer;
	background:transparent;
	border:0;
}
.card .close {
	position:absolute;
	right:10px;
	top:10px;
}
.card p {
	position:relative;
}
.card-3 dt,.card-4 dt {
	padding-bottom:10px;
	margin-bottom:10px;
}
.card-1 dt{line-height:250%;}
.card-1{padding-left:10px;padding-right:10px;}
.card-1 dl{margin:0 15px;;}
.card-1 .operation-list{margin-bottom:-20px;}
.card-3 dt:before,.card-4 dt:before {
	background:#DFDFDF;
	height:1px;
	left:-5px;
	right:-5px;
	content:'';
	position:absolute;
	bottom:-1px;
}
.card-4 dl,.card-5 dl {
	margin-top:8px;
	float:left;
}
.card-5 dt {
	margin-bottom:10px;
}
.center {
	text-align:center;
}
.center [class*="photo-"] {
	margin:10px 0 20px;
}
.card-6 dd,.card-7 dd {
	margin-left:-8px;
}
.card-6 dl {
	margin:0 10px;
}
.card-8 dd,.card-8 dt {
	display:block;
	width:100%;
	text-align:center;
}
.card-8 dt {
	margin-bottom:5px;
}
.card-8 {
	padding:25px 0 0;
}
.card-9 >dl {
	margin-top:15px;
}
.card-9 dd,.card-9 dl {
	float:left;
}
.card-9 dt {
	margin:10px 0 0;
}
.address-list dd {
	width:48%;
	margin-right:2%
}
.card-9 dd:nth-child(odd) {
	margin-right:0;
}
.card-9 dd.wide {
	width:100%;
}
.card-9 .pull-right {
	margin:20px 20px 0 0;
}
.card-10 dt {
	display:inline-block;
}
.card-10 h5 {
	font-size:18px;
	display:inline
}
.card-10 dl {
	clear:both;
	margin:15px 10px 10px;
}
.card-10 .photo-square {
	margin-right:20px;
	background:url(../images/appicon-default.png) no-repeat center center;
	width:50px;
	height:50px;
	display:inline-block;
}
.card-10 .photo-square img {
	background:#fff;
	width:100%;
	height:100%;
}
.card-10 h5 {
	line-height:50px;
	font-size:18px;
	margin:0;
}
.icon-male,.icon-female {
	display:inline-block;
	width:20px;
	height:20px;
	background:url(../images/ico-male.png) no-repeat center center;
	text-indent:-9000px;
	overflow:hidden;
	position:absolute;
	right:0;
}
.icon-female {
	background:url(../images/ico-female.png) no-repeat center center;
}
.card-8 dt .icon-male,.card-9 dt .icon-male {
	position:relative;
	top:4px;
}
.card-9 dt .icon-male {
	margin-left:10px;
}
.cards {
	padding:25px;
}
.item-card {
	display:inline-block;
	width:260px;
	height:124px;
	margin-right:20px;
	margin-bottom:20px;
	border:1px solid #d2d2d2;
	background:#fff;
	padding:18px 20px;
	position:relative;
	overflow:hidden;
}
.item-card:hover {
	cursor:pointer;
	background:#fafafa;
}
.item-card big {
	font-size:16px;
	font-weight:bold;
}
.item-card label {
	font-weight:normal;
	display:block;
}
.item-card label {
	height:20px;
}
.item-card label button {
	float:right;
	border:0;
	margin-right:50px;
	background:none;
	padding-left:25px;
	color:#7fd4e9;
	background:url(../images/ico-edit.png) no-repeat center left;
}
.item-card label em i {
	font-style:normal;
	display:block;
	font-size:12px;
	-webkit-transform:scale(.9);
	-ms-transform:scale(.9);
	-o-transform:scale(.9);
	transform:scale(.9);
	text-align:center;
}
.item-card label em {
	font-style:normal;
	font-size:.2em;
	position:absolute;
	height:20px;
	line-height:20px;
	right:0;
	width:43px;
	background:#7fd4e9;
	color:#fff;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}
.item-card label .forbid {
	background:#ec877f;
}
.item-card >div {
	height:30px;
	line-height:30px;
	padding-left:25px;
}
.item-card >div.tools {
	position:absolute;
	width:100%;
	height:55px;
	background:rgba(0,0,0,.3);
	left:0;
	bottom:0;
	text-align:center;
	padding:0;
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	-o-transform:translateY(100%);
	transform:translateY(100%);
	-webkit-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s;
}
.item-card >div.tools.show {
	-webkit-transform:translateY(0%);
	-ms-transform:translateY(0%);
	-o-transform:translateY(0%);
	transform:translateY(0%);
}
.item-card >div.tools button {
	width:50px;
	height:50px;
	border:0;
	background:none;
	color:#fff;
}
.item-card >div.tools button + button {
	margin-left:50px;
}
.item-card >div.person {
	background:url(../images/user.png) center left no-repeat;
	margin-top:15px;
}
.item-card >div.time {
	background:url(../images/clock.png) center left no-repeat;
}

/*双向select*/
.bootstrap-duallistbox-container .buttons {
	width: 100%;
	margin-bottom: -1px;
  }
  
  .bootstrap-duallistbox-container label {
	display: block;
  }
  
  .bootstrap-duallistbox-container .info {
	display: inline-block;
	margin-bottom: 5px;
	font-size: 13px;
	line-height:30px;
  }
  
  .bootstrap-duallistbox-container .clear1,
  .bootstrap-duallistbox-container .clear2 {
	display: none;
	font-size: 10px;
  }
  
  .bootstrap-duallistbox-container .box1.filtered .clear1,
  .bootstrap-duallistbox-container .box2.filtered .clear2 {
	display: inline-block;
  }
  
  .bootstrap-duallistbox-container .move,
  .bootstrap-duallistbox-container .remove {
	width: 60%;
  }
  
  .bootstrap-duallistbox-container .btn-group .btn {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom:0px;
  }
  .bootstrap-duallistbox-container select {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background:none;
	overflow:auto;
  }
  .bootstrap-duallistbox-container select option {
	padding:4px;
  }
  
  .bootstrap-duallistbox-container .moveall,
  .bootstrap-duallistbox-container .removeall {
	width: 40%;
  }
  
  .bootstrap-duallistbox-container.bs2compatible .btn-group > .btn + .btn {
	margin-left: 0;
  }
  
  .bootstrap-duallistbox-container select {
	width: 100%;
	height: 300px;
	padding: 0;
  }
  
  .bootstrap-duallistbox-container .filter {
	display: inline-block;
	width: 100%;
	height: 31px;
	margin: 0 0 5px 0;
	padding-left:28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background:url(../images/ico-search-dark.png) no-repeat 5px center;
  }
  
  .bootstrap-duallistbox-container .filter.placeholder {
	color: #aaa;
  }
  
  .bootstrap-duallistbox-container.moveonselect .move,
  .bootstrap-duallistbox-container.moveonselect .remove {
	display:none;
  }
  
  .bootstrap-duallistbox-container.moveonselect .moveall,
  .bootstrap-duallistbox-container.moveonselect .removeall {
	width: 100%;
  }



.form-group.width-half {
	width:50%;
	float:left;
}
.form-group.width-half [class*="col-md-"] {
	margin-left:5px;
	margin-right:-5px;
}
.form-group.width-third {
	width:33.33%;
	float:left;
}
.form-group.width-third [class*="col-md-"] {
	margin-left:5px;
	margin-right:-5px;
}
th.time {
	width:125px;
}
th.week {
	min-width:180px;
}
.marginl10 {
	margin-left:10px;
}
.marginl20 {
	margin-left:20px;
}
.marginb10 {
	margin-bottom:10px;
}
.marginb20 {
	margin-bottom:20px;
}
.margint10 {
	margin-top:10px;
}
.form-inline .form-group.marginr0 {
	margin-right:0;
	margin-left:-5px;
}
.userlist {
	border-left:1px dashed #ccc;
	padding-left:35px;
}
.userlist h3 {
	line-height:200%;
	font-size:16px;
	display:inline;
	margin-bottom:20px;
}
.userlist {
	width:390px;
}
.userlist .card-4 {
	margin-top:10px;
}
.userlist .card-4:before,.userlist .card-4:after {
	display:none;
}
.userlist [class*="forward-"]:before,.userlist [class*="forward-"]:after {
	display:inline-block;
}
.card-1 .operation-list {
	padding:0 4px;
}
.userlist .form-control {
	width:212px;
}
.card.cur:after,.card.cur:hover:after {
	top:0;
	bottom:0;
	left:0;
	width:8px;
	height:auto;
	background:#19BEE3;
	z-index:10;
}
.card.cur:hover {
	background:transparent;
}
#div-oidc-rolesetting-roles {
	}#div-oidc-rolesetting-roles.collapsed {
	width:calc(100% - 400px);
	float:left;
}
#div-oidc-rolesetting-role-users,#div-oidc-rolesetting-rolefunc {
	height:370px;
	overflow:auto;
}
.btn-sm {
	font-size:14px;
	padding:0 10px;
	height:30px;
	line-height:28px;
	border-radius:4px;
}
/*reset*/
  .side-nav.collapsed > li.navigation .sidebar-toggle span {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	width:100%;
}
