.show-box{
    border:3px solid #333;
    margin:50px 0;
    padding: 15px;
    /*display: none;*/
}
.copy{
    width: 25px;
    height: 25px;
    border:0;
    outline: none;
    background: url(../../normal/images/copycode.gif) no-repeat center;
    background-size: contain; 
    vertical-align: middle;
    margin-left: 5px;
}
/*dome */
.demo .demo-title{
    font-size: 24px;
    margin:10px 0;
    line-height: 50px;
    padding: 0 10px;
    background: #aabbcc;
    font-weight: bold;
}
#right-container .demo-title em{
    color:red; 
}
.demo * {
    font-size: 14px;
    color:#000;
}
.demo  ul{
}
.demo  a:hover{
    text-decoration: underline;
}
table tbody td{
    height: 60px;
}
table tbody td .img-box{
    height: 80px;
    display: inline-block;
}
table tbody td img{
    height: 100%;
}
table a{
    padding: 30px 0;
    line-height: 80px;
}
.demo .demo-container h2{
    background: #abdeff;
}
.demo .demo-container h2 a{
    float: right;
    margin-right: 20px;
}
.demo textarea,.demo-container pre{
    resize: none;
    width: 100%;
    /*height: 300px;*/
    font-size: 16px;
    color:#000;
}
.demo-container pre{
    position: relative;
}
.demo-container pre a{
    color:#0188c8;
}
.demo-container pre span{
    position: absolute;
    left:0;
}
.demo-container code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
    color: #657b83;
}
.demo-express-code-box .btn-default{
    background: #1893cc;
    border:#1893cc;
    color:#fff;
    float: right;
    margin-right: 15px;
    font-size: 14px;
}
.demo-express-code-box .btn-default:hover{
    text-decoration: none;
}
/* h1、h2 */
.content-h1{
    height: 66px;
    padding: 0 10px 0 38px;
    background: url(../../normal/images/ico-title.png) no-repeat left center;
    line-height: 66px;
    font-size: 24px;
    color:#000;
    margin:0;
    border-bottom:1px solid #979797;
}
.content-h1 .refresh{
    width: 24px;
    height: 24px;
    float: right;
    margin-top:21px;
    border:0;
    background: url(../../normal/images/refresh.png) no-repeat;
}
.content-h2{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 18px;
    border:0;
    position: relative;
}
.content-h2:before{
    position: absolute;
    top:50%;
    left:0;
    margin-top: -9px;
    content: " ";
    width: 3px;
    height: 18px;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#06bce1,endcolorstr=#5682fd,gradientType=1);
    background: -linear-gradient(top,#06bce1,#5682fd);
    background: -moz-linear-gradient(top,#06bce1,#5682fd);
    background: -webkit-linear-gradient(top,#06bce1,#5682fd);
}
/* form */
form{
    margin:30px 0;
}
form .form-line *{
    font-size: 14px;
}
.form-line{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 26px;
}
.form-line label{
    width: 80px;
    height:30px;
    font-weight: normal;
    vertical-align: top;
    margin: 0;
}
#right-container .dropdown{
    display: inline-block;
    height: 30px;
    line-height: 16px;
    max-width: 136px;
}
#right-container .dropdown .btn {
    height: 30px;
    line-height: 16px;
    max-width: 136px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 0;
}
.form-line label + .dropdown{
    display: inline-block;
    height: 30px;
    vertical-align: top;
}
.form-line label + .dropdown [data-toggle=dropdown]{
    height: 30px;
    line-height: 16px;
    border-radius:0;
    border:1px solid #c5c5c5;
}
.form-line input{
    width: 200px;
    height: 30px;
    padding:0 5px;
    border:1px solid #c5c5c5;
    outline: none;
}
.form-line input::placeholder{
    color:#8B8B8B;
}

/* date */
.form-line .form-date{
    display: inline-block;
    width: 120px;
    position: relative;
    vertical-align: top
}
.form-line .form-date + em{
    display: inline-block;
    height: 30px;
    color:#e6e6e6;
}
.form-line .form-date input[type=text]{
    width: 100%;
}
.form-line .form-date input[type=text]{
    background: url(../../normal/images/clock.png) no-repeat right 5px center;
}
/*  */
form button.btn-default{
    background: #F7F7F7;
    line-height: 10px;
    font-size: 14px;
    height: 30px;
    border-radius:0;
    border:1px solid #c5c5c5;
}
/*  */
.form-line input[type=number]{
    width: 50px;
    height: 25px;
    padding-right: 0;
}
/* paging */
#paging-app{
    text-align: right;
}
.page {
    display: inline-block;
    height: 40px;
    text-align: center;
    margin: 20px auto 0;
    background: #f2f2f2;
    user-select: none;
}
.pagelist {
    font-size: 0;
    background: #fff;
    height: 50px;
    line-height: 50px;
}

.pagelist span {
    font-size: 14px;
    color: #d7d7d7;
}

.pagelist .jump {
    border: 1px solid #d7d7d7;
    padding: 2px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.pagelist .bgprimary {
    cursor: default;
    color: #fff;
    background: #0188c8;
    border-color: #0188c8;
}
.jumpinp input {
    width: 40px;
    height: 22px;
    font-size: 13px;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
}

.ellipsis {
    width: 30px;
    height: 24px;
    padding: 2px 8px;
    border: 1px solid #d7d7d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 10px;
}

.jumppoint {
    margin-left: 10px;
}

.pagelist .gobtn {
    font-size: 12px;
    padding: 4px 10px;
}

.bgprimary {
    cursor: default;
    color: #fff;
    background: #337ab7;
    border-color: #337ab7;
}
.pagelist .jump.disabled{
    pointer-events: none;
    background: #ddd;
    display: none;
}
.page .auxiliary{
    color:#333;
}
.auxiliary-last{
    margin-right: 10px;
}
/* 栅格系统 */
.grid.row{
    padding-left: 40px;
}
.grid.row [class*=col-md-]{
    margin: 13px 0 ;
}
/* #table */
#table{

}
#table thead{
    background: #f1f1f1;

}
#table.table>thead>tr>th{
    border: 0;
    height: 40px;
    line-height: 40px;
    color:#4A4A4A;
    font-weight: normal;
}
#table.table tbody td{
    height: 40px;
    line-height: 40px;
}
#table.table .table-checkbox{
    display: inline-block;
    width: 16px;
    height: 16px;  
    margin: 0;
    vertical-align: middle;
    margin-right: 6px;
    background: url(../images/Checkbox-off.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    
}
#table.table .table-checkbox.active{
    background: url(../images/Checkbox-off-half.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    
}   
#table.table tbody td a{
    padding: 0;
    line-height: 40px;
    color:#3F9EE7;
}
#table.table tbody td a + a{
    margin-left: 18px;
}
#table.table tbody td img{
    width: 50px;
    height: 50px;
}
#table.table tbody td a:hover{
    text-decoration: none;
}
#table.table.table-hover>tbody>tr:hover{
    background: #FFF7EA;
}
#table.table tbody td.time{
    color:#bdbdbd;
}
#table.table tbody td.ongoing,
#table.table tbody td.notSarted,
#table.table tbody td.started{
    color:#2ead88;
}
#table.table tbody td.cancelled,
#table.table tbody td.ban{
    color:#974343;
}
#table.table tbody td.agreed{
    color:#535353;
}
@media screen and (min-width: 768px) and (max-width: 1366px){
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
}
@media screen and (min-width: 768px) and (max-width: 1600px){
    .table-responsive>#table>.table {
        margin-bottom: 0;
    } 
}
@media screen and (min-width: 768px) and (max-width: 1600px){
    .table-responsive>#table.table>tbody>tr>td,
    .table-responsive>#table.table>tbody>tr>th,
    .table-responsive>#table.table>tfoot>tr>td,
    .table-responsive>#table.table>tfoot>tr>th,
    .table-responsive>#table.table>thead>tr>td, 
    .table-responsive>#table.table>thead>tr>th {
        white-space: nowrap;
    }
}
