.show-box{
    border:3px solid #333;
    margin:50px 0;
    padding: 15px;
    /*display: none;*/
}
.copy{
    width: 25px;
    height: 25px;
    border:0;
    outline: none;
    background: url(../../normal/images/copycode.gif) no-repeat center;
    background-size: contain; 
    vertical-align: middle;
    margin-left: 5px;
}
/*dome */
.demo .demo-title{
    font-size: 24px;
    margin:10px 0;
    line-height: 50px;
    padding: 0 10px;
    background: #aabbcc;
    font-weight: bold;
}
#right-container .demo-title em{
    color:red; 
}
.demo * {
    font-size: 16px;
    color:#000;
}
.demo  ul{
}
.demo  a:hover{
    text-decoration: underline;
}
.demo table tbody td{
    height: 60px;
}
.demo table tbody td .img-box{
    height: 80px;
    display: inline-block;
}
.demo table tbody td img{
    height: 100%;
}
.demo table a{
    padding: 30px 0;
    line-height: 80px;
}
.demo .demo-container h2{
    background: #abdeff;
}
.demo .demo-container h2 a{
    float: right;
    margin-right: 20px;
}
.demo textarea,.demo-container pre{
    resize: none;
    width: 100%;
    /*height: 300px;*/
    font-size: 16px;
    color:#000;
}
.demo-container pre{
    position: relative;
}
.demo-container pre span{
    position: absolute;
    left:0;
}
.demo-container code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
    color: #657b83;
}
.demo-express-code-box .btn-default{
    background: #1893cc;
    border:#1893cc;
    color:#fff;
    float: right;
    margin-right: 15px;
    font-size: 14px;
}
.demo-express-code-box .btn-default:hover{
    text-decoration: none;
}
/* h1、h2 */
.content-h1{
    height: 66px;
    padding: 0 10px 0 38px;
    background: url(../../normal/images/ico-title.png) no-repeat left center;
    line-height: 66px;
    font-size: 24px;
    color:#000;
    margin:0;
    border-bottom:1px solid #979797;
}
.content-h1 .refresh{
    width: 24px;
    height: 24px;
    float: right;
    margin-top:21px;
    border:0;
    background: url(../../normal/images/refresh.png) no-repeat;
}
.content-h2{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 18px;
    border:0;
    position: relative;
}
.content-h2:before{
    position: absolute;
    top:50%;
    left:0;
    margin-top: -9px;
    content: " ";
    width: 3px;
    height: 18px;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#06bce1,endcolorstr=#5682fd,gradientType=1);
    background: -linear-gradient(top,#06bce1,#5682fd);
    background: -moz-linear-gradient(top,#06bce1,#5682fd);
    background: -webkit-linear-gradient(top,#06bce1,#5682fd);
}
/* form */
form{
    margin:30px 0;
}
form .form-line *{
    font-size: 14px;
}
.form-line{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 26px;
}
.form-line label{
    width: 80px;
    height:30px;
    font-weight: normal;
    vertical-align: top;
    margin: 0;
}
.form-line label + .dropdown{
    display: inline-block;
    height: 30px;
    vertical-align: top;
}
.form-line label + .dropdown [data-toggle=dropdown]{
    height: 30px;
    line-height: 16px;
    border-radius:0;
    border:1px solid #c5c5c5;
}
.form-line input{
    width: 200px;
    height: 30px;
    padding:0 5px;
    border:1px solid #c5c5c5;
    outline: none;
}
.form-line input::placeholder{
    color:#8B8B8B;
}

/* date */
.form-line .form-date{
    display: inline-block;
    width: 120px;
    position: relative;
    vertical-align: top
}
.form-line .form-date + em{
    display: inline-block;
    height: 30px;
    color:#e6e6e6;
}
.form-line .form-date input[type=text]{
    width: 100%;
}
.form-line .form-date input[type=text]{
    background: url(../../normal/images/clock.png) no-repeat right 5px center;
}
/*  */
form button.btn-default{
    background: #F7F7F7;
    line-height: 10px;
    font-size: 14px;
    height: 30px;
    border-radius:0;
    border:1px solid #c5c5c5;
}
/*  */
.form-line input[type=number]{
    width: 50px;
}
