.list{
    /*display: inline-block;*/
    padding: 10px; 
    border: 1px solid #aaa;
    border-radius: 5px
}
.list li a{
    font-size: 16px;
    line-height: 30px;
}
.show-box{
    border:3px solid #333;
    margin:50px 0;
    padding: 15px;
    /*display: none;*/
}
.demo kbd{
    color:#fff;
}
.copy{
    width: 25px;
    height: 25px;
    border:0;
    outline: none;
    background: url(../../normal/images/copycode.gif) no-repeat center;
    background-size: contain; 
    vertical-align: middle;
    margin-left: 5px;
}
/* demo */
.demo .demo-title{
    font-size: 24px;
    margin:10px 0;
    line-height: 50px;
    padding: 0 10px;
    background: #aabbcc;
    font-weight: bold;
}
.demo-express{
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #d9edf7;
    margin-bottom: 20px;
}
.demo-express .demo-express-bg{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}
#right-container .demo-title em{
    color:red; 
}
.demo * {
    color:#000;
}
.demo ul{
}
.demo a:hover{
    text-decoration: underline;
}
.demo h3{
    font-size: 16px;
    margin-top:0;
}
.demo h3.cul-h3{
    font-size: 14px;
    background: #abddef;
    line-height: 30px;
    padding: 0 10px;
    margin-top:0;
}
/* 栅格系统 */
table tbody td{
    height: 60px;
}
table tbody td .img-box{
    height: 80px;
    display: inline-block;
}
table tbody td img{
    height: 100%;
}
table a{
    padding: 30px 0;
    line-height: 80px;
}
.demo #demo-express-h1,
.demo [id*='demo-express-']{
    background: #abdeff;
}
.demo #demo-express-h1 button,
.demo [id*='demo-express-'] a{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}
.demo [id*='demo-express-'] a{
    margin-top: 0px;
}
.demo-container pre{
    resize: none;
    width: 100%;
    font-size: 16px;
    color:#000;
}
.demo pre{
    position: relative;
}
.demo pre a{
    color:#0188c8;
}
.demo-container pre span{
    position: absolute;
    left:0;
}
.demo-container code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
    color: #657b83;
}
.goTop.btn-info,
.goTop.btn-default{
    background: #1893cc;
    border:#1893cc;
    color:#fff;
    float: right;
    margin-right: 15px;
    font-size: 14px;
    margin-bottom: 20px;
}
.goTop.btn-info:hover,
.goTop.btn-default:hover{
    text-decoration: none;
}
/* h1、h2 */
.content-h1{
    height: 66px;
    padding: 0 10px 0 38px;
    background: url(../../../content/normal/images/ico-title.png) no-repeat left center;
    line-height: 66px;
    color:#000;
    margin:0 0 20px 0;
    border-bottom:1px solid #979797;
}
.content-h1 label{
   font-size: 24px;
   font-weight: normal;
   margin-right: 10px; 
   margin-bottom: 0;    
}
.content-h1 .refresh{
    width: 24px;
    height: 24px;
    margin-top:21px;
    border:0;
    background: url(../../../content/normal/images/refresh.png) no-repeat;
}
.content-h1 .breadcrumb{
    display: inline-block;
    background: none;
    padding: 0;
    margin-top: 0;
}
.content-h1 .breadcrumb a{
    color: #000;
}
.content-h1 .breadcrumb>li:before,
.content-h1 .breadcrumb>li+li:before{
    font-family: monospace;
    font-size: 12px;
    content:"〉";
    color: #9f9f9f;
    background:none;
}
.content-h2{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    
    border:0;
    position: relative;
    margin: 20px 13px 20px 10px;
}
.content-h2 label{
    font-size: 18px;
    font-weight: normal;
}
.content-h2:before{
    position: absolute;
    top:50%;
    left:0;
    margin-top: -9px;
    content: " ";
    width: 3px;
    height: 18px;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#06bce1,endcolorstr=#5682fd,gradientType=1);
    background: -linear-gradient(top,#06bce1,#5682fd);
    background: -moz-linear-gradient(top,#06bce1,#5682fd);
    background: -webkit-linear-gradient(top,#06bce1,#5682fd);
}
.content-h2 form{
    margin:0;
    height: inherit;
    margin-right: -15px;
}
.content-h2 form .form-group{
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
.content-h2 form .form-group + .form-group{
    margin-left: 30px;
}
.content-h2 .form-group.form-group-right{
    float: right;
}
/* form */
form{
    margin:30px 0 50px 0;
    padding-left:120px; 
}
form .form-group *{
    font-size: 14px;
}
.form-inline{
    padding: 0 13px 0 20px;
}
.form-inline .form-group{
    display: inline-block;
    margin: 0 40px 20px 0;
}
.form-group{
    font-size: 0;
    /*height: 30px;*/
    line-height: 30px;
    margin-right: 26px;
    margin-bottom: 20px;
    vertical-align: top;
}
.form-group >label{
    max-width: 190px;
    height:30px;
    font-weight: normal;
    vertical-align: top;
    text-align: right;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.form-control{
    border-radius: 0px;
}
.form-horizontal .control-label{
    padding-top: 0;
}
.content-h2 .form-group >label,
.form-inline .form-group >label{
    width: auto;
    margin-right: 0px;
}
.btn .caret{
    margin-left: 10px;
}
.form-group >label + .dropdown{
    display: inline-block;
    height: 30px;
    vertical-align: top;
}
.form-group >label + .dropdown [data-toggle=dropdown]{
    height: 30px;
    line-height: 16px;
    border-radius:0;
    border:1px solid #c5c5c5;
}
.form-group input{
    width: 200px;
    height: 30px;
    padding:0 5px;
    border:1px solid #c5c5c5;
    outline: none;
}
.form-group input::placeholder{
    color:#8B8B8B;
}

/* date */
.form-group .form-date{
    display: inline-block;
    width: 120px;
    position: relative;
    vertical-align: top
}
.form-group .form-date + em{
    display: inline-block;
    height: 30px;
    color:#e6e6e6;
    padding:0 5px;
}
.form-group .form-date input[type=text]{
    width: 100%;
}
.form-group .form-date input[type=text]{
    background: url(../../../content/normal/images/clock.png) no-repeat right 5px center;
}
/*  */
.form-group button.btn-default{
    line-height: 10px;
    font-size: 14px;
    height: 30px;
    border-radius:0;
    border:1px solid #c5c5c5;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    background:#f7f7f7
}
/*  */
.form-group input[type=number]{
    width: 50px;
    padding-right: 0;
    font-size: 12px;
}
/*  */
.form-group textarea{
    padding: 0 5px;
    line-height: 20px;
}
.form-group.form-group-textarea{
    height: auto;
}
/*  */
.form-group .checkbox-btns,
.form-group .radio-btns{
    display: inline-block;
}
.form-group .checkbox-btns .form-checkbox,
.form-group .radio-btns .form-radio{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 6px;
    margin-left: 1px;
}
.form-group .checkbox-btns .disabled,
.form-group .radio-btns .disabled{
    color:#ccc;
}
.form-group .checkbox-btns .disabled .form-checkbox,
.form-group .radio-btns .disabled .form-radio{
    width: 20px;
    height: 20px;
    border: 1px solid rgba(2,2,2,.1);
    border-radius: 4px;

}
.form-group .radio-btns .disabled .form-radio{
    border-radius: 50%;
}
.form-group .checkbox-btns .disabled .form-checkbox:before,
.form-group .radio-btns .disabled .form-radio:before{
    background: rgba(2,2,2,0);
}
.form-group .checkbox-btns .checkbox-inline,
.form-group .radio-btns .radio-inline{
    padding: 0;
    margin-right: 30px;
    margin-left: 0;
}

.form-group .checkbox-btns .checkbox-inline:not(.disabled) .form-checkbox{
    width: 20px;
    height: 20px;
    background: url(../../normal/images/checkbox-off.png) no-repeat center;
    overflow: hidden;
}
.form-group .checkbox-btns .checkbox-inline.active .form-checkbox{
    background: url(../../normal/images/checkbox-on.png) no-repeat center;
}
.form-group .radio-btns .form-radio{
    background: #fff;
    border: 1px solid rgba(2,2,2,.3);
    border-radius: 50%;
    overflow: hidden;
}
.form-group .radio-btns .form-radio:before{
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin:3px auto;
    border-radius: 50%;
    background: rgba(2,2,2,.3);
}
.form-group .radio-btns .radio-inline.active .form-radio{
    border: 1px solid #0090c9;
}
.form-group .radio-btns .radio-inline.active .form-radio:before{
    background-color: #0090c9;
}
.form-group .file-upload{
    display: inline-block;
}
.form-group .file-upload span{
    display: inline-block;
    width: 200px;
    height: 30px;
    border: 1px solid #c5c5c5;
}
.form-group .file-upload input[type=file]{
    display: inline-block;
    width: 200px;
    height: 30px;
    opacity: 0;
}
.form-group .file-upload button{
    display: inline-block;
    vertical-align: top;
    width: 56px;
    height: 30px;
    background-color: #f7f7f7;
    border: 1px solid #c5c5c5;
}
.form-group .checkbox-childs{
    padding-left: 30px;
}
/* btn-theme */
.btn-theme{
    height: 30px;
    padding: 0px 12px;
    line-height: 28px;
    border-radius: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#02c1de,endcolorstr=#44b9eb,gradientType=1);
    background: -linear-gradient(right,#02c1de,#44b9eb);
    background: -moz-linear-gradient(right,#02c1de,#44b9eb);
    background: -webkit-linear-gradient(right,#02c1de,#44b9eb);
    border-color: #31afe4;
    color: #fff;
}
.btn-theme:hover{
    border-color: #31afe4;
    color: #fff;
    opacity: .7;
}
.form-group .btn + .btn{
    margin-left: 20px;
}
.form-inline .search-btn{
    float: right;
}
/* paging */
#paging-app {
    text-align: right;
    padding-right: 13px;
}
.page {
    display: inline-block;
    height: 40px;
    text-align: center;
    margin: 20px auto 0;
    background: #f2f2f2;
    user-select: none;
}
.pagelist {
    font-size: 0;
    background: #fff;
    height: 50px;
    line-height: 50px;
}

.pagelist span {
    font-size: 14px;
    color: #d7d7d7;
}

.pagelist .jump {
    border: 1px solid #d7d7d7;
    padding: 2px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.pagelist .bgprimary {
    cursor: default;
    color: #fff;
    background: #0188c8;
    border-color: #0188c8;
}
.jumpinp input {
    width: 40px;
    height: 22px;
    font-size: 13px;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
}

.ellipsis {
    width: 30px;
    height: 24px;
    padding: 2px 8px;
    border: 1px solid #d7d7d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 10px;
}

.jumppoint {
    margin-left: 10px;
}

.pagelist .gobtn {
    font-size: 12px;
    padding: 4px 10px;
}

.bgprimary {
    cursor: default;
    color: #fff;
    background: #337ab7;
    border-color: #337ab7;
}
.pagelist .jump.disabled{
    pointer-events: none;
    background: #ddd;
    display: none;
}
.page .auxiliary{
    color:#333;
}
.auxiliary-last{
    margin-right: 10px;
}
/* 栅格系统 */
.content-h1 + .grid.row{
    margin-top: 30px;
}
.grid.row{
    padding-left: 40px;
}
.grid.row [class*=col-md-]{
    margin: 13px 0 ;
}
.grid .dropdown{
    display: inline-block;
    height: 30px;
    line-height: 16px;
    max-width: 136px;
}
.grid .dropdown .btn {
    height: 30px;
    line-height: 16px;
    max-width: 136px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 0;
}
/* #table */
.table-responsive{
    margin-left: 10px;
    margin-right: 10px;
}
#table thead{
    background: #f1f1f1;

}
#table.table>thead>tr>th{
    border: 0;
    height: 30px;
    line-height: 30px;
    color:#4A4A4A;
    font-weight: normal;
}
#table.table>thead>tr>th .sort{
    display: inline-block;
    width: 10px;
    vertical-align: middle
}
#table.table>thead>tr>th .sort button{
    display: block;
    width: 10px;
    height: 10px;
    border: 0;
    background: url(../../../content/normal/images/dropdown-arr.png) center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
#table.table>thead>tr>th .sort .ascending-order{
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    background-position: center -1px;
}
#table.table>thead>tr>th .sort .descending-order{
    background-position: center -1px;
}
#table.table tbody td{
    line-height: 20px;
    vertical-align: middle;
}
#table.table .table-checkbox{
    display: inline-block;
    width: 16px;
    height: 16px;  
    margin: 0;
    vertical-align: middle;
    margin-right: 6px;
    background: url(../../../content/normal/images/Checkbox-off.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}
#table.table .table-checkbox.active{
    background: url(../../../content/normal/images/Checkbox-off-half.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    
}   
#table.table tbody td a{
    padding: 0;
    line-height: 40px;
    color:#3F9EE7;
}
#table.table tbody td a + a{
    margin-left: 18px;
}
#table.table tbody td img{
    width: 50px;
    height: 50px;
}
#table.table tbody td a:hover{
    text-decoration: none;
}
#table.table.table-hover>tbody>tr:hover{
    background: #FFF7EA;
}
#table.table tbody td.time{
    color:#bdbdbd;
}
#table.table tbody td.ongoing,
#table.table tbody td.notSarted,
#table.table tbody td.started{
    color:#2ead88;
}
#table.table tbody td.cancelled,
#table.table tbody td.ban{
    color:#974343;
}
#table.table tbody td.agreed{
    color:#535353;
}
@media screen and (min-width: 768px) and (max-width: 1600px){
    .table-responsive {
        width: calc(100% - 20px);
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
}
@media screen and (min-width: 768px) and (max-width: 1600px){
    .table-responsive>#table>.table {
        margin-bottom: 0;
    } 
}
@media screen and (min-width: 768px) and (max-width: 1600px){
    .table-responsive>#table.table>tbody>tr>td,
    .table-responsive>#table.table>tbody>tr>th,
    .table-responsive>#table.table>tfoot>tr>td,
    .table-responsive>#table.table>tfoot>tr>th,
    .table-responsive>#table.table>thead>tr>td, 
    .table-responsive>#table.table>thead>tr>th {
        white-space: nowrap;
    }
}
.table-responsive.table-nothing{
    position: relative;
    padding-bottom: 60px;
}
.nothing{
    position: absolute;
    height: 40px;
    text-align: center;
    left: 50%;
    margin: 10px 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.nothing span{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
    background: url(../../../content/normal/images/default-none.png) no-repeat left;
    -webkit-background-size: contain;
    background-size: contain;
}
/* card */
.cards{
    padding: 25px;
}
.item-card{
    display: inline-block;
    width: 260px;
    height: 124px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #d2d2d2;
    background: #fff;
    padding: 18px 20px;
    position: relative;

    overflow: hidden;
}
.item-card:hover{
    cursor: pointer;
    background: #fafafa;
}
.item-card label{
    font-weight: normal;
    display: block;
}
.item-card label{
    height: 20px;
}
.item-card label button{
    float:right;
    border:0;
    margin-right: 50px;
    background: none;
    padding-left: 25px;
    color: #7fd4e9;
    background: url(../../../content/normal/images/ico-edit.png) no-repeat center left;
}
.item-card label em i{
    font-style: normal;
    display: block;
    font-size: 12px;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
    text-align: center;
}
.item-card label em{
    font-style: normal;
    font-size: .2em;
    position: absolute;
    height: 20px;
    line-height: 20px;
    right: 0;
    width: 43px;
    background: #7fd4e9;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.item-card label .forbid{
    background: #ec877f;
}
.item-card >div{
    height: 30px;
    line-height: 30px;
    padding-left: 25px;
}
.item-card >div.tools{
    position: absolute;
    width: 100%;
    height: 55px;
    background: rgba(0,0,0,.3);
    left:0;
    bottom: 0;
    text-align: center;
    padding: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.item-card >div.tools.show{
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
.item-card >div.tools button{
    width: 50px;
    height: 50px;
    border:0;
    background: none;
    color:#fff;
}
.item-card >div.tools button + button{
    margin-left: 50px;
}
.item-card >div.person{
    background: url(../../../content/normal/images/ico-user.png) center left no-repeat;
}
.item-card >div.time{
    background: url(../../../content/normal/images/clock.png) center left no-repeat;
}

/* heightchart */
#myChartPie,#myChartPie-2{
    margin: 0 auto;
}
/* #myChartPie*/
.highcharts-title{
    padding-left: 10px;
    line-height: 20px;
    font-size: 14px!important;
    position: relative;
}
.highcharts-title:before{
    position: absolute;
    content:" ";
    left:0;
    width: 4px;
    height: 16px;
    background: -webkit-linear-gradient(#1ac3e4,#5981fd); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#1ac3e4,#5981fd); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#1ac3e4,#5981fd); /* Firefox 3.6 - 15 */
    background: linear-gradient(#1ac3e4,#5981fd); /* 标准的语法 */
}
.highcharts-color-0 .highcharts-point,
.highcharts-color-1 .highcharts-point,
.highcharts-color-2 .highcharts-point,
.highcharts-color-3 .highcharts-point{
    display: none;
}
.highcharts-color-0:before,
.highcharts-color-1:before,
.highcharts-color-2:before,
.highcharts-color-3:before{
    position: absolute;
    content:" ";
    left:0;
    top:5px;
    width: 25px;
    height: 12px;
}
/* #myChartPie*/
#myChartPie .highcharts-color-0:before{
    background: -webkit-linear-gradient(left,#00E5E4,#CDFFFF);
    background: -o-linear-gradient(left,#00E5E4,#CDFFFF);
    background: -moz-linear-gradient(left,#00E5E4,#CDFFFF);
    background: linear-gradient(left,#00E5E4,#CDFFFF);
}
#myChartPie .highcharts-color-1:before{
    background: -webkit-linear-gradient(left,#FFDD6D,#FFF6AF);
    background: -o-linear-gradient(left,#FFDD6D,#FFF6AF);
    background: -moz-linear-gradient(left,#FFDD6D,#FFF6AF);
    background: linear-gradient(left,#FFDD6D,#FFF6AF);
}
#myChartPie .highcharts-color-2:before{
    background: -webkit-linear-gradient(left,#FFB99D,#FBB8A3);
    background: -o-linear-gradient(left,#FFB99D,#FBB8A3);
    background: -moz-linear-gradient(left,#FFB99D,#FBB8A3);
    background: linear-gradient(left,#FFB99D,#FBB8A3);
}

#myChartPie .highcharts-color-3:before{
    background: -webkit-linear-gradient(45deg,#8EE7FF,#00A5FF);
    background: -o-linear-gradient(45deg,#8EE7FF,#00A5FF);
    background: -moz-linear-gradient(45deg,#8EE7FF,#00A5FF);
    background: linear-gradient(45deg,#8EE7FF,#00A5FF);
}
#myChartPie .highcharts-data-label-connector{
    stroke-width: 2px;
}
#myChartPie .highcharts-data-label-connector.highcharts-color-0{
    stroke:#4BEFEE;
}
#myChartPie .highcharts-data-label-connector.highcharts-color-1{
    stroke:#FFE37C;
}
#myChartPie .highcharts-data-label-connector.highcharts-color-2{
    stroke:#FEB89E;
}
#myChartPie .highcharts-data-label-connector.highcharts-color-3{
    stroke:#23B6FF;
}
/* myChartPie-2*/
#myChartPie-2 .highcharts-color-0:before{
    background: -webkit-linear-gradient(left,#CDFFFF,#73A373);
    background: -o-linear-gradient(left,#CDFFFF,#73A373);
    background: -moz-linear-gradient(left,#CDFFFF,#73A373);
    background: linear-gradient(left,#CDFFFF,#73A373);
}
#myChartPie-2 .highcharts-color-1:before{
    background: -webkit-linear-gradient(left,#BFBFBF,#F5F5F3);
    background: -o-linear-gradient(left,#BFBFBF,#F5F5F3);
    background: -moz-linear-gradient(left,#BFBFBF,#F5F5F3);
    background: linear-gradient(left,#BFBFBF,#F5F5F3);
}
#myChartPie-2 .highcharts-color-2:before{
    background: -webkit-linear-gradient(left,#35E8EF,#73B9BC);
    background: -o-linear-gradient(left,#35E8EF,#73B9BC);
    background: -moz-linear-gradient(left,#35E8EF,#73B9BC);
    background: linear-gradient(left,#35E8EF,#73B9BC);
}
#myChartPie-2 .highcharts-data-label-connector.highcharts-color-0{
    stroke:#7AAB7F;
}
#myChartPie-2 .highcharts-data-label-connector.highcharts-color-1{
    stroke:#FFE37C;
}
#myChartPie-2 .highcharts-data-label-connector.highcharts-color-2{
    stroke:#50D3D9;
}
/**/
#myChartPie .highcharts-color-0.highcharts-legend-item-hidden:before,
#myChartPie .highcharts-color-1.highcharts-legend-item-hidden:before,
#myChartPie .highcharts-color-2.highcharts-legend-item-hidden:before,
#myChartPie .highcharts-color-3.highcharts-legend-item-hidden:before,
#myChartPie-2 .highcharts-color-0.highcharts-legend-item-hidden:before,
#myChartPie-2 .highcharts-color-1.highcharts-legend-item-hidden:before,
#myChartPie-2 .highcharts-color-2.highcharts-legend-item-hidden:before{
    background: #ddd;
}


/* myChartPieLine */
#myEChartPie + div{
    text-align: center;
    color:#005ac2;
    margin-bottom: 20px;
}
.echartsLegend{
    text-align: center;
    height: 20px;
    line-height: 20px;
}
.echartsLegend span{
    font-size: 12px;
}
.echartsLegend span:hover{
    cursor:pointer;
}
.echartsLegend span:before{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 26px;
    height: 20px;
    background: red;
    margin-right: 10px;
}
.echartsLegend span+span{
    margin-left: 50px;
}
.echartsLegend span:nth-child(1):before{
    background: #08a8ff;
}
.echartsLegend span:nth-child(2):before{
    background: #62dfb3;
}
.echartsLegend span:nth-child(3):before{
    background: #ffc001;
}
.echartsLegend span.selectHide{
    color:#ccc;
}
.echartsLegend span.selectHide:before{
    background: #ddd;
}

/* */
.myTooltip .title{
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    padding-top: 2px;
    background: #259beb;
    color:#fff;
    font-style: 12px;
    font-weight: normal;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.myTooltip .myTooltipBox{
    padding: 10px;
    margin-top: -20px;
}