*{
    font-size: 14px;
    padding: 0;
    margin:0;
    font-size: 14px;
    list-style: none;
}
html,body{
    height: 100%;
}
.container{
    font-size: 0;
    height: inherit;
}
header{
    height: 50px;
    overflow: hidden;
}
nav{
    display: inline-block;
    width: 230px;
    height: calc(100% - 60px);
    background: #fedcba;
    vertical-align: middle;
    overflow-x: hidden;
}
.right-content{
    width: calc(100% - 230px);
    display: inline-block;
    background: #123456;
    height: calc(100% - 60px);
    vertical-align: middle;
    overflow-x: hidden;
}
[v-cloak]{
    display: none;
}
