*{
    font-size: 14px;
    padding: 0;
    margin:0;
    font-size: 14px;
    list-style: none;
}
html,body{
    height: 100%;
}
.container{
    font-size: 0;
    height: inherit;
}
header{
    /*height: 50px;*/
}
nav{
    display: inline-block;
    width: 230px;
    height: calc(100% - 60px);
    background: #fedcba;
    vertical-align: middle;
    overflow-x: hidden;
}

#right-container{
    width: calc(100vw - 230px);
    float:right;
    top:5px;
}
#navbar.closed.collapsed nav{
    width: 50px;
}
#navbar.closed.collapsed + #right-container{
    width: calc(100vw - 50px);
}
[v-cloak]{
    display: none;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a{
    width: 100%;
}
header ul.dropdown-menu > li a{
    padding: 0;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings{
    position: absolute;
    width: 150px;
    margin: 0;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes{
    margin:10px 0;
}
#right-container{
    height:calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: auto; 
}
