*{
    font-size: 14px;
    padding: 0;
    margin:0;
    font-size: 14px;
    list-style: none;
}
html,body{
    height: 100%;
}
.container{
    font-size: 0;
    height: inherit;
}
nav{
    display: inline-block;
    width: 230px;
    height: calc(100% - 60px);
    background: #fedcba;
    vertical-align: middle;
    overflow-x: hidden;
}

#right-container{
    width: calc(100vw - 230px);
    float:right;
    padding: 0 45px 0 40px;
    top:5px;
}
#wrap .navbar.navbar-fixed-top.closed ~ #content,
#wrap .navbar.navbar-fixed-top ~ #content,
#wrap .navbar.navbar-fixed-top.collapsed ~ #content{
    padding-left: 255px;
}
#navbar.closed.collapsed nav{
    width: 50px;
}
#navbar.closed.collapsed + #right-container{
    width: calc(100vw - 50px);
}
[v-cloak]{
    display: none;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a{
    width: 100%;
}
header ul.dropdown-menu > li a{
    padding: 0;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings{
    position: absolute;
    width: 150px;
    margin: 0;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes{
    margin:10px 0;
}
#right-container{
    height:calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: auto; 
}
body .side-nav.collapsed .navigation.open .sidebar-toggle{
    background-color: rgba(5,201,238,0.9);
}
.side-nav > li > a.sidebar-toggle .ico-arr-dropdown,
.side-nav > li > a.sidebar-toggle .icon-repair
{
    display: none
}
.side-nav > li.navigation > .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li a,
.navbar-nav.sec-side-nav .menu > li > a{
    background:none;
}
.navbar-nav.sec-side-nav > li.navigation .menu li.dropdown.open ul.dropdown-menu li a{
    padding-left: 54px;
    background:none;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    color:#575757;
}
.navbar-nav.sec-side-nav > li.navigation .menu li.dropdown.open ul.dropdown-menu li.active a, 
.navbar-nav.sec-side-nav > li.navigation .menu li.dropdown.open ul.dropdown-menu li.active a:hover{
    background: rgba(255,255,255,1);
}