html{
    padding: 0;
}
.navbar{
    margin: 0;
    position: static;
}
#navApp{
    display: inline-block;
    width: 230px;
    height: calc(100vh - 50px);
    background: none;
    position: relative;
}
[v-cloak],sider,i-menu{
  display: none;
}
.ivu-menu-light{
    color:#fff;
    background:-webkit-linear-gradient(-45deg,#015075 0%,#015075 100%);
    background:linear-gradient(to -45deg,#015075 0%,#015075 100%);
}
.navMenu .ivu-menu{
    color:#fff;
    transition: all .4s;
}
.ivu-layout-sider-children > .ivu-menu{
    margin-top: 10px;
}
.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-vertical .ivu-menu-submenu-title:hover{
    color:#000;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
    border:0;
    background:#fff;
}
.ivu-layout-sider-trigger,
.ivu-layout-sider{
    width: 230px;
    max-width: 230px;
    height: 100%;
    background:-webkit-linear-gradient(-45deg,#015075 0%,#015075 100%);
    background:linear-gradient(to -45deg,#015075 0%,#015075 100%);
}
.ivu-layout-sider-collapsed .ivu-icon-ios-arrow-down,
.ivu-layout-sider-collapsed .ivu-menu-submenu-title + ul.ivu-menu,
.ivu-layout-sider-collapsed .ivu-menu-submenu-title span,
.ivu-menu-vertical.ivu-menu-light:after{
    display: none;
}
.menu-icon {
    transition: all .3s;
}
.menu-icon:hover{
    cursor:pointer;
}
.rotate-icon{
    transform: rotate(-90deg);
}
.ivu-icon-navicon-round:before{
    color: #fff;
}
.menu-item span{
    display: inline-block;
    overflow: hidden;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
}
.menu-item i{
    transform: translateX(0px);
    transition: font-size .2s ease, transform .2s ease;
    vertical-align: middle;
    font-size: 16px;
}
.collapsed-menu span{
    width: 0px;
    transition: width .2s ease;
}
.collapsed-menu i{
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
}
.ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title{
    padding: 14px 16px;
}
.collapsedMenu{
    position: absolute;
    top:0;
    right: 0;
    background: #F5F6FA;
    color:#575757;
    height: 100%;
    z-index:-1;
}
.ivu-layout-sider-collapsed + .collapsedMenu{
    z-index:1;
    transition: all .3s .3s;
}
.collapsedMenu-title{
    font-size: 20px;
    background: #ECECEC
}
/*第二层*/
.navMenu .ivu-menu >.ivu-menu-submenu>.ivu-menu{
    
}
/*第三层*/
.navMenu .ivu-menu >.ivu-menu-submenu>.ivu-menu>.ivu-menu-submenu>.ivu-menu{
    background: #004c72;
}
/*第四层*/
.navMenu .ivu-menu >.ivu-menu-submenu>.ivu-menu>.ivu-menu-submenu>.ivu-menu>.ivu-menu-submenu>.ivu-menu{
    background: #1b6183;
}