/*****************************************/
/************* MAIN SETTINGS *************/
/*****************************************/
html,body {
	height:100%;
}
html {
	padding-top:45px;
	padding-bottom:0;
	overflow:hidden;
}
#wrap {
	margin:0;
	padding:0 15px;
	height:100%;
	min-height:100%;
}
#wrap > .row {
	height:100%;
	min-height:100%;
}
#wrap #content {
	padding-bottom:0;
	padding-right:25px;
	height:100%;
    width:100%;
}
#wrap #content .main {
	margin:10px 0;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:400;
	-webkit-font-smoothing:antialiased;
}
body.modal-open {
	overflow:auto;
	margin-right:0;
}

/*theme*/
body.bg-1 .navbar {
	background:-webkit-linear-gradient(-45deg,#0083C1 0%,#7CD1F5 100%);
	background:linear-gradient(to -45deg,#0083C1 0%,#7CD1F5 100%);
}
body.bg-2 .navbar {
	background-image:url(../images/noise.png),url(../images/backgrounds/1-1.jpg);
	background-repeat:repeat,no-repeat;
	background-position:left top;
	background-size:auto,cover;
	/*
background:-webkit-linear-gradient(-45deg,#01E2DD 0%,#02CCFC 100%);
	background:linear-gradient(to -45deg,#01E2DD 0%,#02CCFC 100%);
	*/
}
body.bg-3 .navbar {
	background:-webkit-linear-gradient(-45deg,#26BFA0 0%,#19F1D5 100%);
	background:linear-gradient(to -45deg,#26BFA0 0%,#19F1D5 100%);
}
body.bg-4 .navbar {
	background-image:url(../images/noise.png),url(../images/backgrounds/4-1.jpg);
	background-repeat:repeat,no-repeat;
	background-position:left top;
	background-size:auto,cover;
}
body.bg-5 .navbar {
	background-image:url(../images/noise.png),url(../images/backgrounds/5-1.jpg);
	background-repeat:repeat,no-repeat;
	background-position:left top;
	background-size:auto,cover;
}
body.bg-6 .navbar {
	background:-webkit-linear-gradient(-45deg,#5781FE 0%,#00C1DE 100%);
	background:linear-gradient(to -45deg,#5781FE 0%,#00C1DE 100%);
}
body.no-bg .navbar {
	background:none;
}
/*.navbar-default {
	border:0;
}*/
body.bg-1 .navbar .search input {
	background:#359FD2;
	color:#fff;
}
body.bg-2 .navbar .search input {
	background:rgba(255,255,255,0.55);
	background:#3FEDF3;
}
body.bg-3 .navbar .search input {
	background:#5AEED7;
}
body.bg-4 .navbar .search input {
	background:rgba(255,255,255,0.45);
}
body.bg-5 .navbar .search input {
	background:rgba(255,255,255,0.45);
}
body.bg-6 .navbar .search input {
	background:#60C7F9;
}
.side-nav.collapsed .navigation.active .sidebar-toggle {
	background-color:rgba(5,201,238,1);
}
body.bg-3 .side-nav.collapsed .navigation.active .sidebar-toggle {
	background-color:#43DBA8;
}
body.bg-4 .side-nav.collapsed .navigation.active .sidebar-toggle {
	background-color:#FFBA00;
}
body.bg-5 .side-nav.collapsed .navigation.active .sidebar-toggle {
	background-color:#792331;
}
body.bg-6 .side-nav.collapsed .navigation.active .sidebar-toggle {
	background-color:#5E89FF;
}
body.bg-1 .side-nav:before {
	background:-webkit-linear-gradient(-45deg,#015075 0%,#015075 100%);
	background:linear-gradient(to -45deg,#015075 0%,#015075 100%);
}
body.bg-2 .side-nav:before {
	background:-webkit-linear-gradient(-45deg,#01E2DD 0%,#02CCFC 100%);
	background:linear-gradient(to -45deg,#01E2DD 0%,#02CCFC 100%);
}
body.bg-3 .side-nav:before {
	background:#1C2D49;
}
body.bg-4 .side-nav:before {
	background-image:url(../images/backgrounds/4-sidebar.jpg);
	background-repeat:repeat,no-repeat;
	background-position:left top;
	background-size:auto,cover;
}
body.bg-5 .side-nav:before {
	background:#1f121b;
}
body.bg-6 .side-nav:before {
	background:#1C2D49;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	-webkit-font-smoothing:antialiased;
}
*:before,*:after {
	-webkit-transform:translateZ(0);
}
/**********************************/
/************* NAVBAR *************/
/**********************************/
.navbar {
	min-height:50px;
	height:50px;
}
.navbar .navbar-header {
	width:260px;
	position:relative;
	z-index:99;
}
.navbar .navbar-header .navbar-brand {
	font-weight:300;
	font-size:18px;
	color:#fff;
	padding:0 0 0 130px;
	text-indent:-9000px;
	overflow:hidden;
	width:260px;
	height:50px;
	line-height:50px;
	background:url(../images/logo.png) no-repeat 23px center;
}
.navbar .navbar-header .navbar-brand img {
	vertical-align:top;
}
.navbar .navbar-header .sidebar-collapse {
	display:inline-block;
	float:right;
	line-height:43px;
}
.navbar .navbar-header .sidebar-collapse a {
	font-size:18px;
	line-height:45px;
	color:#f2f2f2;
}
.navbar .navbar-header .sidebar-collapse a:hover {
	color:#fff;
}
.navbar .navbar-nav > li {
	margin:0;
}
.navbar .navbar-nav > li > a {
	color:rgba(255,255,255,1);
	padding:0 15px;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	transition:all 0.2s linear;
}
.navbar .navbar-nav > li > a > i {
	vertical-align:middle;
}
.navbar .navbar-nav > li > a {
	line-height:50px;
}
/*.side-nav > li > a {
	line-height:45px;
}*/
.navbar .navbar-nav > li > a:hover,.navbar .navbar-nav > li > a:focus {
	color:#fff;
}
.navbar .navbar-nav.quick-actions {
	float:right;
	margin-right:10px;
}
.navbar .navbar-nav.quick-actions > li {
	display:inline-block;
	float:none;
	vertical-align:top;
	font-size:12px;
}
.navbar .navbar-nav.quick-actions .label {
	font-size:8px;
	vertical-align:middle;
	background:#FF6D49;
	width:14px;
	height:14px;
	line-height:14px;
	position:absolute;
	top:14px;
	right:4px;
	border-radius:50%;
	padding:0;
	margin:0;
}
.nav > li > a:hover,.nav > li > a:focus {
	background:rgba(255,255,255,0.15);
}
.navbar .navbar-nav > li > a.language {
	padding:0 15px;
}
.navbar .navbar-nav.quick-actions .user a {
	position:relative;
	padding:0 5px 0 60px;
}
.navbar .navbar-nav.quick-actions .user .profile-photo {
	display:inline-block;
	width:38px;
	height:38px;
	vertical-align:top;
	overflow:hidden;
	margin:6px 0 0 15px;
	border-radius:50%;
	border:2px solid #fff;
	position:absolute;
	left:0;
}
.navbar .navbar-nav.quick-actions .user .profile-photo img {
	width:100%;
	vertical-align:top;
}
.navbar .navbar-nav.quick-actions .user > a {
	font-size:12px;
}
.navbar .navbar-nav.quick-actions .user > a > i {
	margin-left:10px;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu {
	-webkit-animation-duration:0.3s;
	-moz-animation-duration:0.3s;
	animation-duration:0.3s;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a {
	color:#717171;
	font-size:12px;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a .task-info .desc {
	font-size:12px;
	color:rgba(113,113,113,0.65);
	margin-bottom:3px;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a .task-info .percent {
	padding-left:10px;
	margin-top:-4px;
	display:inline-block;
	font-weight:700;
	float:right;
	font-size:12px;
}
.navbar .navbar-nav.quick-actions {
	margin-top:0;
	margin-bottom:0;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a:hover,.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a:focus {
	background-color:#f2f2f2;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li:last-child > a {
	font-size:12px;
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	-ms-border-radius:0 0 2px 2px;
	-o-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li:last-child > a i {
	font-size:14px;
	float:right;
	line-height:17px;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings {
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	-ms-border-radius:0 0 2px 2px;
	-o-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px;
	border:0;
	padding:5px;
	-webkit-box-shadow:0 2px 8px rgba(0,0,0,0.176);
	box-shadow:0 2px 8px rgba(0,0,0,0.176);
	-webkit-animation-duration:0.3s;
	-moz-animation-duration:0.3s;
    animation-duration:0.3s;
    z-index:10000;zoom:1
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li {
	display:block;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li > a {
	padding:5px 10px;
	font-size:12px;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li > a i {
	font-size:14px;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li h3 {
	padding:0;
	margin:5px 10px;
	font-size:12px;
	color:#717171;
	font-weight:400;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes {
	margin:10px;
	text-align:center;
	list-style-type:none;
	padding:0;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li {
	width:17px;
	text-align:center;
	display:inline-block;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a {
	display:inline-block;
	width:70%;
	height:12px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	-o-border-radius:20px;
	border-radius:20px;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	transition:all 0.25s ease;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a:hover {
	-webkit-transform:scale(1.3,1.3);
	-moz-transform:scale(1.3,1.3);
	-ms-transform:scale(1.3,1.3);
	-o-transform:scale(1.3,1.3);
	transform:scale(1.3,1.3);
	-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);
	box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-1 {
	background:-webkit-linear-gradient(-45deg,#7CD1F5 0%,#0083C1 100%);
	background:linear-gradient(to -45deg,#7CD1F5 0%,#0083C1 100%);
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-2 {
	background:-webkit-linear-gradient(-45deg,#01E2DD 0%,#02CCFC 100%);
	background:linear-gradient(to -45deg,#01E2DD 0%,#02CCFC 100%);
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-3 {
	background:-webkit-linear-gradient(-45deg,#26BFA0 0%,#19F1D5 100%);
	background:linear-gradient(to -45deg,#26BFA0 0%,#19F1D5 100%);
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-4 {
	background:-webkit-linear-gradient(-45deg,#FCB215 0%,#FCCE00 100%);
	background:linear-gradient(to -45deg,#FCB215 0%,#FCCE00 100%);
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-5 {
	background:-webkit-linear-gradient(-45deg,#8C1215 0%,#C71B1F 100%);
	background:linear-gradient(to -45deg,#8C1215 0%,#C71B1F 100%);
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-6 {
	background:-webkit-linear-gradient(-45deg,#00C1DE 0%,#5781FE 100%);
	background:linear-gradient(to -45deg,#00C1DE 0%,#5781FE 100%);
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li .form-group label {
	color:#717171;
	font-size:12px;
	font-weight:400;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings.arrow:before {
	border-bottom-color:#fff;
	left:134px;
}
.navbar .navbar-nav.quick-actions .dropdown.open > a,.navbar .navbar-nav.quick-actions .dropdown.open > a:focus,.navbar .navbar-nav.quick-actions .dropdown.open > a:hover {
	background-color:transparent;
	color:#fff;
}
.navbar .search {
	display:inline-block;
	margin:10px 30px 0 15px;
	position:relative;
	float:right;
}
.navbar .search i {
	height:20px;
	width:20px;
	display:inline-block;
	margin-right:10px;
	color:rgba(255,255,255,0.7);
	position:absolute;
	right:0;
	top:4px;
}
.navbar .search input {
	font-size:16px;
	color:rgba(0,0,0,0.4);
	background:none;
	border:0;
	border-radius:30px;
	padding:0 0 0 10px;
	-webkit-appearance:none !important;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	transition:all 0.2s linear;
	min-height:28px;
}
.navbar .search input:focus {
	outline:none;
	border-bottom:1px solid rgba(255,255,255,0.4);
}
.navbar .search input::-webkit-input-placeholder {
	color:rgba(0,0,0,0.3);
}
.navbar .search input:-moz-placeholder {
	color:rgba(0,0,0,0.3);
}
.navbar .search input::-moz-placeholder {
	color:rgba(0,0,0,0.3);
}
.navbar .search input:-ms-input-placeholder {
	color:rgba(0,0,0,0.3);
}

/***********************************/
/************* SIDEBAR *************/
/***********************************/

.nav .open > a,.nav .open > a:hover,.nav .open > a:focus {
	background:transparent;
}
.navbar-nav {
	margin:0;
}


.navigation.open > .dropdown-menu:after {
	height:1px;
	position:absolute;
	left:12px;
	right:12px;
	content:'';
	background:#fff;
	display:block;
	-webkit-transform:scaleY(.5);
	transform:scaleY(.5);
	bottom:0;
}
.navigation.collapsed:last-child:after {
	bottom:0;
}

.dropdown-menu.settings {position:absolute;}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
      background-color:transparent;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: transparent;
}


.navigation > .dropdown-menu {display:none;}
.navigation.open > .dropdown-menu {display:block;}
.h1 {
	position:fixed;
	background:#ECECEC;
	font-size:18px;
	font-weight:bold;
	line-height:55px;
	padding:0 15px;
	top:30px;
	width:162px;
	z-index:1000;
}

.navbar-nav.sec-side-nav > li.navigation .menu  li.dropdown.open ul.dropdown-menu li.dropdown ul.dropdown-menu> li > a {
	padding-left:60px;
	background-position:40px center;
}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:active {
	text-decoration:none;
}
a:-webkit-any-link {
	text-decoration:none;
}
.navigation.collapsed .menu {
	display:none;
}

#wrap .navbar.navbar-fixed-top ~ #content {padding-left:245px;}
#wrap .navbar.navbar-fixed-top.collapsed ~ #content {padding-left:237px;}
#wrap .navbar.navbar-fixed-top.closed ~ #content {padding-left:245px;}
#wrap .navbar.navbar-fixed-top.collapsed.closed ~ #content {padding-left:75px;}



/************* LABELS **************/
/***********************************/
.label {
	font-size:11px;
	font-weight:200;
	color:#fff;
	padding:3px 5px;
	margin:0 2px;
}
.badge-red {
	background-color:#FF6D49;
}

/************* ICONS **************/
/***********************************/
[class*="ico-"] {
	display:inline-block;
	width:20px;
	height:20px;
	content:'';
	background-repeat:no-repeat;
	background-position:0 0;
}
.navbar-nav [class*="icon-"],.navbar-nav [class*="ico-"] {
	display:inline-block;
	width:20px;
	height:20px;
}
.navbar-nav .user [class*="ico-"] {
	margin-top:15px;
}
.ico-search {
	background:url(../images/ico-search.png);
}
.ico-mail {
	background-image:url(../images/ico-mail.png);
}
.ico-theme {
	background-image:url(../images/ico-theme.png);
}
.ico-bars {
	background-image:url(../images/ico-bars.png);
}

.icon-service {
	background:url(../images/service-ico.png) no-repeat 0 0;
}
.icon-notice {
	background:url(../images/ico-notice.png) no-repeat 0 0;
}
.icon-repair {
	background:url(../images/ico-repair.png) no-repeat 0 0;
}
.icon-school {
	background:url(../images/ico-school.png) no-repeat 0 0;
}
.icon-user {
	background:url(../images/ico-user.png) no-repeat 0 0;
}
.icon-help {
	background:url(../images/ico-help.png) no-repeat 0 0;
}
.icon-organize {
	background:url(../images/ico-organize.png) no-repeat 0 0;
}
.icon-charts {
	background:url(../images/ico-charts.png) no-repeat 0 0;
}

.ico-arr-project {
	background-image:url(../images/ico-arr-project.png);
}
.navbar-nav .ico-arr-project {
	display:none;
}

.ico-arr-dropdown {
	background:url(../images/ico-arr-dropdown.png);
	float:right;
}
/*随便放的*/
h2 {
	font-size:20px;
	color:#000;
	border-bottom:1px solid #ccc;
	line-height:50px;
	padding-left:20px;
}

/* 合并 my-theme.css*/
#right-container{
    width: calc(100vw - 230px);
    float:right;
    padding: 0 45px 0 40px;
    top:5px;
    height:calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: auto; 
}
#wrap .navbar.navbar-fixed-top.closed ~ #content,
#wrap .navbar.navbar-fixed-top ~ #content,
#wrap .navbar.navbar-fixed-top.collapsed ~ #content{
    padding-left: 255px;
}
#navbar.closed.collapsed nav{
    width: 50px;
}
#navbar.closed.collapsed + #right-container{
    width: calc(100vw - 50px);
}
[v-cloak]{
    display: none;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a{
    width: 100%;
}
header ul.dropdown-menu > li a{
    padding: 0;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings{
    position: absolute;
    width: 150px;
    margin: 0;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes{
    margin:10px 0;
}
/* 自定义 */
/*.content-h1 .content-h2*/
.content-h1{
    height: 66px;
    padding: 0 10px 0 38px;
    background: url(../../../content/normal/images/ico-title.png) no-repeat left center;
    line-height: 66px;
    color:#000;
    margin:0 0 20px 0;
    border-bottom:1px solid #979797;
}
.content-h1 label{
   font-size: 24px;
   font-weight: normal;
   margin-right: 10px; 
   margin-bottom: 0;    
}
.content-h1 .refresh{
    width: 24px;
    height: 24px;
    margin-top:21px;
    border:0;
    background: url(../../../content/normal/images/refresh.png) no-repeat;
}
.content-h1 .breadcrumb{
    display: inline-block;
    background: none;
    padding: 0;
    margin-top: 0;
}
.content-h1 .breadcrumb a{
    color: #000;
}
.content-h1 .breadcrumb>li:before,
.content-h1 .breadcrumb>li+li:before{
    font-family: monospace;
    font-size: 12px;
    content:"〉";
    color: #9f9f9f;
    background:none;
}
.content-h2{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    
    border:0;
    position: relative;
    margin: 20px 13px 20px 10px;
}
.content-h2 label{
    font-size: 18px;
    font-weight: normal;
}
.content-h2:before{
    position: absolute;
    top:50%;
    left:0;
    margin-top: -9px;
    content: " ";
    width: 3px;
    height: 18px;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#06bce1,endcolorstr=#5682fd,gradientType=1);
    background: -linear-gradient(top,#06bce1,#5682fd);
    background: -moz-linear-gradient(top,#06bce1,#5682fd);
    background: -webkit-linear-gradient(top,#06bce1,#5682fd);
}
.content-h2 form{
    margin:0;
    height: inherit;
    margin-right: -15px;
}
.content-h2 form .form-group{
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
.content-h2 form .form-group + .form-group{
    margin-left: 30px;
}
.content-h2 .form-group.form-group-right{
    float: right;
}