/*****************************************/
/************* MAIN SETTINGS *************/
/*****************************************/
html,body {
	height:100%;
}
html {
	padding-top:45px;
	padding-bottom:0;
	overflow:hidden;
}
#wrap {
	margin:0;
	padding:0 15px;
	height:100%;
	min-height:100%;
}
#wrap > .row {
	height:100%;
	min-height:100%;
}
#wrap #content {
	padding-bottom:0;
	padding-right:25px;
	height:100%;
 width:100%;
}
#wrap #content .main {
	margin:10px 0;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:400;
	-webkit-font-smoothing:antialiased;
}
body.modal-open {
	overflow:auto;
	margin-right:0;
}

/*theme*/
body.bg-1 .navbar {
	background:-webkit-linear-gradient(-45deg,#0083C1 0%,#7CD1F5 100%);
	background:linear-gradient(to -45deg,#0083C1 0%,#7CD1F5 100%);
}
body.bg-2 .navbar {
	background-image:url(../images/noise.png),url(../images/backgrounds/1-1.jpg);
	background-repeat:repeat,no-repeat;
	background-position:left top;
	background-size:auto,cover;
	/*
background:-webkit-linear-gradient(-45deg,#01E2DD 0%,#02CCFC 100%);
	background:linear-gradient(to -45deg,#01E2DD 0%,#02CCFC 100%);
	*/
}
body.bg-3 .navbar {
	background:-webkit-linear-gradient(-45deg,#26BFA0 0%,#19F1D5 100%);
	background:linear-gradient(to -45deg,#26BFA0 0%,#19F1D5 100%);
}
body.bg-4 .navbar {
	background-image:url(../images/noise.png),url(../images/backgrounds/4-1.jpg);
	background-repeat:repeat,no-repeat;
	background-position:left top;
	background-size:auto,cover;
}
body.bg-5 .navbar {
	background-image:url(../images/noise.png),url(../images/backgrounds/5-1.jpg);
	background-repeat:repeat,no-repeat;
	background-position:left top;
	background-size:auto,cover;
}
body.bg-6 .navbar {
	background:-webkit-linear-gradient(-45deg,#5781FE 0%,#00C1DE 100%);
	background:linear-gradient(to -45deg,#5781FE 0%,#00C1DE 100%);
}
body.no-bg .navbar {
	background:none;
}
.navbar-default {
	border:0;
}
body.bg-1 .navbar .search input {
	background:#359FD2;
	color:#fff;
}
body.bg-2 .navbar .search input {
	background:rgba(255,255,255,0.55);
	background:#3FEDF3;
}
body.bg-3 .navbar .search input {
	background:#5AEED7;
}
body.bg-4 .navbar .search input {
	background:rgba(255,255,255,0.45);
}
body.bg-5 .navbar .search input {
	background:rgba(255,255,255,0.45);
}
body.bg-6 .navbar .search input {
	background:#60C7F9;
}
.side-nav.collapsed .navigation.active .sidebar-toggle {
	background-color:rgba(5,201,238,1);
}
body.bg-3 .side-nav.collapsed .navigation.active .sidebar-toggle {
	background-color:#43DBA8;
}
body.bg-4 .side-nav.collapsed .navigation.active .sidebar-toggle {
	background-color:#FFBA00;
}
body.bg-5 .side-nav.collapsed .navigation.active .sidebar-toggle {
	background-color:#792331;
}
body.bg-6 .side-nav.collapsed .navigation.active .sidebar-toggle {
	background-color:#5E89FF;
}
body.bg-1 .side-nav:before {
	background:-webkit-linear-gradient(-45deg,#015075 0%,#015075 100%);
	background:linear-gradient(to -45deg,#015075 0%,#015075 100%);
}
body.bg-2 .side-nav:before {
	background:-webkit-linear-gradient(-45deg,#01E2DD 0%,#02CCFC 100%);
	background:linear-gradient(to -45deg,#01E2DD 0%,#02CCFC 100%);
}
body.bg-3 .side-nav:before {
	background:#1C2D49;
}
body.bg-4 .side-nav:before {
	background-image:url(../images/backgrounds/4-sidebar.jpg);
	background-repeat:repeat,no-repeat;
	background-position:left top;
	background-size:auto,cover;
}
body.bg-5 .side-nav:before {
	background:#1f121b;
}
body.bg-6 .side-nav:before {
	background:#1C2D49;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	-webkit-font-smoothing:antialiased;
}
*:before,*:after {
	-webkit-transform:translateZ(0);
}
/**********************************/
/************* NAVBAR *************/
/**********************************/
.navbar {
	min-height:50px;
	height:50px;
}
.navbar .navbar-header {
	width:260px;
	position:relative;
	z-index:99;
}
.navbar .navbar-header .navbar-brand {
	font-weight:300;
	font-size:18px;
	color:#fff;
	padding:0 0 0 130px;
	text-indent:-9000px;
	overflow:hidden;
	width:260px;
	height:50px;
	line-height:50px;
	background:url(../images/logo.png) no-repeat 23px center;
}
.navbar .navbar-header .navbar-brand img {
	vertical-align:top;
}
.navbar .navbar-header .sidebar-collapse {
	display:inline-block;
	float:right;
	line-height:43px;
}
.navbar .navbar-header .sidebar-collapse a {
	font-size:18px;
	line-height:45px;
	color:#f2f2f2;
}
.navbar .navbar-header .sidebar-collapse a:hover {
	color:#fff;
}
.navbar .navbar-nav > li {
	margin:0;
}
.navbar .navbar-nav > li > a {
	color:rgba(255,255,255,1);
	padding:0 15px;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	transition:all 0.2s linear;
}
.navbar .navbar-nav > li > a > i {
	vertical-align:middle;
}
.navbar .navbar-nav > li > a {
	line-height:50px;
}
.side-nav > li > a {
	line-height:45px;
}
.navbar .navbar-nav > li > a:hover,.navbar .navbar-nav > li > a:focus {
	color:#fff;
}
.navbar .navbar-nav.quick-actions {
	float:right;
	margin-right:10px;
}
.navbar .navbar-nav.quick-actions > li {
	display:inline-block;
	float:none;
	vertical-align:top;
	font-size:12px;
}
.navbar .navbar-nav.quick-actions .label {
	font-size:8px;
	vertical-align:middle;
	background:#FF6D49;
	width:14px;
	height:14px;
	line-height:14px;
	position:absolute;
	top:14px;
	right:4px;
	border-radius:50%;
	padding:0;
	margin:0;
}
.nav > li > a:hover,.nav > li > a:focus {
	background:rgba(255,255,255,0.15);
}
.navbar .navbar-nav > li > a.language {
	padding:0 15px;
}
.navbar .navbar-nav.quick-actions .user a {
	position:relative;
	padding:0 5px 0 60px;
}
.navbar .navbar-nav.quick-actions .user .profile-photo {
	display:inline-block;
	width:38px;
	height:38px;
	vertical-align:top;
	overflow:hidden;
	margin:6px 0 0 15px;
	border-radius:50%;
	border:2px solid #fff;
	position:absolute;
	left:0;
}
.navbar .navbar-nav.quick-actions .user .profile-photo img {
	width:100%;
	vertical-align:top;
}
.navbar .navbar-nav.quick-actions .user > a {
	font-size:12px;
}
.navbar .navbar-nav.quick-actions .user > a > i {
	margin-left:10px;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu {
	-webkit-animation-duration:0.3s;
	-moz-animation-duration:0.3s;
	animation-duration:0.3s;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a {
	color:#717171;
	font-size:12px;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a .task-info .desc {
	font-size:12px;
	color:rgba(113,113,113,0.65);
	margin-bottom:3px;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a .task-info .percent {
	padding-left:10px;
	margin-top:-4px;
	display:inline-block;
	font-weight:700;
	float:right;
	font-size:12px;
}
.navbar .navbar-nav.quick-actions {
	margin-top:0;
	margin-bottom:0;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a:hover,.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li > a:focus {
	background-color:#f2f2f2;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li:last-child > a {
	font-size:12px;
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	-ms-border-radius:0 0 2px 2px;
	-o-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu > li:last-child > a i {
	font-size:14px;
	float:right;
	line-height:17px;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings {
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	-ms-border-radius:0 0 2px 2px;
	-o-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px;
	border:0;
	padding:5px;
	-webkit-box-shadow:0 2px 8px rgba(0,0,0,0.176);
	box-shadow:0 2px 8px rgba(0,0,0,0.176);
	-webkit-animation-duration:0.3s;
	-moz-animation-duration:0.3s;
 animation-duration:0.3s;
 z-index:10000;zoom:1
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li {
	display:block;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li > a {
	padding:5px 10px;
	font-size:12px;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li > a i {
	font-size:14px;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li h3 {
	padding:0;
	margin:5px 10px;
	font-size:12px;
	color:#717171;
	font-weight:400;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes {
	margin:10px;
	text-align:center;
	list-style-type:none;
	padding:0;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li {
	width:17px;
	text-align:center;
	display:inline-block;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a {
	display:inline-block;
	width:70%;
	height:12px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	-o-border-radius:20px;
	border-radius:20px;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	transition:all 0.25s ease;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a:hover {
	-webkit-transform:scale(1.3,1.3);
	-moz-transform:scale(1.3,1.3);
	-ms-transform:scale(1.3,1.3);
	-o-transform:scale(1.3,1.3);
	transform:scale(1.3,1.3);
	-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);
	box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-1 {
	background:-webkit-linear-gradient(-45deg,#7CD1F5 0%,#0083C1 100%);
	background:linear-gradient(to -45deg,#7CD1F5 0%,#0083C1 100%);
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-2 {
	background:-webkit-linear-gradient(-45deg,#01E2DD 0%,#02CCFC 100%);
	background:linear-gradient(to -45deg,#01E2DD 0%,#02CCFC 100%);
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-3 {
	background:-webkit-linear-gradient(-45deg,#26BFA0 0%,#19F1D5 100%);
	background:linear-gradient(to -45deg,#26BFA0 0%,#19F1D5 100%);
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-4 {
	background:-webkit-linear-gradient(-45deg,#FCB215 0%,#FCCE00 100%);
	background:linear-gradient(to -45deg,#FCB215 0%,#FCCE00 100%);
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-5 {
	background:-webkit-linear-gradient(-45deg,#8C1215 0%,#C71B1F 100%);
	background:linear-gradient(to -45deg,#8C1215 0%,#C71B1F 100%);
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li #color-schemes > li > a.bg-6 {
	background:-webkit-linear-gradient(-45deg,#00C1DE 0%,#5781FE 100%);
	background:linear-gradient(to -45deg,#00C1DE 0%,#5781FE 100%);
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings > li .form-group label {
	color:#717171;
	font-size:12px;
	font-weight:400;
}
.navbar .navbar-nav.quick-actions .dropdown .dropdown-menu.settings.arrow:before {
	border-bottom-color:#fff;
	left:134px;
}
.navbar .navbar-nav.quick-actions .dropdown.open > a,.navbar .navbar-nav.quick-actions .dropdown.open > a:focus,.navbar .navbar-nav.quick-actions .dropdown.open > a:hover {
	background-color:transparent;
	color:#fff;
}
.navbar .search {
	display:inline-block;
	margin:10px 30px 0 15px;
	position:relative;
	float:right;
}
.navbar .search i {
	height:20px;
	width:20px;
	display:inline-block;
	margin-right:10px;
	color:rgba(255,255,255,0.7);
	position:absolute;
	right:0;
	top:4px;
}
.navbar .search input {
	font-size:16px;
	color:rgba(0,0,0,0.4);
	background:none;
	border:0;
	border-radius:30px;
	padding:0 0 0 10px;
	-webkit-appearance:none !important;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	transition:all 0.2s linear;
	min-height:28px;
}
.navbar .search input:focus {
	outline:none;
	border-bottom:1px solid rgba(255,255,255,0.4);
}
.navbar .search input::-webkit-input-placeholder {
	color:rgba(0,0,0,0.3);
}
.navbar .search input:-moz-placeholder {
	color:rgba(0,0,0,0.3);
}
.navbar .search input::-moz-placeholder {
	color:rgba(0,0,0,0.3);
}
.navbar .search input:-ms-input-placeholder {
	color:rgba(0,0,0,0.3);
}

/***********************************/
/************* SIDEBAR *************/
/***********************************/
.sidebar-collapse {
	padding:14px 0;
}
.sidebar-collapse a {
	color:#fff;
	padding:0 15px;
	display:block;
}

.nav .open > a,.nav .open > a:hover,.nav .open > a:focus {
	background:transparent;
}
.navbar-nav {
	margin:0;
}
.side-nav {
	width:200px;
	position:fixed;
	margin-top:50px;
	padding-bottom:0;
	top:0;
	height:100%;
	border-radius:0;
	border:none;
	overflow-y:auto;
	z-index:1;
}
.side-nav:before {
	display:block;
	position:fixed;
	width:200px;
	left:0;
	right:0;
	content:'';
	height:100%;
}
.side-nav > *:last-child {
	margin-bottom:90px;
}
.side-nav > li {
	float:none;
}
.side-nav > li > a.sidebar-toggle {
	font-size:16px;
	text-transform:uppercase;
	font-weight:500;
	color:rgba(255,255,255,0.9);
}
.side-nav > li > a.sidebar-toggle > i {
	font-size:14px;
	line-height:45px;
	float:right;
}
.side-nav > li > a.sidebar-toggle:hover {
	color:rgba(255,255,255,1);
}
.side-nav > li.navigation > .dropdown-menu {
	list-style-type:none;
	padding:0;
	margin:0;
	padding-bottom:10px;
}
.side-nav > li.navigation > .dropdown-menu > li > a {
	display:inline-block;
	line-height:40px;
	padding:0 15px;
	/*-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	transition:all 0.2s linear;
	*/
 font-size:14px;
	color:rgba(255,255,255,0.9);
	width:100%;
	position:relative;
	z-index:2;
	font-weight:500;
}
.side-nav > li.navigation > .dropdown-menu > li > a > i {
	font-size:14px;
	margin-right:15px;
	display:inline-block;
	text-align:center;
}
.side-nav > li.navigation > .dropdown-menu > li > a:after {
	content:"";
	display:inline-block;
	width:0;
	height:40px;
	background:-webkit-linear-gradient(left,rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
	background:linear-gradient(to right,rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	transition:all 0.2s linear;
}
 
.side-nav > li.navigation > .dropdown-menu > li > a:hover {
	text-decoration:none;
	color:#fff;
	position:relative;
}
.side-nav > li.navigation > .dropdown-menu > li > a:hover:after {
	background:-webkit-linear-gradient(left,rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
	background:linear-gradient(to right,rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
	width:100%;
}
.side-nav > li.navigation > .dropdown-menu > li > a:focus {
	text-decoration:none;
}
.side-nav > li.navigation > .dropdown-menu > li > a .badge {
	position:absolute;
	top:8px;
	left:23px;
	z-index:9;
	font-size:9px;
	padding:2px 4px;
}
.side-nav > li.navigation > .dropdown-menu > li > a .label {
	position:absolute;
	top:12px;
	right:10px;
	z-index:9;
	font-size:10px;
	padding:3px 5px 2px 5px;
}
.side-nav > li.navigation > .dropdown-menu > li.active > a,.side-nav > li.navigation .dropdown-menu > li.active > a:hover,.side-nav > li.navigation .dropdown-menu > li.active > a:focus {
	text-decoration:none;
	color:#fff;
	text-shadow:none;
}
.side-nav > li.navigation > .dropdown-menu > li.active > a:after,.side-nav > li.navigation .dropdown-menu > li.active > a:hover:after,.side-nav > li.navigation .dropdown-menu > li.active > a:focus:after {
	background:-webkit-linear-gradient(left,rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
	background:linear-gradient(to right,rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
	width:100%;
	border-left:4px solid #fff;
}
.side-nav > li.navigation > .dropdown-menu > li.dropdown > a .label {
	right:30px;
}
.side-nav > li.navigation > .dropdown-menu > li.dropdown.open > a {
	text-decoration:none;
	color:#fff;
	background-color:transparent;
}
.side-nav > li.navigation > .dropdown-menu > li.dropdown.open > a {
	position:relative;
}
.side-nav > li.navigation > .dropdown-menu > li.dropdown.open > a:after {
	background:-webkit-linear-gradient(left,rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
	background:linear-gradient(to right,rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
	width:100%;
}
.side-nav > li.navigation > .dropdown-menu li.dropdown.open ul.dropdown-menu {
	float:none;
	position:relative;
	min-width:162px;
	overflow:hidden;
	margin:0;
	padding:0;
	border:none;
	background:transparent;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	box-shadow:none;
	-webkit-animation-duration:0.3s;
	-moz-animation-duration:0.3s;
	animation-duration:0.3s;
	z-index:1;
}
.side-nav > li.navigation > .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li a {
	display:inline-block;
	line-height:39px;
	padding:0 15px 0 51px;
	/*-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	transition:all 0.21s linear;
	*/
 font-size:14px;
	color:rgba(255,255,255,0.9);
	width:100%;
	/*-webkit-transition:none;
	-moz-transition:none;
	transition:none;
	*/
 font-weight:400;
	position:relative;
	background-image:url(../images/ico-arr-right-big.png);background-repeat: no-repeat;
	background-position:30px center;
}
.side-nav.collapsed > li.navigation > .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li a {

	background-image:url(../images/ico-arr-right-black-big.png);background-position:25px center;
}
.side-nav > li.navigation > .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li.dropdown.open > ul.dropdown-menu > li a {
	font-weight:normal;
}
.side-nav > li.navigation > .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li a > i {
	margin-right:10px;
}
.side-nav > li.navigation > .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li a:hover {
	background-color:transparent;
	color:rgba(255,255,255,0.8);
}
.side-nav > li.navigation > .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li a .badge {
	position:absolute;
	top:9px;
	right:12px;
	z-index:9;
	font-size:9px;
	padding:2px 4px;
}
.side-nav > li.navigation > .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li a .label {
	position:absolute;
	top:8px;
	right:12px;
	z-index:9;
	font-size:10px;
	padding:3px 5px 2px 5px;
}
.side-nav > li.navigation > .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li.active a {
	color:#418bca;
	background-color:rgba(5,201,238,1);color:#fff;
}

.side-nav .navigation {
	position:relative;
}
.side-nav .navigation:before {
	height:1px;
	position:absolute;
	left:12px;
	right:12px;
	content:'';
	background:#fff;
	display:block;
	-webkit-transform:scaleY(.5);
	transform:scaleY(.5);
	bottom:0;
}

.navigation.open > .dropdown-menu:after {
	height:1px;
	position:absolute;
	left:12px;
	right:12px;
	content:'';
	background:#fff;
	display:block;
	-webkit-transform:scaleY(.5);
	transform:scaleY(.5);
	bottom:0;
}
.navigation.collapsed:last-child:after {
	bottom:0;
}
.side-nav > li.navigation > .dropdown-menu > li.dropdown.open > ul.dropdown-menu {
	padding:10px 0;
}

.dropdown-menu {
 position:relative;
 top: 100%;
 left: 0;
 z-index: 1000;
 text-align: left;
 list-style: none;
 background-color: transparent;
 -webkit-background-clip: padding-box;
 background-clip: padding-box;
 border: none;
 border: none;
 border-radius: 0;
 -webkit-box-shadow: none;
 box-shadow: none;
}
.dropdown-menu.settings {
	position:absolute;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
 background-color:transparent;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
 background-color: transparent;
}

.side-nav .dropdown-menu {min-width:200px;}
.side-nav.collapsed .dropdown-menu {min-width:162px;}

.navigation > .dropdown-menu {display:none;}
.navigation.open > .dropdown-menu {display:block;}

.side-nav > li.navigation .dropdown-menu li.dropdown.open ul.dropdown-menu li a:hover,
.side-nav > li.navigation .dropdown-menu li.dropdown.open ul.dropdown-menu li.dropdown ul.dropdown-menu li a:hover {
 background-color:rgba(255,255,255,0.4);color:#fff;
}

.side-nav > li.navigation .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li > ul.dropdown-menu > li.active a,
.side-nav > li.navigation .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li > ul.dropdown-menu > li > ul.dropdown-menu > li.active a {background-color:rgba(5,201,238,1);}

.side-nav > li.navigation .menu > li > a {padding-left: 34px;}


/*navigation缩小状态时*/
/*side-nav collapsed*/
.side-nav.collapsed {
	background:#F5F6FA;
	width:212px;
}
.side-nav.collapsed:before {
	width:50px;
}
.side-nav.collapsed > .navigation > .dropdown-menu {
	top:40px;
}
body .side-nav.collapsed > li.collapsed {
	overflow:hidden;
	height:55px;
	border-bottom:1px solid rgba(255,255,255,0.5);
}
.side-nav.collapsed > li.navigation > .dropdown-menu > li.dropdown.open > ul.dropdown-menu {
	padding:0;
}
.side-nav.collapsed > li.navigation .dropdown-menu li.dropdown.open ul.dropdown-menu li a:hover,
.side-nav.collapsed > li.navigation .dropdown-menu li.dropdown.open ul.dropdown-menu li.dropdown ul.dropdown-menu li a:hover {
	background-color:rgba(255,255,255,0.4);
	color:#333;
}
.side-nav.collapsed > li.navigation .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li > ul.dropdown-menu > li.active a,
.side-nav.collapsed > li.navigation .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li > ul.dropdown-menu > li > ul.dropdown-menu > li.active a,
.side-nav.collapsed > li.navigation > .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li.active a {
	background-color:#fff;
}


.side-nav.collapsed > li.navigation .dropdown-menu li a {
 width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
}

.side-nav.collapsed.open {
	width:162px;
	background:#ccc;
}

.side-nav.collapsed .sidebar-toggle {
	position:relative;
}

.side-nav.collapsed > li.navigation .sidebar-toggle span {
	font-size:12px;
	position:absolute;
	left:0;
	bottom:2px;
	line-height:20px;
	-webkit-transform:scale(.9);
	transform:scale(.9);
}

.side-nav.collapsed > li.navigation .sidebar-toggle [class*="icon-"] {
	display:block;
}

.side-nav.collapsed > li.navigation > ul > li > a {
	height:45px;
	white-space:nowrap;
	overflow:hidden;
	padding:0 12px;
	-webkit-transition:none;
	-moz-transition:none;
	transition:none;
 position:relative;
 color:#000;
}
.side-nav.collapsed > li.navigation > ul > li > a i {
	margin-right:10px;
}
.side-nav.collapsed > li.navigation > ul > li > a .badge {
	left:20px;
}
.side-nav.collapsed > li.navigation > ul > li > a .label {
	display:none;
	right:10px !important;
}

.side-nav.collapsed > li.navigation .dropdown-menu > li.active > a,.side-nav.collapsed > li.navigation .dropdown-menu > li.active > a:hover,.side-nav.collapsed > li.navigation .dropdown-menu > li.active > a:focus ,
.side-nav.collapsed > li.navigation .dropdown-menu > li.dropdown.open > a,
.side-nav.collapsed > li.navigation .dropdown-menu > li > a,
.side-nav.collapsed > li.navigation .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li a {
 color:#333;
}

.side-nav.collapsed li.navigation .dropdown-menu > li > a,
.side-nav.collapsed li.navigation .dropdown-menu > li > a:hover,
.side-nav.collapsed li.navigation .dropdown-menu > li > a,
.side-nav.collapsed li.navigation .dropdown-menu > li > a:active,
.navbar .side-nav.collapsed > li > ul > li > a:focus {
 color:#575757;
}
.side-nav.collapsed > li.navigation {
 margin-left:50px;
}


.side-nav.collapsed > li.navigation .dropdown-menu > li > a [class*="icon-"] {
 display: none;
}

.side-nav.collapsed [class*="ico-"] {
	position:absolute;
	left:14px;
	top:12px;
	line-height:20px;
	display:block;
}
.side-nav.collapsed .ico-arr-plus {display:none;} 

.side-nav.collapsed > li.navigation > ul > li > a {
 line-height: 45px;
 padding-left: 34px;
 font-weight: 500;
}

.side-nav.collapsed > li.navigation > .dropdown-menu li.dropdown.open ul.dropdown-menu {float:left;}
.side-nav.collapsed .dropdown {float:none;}

.side-nav.collapsed .dropdown-menu {font-size:0;min-height:0;margin:0;padding:0;}

.side-nav.collapsed .dropdown-menu > li.dropdown ul {display:none;}
.side-nav.collapsed .dropdown-menu > li.dropdown.open > ul {display:block;}

/*一级菜单*/
.side-nav.collapsed > li.navigation > ul > li > a b {
	display:block;
}
.side-nav.collapsed > li.navigation .dropdown-menu .dropdown.open > a .ico-arr-plus {
	background:url(../images/ico-arr-minus.png);
	background-image:url(../images/ico-arr-minus-black.png);
}

.side-nav.collapsed > li.navigation > .dropdown-menu > li > a {
 line-height: 45px;
	font-weight: 500;
	padding-left: 34px;
}

.side-nav.collapsed > li.navigation .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li a {
 font-weight:400; 
	font-size:12px;
	line-height: 36px;
	padding-left:42px;
}
.side-nav.collapsed > li.navigation .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li > ul.dropdown-menu > li a {
	padding-left:48px;
	background-position: 30px center;
}
.side-nav.collapsed > li.navigation .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li > ul.dropdown-menu > li > ul.dropdown-menu > li a {
	padding-left:60px;
	background-position:40px center;
}

.side-nav.collapsed > li.navigation .dropdown-menu > li.active > a,.side-nav.collapsed > li.navigation .dropdown-menu > li.active > a:hover,
.side-nav.collapsed > li.navigation .dropdown-menu > li.active > a:focus ,
.side-nav.collapsed > li.navigation .dropdown-menu > li.dropdown.open > a,
.side-nav.collapsed > li.navigation .dropdown-menu > li > a,
.side-nav.collapsed > li.navigation .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li a {
	color:#333;
}

.side-nav.collapsed li.navigation .dropdown-menu > li > a,
.side-nav.collapsed li.navigation .dropdown-menu > li > a:hover,
.side-nav.collapsed li.navigation .dropdown-menu > li > a,
.side-nav.collapsed li.navigation .dropdown-menu > li > a:active,
.side-nav.collapsed > li > ul > li > a:focus {
	color:#575757;
}

.side-nav.collapsed > li.navigation > .dropdown-menu > li.active > a:after,
.side-nav.collapsed > li.navigation .dropdown-menu > li.active > a:hover:after,
.side-nav.collapsed > li.navigation .dropdown-menu > li.active > a:focus:after {
	display:none;
}

.side-nav.collapsed .navigation:before,.nav.side-nav.collapsed .navigation.collapsed:after {
	left:0;
	right:0;
	display:none;
}
.side-nav.collapsed .sidebar-toggle {
	background-color:rgba(5,201,238,0.9);
	background-color:rgba(0,0,0,0.10);
	height:55px;
	width:50px;
	overflow:hidden;
}

.side-nav.collapsed > li.navigation > a {
	margin-left:-50px;width:50px;height:55px;position:fixed;
}
.side-nav.collapsed > li:nth-child(1) > a {top:45px;}
.side-nav.collapsed > li:nth-child(2) > a {top:100px;}
.side-nav.collapsed > li:nth-child(3) > a {top:155px;}
.side-nav.collapsed > li:nth-child(4) > a {top:210px;}
.side-nav.collapsed > li:nth-child(5) > a {top:265px;}
.side-nav.collapsed > li:nth-child(6) > a {top:315px;}
.side-nav.collapsed > li:nth-child(7) > a {top:370px;}
.side-nav.collapsed > li:nth-child(8) > a {top:425px;}
.side-nav.collapsed > li:nth-child(9) > a {top:480px;}
.side-nav.collapsed > li:nth-child(10) > a {top:535px;}
.side-nav.collapsed > li:nth-child(11) > a {top:590px;}
.side-nav.collapsed > li:nth-child(12) > a {top:645px;}
.side-nav.collapsed > li:nth-child(13) > a {top:700px;}
.side-nav.collapsed > li:nth-child(14) > a {top:755px;}
.side-nav.collapsed > li:nth-child(15) > a {top:810px;}
.side-nav.collapsed > li:nth-child(16) > a {top:865px;}
.side-nav.collapsed > li:nth-child(17) > a {top:915px;}
.side-nav.collapsed > li:nth-child(18) > a {top:970px;}

.side-nav.collapsed .navigation .ico-arr-project {
	display:block;
	width:6px;
	height:6px;
	font-size:0;
	position:absolute;
	right:1px;
	bottom:2px;
	opacity:0.7;
}
.side-nav.collapsed .navigation.active .ico-arr-project {
	opacity:1;
}
.side-nav.collapsed .navigation .ico-arr-project {
	position:absolute;position:relative;margin-top:4px;
}
.collapsed > li:nth-child(2) > a,
.collapsed .navigation > a {
 border-bottom:1px solid rgba(255,255,255,0.4);
}
.collapsed .navigation > a:before
 {
	height:1px;
	position:absolute;
	content:'';
	background:rgba(255,255,255,0.4);
	display:block;
	-webkit-transform:scaleY(.5);
	transform:scaleY(.5);
	font-size:0;
	bottom:0;
}


.side-nav.collapsed > li.navigation > a:after {margin-left:-50px;width:162px;height:55px;position:fixed;top:110px;content:'示例管理';top:50px;left:100px;
 background: #ECECEC;
 font-size: 18px;
 font-weight: normal;
 line-height: 55px;
 padding: 0 15px;
	z-index: 100000;color:#000;}
	
#vm-nav {position:relative;height:100%;}

.side-nav.collapsed.closed li.navigation > .dropdown-menu,
.side-nav.collapsed.closed > li.navigation > a:after 
 {
 display:none;
}
.side-nav.collapsed.closed {
 background:none;
}

.sec-sidebar-collapse {
	position:absolute;
	top:500%;
	width:17px;
	height:45px;
	left:194px;
	background:url(../images/ico-arr-collapse.png) no-repeat center center #EFEFEF;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
	text-align:center;
	line-height:45px;
	z-index:1000;
	display:none;
}
.sec-sidebar-collapse:hover {
	opacity:0.8;
	width:20px;
	left:191px;
}
.product-nav .sec-sidebar.collapsed ~ .sec-sidebar-collapse,
.side-nav.collapsed ~.sec-sidebar-collapse {
 display:block;
}
.side-nav.collapsed.closed ~.sec-sidebar-collapse
 {	border-radius:6px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	background-image:url(../images/ico-arr-collapsed.png);
}
.closed .sec-sidebar-collapse {
 	left:50px;
}

#wrap .navbar.navbar-fixed-top ~ #content {padding-left:225px;}
#wrap .navbar.navbar-fixed-top.collapsed ~ #content {padding-left:237px;}
#wrap .navbar.navbar-fixed-top.closed ~ #content {padding-left:225px;}
#wrap .navbar.navbar-fixed-top.collapsed.closed ~ #content {padding-left:75px;}


/************* LABELS **************/
/***********************************/
.label {
	font-size:11px;
	font-weight:200;
	color:#fff;
	padding:3px 5px;
	margin:0 2px;
}
.badge-red {
	background-color:#FF6D49;
}

/************* ICONS **************/
/***********************************/
[class*="ico-"] {
	display:inline-block;
	width:20px;
	height:20px;
	content:'';
	background-repeat:no-repeat;
	background-position:0 0;
}

.navbar-nav [class*="icon-"],.navbar-nav [class*="ico-"] {
	display:inline-block;
	width:20px;
	height:20px;
}
.navbar-nav .user [class*="ico-"] {
	margin-top:15px;
}
body .side-nav.collapsed > li.navigation > ul > li.hovered > a [class*="ico-"] {
	display:none;
}
body .side-nav.collapsed > li.navigation .sidebar-toggle [class*="icon-"] {
	margin-left:-2px;
	margin-top:5px;
}
body .side-nav.collapsed > li.navigation .dropdown-menu > li > a [class*="icon-"] {
	margin-top:15px;
	margin-left:3px;
	margin-right:15px;
}
.side-nav > li.navigation .dropdown-menu > li > a [class*="icon-"] {
	float:left;
	margin-top:10px
}
.navbar-nav.sec-side-nav [class*="ico-"] {
	position:absolute;
	left:14px;
	top:12px;
	line-height:20px;
}

.ico-search {
	background:url(../images/ico-search.png);
}
.ico-mail {
	background-image:url(../images/ico-mail.png);
}
.ico-theme {
	background-image:url(../images/ico-theme.png);
}
.ico-bars {
	background-image:url(../images/ico-bars.png);
}

.icon-service {
	background:url(../images/service-ico.png) no-repeat 0 0;
}
.side-nav > li > a.sidebar-toggle > i.icon-service {
	float:left;
	margin-top:13px;
	margin-right:15px;
	display:none;
}
.navbar-nav .icon-service {
	width:26px;
	height:26px;
	float:left;
}
.icon-notice {
	background:url(../images/ico-notice.png) no-repeat 0 0;
}
.icon-repair {
	background:url(../images/ico-repair.png) no-repeat 0 0;
}
.icon-school {
	background:url(../images/ico-school.png) no-repeat 0 0;
}
.icon-user {
	background:url(../images/ico-user.png) no-repeat 0 0;
}
.icon-help {
	background:url(../images/ico-help.png) no-repeat 0 0;
}
.icon-organize {
	background:url(../images/ico-organize.png) no-repeat 0 0;
}
.icon-charts {
	background:url(../images/ico-charts.png) no-repeat 0 0;
}


.ico-arr-project {
	background-image:url(../images/ico-arr-project.png);
}
.navbar-nav .ico-arr-project {
	display:none;
}


.ico-arr-dropdown {
	background:url(../images/ico-arr-dropdown.png);
	float:right;
}

body .side-nav > li.navigation .dropdown-menu > li.dropdown.open > a b.ico-arr-dropdown {
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	transition:all 0.1s linear;
}

.side-nav > li.navigation .dropdown-menu > li > a .ico-arr-dropdown,
.side-nav > li.navigation .dropdown-menu li a .ico-arr-plus {
	margin-top:10px
}

.side-nav.collapsed > li.navigation .dropdown-menu > li > a .ico-arr-dropdown,.side-nav.collapsed > li.navigation .menu li a .ico-arr-plus {
	margin-top:0;
}
.side-nav.collapsed > li.navigation .dropdown-menu .dropdown.open > a .ico-arr-plus {
	background:url(../images/ico-arr-minus.png);
	background-image:url(../images/ico-arr-minus-black.png);
}
.side-nav > li.navigation .dropdown-menu .dropdown a b.ico-arr-plus {
	background:url(../images/ico-arr-plus.png);
	float:right;
}
.side-nav.collapsed > li.navigation .dropdown-menu.dropdown a .ico-arr-plus {
	background:url(../images/ico-arr-plus-black.png);
}
.side-nav.collapsed > li.navigation .dropdown-menu.dropdown a b.ico-arr-plus {top:8px;left:20px;}

.navbar-nav.sec-side-nav .ico-arr-plus-black {
	top:8px;
	left:20px;
}
.side-nav > li.navigation .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li > ul.dropdown-menu > li a {
	padding-left:60px;
	background:url(../images/ico-arr-right.png) no-repeat 43px center;
}

.side-nav > li.navigation .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li > ul.dropdown-menu > li > ul.dropdown-menu > li a {
	padding-left:74px;
	background-image:url(../images/ico-arr-right.png);
	background-position:55px center;
}
.side-nav.collapsed > li.navigation .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li > ul.dropdown-menu > li a ,
.side-nav.collapsed > li.navigation .dropdown-menu > li.dropdown.open > ul.dropdown-menu > li > ul.dropdown-menu > li > ul.dropdown-menu > li a {
	background-image:url(../images/ico-arr-right-black.png);
}
.ico-arr-plus-black {
	background:url(../images/ico-arr-plus-black.png) no-repeat 0 0;
}
.dropdown.open .ico-arr-plus-black {
	background-image:url(../images/ico-arr-minus-black.png);
}
.ico-arr-down-black，.side-nav.collapsed > li.navigation .dropdown-menu > li.dropdown.open > a b.ico-arr-dropdown {
	background:url(../images/ico-arr-down-black.png) no-repeat 0 0;
}
.ico-arr-down-black,.navbar-nav.collapsed .ico-arr-dropdown {
	background:url(../images/ico-arr-down-black.png) no-repeat 0 0;
}
.navigation.collapsed .ico-arr-down-black {
	transform:rotate(180deg);
	-ms-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	transition:all 0.1s linear;
}
.navbar-nav.collapsed .ico-arr-dropdown {
	transform:rotate(180deg);
	-ms-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	transition:all 0.1s linear;
}
.navbar-nav.collapsed .dropdown.open .ico-arr-dropdown {
	transform:rotate(180deg);
	-ms-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	transition:all 0.1s linear;
}




/*随便放的*/
h2 {
	font-size:20px;
	color:#000;
	border-bottom:1px solid #ccc;
	line-height:50px;
	padding-left:20px;
}