/* index.html */

.tabs {
    height: .4rem;
    line-height: .4rem;
    background: #fff;
    text-align: center;
    font-size: 0;
}
.tabs a {
    font-size: .15rem;
    display: inline-block;
    width: 50%;
    position: relative;
    color: #8d8d8d;
}
.tabs .editBtn ~ a{
    width: 30%;
    text-align: center;
}
.tabs .editBtn{
    width: 30%;
    float:right;
    margin-right: 3%;
    font-size: .15rem;
    line-height: .25rem;
}
.tabs a:before {
    content: " ";
    width: .25rem;
    height: .25rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -5px;
}
.tabs a:first-child:before,
.tabs a:nth-child(2):before {
    background: url(../images/tab-tel.png) no-repeat center;
    background-size: contain;
}
.tabs a:last-child:before {
    background: url(../images/tab-name.png) no-repeat center;
    background-size: contain;
}
.tabs a:first-child.active:before,
.tabs a:nth-child(2).active:before  {
    background: url(../images/tab-tel-active.png) no-repeat center;
    background-size: contain;
}
.tabs a:last-child.active:before {
    background: url(../images/tab-name-active.png) no-repeat center;
    background-size: contain;
}
.tabs a.active {
    color: #1e1e1e;
}
.tabs a.active:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    border-radius: 1px;
    background: #ff9a46;
}
.input {
    height: .5rem;
    padding: .1rem .15rem;
    background: #fff;
}
.input input {
    height: .3rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    font-size: .14rem;
    line-height: .3rem;
    padding: 0 5px;
}
.input input::-webkit-input-placeholder {
    text-indent: .3rem;
    background: url(../../../common/images/search.png) no-repeat center left;
    background-size: .2rem;
}
.input input:-ms-input-placeholder {
    /* IE10+*/
    text-indent: .3rem;
    background: url(../../../common/images/search.png) no-repeat center left;
    background-size: .2rem;
}
.input input:-moz-placeholder {
    /* Firefox4-18*/
    text-indent: .3rem;
    background: url(../../../common/images/search.png) no-repeat center left;
    background-size: .2rem;
}
.input input::-moz-placeholder {
    /* Firefox19+*/
    text-indent: .3rem;
    background: url(../../../common/images/search.png) no-repeat center left;
    background-size: .2rem;
}
.input input:focus {
    text-indent: 0;
    background: none;
}

/*  */

.editBtn {
    height: .4rem;
    padding: .1rem 0;
    background: #fff;
    text-align: center;
}
.editBtn button {
    width: .8rem;
    border: 1px solid #73d2fe;
    background: #fff;
    color: #73d2fe;
    border-radius: 5px;
    height: .25rem;
    transition: all .1s ease;
    -webkit-transition: all .1s ease;
}
/*.editBtn button+button {
    margin-left: .1rem;
}*/
.editBtn button.active,
.editBtn button:active,
.editBtn button:focus {
    color: #fff;
    background: #73d2fe;
}

/*  */

.add-mail-list {
    display: block;
    height: .45rem;
    line-height: .45rem;
    font-size: .14rem;
    border-top: .5px solid #e0e0e0;
    border-bottom: .5px solid #e0e0e0;
    padding: 0 .15rem;
    color: #73d2fe;
    background: url(../../../common/images/continue.png) no-repeat #fff right .4rem center;
    background-size: .2rem;
}

/*  */

.swiper-container {
    background: #fff;
    position: absolute;
    width: 100%;
    top: .4rem;
    bottom: 0;
}
.editBtn + .swiper-container{
    top: .8rem;
}
.swiper-container::-webkit-scrollbar {
    display: none;
}
.swiper-wrapper {
    height: 100%;
}
.swiper-slide {
    width: 100%;
    height: inherit;
    position: relative
}

/* 联系人css */

.slider-content>ul {
    width: 100%;
    display: block;
    position: relative;
    padding-left: .15rem;
}
.slider-content>ul>li {
    width: 100%;
    padding-top: .1rem;
}
.slider-content ul li li {
    height: .6rem;
}
.mail-list-img {
    width: .4rem;
    height: .4rem;
    display: inline-block;
    vertical-align: middle;
    background: #a8a8a8;
    border-radius: 5px;
}
.mail-list-info {
    height: .6rem;
    width: calc(100% - .6rem);
    padding-left: .1rem;
    vertical-align: middle;
    display: inline-block;
    font-size: 0;
    text-transform: capitalize;
    padding: .05rem 0;
    margin-left: .1rem;
}
.slider-content ul ul>li:not(:last-child) .mail-list-info {
    border-bottom: .5px solid #e0e0e0;
}
.mail-list-info>div {
    display: inline-block!important;
    /*width: 50%;*/
}
.mail-list-name {
    width: calc(100% - 1.2rem);
    vertical-align: middle;
}
.smart-sub-list .mail-list-name {
    width: calc(100% - 1rem);
    vertical-align: middle;
}
.smart-sub-list .mail-list-btn,
.smart-sub-list .mail-list-name {
    height: .5rem;
}
.mail-list-btn {
    width: 1rem;
    vertical-align: middle;
}
.mail-list-btn *:first-child {
    margin: 0 .1rem;
}
.mail-list-name h2 {
    font-size: .15rem;
    color: #3c3c3c;
    line-height: .25rem;
}
.mail-list-name p {
    font-size: .12rem;
    color: #a8a8a8;
    line-height: .25rem;
}
.mail-list-btn button,
.mail-list-btn a {
    width: .35rem;
    height: .35rem;
    border: 0;
    display: inline-block;
}
.mail-list-btn .telBtn {
    background: url(../images/tel-btn.png) no-repeat;
    background-size: 100%;
}
.mail-list-btn .smsBtn {
    background: url(../images/sms-btn.png) no-repeat;
    background-size: 100%;
}
.mail-list-btn .editToolBtn {
    background: url(../images/edit.png) no-repeat 5%;
    background-size: 90%;
}
.mail-list-btn .delBtn {
    background: url(../images/del.png) no-repeat 5%;
    background-size: 90%;
}
.slider-content .title {
    display: block;
    width: .2rem;
    height: .2rem;
    color: #fff;
    background: #ff8080;
    text-align: center;
    margin-bottom: .1rem;
    margin-left: .1rem;
    border-radius: 50%;
}
.slider-content .selected .title {
    background: #ff8080;
}


/* tab-2 css */

.dept-groups {
    text-align: center;
    padding: .1rem 0;
    border-bottom: .5px solid #e0e0e0;
}
.dept-groups button {
    width: .75rem;
    height: .35rem;
    background: #fff;
    border: 1px solid #73d2fe;
    border-radius: 5px;
    color: #73d2fe;
    margin: 0 .05rem;
    transition: all .1s ease;
    -webkit-transition: all .1s ease;
}
.dept-groups button.active,
.dept-groups button:active {
    color: #fff;
    background: #73d2fe;
}
.tips {
    padding: .1rem .2rem .1rem .5rem;
    color: #a8a8a8;
    font-size: .12rem;
    /*height: .7rem;*/
    line-height: .2rem;
    position: relative;
}
.tips:before {
    position: absolute;
    content: "i";
    top: .1rem;
    left: .25rem;
    width: .18rem;
    height: .18rem;
    line-height: .18rem;
    background: rgba(115, 210, 254, .6);
    border-radius: 50%;
    font-size: .15rem;
    text-align: center;
    color: #fff;
}

/* 手风琴列表 样式重置 */

.panel-group {
    position: absolute;
    width: 100%;
    top: 1.41rem;
    bottom: 0;
    margin-bottom: 0;
    overflow-y: scroll;
    /*-webkit-overflow-scrolling:touch;*/
}
.panel-group::-webkit-scrollbar {
    display: none;
}
.panel-default {
    /*background: #fff;*/
    border: 0;
}
.panel-default:after {
    left: .15rem!important;
}
.panel-default.active,
.smart-sub-list-item.active {
    border: .5px solid #e0e0e0;
}
.panel-default>.panel-heading,
.smart-sub-list .smart-sub-list-item {
    background: none;
    height: .6rem;
    padding-left: .25rem;
}
.smart-sub-list .smart-sub-list-item:after {
    left: .8rem!important;
}
.smart-sub-list:after {
    height: 0!important;
}
.smart-list-end-icon {
    display: inline-block;
    width: .25rem;
    height: .25rem;
    top: .175rem;
}
.smart-list-end-icon img {
    display: block
}
.panel-default>.panel-heading>a {
    display: block;
}

.panel-default>.panel-heading .rename{
    width: .7rem;
    background: #fff;
    border: 1px solid #73d2fe;
    border-radius: 5px;
    color:#73d2fe;
    position: absolute;
    right: .8rem;
    top:.175rem;
}
.panel-default>.panel-heading>a h2,
.panel-default>.panel-heading .editInput{
    margin-right: .3rem;
    line-height: .4rem;
    color: #3c3c3c;
    font-size: .15rem;
}
.panel-default>.panel-heading .editInput{
    position: absolute;
    top: .1rem;
    border:0;
}
.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border: 0;
    padding: 0 .15rem;
}
.panel-group .panel+.panel {
    margin-top: 0;
}
.panel {
    box-shadow: none;
}
.smart-border:after,
.panel:after,
.panel-body:before,
.popup-info-pay+ul li:after {
    left: .2rem;
}

/*手风琴效果的结尾图标*/

.smart-sub-list {
    height: calc(.6rem * 5);
    overflow-x: hidden;
    overflow-y: scroll;
    background: none;
}
.smart-sub-list.set-height {
    height: calc(.6rem * 6);
    overflow-y: scroll;
}
.smart-sub-list.set-height::-webkit-scrollbar,
.smart-sub-list::-webkit-scrollbar {
    display: none;
}
.smart-accordion .panel-heading .smart-list-end-icon {
    right: 35px;
}
.smart-accordion .panel-heading .smart-list-end-icon:after {
    content: " ";
    background: url(../../../white/xiaoyuanka/images/screen-1.png) no-repeat center;
    background-size: .5rem;
    position: absolute;
    width: .25rem;
    height: .25rem;
    top: 50%;
    right: 0;
    margin-top: -13px;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transition: transform .2s ease-in, background .1s ease-in;
    -webkit-transition: transform .2s ease-in, background .1s ease-in;
}

.smart-accordion .panel-heading.smart-active .smart-list-end-icon:after {
    transform: rotateX(-180deg);
    -webkit-transform: rotateX(-180deg);
}

/* 拖拽 */

.fallbackClass {
    background-color: rgba(218, 244, 255, 1)!important;
    margin-left: 50%!important;
    margin-top: -.8rem!important;
}

/* ================================================================================ */


/* ================================================================================ */


/* error.html */

.error .smart-content {
    position: relative;
    height: 100vh;
    background: #fff;
}
.error .smart-content div {
    position: absolute;
    width: 80%;
    top: 20%;
    left: 10%;
}
.error .smart-content div img {
    width: 100%;
}
.error .smart-content div p {
    width: 60%;
    line-height: 20px;
    text-align: center;
    color: #8d8d8d;
    /*margin-top: .1rem;*/
    margin: .1rem auto;
    font-size: .14rem;
}

/* ================================================================================ */


/* ================================================================================ */


/* info.html */

.apps-info {
    height: 100vh;
    background: #fff;
}
.apps-info .person-info{
    width: 100%;
    height: 1.8rem;
    padding:.35rem .2rem;
    background: url(../images/bg.png) no-repeat;
    background-size: 100%;
    font-size: 0;
}
.apps-info .person-info >div {
    display: inline-block;
    vertical-align: middle;
}
.apps-info .person-info .header{
    width: 1.1rem;
    height: 1.1rem;
    border:5px solid #fff;
    border-radius: 50%;
    background: #fff;
}
.apps-info .person-info .header img{
    width: 100%;
}
.person-info-name{
    width: 2rem;
    color:#fff;
    padding-left: .2rem;
}
.person-info-name h1{
    font-size: .18rem;
    font-weight: bold;
    margin-bottom: .1rem;
}
.person-info-name p{
    font-size: .12rem;
}
.person-info-name em{
    font-size: .12rem;
    line-height: .2rem;
}
/* details */
.apps-info .details{

}
.apps-info .details h1{
    font-size: .15rem;
    color: #3c3c3c;
    height: .4rem;
    padding:0 .3rem;
    line-height: .4rem;
    position: relative;
}
.apps-info .details h1:before{
    position: absolute;
    top:.125rem;
    left:.2rem;
    content: " ";
    background: #73d2fe;
    width: 3px;
    height: .16rem;
}
.apps-info .details h1:after{
    content: " ";
    height: 1px;
    position: absolute;
    left: .2rem;
    bottom: 0;
    width: 100%;
    background: #e0e0e0;
    transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg); 
}
.smart-list.smart-list-space .smart-list-item:not(:last-child):after, 
.smart-list:after {
    left:.2rem!important;
}
.apps-info .smart-list-item{
    font-size: 0;
    height:.6rem;
}
.apps-info .smart-list-item p,
.apps-info .smart-list-item a,
.apps-info .smart-list-item button{
    display: inline-block;
    vertical-align: middle;
}
.apps-info .smart-list-item p{
    width: 75%;
    /*height:.6rem;*/
    line-height:normal;
    font-size: .15rem;
    color:#3c3c3c;
    padding-left: .7rem;
    /*background: #ebe1b1!important;*/
}

.apps-info .smart-list-item a,
.apps-info .smart-list-item button{
    position: absolute;
    right:.4rem;
    min-width:.5rem;
}
.apps-info .smart-list-item a{
    height: 100%;
    background: url(../images/sms-btn-1.png) no-repeat center;
    background-size: .3rem;
}
.apps-info .smart-list-item button{
    font-size: .15rem;
    padding:0 .1rem;
    height: .4rem;
    line-height: .4rem;
    top:.1rem;
    border:0;
    background:none;
    color:#73d2fe;
    transition: all .1s ease;
    -webkit-transition: all .1s ease;
}
.apps-info .smart-list-item button:active{
    background:#73d2fe;
    color:#fff;
}
/**/

.apps-info .smart-list-item[type=mobile] p{
    line-height:.6rem;
    background: url(../images/mobile.png) no-repeat left .2rem center;
    background-size: .3rem;
}
.apps-info .smart-list-item[type=fixed] p{
    line-height:.6rem;
    background: url(../images/fixed.png) no-repeat left .2rem center;
    background-size: .3rem;
}
.apps-info .smart-list-item[type=address] p{
    width: 100%;
    /*line-height: .2rem;*/
   /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;*/
    background: url(../images/address.png) no-repeat left .2rem center;
    background-size: .3rem;
}
.apps-info .smart-list-item[type=subject] p{
    width: 100%;
    /*line-height: .2rem;*/
    background: url(../images/subject.png) no-repeat left .2rem center;
    background-size: .3rem;
}
.apps-info .smart-list-item[type=fixed] a,
.apps-info .smart-list-item[type=email] a{
    display: none;
}
.apps-info .smart-list-item[type=email] p{
    line-height:.6rem;
    background: url(../images/email.png) no-repeat left .2rem center;
    background-size: .3rem;
}
.apps-info .smart-list-item[type=subject] p{
    width: 100%;
    /*line-height: .2rem;*/
    background: url(../images/subject.png) no-repeat left .2rem center;
    background-size: .3rem;
}

/* ================================================================================ */


/* ================================================================================ */


/* edit.html */

.apps-edit{
}
.apps-edit input{
    padding:.1rem  .15rem;
    line-height: .3rem!important;
}
.apps-edit .mandatory-info{
    font-size: 0;
    background: #fff;
}
.apps-edit .mandatory-info >div{
    display: inline-block;
    vertical-align: top;
}
.apps-edit .mandatory-info .header{
    width: 1.25rem;
    height: 1.5rem;
    background: url(../images/default.png) no-repeat #fff top .3rem center;
    background-size: 55%;
    position: relative;
}
.apps-edit .mandatory-info .header:after{
    position: absolute;
    content:"添加照片";
    width: 100%;
    height:.2rem;
    bottom: .2rem;
    color:#73d2fe;
    font-size: .13rem;
    text-align:center;
}
.apps-edit .mandatory-info .header input{
    position: absolute;
    font-size: 0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}
.apps-edit .mandatory-info .header img{
    position: absolute;
    /*z-index: 1;*/
    width: 80%;
    top:50%;
    left:50%;
    margin-top: -40%;
    margin-left: -40%;
}
.apps-edit .mandatory-info .infos{
    width: calc(100% - 1.25rem);
    height: 1.5rem;
    background: #fff;
}
.apps-edit .mandatory-info .infos >div{
    height: .5rem;
    border-bottom: .5px solid #e0e0e0;
}
.apps-edit .mandatory-info .infos input{
    font-size:.15rem;
    height:.5rem;
    border:0;
    background: #fff;
}
.apps-edit .mandatory-info .infos label,
.apps-edit .mandatory-info .phones label{
    display: inline-block;
    width: .3rem;
    height:.5rem;
    font-size:.15rem;
    color:#a8a8a8;
    font-weight: normal;
    vertical-align: top;
    line-height: .5rem;
    margin-right: .1rem;
}
.apps-edit .mandatory-info .infos input[type=text]{
    width: calc(100% - .4rem);
    height: .49rem;
    margin: 0;
    padding:.1rem;
}
.apps-edit .mandatory-info .infos input[type=button]{
    display: inline-block;
    width: 45%;
    height: .49rem;
    text-align: left;
    background: url(../images/down.png) no-repeat #fff ;
    background-size: .18rem;
    border:0;
    padding: 0;
    padding-right: .2rem;
    margin-right: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0s;
    -webkit-transition: all 0s;
}
.apps-edit .mandatory-info .infos input.org{
    background-position: left .7rem center;
}
.apps-edit .mandatory-info .infos input.offce{
    background-position: left .55rem center;
}
.apps-edit .mandatory-info .phones,
.apps-edit .mandatory-info .addPhone,
.apps-edit .added div{
    display: block;
    height: .5rem;
    font-size: .15rem;
    margin-left: .2rem;
    /*padding-left: .45rem;*/
    border-bottom: .5px solid #e0e0e0;
}
.apps-edit .mandatory-info .phones .delBtn{
    display: inline-block;
    width: .25rem;
    height: .25rem;
    border: 0;
    background: url(../../tongxunlu/images/remove.png) no-repeat center;
    background-size: .25rem; 
    vertical-align: middle;
    margin: .1rem;
}
.apps-edit .mandatory-info .phones input,
.apps-edit .mandatory-info .addPhone a,
.apps-edit .added div input{
    font-size: .15rem;
    width: 2.5rem;
    height: 100%;
    border:0;
    line-height: .49rem;
    background: none;
    margin: 0
}
.apps-edit .mandatory-info .phones input{
    width: 1.5rem;
}
.apps-edit .mandatory-info .phones label{
    color:#3c3c3c;
    width: .5rem;
    height: .48rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding-right: .2rem;
    background: url(../images/down.png) no-repeat #fff right center;
    background-size: .15rem;
}
.apps-edit .mandatory-info .phones{
    background-size: .25rem;
    position: relative;
}
.apps-edit .mandatory-info .phones .setDefaultNo{
    position: absolute;
    padding:0 .1rem;
    height: .3rem;
    line-height: .3rem;
    top:50%;
    right: .5rem;
    margin-top: -.15rem;
    border: 0;
    color:#73d2fe;
    /*background: url(../images/del.png) no-repeat;*/
}
.apps-edit .mandatory-info .phones .clearNumBtn{
    position: absolute;
    width: .2rem;
    height: .2rem;
    top:50%;
    margin-top: -.1rem;
    right: .25rem;
    background: url(../images/clear.png) no-repeat center;
    background-size: .3rem;
    border:0;
    z-index: 1
}
.apps-edit .mandatory-info .addPhone{
    border:0;
    background: url(../images/add.png) no-repeat left .1rem center;
    background-size: .25rem;
    padding-left: .45rem;
}
.apps-edit .mandatory-info .addPhone a{
    color: #8d8d8d;
}
.apps-edit .added{
    margin-top:.1rem;
    background:#fff;
    padding-bottom: .8rem; 
}
.apps-edit .added div{
    padding-left: .4rem;
}

.apps-edit .added div.email{
    background: url(../images/email.png) no-repeat left .1rem center;
    background-size: .25rem;
}
.apps-edit .added div.address{
    background: url(../images/address.png) no-repeat left .1rem center;
    background-size: .25rem;
}

.apps-edit .added div.subject{
    background: url(../images/subject.png) no-repeat left .1rem center;
    background-size: .25rem;
}
/* poppicker css*/

.mui-poppicker-header{
    position: absolute;
    top:-45px;
    background: #fff;
    width: 100%;
    border-top:1px solid #ddd;
}
.mui-poppicker-header .mui-poppicker-btn-ok{
    border: none;
    background-color: #FFFFFF;
    font-size: .16rem;
    color: #73D2FE;
}
.smart-content>h2{
    height: .5rem;
    line-height: .5rem;
    font-size: .15rem;
    font-weight: normal;
    background: url(../../../common/images/continue.png) no-repeat #fff center right .15rem;
    background-size: .2rem;
    padding: 0 .2rem;
}
.smart-content>h2 a{
    color:#73D2FE;
}
.smart-content .smart-screen{
    top:.5rem;
}

.mui-poppicker-body{
    border:0;
}
.mui-picker{
    background-color: #FFFFFF;
}
.mui-poppicker-header .mui-poppicker-btn-cancel,.mui-dtpicker-header button:first-child{
    border: none;
    font-size: .16rem;
    color: #a8a8a8;
}
.mui-pciker-list li{
    font-size:.16rem;
}
/* poppicker end*/

.smart-content .smart-foot{
    bottom: -1px
}
.smart-content .smart-foot.submit,
.smart-content .smart-foot.submit[disabled=disabled]{
    width: 100%;
}
.smart-content .smart-foot button[type=submit][disabled=disabled],
.smart-content .smart-foot.submit[disabled=disabled]{
    background: #dfdfdf;
}
.smart-content .smart-foot .smart-btn:active{
    opacity: .8;
}
.smart-content .smart-foot button[type=button]:not(.submit),
.smart-content .smart-foot button[type=button] + button[type=submit],
.smart-content .smart-foot button[type=button] + .submit{
    display: inline-block;
    width: 50%;
    border:1px solid #73d2fe;
}
.smart-content .smart-foot button[type=button]:not(.submit){
    background: #fff;
    color:#73d2fe;
    border-bottom:0;
    border-left:0;
}
.smart-content .smart-foot button[type=button] + button[type=submit],
.smart-content .smart-foot button[type=button] + button.submit{
    background: #73d2fe;
    color:#fff;
}
.apps-edit .tips{
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    bottom: 0;
}
.apps-edit .tips:before{
    display: none;
}
.apps-edit .tips-val{
    position: absolute;
    width: 1.8rem;
    height: .4rem;
    top:50%;
    left:50%;
    line-height: .4rem;
    margin-top: -.2rem;
    margin-left: -.9rem;
    background: rgba(0,0,0,.5);
    z-index: 999;
    color:#fff;
    text-align: center;
    font-size: .15rem;
    border-radius: 5px
}
.apps-edit .tips-mask{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    /*background: rgba(255,255,255,.3);*/
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
