<!--/.nav-collapse -->
<!-- Sidebar -->
<link rel="stylesheet" href="../../content/normal/css/nav-style.css">
<!-- <script type="text/javascript" src="../../content/frame/bootstrap/js/bootstrap-treeview.min.js"></script> -->
<script type="text/javascript" src="../../content/normal/js/data.js"></script>
<script type="text/javascript" src="../../content/frame/bootstrap/js/my-dropdown.js"></script>
<script type="text/javascript" src="../content/frame/bootstrap/js/bootstrap.js"></script>
<div id="vm-nav" >
    <ul class="nav navbar-nav side-nav" id="sidebar">
        <li>
            <div class="sidebar-collapse">
                <a href="#">
                    <i class="ico-bars"></i>
                </a>
            </div>
        </li>
        <li class="navigation" v-for="(e,i) in navData">
            <dropdown-menu v-bind:todo ='e' v-bind:index="i"></dropdown-menu>
            <ul class="dropdown-menu">
                <dropdown-sub-list v-if="e.nodes" v-for="sub in e.nodes" v-bind:subtodo ='sub' v-bind:index ='i'></dropdown-sub-list>
            </ul>
        </li>
    </ul>
    <!-- Sidebar end -->


    <!-- sec-Sidebar -->
    <div class="product-nav">
        <div class="sec-sidebar" id="sec-sidebar">
            <h1 class="h1">{{activeNav.text}}</h1>
            <ul class="nav navbar-nav sec-side-nav">
                <li v-for="(event,index) in activeNav.nodes" class="navigation menu-hide" >
                    <dropdown-product-menu v-bind:todo ='event' v-bind:index="index"  v-if="event.nodes"></dropdown-product-menu>
                    <dropdown-product-a v-bind:todo ='event' v-bind:index="index"  v-else="event.nodes"></dropdown-product-a>
                    <ul class="menu">
                        <li v-for="(item,index) in event.nodes" class="dropdown">
                            <dropdown-product-sub-menu v-bind:todo ='item' v-bind:index="index" v-if="event.nodes"></dropdown-product-sub-menu>
                            <dropdown-product-a v-bind:todo ='event' v-bind:index="index"  v-else></dropdown-product-a>
                            <ul class="dropdown-menu">
                                <dropdown-product-sub-list v-if="event.nodes" v-for="sub in event.nodes" v-bind:subtodo ='sub' v-bind:index ='index'></dropdown-product-sub-list>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="sidebar-collapse sec-sidebar-collapse">
            <a href="#"><i class="ico-arr-collapse"></i></a>
        </div>
    </div>

</div>

<script type="text/javascript" src="../../content/normal/js/frame.js"></script>
<script type="text/javascript" src="../../content/normal/js/v-nav.js"></script>