<!--/.nav-collapse -->
<!-- Sidebar -->
<link rel="stylesheet" href="../../content/normal/css/nav-style.css">
<!-- <script type="text/javascript" src="../../content/frame/bootstrap/js/bootstrap-treeview.min.js"></script> -->
<script type="text/javascript" src="../../content/frame/bootstrap/js/my-dropdown.js"></script>
<script type="text/javascript" src="../content/frame/bootstrap/js/bootstrap.js"></script>
<div id="vm-nav" >
    <ul class="nav navbar-nav side-nav" id="sidebar">
        <li>
            <div class="sidebar-collapse">
                <a href="#">
                    <i class="ico-bars"></i>
                </a>
            </div>
        </li>
        <li class="navigation" v-for="(e,i) in navData">
            <dropdown-menu v-bind:todo ='e'></dropdown-menu>
            <ul class="dropdown-menu">
                <dropdown-sub-list v-if="e.nodes" v-for="sub in e.nodes" v-bind:subtodo ='sub' v-bind:index ='i'></dropdown-sub-list>
            </ul>
        </li>
    <!-- ================================================================================================== -->
      <!--   <li class="navigation active" id="navigation0">
            <a href="#" class="sidebar-toggle" data-toggle="#navigation0">
                <i class="icon-service"></i><span>示例管理***********</span><i class="ico-arr-project"></i>
            </a>
            <ul class="menu">
                <li class="active">
                    <a href="#">
                        <i class="icon-notice"></i>树形标题一
                        <span class="badge badge-red">1</span>
                    </a>
                </li>
                <li class="dropdown open">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-repair"></i>树形标题二<b class="ico-arr-dropdown"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                树形标题子集一
                            </a>
                        </li>
                        <li class="dropdown open">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                树形标题子集二<b class="ico-arr-plus"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        树形标题孙集
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        树形标题孙集
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown open">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                树形标题子集三 <b class="ico-arr-plus"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        树形标题孙集
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        树形标题孙集
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-school"></i>树形标题三<b class="ico-arr-dropdown"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                校区列表
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                楼栋列表
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                校区分配
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-repair"></i>树形标题四 <b class="ico-arr-dropdown"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                报修列表
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                报修详情
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i>树形标题五 <b class="ico-arr-dropdown"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                用户列表
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                角色列表
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                用户详情
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-help"></i>树形标题六 <b class="ico-arr-dropdown"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                帮助问题列表
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li> -->
<!--         <li class="navigation collapsed" id="yunwei">
            <a href="#" class="sidebar-toggle" data-toggle="#yunwei"><i class="icon-service"></i><span>运维管理</span><i class="ico-arr-project"></i></a>
            <ul class="menu">
                <li>
                    <a href="#">
                        <i class="icon-notice"></i>公告管理
                        <span class="badge badge-red">1</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-repair"></i>报修分类 <b class="ico-arr-dropdown"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                报修列表
                            </a>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        公告管理
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                报修详情
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-school"></i>校区楼栋<b class="ico-arr-dropdown"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                校区列表
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                楼栋列表
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                校区分配
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-repair"></i>报修管理 <b class="ico-arr-dropdown"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                报修列表
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                报修详情
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i>用户管理 <b class="ico-arr-dropdown"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                用户列表
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                角色列表
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                用户详情
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-help"></i>帮助中心 <b class="ico-arr-dropdown"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                帮助问题列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-organize"></i>机构管理<b class="ico-arr-dropdown"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                机构列表
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                机构详情
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-charts"></i>统计分析<b class="ico-arr-dropdown"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                统计列表
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                统计图表
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="navigation collapsed" id="shitang">
            <a href="#" class="sidebar-toggle" data-toggle="#shitang"><i class="icon-service"></i><span>智慧食堂</span><i class="ico-arr-project"></i></a>
            <ul class="menu">
                <li>
                    <a href="#"><i class="icon-notice"></i>统计图表</a>
                </li>
                <li>
                    <a href="#"><i class="icon-notice"></i>统计图表</a>
                </li>
            </ul>
        </li>
        <li class="navigation collapsed" id="app">
            <a href="#" class="sidebar-toggle" data-toggle="#app"><i class="icon-service"></i><span>APP管理</span><i class="ico-arr-project"></i></a>
            <ul class="menu">
                <li>
                    <a href="#"><i class="icon-notice"></i>统计图表</a>
                </li>
                <li>
                    <a href="#"><i class="icon-notice"></i>统计图表</a>
                </li>
            </ul>
        </li> -->
    <!-- </ul> -->
    <!-- Sidebar end -->


    <!-- sec-Sidebar -->
    <!-- <div class="product-nav">
        <div class="sec-sidebar" id="sec-sidebar">
            <h1 class="h1">示例栏目1</h1>
            <ul class="nav navbar-nav sec-side-nav">
                <li><a href="#">树形标题一</a></li>
                <li class="navigation" id="navigation1">
                    <a href="#" class="sidebar-toggle" data-toggle="#navigation1"><i class="ico-arr-down-black"></i>树形标题二</a>
                    <ul class="menu">
                        <li class="active">
                            <a href="#">树形子标题一</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">树形子标题二 <b class="ico-arr-plus-black"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">树形孙标题一</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题二</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题三</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">树形子标题三 <b class="ico-arr-plus-black"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">树形孙标题一</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题二</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题三</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题一</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题二</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题三</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题一</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题二</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题三</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="navigation collapsed" id="navigation2">
                    <a href="#" class="sidebar-toggle" data-toggle="#navigation2"><i class="ico-arr-down-black"></i>树形标题三</a>
                    <ul class="menu">
                        <li>
                            <a href="#">树形子标题一</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">树形子标题二<b class="ico-arr-plus-black"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">树形孙标题一</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题二</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题三</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="navigation collapsed" id="navigation3">
                    <a href="#" class="sidebar-toggle" data-toggle="#navigation3"><i class="ico-arr-down-black"></i>树形标题四</a>
                    <ul class="menu">
                        <li>
                            <a href="#">树形子标题一</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">树形子标题二<b class="ico-arr-plus-black"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">树形孙标题一</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题二</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题三</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="navigation collapsed" id="navigation4">
                    <a href="#" class="sidebar-toggle" data-toggle="#navigation4">树形标题四<i class="ico-arr-down-black"></i></a>
                    <ul class="menu">
                        <li>
                            <a href="#">树形子标题一</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">树形子标题二 <b class="ico-arr-plus-black"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">树形孙标题一</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题二</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题三</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="navigation collapsed" id="navigation5">
                    <a href="#" class="sidebar-toggle" data-toggle="#navigation5">树形标题五<i class="ico-arr-down-black"></i></a>
                    <ul class="menu">
                        <li>
                            <a href="#">树形子标题一</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">树形子标题二<b class="ico-arr-plus-black"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">树形孙标题一</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题二</a>
                                </li>
                                <li>
                                    <a href="#">树形孙标题三</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="sidebar-collapse sec-sidebar-collapse">
            <a href="#"><i class="ico-arr-collapse"></i></a>
        </div>
    </div> -->

</div>

<!-- <script type="text/javascript" src="../../content/normal/js/frame.js"></script> -->
<script type="text/javascript" src="../../content/normal/js/v-nav.js"></script>