<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>账册流水</title>

  <!-- Bootstrap -->

  <link href="../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../content/style/common/css/common.css" rel="stylesheet">
  <!-- <link href="../../content/custom/css/popup.css" rel="stylesheet"> -->
  <link href="../../content/style/frame/jquery/toast/css/jquery.toast.css" rel="stylesheet">
  <link href="../../content/style/white/nms/css/nms.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elkements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="smart-nms-list" sign="">
  <nav class="navbar">
    <div class="smart-header smart-white">
      <a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
        <img src="../../content/style/common/images/back-2.png" alt="">
      </a>
      <h1>账册流水</h1>
    </div>
  </nav>
  <div class="smart-content">
    <!-- 账单 -->
    <div id="wrapper">
      <div id="scroller">


        <ul class="smart-list smart-list-space smart-nms-bill">
          <li class="smart-list-item" billType="income">
            <div>
              <h3>上网2个小时</h3>
              <p>2017/03/03</p>
            </div>
            <span>-88.00</span>
          </li>
          <li class="smart-list-item" billType="income">
            <div>
              <h3>上网2个小时</h3>
              <p>2017/03/02</p>
            </div>
            <span>-88.00</span>
          </li>
          <li class="smart-list-item" billType="income">
            <div>
              <h3>上网2个小时</h3>
              <p>2017/03/01</p>
            </div>
            <span>-88.00</span>
          </li>
          <li class="smart-list-item" billType="exp">
            <div>
              <h3>换取碎银子</h3>
              <p>2017/03/01</p>
            </div>
            <span>+20000.00</span>
          </li>
          <li class="smart-list-item" billType="exp">
            <div>
              <h3>换取碎银子</h3>
              <p>2017/03/01</p>
            </div>
            <span>+20000.00</span>
          </li>
          <li class="smart-list-item" billType="income">
            <div>
              <h3>上网2个小时</h3>
              <p>2017/03/01</p>
            </div>
            <span>-88.00</span>
          </li>
          <li class="smart-list-item" billType="income">
            <div>
              <h3>上网2个小时</h3>
              <p>2017/03/01</p>
            </div>
            <span>-88.00</span>
          </li>
          <li class="smart-list-item" billType="income">
            <div>
              <h3>上网2个小时</h3>
              <p>2017/03/01</p>
            </div>
            <span>-88.00</span>
          </li>
          <li class="smart-list-item" billType="income">
            <div>
              <h3>上网2个小时</h3>
              <p>2017/03/01</p>
            </div>
            <span>-88.00</span>
          </li>

          <li class="smart-list-item" billType="income">
            <div>
              <h3>上网2个小时</h3>
              <p>2017/03/01</p>
            </div>
            <span>-88.00</span>
          </li>
          <li class="smart-list-item" billType="income">
            <div>
              <h3>上网2个小时</h3>
              <p>2017/03/01</p>
            </div>
            <span>-88.00</span>
          </li>
          <li class="smart-list-item" billType="income">
            <div>
              <h3>上网2个小时</h3>
              <p>2017/03/01</p>
            </div>
            <span>-88.00</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
  <script src="../../content/style/frame/fastclick/fastclick.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../../content/style/frame/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../content/style/frame/iscroll/iscroll.js"></script>
  <script src="../../content/style/frame/jquery/toast/js/jquery.toast.js"></script>
  
  <script src="../../content/style/white/nms/js/nms.js"></script>
  <script type="text/javascript">
  var myScroll = new IScroll('#wrapper', {
    mouseWheel: true,
    click: true
  });

  document.addEventListener('touchmove', function(e) {
    e.preventDefault();
  }, {
    passive:false
  });
  </script>
</body>

</html>
