<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>校园精灵——帮助</title>
    <!-- Bootstrap -->
    <link href="../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../content/style/common/css/common.css" rel="stylesheet">
    <link href="../../content/style/white/xiaoyuanjingling/css/index.css" rel="stylesheet">
    <!-- <link href="../../content/style/common/css/popup.css" rel="stylesheet"> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elkements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="smart-xyjl-chat">
    <div class="smart-content">
        <div id="smart-map"></div>
    </div>
    <script src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../content/style/common/js/getUrl.js"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=kTxsSNaAlcSvAqFpgyOFTgic" type="text/javascript"></script>
    <script type="text/javascript">
        var map = new BMap.Map("smart-map");
        var x = getUrlVal().x;
        var y = getUrlVal().y;
        map.centerAndZoom(new BMap.Point(x,y), 15);
    </script>
</body>

</html>