<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>校园社区</title>
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/white/shiwuzhaoling/css/swzl.css" />
		<link rel="stylesheet" href="../../content/style/frame/mui/css/mui.min.css" />
		<link rel="stylesheet" href="../../content/style/frame/mui/css/mui.images.css" />
		<link rel="stylesheet" href="../../content/style/white/baituanzhengyi/css/btzy.css" />
		<link rel="stylesheet" href="../../content/style/white/xiaoyuanshequ/css/xysq.css" />
	</head>

	<body class="znmj btzy btzy-index xysq">
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" />
				</a>
				<h1 class="lin-heit">校园社区</h1>
				<a class="smart-edit smart-icon-right a-href" href="xysq-fb.html">
					发布
				</a>
			</div>
		</nav>
		<div class="container">
			<div class="rmhd contant-text">
				<ul class="list-zl">
					<li class="row">
						<div class="col-xs-2">
							<img src="../../content/style/white/baituanzhengyi/images/login-st2.png" />
						</div>
						<div class="col-xs-10">
							<div class="title-name">
								<span>广成子</span>
							</div>
							<p class="height-value">神州大陆，有个大齐帝国，帝国之内分九道</p>
							<a class="dis-shou-hide" panduan="dis-shou-hide">全部</a>
							<!--有图模块-->
							<div class="row">
								<div class="col-xs-3">
									<img class="css-height_" src="../../content/custom/img/img-eee.jpg" data-preview-src="" data-preview-group="1" />
								</div>
								<div class="col-xs-3">
									<img class="css-height_" src="../../content/custom/img/img-eee.jpg" data-preview-src="" data-preview-group="1" />
								</div>
								<div class="col-xs-3">
									<img class="css-height_" src="../../content/custom/img/img-eee.jpg" data-preview-src="" data-preview-group="1" />
								</div>
								<div class="col-xs-3">
									<img class="css-height_" src="../../content/custom/img/img-eee.jpg" data-preview-src="" data-preview-group="1" />
								</div>
							</div>
							<!--有图模块结束-->
							<div class="foot-bar">
								<span class="time-comment">14分钟前</span>
								<a href="stxq-hdxq.html" class="comment-icon"></a>
								<a dingyi-value="0" class="heart icon-bar-a"><span><img src="../../content/style/white/baituanzhengyi/images/icon-heart.png" /></span><i>12</i></a>
							</div>
						</div>
					</li>
					<li class="row">
						<div class="col-xs-2">
							<img src="../../content/style/white/baituanzhengyi/images/login-st2.png" />
						</div>
						<div class="col-xs-10">
							<div class="title-name">
								<span>孙悟空</span>
							</div>
							<p class="height-value">神州大陆，有个大齐帝国，帝国之内分九道，江南道上有座山，山上有座庙神州大陆，有个大齐帝国，帝国之内分九道，江南道上有座山，山上有座庙</p>
							<a class="dis-shou-hide" panduan="dis-shou-hide">全部</a>
							
							<div class="foot-bar">
								<span class="time-comment">14分钟前</span>
								<a href="stxq-hdxq.html" class="comment-icon"></a>
								<a dingyi-value="0" class="heart icon-bar-a"><span><img src="../../content/style/white/baituanzhengyi/images/icon-heart.png" /></span><i>12</i></a>
							</div>
							<!--评论模块-->
							<div class="comment-bar">
								<i></i>
								<div class="comment-user">
									<div class="name">韩梅梅：</div>
									<span class="contant">不成从没想过自己平时读的经，别人都不懂。</span>
								</div>
								<div class="comment-user">
									<div class="name">蒋青青<span>回复</span>韩梅梅：</div>
									<span class="contant">不成从没想过自己会下山，和尚也当不成。</span>
								</div>
							</div>
							<a class="p-gdpl-text" href="stxq-hdxq.html">显示更多</a>
							<!--评论模块结束-->
						</div>
					</li>
					<li class="row">
						<div class="col-xs-2">
							<img src="../../content/style/white/baituanzhengyi/images/login-st2.png" />
						</div>
						<div class="col-xs-10">
							<div class="title-name">
								<span>徐经济</span>
							</div>
							<div>
								<p class="height-value">1无尽大陆上，十万大山里，云梦沼泽处，有一小小宗门。宗门不大，却有妖冶的龙血树。宗门不大，却有满地跑的人参娃娃。宗门不大，却有世界之树的残片。当这个小小宗门变成周天第一仙门，如山的灵石，吃到吐的灵药，满身武装的法宝…… 这是一本种田流的小清新，主题是建设宗门，附带打架，炫富，拉仇恨……
								</p>
								<a class="dis-shou-hide" panduan="dis-shou-hide">全部</a>
							</div>
							<div class="foot-bar">
								<span class="time-comment">14分钟前</span>
								<a href="stxq-hdxq.html" class="comment-icon"></a>
								<a dingyi-value="0" class="heart icon-bar-a"><span><img src="../../content/style/white/baituanzhengyi/images/icon-heart.png" /></span><i>12</i></a>
							</div>
						</div>
					</li>
					<li class="row">
						<div class="col-xs-2">
							<img src="../../content/style/white/baituanzhengyi/images/login-st2.png" />
						</div>
						<div class="col-xs-10">
							<div class="title-name">
								<span>徐经济</span>
							</div>
							<div>
								<p class="height-value">1无尽大陆上，十万大山里，云梦沼泽处，有一小小宗门。宗门不大，却有妖冶的龙血树。宗门不大，却有满地跑的人参娃娃。宗门不大，却有世界之树的残片。当这个小小宗门变成周天第一仙门，如山的灵石，吃到吐的灵药，满身武装的法宝…… 这是一本种田流的小清新，主题是建设宗门，附带打架，炫富，拉仇恨……
								</p>
								<a class="dis-shou-hide" panduan="dis-shou-hide">全部</a>
							</div>
							<div class="foot-bar">
								<span class="time-comment">14分钟前</span>
								<a href="stxq-hdxq.html" class="comment-icon"></a>
								<a dingyi-value="0" class="heart icon-bar-a"><span><img src="../../content/style/white/baituanzhengyi/images/icon-heart.png" /></span><i>12</i></a>
							</div>
						</div>
					</li>
					<li class="row">
						<div class="col-xs-2">
							<img src="../../content/style/white/baituanzhengyi/images/login-st2.png" />
						</div>
						<div class="col-xs-10">
							<div class="title-name">
								<span>徐经济</span>
							</div>
							<div>
								<p class="height-value">1无尽大陆上，十万大山里，云梦沼泽处，有一小小宗门。宗门不大，却有妖冶的龙血树。宗门不大，却有满地跑的人参娃娃。宗门不大，却有世界之树的残片。当这个小小宗门变成周天第一仙门，如山的灵石，吃到吐的灵药，满身武装的法宝…… 这是一本种田流的小清新，主题是建设宗门，附带打架，炫富，拉仇恨……
								</p>
								<a class="dis-shou-hide" panduan="dis-shou-hide">全部</a>
							</div>
							<div class="foot-bar">
								<span class="time-comment">14分钟前</span>
								<a href="stxq-hdxq.html" class="comment-icon"></a>
								<a dingyi-value="0" class="heart icon-bar-a"><span><img src="../../content/style/white/baituanzhengyi/images/icon-heart.png" /></span><i>12</i></a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
	
	<script type="text/javascript" src="../../content/style/frame/jquery/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../content/style/frame/bootstrap/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="../../content/style/frame/mui/js/mui.min.js" ></script>
	<script type="text/javascript" src="../../content/style/frame/mui/js/mui.zoom.js" ></script>
	<script type="text/javascript" src="../../content/style/frame/mui/js/mui.previewimage.js" ></script>
	<script>
		mui.previewImage();
		console.log($("#__MUI_PREVIEWIMAGE").css("display"))
//		if($("#__MUI_PREVIEWIMAGE").)
		//根据图片宽度设置高度
		$(".css-height").css("height", $(".css-height").width());
		$(".css-height_").css("height", $(".css-height_").width());
		//根据height-value的高度判断是否显示dis-shou-hide
		for(var i = 0; i < $(".height-value").length; i++) {
			console.log($(".height-value").eq(i).height());
			if($(".height-value").eq(i).height() < 66) {
				$(".dis-shou-hide").eq(i).css("display", "none")
			};
		}
		//点击dis-shou-hide（全部）
		$(".dis-shou-hide").click(function() {
			if($(this).attr("panduan") == "dis-shou-hide"){
				$(this).text("收起").attr("panduan","dis-hide-shou").prev().css("max-height", "inherit")
			}else{
				$(this).text("全部").attr("panduan","dis-shou-hide").prev().css("max-height", "66px")
			}
		})
		$(".list-zl>.row .col-xs-2,.list-zl>.row .title-name,.list-zl>.row .height-value,.list-zl>.row .map-time-bar").click(function(){
			location.href="xysq-xq.html"
		})
		//点击白色心形图标
		$(".heart").click(function(){
			var obj = $(this).find("img");
			if($(this).attr("dingyi-value") == "0"){
				$(this).attr("dingyi-value","1");
				$(this).find("img").attr("src","../../content/style/white/baituanzhengyi/images/icon-heart-red.png").css({"width":"100%","transform":"rotateY(180deg)","-webkit-transform":"rotateY(180deg)"});
				setTimeout(function(){
					obj.css({"width":"70%"});
				},500)
			}else{
				$(this).attr("dingyi-value","0");
				$(this).find("img").css({"width":"100%","transform":"rotateY(0deg)","-webkit-transform":"rotateY(0deg)"}).attr("src","../../content/style/white/baituanzhengyi/images/icon-heart.png");
				setTimeout(function(){
					obj.css({"width":"70%"});
				},500)
			}
		})
		//跳转
		$(".a-href").click(function(){
			window.location.href=$(this).attr("href");
		})
	</script>

</html>