<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>消息列表</title>
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/common/css/zf-common.css" />
		<link rel="stylesheet" href="../../content/style/white/xiaoxiliuzhuan/css/xx.css" />
	</head>
	<body class="xxlz xxlb">
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" alt="">
				</a>
				<h1>教务处消息</h1>
			</div>
		</nav>
		<div class="container">
			<ul class="xxlz-list">
				<li class="row">
					<a href="xxxq.html">
						<div class="col-xs-9"><span class="title-yuan"></span>教务处标题一</div>
						<div class="col-xs-3">12:00</div>
						<p>这条是未读消息标题是黑色的，标题前方显示小圆点 标题前方显示小圆点 标题前方显示小圆点</p>
					</a>
					
				</li>
				<li class="row">
					<a href="xxxq.html">
						<div class="col-xs-9 font-color-hui">教务处标题二</div>
						<div class="col-xs-3">昨天</div>
						<p>这条是未读消息标题是灰色的，标题前方不显示小圆点 </p>
					</a>
				</li>
				<li class="row">
					<a href="xxxq.html">
						<div class="col-xs-9 font-color-hui">教务处标题三</div>
						<div class="col-xs-3">04-08</div>
						<p>这条是未读消息标题是灰色的，标题前方不显示小圆点</p>
					</a>
				</li>
			</ul>
		</div>
	</body>
</html>
