<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>消息流转</title>
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/white/xiaoxiliuzhuan/css/xx.css" />
		<style type="text/css">
			
		</style>
	</head>
	<body class="xxlz">
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" alt="">
				</a>
				<h1>消息流转</h1>
			</div>
		</nav>
		<div class="container">
			<ul class="xxlz-list">
				<li class="row bg-img-1">
					<a href="xxlb.html" class="link">个人消息<i class="list-msg-num">3</i></a>
				</li>
				<li class="row bg-img-2">
					<a href="xxlb.html" class="link">教务处消息<i class="list-msg-num">4</i></a>
				</li>
				<li class="row bg-img-3">
					<a href="xxlb.html" class="link">考务处消息<i class="list-msg-num">1</i></a>
				</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript" src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
	<script>
		
	</script>
</html>
