<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>消息详情</title>
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/white/xq/css/xq.css" />
		<style>
			body{
				background-color: #FFFFFF;
			}
		</style>
	</head>
	<body class="xq-details xq">
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" alt="">
				</a>
				<h1>教务处消息</h1>
			</div>
		</nav>
		<div class="container">
			<h3 class="con-title">我校与四川的双利与合谱科技共建“协同创建基地”与“研究生培训基地”</h3>
			<div class="li-bottom">
				<span class="bot-man">学生处</span>
				<span class="bot-list">314</span>
				<span class="bot-time">2017/02/11</span>
			</div>
			<img src="../../content/style/white/xiaoyuanka/images/ka-jf.png" />
			<div class="con-content">
				<p>
					从黄土高坡到雪域高原，从西北边陲到云贵高原，他风雪兼程，几乎走遍全国14个集中连片特困地区。他对贫困群众念兹在兹、心有牵挂。
				</p>
				<p>
					党的十八大以来，以习近平同志为核心的党中央把脱贫攻坚作为关乎党和国家政治方向、根本制度和发展道路的大事，扶贫开发成为实现全面小康社会的底线目标。
				</p>
				<p>
					我们党员干部都要有这样一个意识：只要还有一家一户乃至一个人没有解决基本生活问题，我们就不能安之若素；只要群众对幸福生活的憧憬还没有变成现实，我们就要毫不懈怠团结带领群众一起奋斗。
				</p>
				<p>
					从黄土高坡到雪域高原，从西北边陲到云贵高原，他风雪兼程，几乎走遍全国14个集中连片特困地区。他对贫困群众念兹在兹、心有牵挂。
				</p>
				<p>
					党的十八大以来，以习近平同志为核心的党中央把脱贫攻坚作为关乎党和国家政治方向、根本制度和发展道路的大事，扶贫开发成为实现全面小康社会的底线目标。
				</p>
			</div>
		</div>
	</body>
</html>
