<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>开门记录</title>		
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/common/css/zf-common.css" />
		<link rel="stylesheet" href="../../content/style/white/zhinengmenjin/css/znmj.css" />
	</head>
	<body class="znmj">
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" alt="">
				</a>
				<h1>开门记录</h1>
			</div>
		</nav>
		<div class="container">
			<div class="list-jl">
				<ul>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li><li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li><li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li><li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="backdrop" style="display: none;"></div>
	</body>
	<script type="text/javascript" src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
	<script>
		
	</script>
</html>
