<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>智能门禁</title>
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/white/zhinengmenjin/css/znmj.css" />
		
		<style>
			
		</style>
	</head>
	<body class="znmj">
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" alt="">
				</a>
				<h1>智能门禁</h1>
			</div>
		</nav>
		<div class="container">
			<div class="none-img-bar">
				<img src="../../content/style/white/zhinengmenjin/images/znmj-none.png" />
				<p>当前没有数据哦~</p>
			</div>
		</div>
	</body>
</html>
