<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>智能门禁</title>
		<link rel="stylesheet" href="../../content/style/frame/mui/css/mui.min.css" />
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/white/zhinengmenjin/css/znmj.css" />
	</head>

	<body class="znmj znmj-gl">
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" alt="">
				</a>
				<h1>智能门禁</h1>
			</div>
		</nav>
		<div class="container mui-content">
			<div class="href-icon"><a href="kmjl.html" class="icon-right">查看个人开门记录</a></div>
			<div class="hui-bar"></div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../../content/style/white/zhinengmenjin/images/img-eee.jpg">
						<div class="mui-media-body">
							航天航海综合楼-305-后门
							<p class="mui-ellipsis">有效期：2017/05/16</p>
							<div class="btn-gl">
								<button type="button" class="mui-btn mui-btn-blue mui-btn-outlined gl-btn">管理</button>
								<button type="button" class="mui-btn mui-btn-blue">开门</button>
							</div>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../../content/style/white/zhinengmenjin/images/img-eee.jpg">
						<div class="mui-media-body">
							航天航海综合楼-305-后门
							<p class="mui-ellipsis">有效期：2017/05/16</p>
							<div class="btn-gl">
								<button type="button" disabled="disabled" class="mui-btn mui-btn-blue btn-hui">开门</button>
							</div>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../../content/style/white/zhinengmenjin/images/img-eee.jpg">
						<div class="mui-media-body">
							航天航海综合楼-305-后门
							<p class="mui-ellipsis">有效期：2017/05/16</p>
							<div class="btn-gl">
								<button type="button" class="mui-btn mui-btn-blue mui-btn-outlined gl-btn">管理</button>
								<button type="button" class="mui-btn mui-btn-blue">开门</button>
							</div>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../../content/style/white/zhinengmenjin/images/img-eee.jpg">
						<div class="mui-media-body">
							航天航海综合楼-305-后门
							<p class="mui-ellipsis">有效期：2017/05/16</p>
							<div class="btn-gl">
								<button type="button" class="mui-btn mui-btn-blue mui-btn-outlined gl-btn">管理</button>
								<button type="button" class="mui-btn mui-btn-blue">开门</button>
							</div>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../../content/style/white/zhinengmenjin/images/img-eee.jpg">
						<div class="mui-media-body">
							航天航海综合楼-305-后门
							<p class="mui-ellipsis">有效期：2017/05/16</p>
							<div class="btn-gl">
								<button type="button" class="mui-btn mui-btn-blue mui-btn-outlined gl-btn">管理</button>
								<button type="button" class="mui-btn mui-btn-blue">开门</button>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript" src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../content/style/frame/mui/js/mui.min.js" ></script>
	<script>
//		mui(document.body).on('tap', '.mui-btn', function(e) {
//		    mui(this).button('loading');
//		    setTimeout(function() {
//		        mui(this).button('reset');
//		    }.bind(this), 2000);
//		});
		$(".gl-btn").click(function(){
			window.location.href = "tjry.html"
		})
	</script>
</html>