<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>智能门禁</title>
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/frame/mui/css/mui.min.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/common/css/zf-common.css" />
		<link rel="stylesheet" href="../../content/style/white/zhinengmenjin/css/znmj.css" />
	</head>
	<body class="znmj">
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" alt="">
				</a>
				<h1>智能门禁</h1>
			</div>
		</nav>
		<div class="container mui-content">
			<div id="slider" class="mui-slider" >
			  <div class="mui-slider-group mui-slider-loop">
			    <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
			    <div class="mui-slider-item mui-slider-item-duplicate">
			      <a href="#">
			        <img src="../../content/style/white/xiaoyuanka/images/ka-jf.png">
			        <div class="text-bar">
			        	<b></b>
			        	<span>南12楼205</span>
			        	<b></b>
			        </div>
			        <button type="button" class="mui-btn mui-btn-blue">芝麻开门</button>
			      </a>
			    </div>
			    <!-- 第一张 -->
			    <div class="mui-slider-item">
			      <a href="#">
			        <img src="../../content/style/white/xiaoyuanka/images/ka-jf.png">
			        <div class="text-bar">
			        	<b></b>
			        	<span>南12楼205</span>
			        	<b></b>
			        </div>
			        <button type="button" class="mui-btn mui-btn-blue">芝麻开门</button>
			      </a>
			    </div>
			    <!-- 第二张 -->
			    <div class="mui-slider-item">
			      <a href="#">
			        <img src="../../content/style/white/xiaoyuanka/images/ka-jf.png">
			        <div class="text-bar">
			        	<b></b>
			        	<span>南12楼205</span>
			        	<b></b>
			        </div>
			        <button type="button" class="mui-btn mui-btn-blue">芝麻开门</button>
			      </a>
			    </div>
			    <!-- 第三张 -->
			    <div class="mui-slider-item">
			      <a href="#">
			        <img src="../../content/style/white/xiaoyuanka/images/ka-jf.png">
			        <div class="text-bar">
			        	<b></b>
			        	<span>南12楼205</span>
			        	<b></b>
			        </div>
			        <button type="button" class="mui-btn mui-btn-blue">芝麻开门</button>
			      </a>
			    </div>
			    <!-- 第四张 -->
			    <div class="mui-slider-item">
			      <a href="#">
			        <img src="../../content/style/white/xiaoyuanka/images/ka-jf.png">
			        <div class="text-bar">
			        	<b></b>
			        	<span>南12楼205</span>
			        	<b></b>
			        </div>
			        <button type="button" class="mui-btn mui-btn-blue">芝麻开门</button>
			      </a>
			    </div>
			    <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
			    <div class="mui-slider-item mui-slider-item-duplicate">
			      <a href="#">
			        <img src="../../content/style/white/xiaoyuanka/images/ka-jf.png">
			        <div class="text-bar">
			        	<b></b>
			        	<span>南12楼205</span>
			        	<b></b>
			        </div>
			        <button type="button" class="mui-btn mui-btn-blue">芝麻开门</button>
			      </a>
			    </div>
			  </div>
			  <div class="mui-slider-indicator">
			    <div class="mui-indicator mui-active"></div>
			    <div class="mui-indicator"></div>
			    <div class="mui-indicator"></div>
			    <div class="mui-indicator"></div>
			  </div>
			</div>
			<div class="fenge-bar"></div>
			<div class="list-jl">
				<div class="title-kmjl">开门记录</div>
				<ul>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li><li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
					<li class="row">
						<div class="col-xs-8">2017/12/21 12:00</div>
						<div class="col-xs-4">打开301</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../content/style/frame/mui/js/mui.min.js" ></script>
	<script>
		console.log($("#slider").width()*0.688)
		//计算背景高度
		$("#slider").height($("#slider").width()*0.688)
		//跳转页面
		$(".title-kmjl").click(function(){
			window.location.href="kmjl.html"
		})
	</script>
</html>
