<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>百团争艺</title>
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/frame/jquery/toast/css/jquery.toast.css" />
		<link rel="stylesheet" href="../../content/style/common/css/popup.css" />
		<link rel="stylesheet" href="../../content/style/frame/jquery/tab/css/scroller.css" />
		<link rel="stylesheet" href="../../content/style/white/shiwuzhaoling/css/swzl.css" />
		<link rel="stylesheet" href="../../content/style/white/baituanzhengyi/css/btzy.css" />
		<style>
			.btzy-sthd-xq .popup-alert h1 {
			    height: 130px;
			}
			.popup-box.popup-alert p{
				margin: 27px 0 30px 0;
			}
		</style>
	</head>

	<body class="znmj btzy btzy-index">
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" />
				</a>
				<h1 class="lin-heit">百团争艺</h1>
				<a class="smart-edit smart-icon-right" href="btzy-stgl.html">
					管理
				</a>
			</div>
		</nav>
		<div class="container">
			<div class="advertisement">
				<img src="../../content/style/white/baituanzhengyi/images/advertisement.png" />
				<img src="../../content/style/white/baituanzhengyi/images/Advertisement-opcity.png" />
			</div>
			<div class="rmst">
				<div class="title-bar">热门社团
					<a class="right-href" href="btzy-rmst.html">全部</a>
				</div>
				<div class="wrapper wrapper02" id="wrapper02">
					<div class="scroller">
						<ul class="clearfix">
							<li modular="kjzl">
								<img src="../../content/style/white/baituanzhengyi/images/login-st1.png" />
								<a href="btzy-stxq.html">某某社团</a>
							</li>
							<li modular="xxtz">
								<img src="../../content/style/white/baituanzhengyi/images/login-st2.png" />
								<a href="javascript:void(0)">某某社团</a>
							</li>
							<li modular="hdyw">
								<img src="../../content/style/white/baituanzhengyi/images/login-st3.png" />
								<a href="javascript:void(0)">某某社团</a>
							</li>
							<li modular="mthd">
								<img src="../../content/style/white/baituanzhengyi/images/login-st4.png" />
								<a href="javascript:void(0)">某某社团</a>
							</li>
							<li modular="yshc">
								<img src="../../content/style/white/baituanzhengyi/images/login-st5.png" />
								<a href="javascript:void(0)">某某社团</a>
							</li>
							<li modular="yxfc">
								<img src="../../content/style/white/baituanzhengyi/images/login-st1.png" />
								<a href="javascript:void(0)">某某社团</a>
							</li>
							<li modular="zhxw">
								<img src="../../content/style/white/baituanzhengyi/images/login-st2.png" />
								<a href="javascript:void(0)">某某社团</a>
							</li>
							<li modular="hdxw">
								<img src="../../content/style/white/baituanzhengyi/images/login-st3.png" />
								<a href="javascript:void(0)">某某社团</a>
							</li>
							<li modular="gddy">
								<img src="../../content/style/white/baituanzhengyi/images/login-st4.png" />
								<a href="javascript:void(0)">某某社团</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="hui-bar"></div>
			<!--<a href="">-->
				<div class="title-bar">热门活动</div>
			<!--</a>-->
			<div class="rmhd contant-text">
				<ul class="list-zl">
					<li class="row">
						<div class="col-xs-2">
							<img src="../../content/style/white/baituanzhengyi/images/login-st5.png" />
						</div>
						<div class="col-xs-10">
							<div class="title-name">
								<span>某某社团某某社团某某社团某某社团</span>
							</div>
							<p class="height-value">神州大陆，有个大齐帝国，帝国之内分九道</p>
							<a class="dis-shou-hide" panduan="dis-shou-hide">全部</a>
							<span class="map-icon">理科综合楼</span>
							<!--有图模块-->
							<div class="row">
								<div class="col-xs-3">
									<img class="css-height_" src="../../content/custom/img/img-eee.jpg" />
								</div>
								<div class="col-xs-3">
									<img class="css-height_" src="../../content/custom/img/img-eee.jpg" />
								</div>
								<div class="col-xs-3">
									<img class="css-height_" src="../../content/custom/img/img-eee.jpg" />
								</div>
								<div class="col-xs-3">
									<img class="css-height_" src="../../content/custom/img/img-eee.jpg" />
								</div>
							</div>
							<!--有图模块结束-->
							<div class="foot-bar">
								<span class="time-comment">14分钟前</span>
								<a href="stxq-hdxq.html" class="comment-icon"></a>
								<a dingyi-value="0" class="heart icon-bar-a"><span><img src="../../content/style/white/baituanzhengyi/images/icon-heart.png" /></span><i>12</i></a>
								<a dingyi-value="0" class="head icon-bar-a"><span><img src="../../content/style/white/baituanzhengyi/images/icon-head.png" /></span><i>213</i></a>
							</div>
						</div>
					</li>
					<li class="row">
						<div class="col-xs-2">
							<img src="../../content/style/white/baituanzhengyi/images/login-st1.png" />
						</div>
						<div class="col-xs-10">
							<div class="title-name">
								<span>某某社团某某社团某某社团某某社团</span>
							</div>
							<p class="height-value">神州大陆，有个大齐帝国，帝国之内分九道，江南道上有座山，山上有座庙神州大陆，有个大齐帝国，帝国之内分九道，江南道上有座山，山上有座庙</p>
							<a class="dis-shou-hide" panduan="dis-shou-hide">全部</a>
							<div class="map-time-bar">
							<span class="map-icon">理科综合楼</span>
							<span class="time-icon">2017-05-16</span>
								
							</div>
							
							<!--有图模块-->
							<div class="row">
								<div class="col-xs-3">
									<img class="css-height_" src="../../content/custom/img/img-eee.jpg" />
								</div>
								<div class="col-xs-3">
									<img class="css-height_" src="../../content/custom/img/img-eee.jpg" />
								</div>
								<div class="col-xs-3">
									<img class="css-height_" src="../../content/custom/img/img-eee.jpg" />
								</div>
								<div class="col-xs-3">
									<img class="css-height_" src="../../content/custom/img/img-eee.jpg" />
								</div>
							</div>
							<!--有图模块结束-->
							<div class="foot-bar">
								<span class="time-comment">14分钟前</span>
								<a href="stxq-hdxq.html" class="comment-icon"></a>
								<a dingyi-value="0" class="heart icon-bar-a"><span><img src="../../content/style/white/baituanzhengyi/images/icon-heart.png" /></span><i>12</i></a>
								<a dingyi-value="0" class="head icon-bar-a"><span><img src="../../content/style/white/baituanzhengyi/images/icon-head.png" /></span><i>213</i></a>
							</div>

						</div>
					</li>
					<li class="row">
						<div class="col-xs-2">
							<img src="../../content/style/white/baituanzhengyi/images/login-st2.png" />
						</div>
						<div class="col-xs-10">
							<div class="title-name">
								<span>某某社团</span>
							</div>
							<div>
								<p class="height-value">1无尽大陆上，十万大山里，云梦沼泽处，有一小小宗门。宗门不大，却有妖冶的龙血树。宗门不大，却有满地跑的人参娃娃。宗门不大，却有世界之树的残片。当这个小小宗门变成周天第一仙门，如山的灵石，吃到吐的灵药，满身武装的法宝…… 这是一本种田流的小清新，主题是建设宗门，附带打架，炫富，拉仇恨……
								</p>
								<a class="dis-shou-hide" panduan="dis-shou-hide">全部</a>
							</div>
							<span class="map-icon">理科综合楼</span>
							<div class="foot-bar">
								<span class="time-comment">14分钟前</span>
								<a href="stxq-hdxq.html" class="comment-icon"></a>
								<a dingyi-value="0" class="heart icon-bar-a"><span><img src="../../content/style/white/baituanzhengyi/images/icon-heart.png" /></span><i>12</i></a>
								<a dingyi-value="0" class="head icon-bar-a"><span><img src="../../content/style/white/baituanzhengyi/images/icon-head.png" /></span><i>213</i></a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
	
	<script type="text/javascript" src="../../content/style/frame/jquery/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../content/style/frame/bootstrap/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="../../content/style/frame/jquery/toast/js/jquery.toast.js" ></script>
	<script type="text/javascript" src="../../content/style/common/js/popup.js" ></script>
	<script type="text/javascript" src="../../content/style/frame/jquery/tab/js/iscroll.js" ></script>
	<script type="text/javascript" src="../../content/style/frame/jquery/tab/js/navbarscroll.js" ></script>
	<script>
		//根据图片宽度设置高度
		$(".css-height").css("height", $(".css-height").width());
		$(".css-height_").css("height", $(".css-height_").width());
		//根据height-value的高度判断是否显示dis-shou-hide
		for(var i = 0; i < $(".height-value").length; i++) {
			console.log($(".height-value").eq(i).height());
			if($(".height-value").eq(i).height() < 66) {
				$(".dis-shou-hide").eq(i).css("display", "none")
			};
		}
		//点击dis-shou-hide（全部）
		$(".dis-shou-hide").click(function() {
			if($(this).attr("panduan") == "dis-shou-hide"){
				$(this).text("收起").attr("panduan","dis-hide-shou").prev().css("max-height", "inherit")
			}else{
				$(this).text("全部").attr("panduan","dis-shou-hide").prev().css("max-height", "66px")
			}
		})
		$(function() {
			$('.wrapper').navbarscroll();
		});
		$(".list-zl>.row .col-xs-2,.list-zl>.row .title-name,.list-zl>.row .height-value,.list-zl>.row .map-time-bar,.list-zl>.row .row").click(function(){
			location.href="btzy-sthd-xq.html"
		})
		//进入社团详情页
		$(".clearfix li").click(function(){
			window.location.href = "btzy-stxq.html"
		})
		//报名
		$(".head").click(function(){
			var obj = $(this)
			if(obj.attr("dingyi-value") == "0"){
				obj.attr("dingyi-value","1");
				obj.find("img").attr("src","../../content/style/white/baituanzhengyi/images/icon-head-blue.png").css({"width":"100%"});
				setTimeout(function(){
					obj.find("img").css({"width":"70%"});
					alertBox(obj);
				},500)
				
			}else{
				campus.tips("报名后不可取消哦")
			}
		})
		function alertBox(obj) {
			var option = {
				type: "alert",
				boxStyle: {
					//"background": "url(../../content/style/white/baituanzhengyi/images/bg.png) repeat-x top #fff",
					//"background-size": "100%",
					"border-radius": "10px"
				},
				title: {
					val: "",
					img: "../../content/style/white/baituanzhengyi/images/btzy-clear-bncg.png",
					imgStyle: {
						"margin-top": "-30%",
						"width": "100%"
					}
				},
				content: {
					val: "社长审核后，会立刻通知您~",
					contentStyle: {
						"text-align": "center"
					}
				},
				btns: {
					cancel: false,
					sureVal: "我知道了",
				}

			}
			campus.popup(option, function(data) {
				console.log(data);
				campus.togglePopup("hide", "alert");
			});
		}
		//点击白色心形图标
		$(".heart").click(function(){
			var obj = $(this).find("img");
			if($(this).attr("dingyi-value") == "0"){
				$(this).attr("dingyi-value","1");
				$(this).find("img").attr("src","../../content/style/white/baituanzhengyi/images/icon-heart-red.png").css({"width":"100%","transform":"rotateY(180deg)","-webkit-transform":"rotateY(180deg)"});
				setTimeout(function(){
					obj.css({"width":"70%"});
				},500)
			}else{
				$(this).attr("dingyi-value","0");
				$(this).find("img").css({"width":"100%","transform":"rotateY(0deg)","-webkit-transform":"rotateY(0deg)"}).attr("src","../../content/style/white/baituanzhengyi/images/icon-heart.png");
				setTimeout(function(){
					obj.css({"width":"70%"});
				},500)
			}
		})
	</script>

</html>