<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>百团争艺-社团管理</title>
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/frame/mui/css/mui.min.css" />
		<link rel="stylesheet" href="../../content/style/white/baituanzhengyi/css/btzy.css" />
	</head>

	<body class="">
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" />
				</a>
				<h1>社团管理</h1>
			</div>
		</nav>
		<div class="container">
			<div class="cylb-list st-contant">
				<ul class="mui-table-view laout-li-3 laout-li-onerow padding-chongzhi-right ul-list-active">
					<li class="mui-table-view-cell mui-media">
						<a class="laout-width-70" href="btzy-stgl-setting.html">
							<img class="mui-media-object mui-pull-left" src="../../content/style/white/baituanzhengyi/images/login-st1.png">
							<div class="mui-media-body">
								山鹰社
							</div>
							
						</a>
						<div class="laout-width-30 text-type-hui">
							<span class="text-span icon-right">社长</span>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class="laout-width-70" href="btzy-stgl-setting.html">
							<img class="mui-media-object mui-pull-left" src="../../content/style/white/baituanzhengyi/images/login-st4.png">
							<div class="mui-media-body">
								美食社团
							</div>
							
						</a>
						<div class="laout-width-30 text-type-hui">
							<span class="text-span icon-right">副社长</span>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class="laout-width-70" href="btzy-stgl-setting.html">
							<img class="mui-media-object mui-pull-left" src="../../content/style/white/baituanzhengyi/images/login-st3.png">
							<div class="mui-media-body">
								娱乐社团
							</div>
							
						</a>
						<div class="laout-width-30 text-type-hui">
							<span class="text-span icon-right">a部长</span>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class="laout-width-70" href="btzy-stgl-setting.html">
							<img class="mui-media-object mui-pull-left" src="../../content/style/white/baituanzhengyi/images/login-st2.png">
							<div class="mui-media-body">
								旅游社团
							</div>
							
						</a>
						<div class="laout-width-30 text-type-hui">
							<span class="text-span icon-right">b部长</span>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class="laout-width-70" href="btzy-stgl-setting.html">
							<img class="mui-media-object mui-pull-left" src="../../content/style/white/baituanzhengyi/images/login-st1.png">
							<div class="mui-media-body">
								莞港社团
							</div>
							
						</a>
						<div class="laout-width-30 text-type-hui">
							<span class="text-span icon-right">c部长</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script>
	</script>

</html>