<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>百团争艺-历届领导班子</title>
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/frame/mui/css/mui.min.css" />
		<link rel="stylesheet" href="../../content/style/white/baituanzhengyi/css/btzy.css" />
	</head>

	<body class="znmj">
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" />
				</a>
				<h1>历届领导班子</h1>
			</div>
		</nav>
		<div class="container">
			<div class="cylb-list st-contant">
				<div class="hui-bar"><p>2016级</p></div>
				<ul class="mui-table-view laout-li-3 user-list-header">
					<li class="mui-table-view-cell mui-media">
						<a class="laout-width-70" href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../../content/custom/img/img-eee.jpg">
							<div class="mui-media-body">
								张三
								<p class="mui-ellipsis">航海学院</p>
							</div>
							
						</a>
						<div class="laout-width-30 text-type-hui">
							<span class="text-span">社长</span>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class="laout-width-70" href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../../content/custom/img/img-eee.jpg">
							<div class="mui-media-body">
								张三
								<p class="mui-ellipsis">航海学院</p>
							</div>
							
						</a>
						<div class="laout-width-30 text-type-hui">
							<span class="text-span">副社长</span>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class="laout-width-70" href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../../content/custom/img/img-eee.jpg">
							<div class="mui-media-body">
								张三
								<p class="mui-ellipsis">航海学院</p>
							</div>
							
						</a>
						<div class="laout-width-30 text-type-hui">
							<span class="text-span">a部长</span>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class="laout-width-70" href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../../content/custom/img/img-eee.jpg">
							<div class="mui-media-body">
								张三
								<p class="mui-ellipsis">航海学院</p>
							</div>
							
						</a>
						<div class="laout-width-30 text-type-hui">
							<span class="text-span">b部长</span>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class="laout-width-70" href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../../content/custom/img/img-eee.jpg">
							<div class="mui-media-body">
								张三
								<p class="mui-ellipsis">航海学院</p>
							</div>
							
						</a>
						<div class="laout-width-30 text-type-hui">
							<span class="text-span">c部长</span>
						</div>
					</li>
				</ul>
				<div class="hui-bar"><p>2015级(创始班子)</p></div>
				<ul class="mui-table-view laout-li-3 user-list-header">
					<li class="mui-table-view-cell mui-media">
						<a class="laout-width-70" href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../../content/custom/img/img-eee.jpg">
							<div class="mui-media-body">
								张三
								<p class="mui-ellipsis">航海学院</p>
							</div>
							
						</a>
						<div class="laout-width-30 text-type-hui">
							<span class="text-span">社长</span>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class="laout-width-70" href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../../content/custom/img/img-eee.jpg">
							<div class="mui-media-body">
								张三
								<p class="mui-ellipsis">航海学院</p>
							</div>
							
						</a>
						<div class="laout-width-30 text-type-hui">
							<span class="text-span">副社长</span>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class="laout-width-70" href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../../content/custom/img/img-eee.jpg">
							<div class="mui-media-body">
								张三
								<p class="mui-ellipsis">航海学院</p>
							</div>
							
						</a>
						<div class="laout-width-30 text-type-hui">
							<span class="text-span">a部长</span>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class="laout-width-70" href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../../content/custom/img/img-eee.jpg">
							<div class="mui-media-body">
								张三
								<p class="mui-ellipsis">航海学院</p>
							</div>
							
						</a>
						<div class="laout-width-30 text-type-hui">
							<span class="text-span">b部长</span>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a class="laout-width-70" href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../../content/custom/img/img-eee.jpg">
							<div class="mui-media-body">
								张三
								<p class="mui-ellipsis">航海学院</p>
							</div>
							
						</a>
						<div class="laout-width-30 text-type-hui">
							<span class="text-span">c部长</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script>
	</script>

</html>