<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>百团争艺-热门社团</title>
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/common/css/popup.css" />
		<link rel="stylesheet" href="../../content/style/white/shiwuzhaoling/css/swzl.css" />
		<link rel="stylesheet" href="../../content/style/white/baituanzhengyi/css/btzy.css" />
	</head>

	<body class="znmj btzy-hdxq">
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" alt="">
				</a>
				<h1>百团争艺</h1>
				<a class="smart-edit smart-icon-right" href="btzy-stgl.html">
					管理
				</a>
			</div>
		</nav>
		<div class="container">
			<div class="rmhd contant-text">
				<ul class="list-zl">
					<li class="row">
						<div class="col-xs-2">
							<img src="../../content/style/white/baituanzhengyi/images/login-st5.png" />
						</div>
						<div class="col-xs-10">
							<div class="title-name">
								<span>某某社团某某社团某某社团某某社团</span>
								<i class="type1">已加入</i>
							</div>
							<p>神州大陆，有个大齐帝国，帝国之内分九道，江南道上有座山</p>
							<div class="foot-bar">
								<a href="btzy-stxq.html" class="ckxq">查看详情</a>
								<a href="btzy-sthd-xq.html" class="zxhd">最新活动</a>
							</div>
						</div>
					</li>
					<li class="row">
						<div class="col-xs-2">
							<img src="../../content/style/white/baituanzhengyi/images/login-st1.png" />
						</div>
						<div class="col-xs-10">
							<div class="title-name">
								<span>某某社团某某社团某某社团某某社团</span>
								<i class="type1">已加入</i>
							</div>
							<p>神州大陆，有个大齐帝国，帝国之内分九道，江南道上有座山，山上有座庙，庙里有个小和尚，得个法号叫不成……</p>
							<div class="foot-bar">
								<a href="btzy-stxq.html" class="ckxq">查看详情</a>
								<a href="btzy-sthd-xq.html" class="zxhd">最新活动</a>
							</div>

						</div>
					</li>
					<li class="row">
						<div class="col-xs-2">
							<img src="../../content/style/white/baituanzhengyi/images/login-st2.png" />
						</div>
						<div class="col-xs-10">
							<div class="title-name">
								<span>某某社团</span>
								<i class="type2">等待审核</i>
							</div>
							<p>无尽大陆上，十万大山里，云梦沼泽处，有一小小宗门。 　　宗门不大，却有妖冶的龙血树。 　　宗门不大，却有满地跑的人参娃娃。 　　宗门不大，却有世界之树的残片。 　　当这个小小宗门变成周天第一仙门，如山的灵石，吃到吐的灵药，满身武装的法宝…… 　　这是一本种田流的小清新，主题是建设宗门，附带打架，炫富，拉仇恨……
							</p>
							<div class="foot-bar">
								<a href="btzy-stxq.html" class="ckxq">查看详情</a>
								<a href="btzy-sthd-xq.html" class="zxhd">最新活动</a>
							</div>
						</div>
					</li>
					<li class="row">
						<div class="col-xs-2">
							<img src="../../content/style/white/baituanzhengyi/images/login-st1.png" />
						</div>
						<div class="col-xs-10">
							<div class="title-name">
								<span>某某社团某某社团某某社团某某社团</span>
								<i class="type3">申请加入</i>
							</div>
							<p>神州大陆，有个大齐帝国，帝国之内分九道，江南道上有座山，山上有座庙，庙里有个小和尚，得个法号叫不成……</p>
							<div class="foot-bar">
								<a href="btzy-stxq.html" class="ckxq">查看详情</a>
								<a href="btzy-sthd-xq.html" class="zxhd">最新活动</a>
							</div>

						</div>
					</li>
					<li class="row">
						<div class="col-xs-2">
							<img src="../../content/style/white/baituanzhengyi/images/login-st1.png" />
						</div>
						<div class="col-xs-10">
							<div class="title-name">
								<span>某某社团某某社团某某社团某某社团</span>
								<i class="type3">申请加入</i>
							</div>
							<p>神州大陆，有个大齐帝国，帝国之内分九道，江南道上有座山，山上有座庙，庙里有个小和尚，得个法号叫不成……</p>
							<div class="foot-bar">
								<a href="btzy-stxq.html" class="ckxq">查看详情</a>
								<a href="btzy-sthd-xq.html" class="zxhd">最新活动</a>
							</div>

						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../content/style/frame/jquery/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../content/style/frame/bootstrap/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="../../content/style/common/js/popup.js" ></script>
	<script type="text/javascript" src="../../content/style/frame/jquery/tab/js/navbarscroll.js" ></script>
	<script>
		/*
		 * 根据图片宽度设置高度
		 */
		$(".css-height").css("height", $(".css-height").width());
		$(".css-height_").css("height", $(".css-height_").width());
		$(function() {
			$('.wrapper').navbarscroll();
		});
		//点击申请加入
		$(".row .title-name .type3").click(function() {
			alertBox();
		})

		function alertBox() {
			var option = {
				type: "alert",
				boxStyle: {
					"background": "url(../../content/custom/img/1/bg.png) repeat-x top #fff",
					"background-size": "100%",
					"border-radius": "10px"
				},
				title: {
					val: "社团申请发送成功",
					//img: "../../../content/custom/img/1/1.png",
					imgStyle: {
						"margin-top": "0%",
						"width": "100%"
					}
				},
				content: {
					val: "等待社长批准后才能成为正式成员哦",
					contentStyle: {
						"text-align": "left"
					}
				},
				btns: {
					cancel: false,
					sureVal: "我知道了",
				}

			}
			campus.popup(option, function(data) {
				console.log(data);
				campus.togglePopup("hide", "alert");
			});
		}
		//点击社团图标进入社团详情{}
		$(".contant-text .list-zl .row .col-xs-2").click(function(){
			window.location.href = "btzy-stxq.html"
		})
	</script>

</html>