<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>百团争艺-社团管理</title>
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/frame/mui/css/mui.min.css" />
		<link rel="stylesheet" href="../../content/style/white/baituanzhengyi/css/btzy.css" />
	</head>

	<body class="znmj">
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" />
				</a>
				<h1>社团管理</h1>
			</div>
		</nav>
		<div class="container">
			<div class="cylb-list st-contant">
				<ul class="mui-table-view laout-li-onerow small-a-img ul-list-active">
					<li class="mui-table-view-cell mui-media padding-right-25">
						<a class="icon-right" href="btzy-sthd-fb.html">
							<img class="mui-media-object mui-pull-left" src="../../content/style/white/baituanzhengyi/images/bt-img1.png">
							<div class="mui-media-body">
								发布活动
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media padding-right-25">
						<a class="icon-right" href="btzy-hdbmsh.html">
							<img class="mui-media-object mui-pull-left" src="../../content/style/white/baituanzhengyi/images/bt-img2.png">
							<div class="mui-media-body">
								报名审核
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media padding-right-25">
						<a class="icon-right" href="btzy-zwtz.html">
							<img class="mui-media-object mui-pull-left" src="../../content/style/white/baituanzhengyi/images/bt-img3.png">
							<div class="mui-media-body">
								职位调整
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media padding-right-25">
						<a class="icon-right" href="btzy-rssq.html">
							<img class="mui-media-object mui-pull-left" src="../../content/style/white/baituanzhengyi/images/bt-img4.png">
							<div class="mui-media-body">
								入社审核
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script>
	</script>

</html>