<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>在线充值</title>
		<link href="../../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../content/style/common/css/zf-common.css" rel="stylesheet">
		<link href="../../../content/style/frame/jquery/toast/css/jquery.toast.css" rel="stylesheet"  />
		<link href="../../../content/style/white/xiaoyuanka/css/ka-recharge.css" rel="stylesheet" />
		<style type="text/css">
			.con-button{
				padding-bottom: 50px;
			}
		</style>
	</head>
	<body>
		<header class="con-header">
			<a href="javascript:history.go(-1)"><i class="con-back"></i></a>
			<h1>在线充值</h1>
			<a href="#" class="header-link">记录</a>
		</header>
		<div class="container">
			<div class="con-tip">
				<i class="tip-img">i</i>
				<span class="tip-tetle">您可以对电子账户进行充值</span>
			</div>
			<div class="con-xz">
				<h3>选择充值金额</h3>
				<div class="row con-col-3padidng">
					<div class="col-xs-4">
						<input type="button" class="button log-btn" value="50元" />
					</div>
					<div class="col-xs-4">
						<input type="button" class="button log-btn btn-opcity" value="100元" />
					</div>
					<div class="col-xs-4">
						<input type="button" class="button log-btn btn-opcity" value="200元" />
					</div>
				</div>
			</div>
			<div class="con-xz con-inpt">
				<h3>其他金额</h3>
				<input type="text" value="" placeholder="请输入0-200元充值金额" />
			</div>
			<div class="con-button">
				<input id="btn" type="button" type="button" class="button log-btn con-btn" value="确认充值" />
			</div>
		</div>
		
	</body>
	<script type="text/javascript" src="../../../content/style/frame/jquery/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../../content/style/common/js/common.js"></script>
	<script type="text/javascript" src="../../../content/style/common/js/popup.js"></script>	
	<script>
		//单选按钮
		$(".con-col-3padidng .button").click(function(e) {
			console.log($(this).val())
			$(this).removeClass("btn-opcity").parent().siblings().children().addClass("btn-opcity");
		})
		//单选列表
		$(".car-list .row").click(function(e) {
			$(this).addClass("active").siblings().removeClass("active");
		})
	</script>
</html>
