<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>支付设置</title>

  <!-- Bootstrap -->

  <link href="../../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../content/style/common/css/xiaoyuanka/common.css" rel="stylesheet">
  <link href="../../../content/style/white/xiaoyuanka/css/loss.css" rel="stylesheet">
  
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="smart-lockCard">
  <nav class="navbar">
    <div class="smart-header smart-white">
      <a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
        <img src="../../../content/style/common/images/back-2.png" alt="" >
      </a>
      <h1>挂失</h1>
    </div>
  </nav>
  <div class="smart-content">
    <div class="smart-imgBox">
      <img src="../../../content/style/white/xiaoyuanka/images/lock-card.png" alt="">
      <p>您的一卡通已挂失</p>
    </div>
    <button type="" class="smart-btn smart-btn-white">线上补卡</button>
    <div class="smart-lockCard-tips">
      <h1>温馨提示</h1>
      <p>当校园卡金额大于20元时，可以申请线上补卡，请带上您的学生证</p>
      <p>请您及时与相关工作人员联系，确保不影响您的校园正常生活，谢谢！</p>
    </div>
    
  </div>
</body>
  <script type="text/javascript" src="../../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../../../content/style/common/js/common.js"></script>
</html>
