<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>我的账单——图表</title>

  <!-- Bootstrap -->

  <link href="../../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../content/style/common/css/xiaoyuanka/common.css" rel="stylesheet">
  <link href="../../../content/style/white/xiaoyuanka/css/smart-echarts.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <nav class="navbar">
    <div class="smart-header smart-white smart-border">
      <a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
        <img src="../../../content/style/common/images/back-2.png" alt="">
      </a>
      <h1>我的账单</h1>
      <a href="javascript:history.go(-1)" class="smart-icon-right">
        <img src="../../../content/style/white/xiaoyuanka/images/more-1.png" alt="">
      </a>
    </div>
  </nav>
  <div class="smart-content">
    <div class="smart-gear">
      <img src="../../../content/style/white/xiaoyuanka/images/icon-1.png" alt="" class="smart-gear-left">
      <h1>2017.02</h1>
      <img src="../../../content/style/white/xiaoyuanka/images/icon-2.png" alt="" class="smart-gear-right">
    </div>
    <!-- 线型图 -->
    <div class="smart-line-chart-switch">切换收支情况</div>
    <div class="smart-line-chart">

    </div>
    <!-- 柱形图 -->
    <div class="smart-bar-chart">

    </div>
  </div>
  <script type="text/javascript" src="../../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../../../content/style/frame/echarts/echarts.common.min.js"></script>
  <script type="text/javascript" src="../../../content/style/common/js/common.js"></script>
  <script type="text/javascript" src="../../../content/style/white/xiaoyuanka/js/my-bill-chart.js"></script>
</body>

</html>
