<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>钱包</title>
    <!-- Bootstrap -->
    <link href="../../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../content/style/common/css/xiaoyuanka/common.css" rel="stylesheet">
    <script type="text/javascript" src="../../../content/style/frame/echarts/echarts.common.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style type="text/css" media="screen">
.smart-wallet {
    background: #fff;
}
.echats-main {
    position: absolute;
    width: 100%;
    top: 45px;
    bottom: 204px;
    padding: 20px;
    margin: 0 auto;
}
</style>

<body class="smart-wallet">
    <nav class="navbar">
        <div class="smart-header smart-white smart-border-0">
            <a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
        <img src="../../../content/style/common/images/back-2.png" alt="">
      </a>
            <h1>钱包</h1>
        </div>
    </nav>
    <div class="smart-content">
        <!-- 图表 -->
        <div class="echats-main">
        </div>
        <!-- 表格 -->
        <div class="row smart-column-list smart-column-list-1">
            <div class="col-xs-6">
                <img src="../../../content/style/common/images/wallet-1.png" alt="">
                <p>
                    电子账户
                    <em>152.00</em>
                </p>
            </div>
            <div class="col-xs-6">
                <img src="../../../content/style/common/images/wallet-2.png" alt="">
                <p>
                    校园卡
                    <em>15200.00</em>
                </p>
            </div>
            <div class="col-xs-6">
                <img src="../../../content/style/white/xiaoyuanka/images/wallet-3.png" alt="">
                <p>
                    待写卡金额
                    <em>152.00</em>
                </p>
            </div>
            <div class="col-xs-6">
                <img src="../../../content/style/white/xiaoyuanka/images/wallet-4.png" alt="">
                <p>
                    上网余额
                    <em>152.00</em>
                </p>
            </div>
        </div>
        <!-- 底部 -->
        <div class="smart-foot">
            <button type="button" class="smart-btn" set-terget="ka-recharge.html">在线充值</button>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../../content/style/common/js/common.js"></script>
<script type="text/javascript">
smart_charts_pie(document.querySelector(".echats-main"));
</script>

</html>