<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>支付失败</title>
		<link rel="stylesheet" href="../../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../content/style/common/css/zf-common.css" />
	</head>
	<body>
		<div class="container">
			<div class="icon-img">
				<img class="img-kuan img-err" src="../../../content/style/white/xiaoyuanka/images/error.png" />
			</div>
			<div class="con-number">
				<i>￥</i><span>50.00</span>
				<p>支付失败什么原因</p>
			</div>
			<div class="zf-type">
				<div class="row">缴费方式：电子账户</div>
				<div class="row">付款时间：2017/04/07 12:00:30</div>
				<div class="row">流水号：16358795412365</div>
			</div>
		</div>
		<div class="con-button">
			<input id="btn" type="button" type="button" class="button log-btn con-btn btn-opcity" value="完成" set-terget="../index.html"/>
		</div>
	</body>
	<script type="text/javascript" src="../../../content/style/frame/jquery/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../../content/style/common/js/common.js" ></script>

</html>
