<div>
  <!DOCTYPE html>
  <html lang="zh-CN">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>隐私条款</title>

    <!-- Bootstrap -->
    <link href="../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../content/style/common/css/common.css" rel="stylesheet">
    <link href="../../content/style/white/tiaokuan/css/clause.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elkements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  </head>

  <body class="smart-clause" >
    <nav class="navbar">
      <div class="smart-header smart-white">
        <a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
          <img src="../../content/style/common/images/back-2.png" alt="">
        </a>
        <h1>隐私条款</h1>
        <!-- <a class="smart-back smart-icon-right" href="tongji.html">
          <img src="../../content/custom/img/charts.png" alt="">
        </a> -->
      </div>
    </nav>
    <!-- 内容 content -->
    <div class="smart-content">
      <div id="wrapper">
        <div id="scroller">
          <h1>隐私条款</h1>
          <ul>
            <li>
              <p>1、用户在注册账号或使用本服务的过程中，可能需要填写或提交一些必要的信息，如法律法规、规章规范性文件（以下称“法律法规”）规定的需要填写的身份信息。如用户提交的信息不完整或不符合法律法规的规定，则用户可能无法使用本服务或在使用本服务的过程中受到限制。</p>
            </li>
            <li>
              <p>2、个人隐私信息是指涉及用户个人身份或个人隐私的信息，比如，用户真实姓名、身份证号、手机号码、手机设备识别码、IP地址、用户聊天记录。非个人隐私信息是指用户对本服务的操作状态以及使用习惯等明确且客观反映在我方服务器端的基本记录信息、个人隐私信息范围外的其它普通信息，以及用户同意公开的上述隐私信息。</p>
            </li>
            <li>
              <p>3、尊重用户个人隐私信息的私有性是我方的一贯制度，我方将采取技术措施和其他必要措施，确保用户个人隐私信息安全，防止在本服务中收集的用户个人隐私信息泄露、毁损或丢失。在发生前述情形或者我方发现存在发生前述情形的可能时，将及时采取补救措施</p>
            </li>
            <li>
              <p>4、未经用户同意不向任何第三方公开、 透露用户个人隐私信息。但以下特定情形除外：</p>
              <p>(1) 根据法律法规规定或有权机关的指示提供用户的个人隐私信息；</p>
              <p>(2) 由于用户将其用户密码告知他人或与他人共享注册帐户与密码，由此导致的任何个人信息的泄漏，或其他非因我方原因导致的个人隐私信息的泄露；</p>
              <p>(3) 用户自行向第三方公开其个人隐私信息；</p>
              <p>(4) 用户与我方及合作单位之间就用户个人隐私信息的使用公开达成约定，我方因此向合作单位公开用户个人隐私信息；</p>
              <p>(5) 任何由于黑客攻击、电脑病毒侵入及其他不可抗力事件导致用户个人隐私信息的泄露。</p>
            </li>
            <li>
              <p>5、用户同意我方可在以下事项中使用用户的个人隐私信息：</p>
              <p>(1) 我方向用户及时发送重要通知，如软件更新、本协议条款的变更；</p>
              <p>(2)我方内部进行审计、数据分析和研究等，以改进我方的产品、服务和与用户之间的沟通；</p>
              <p>(3) 依本协议约定，我方管理、审查用户信息及进行处理措施；</p>
              <p>(4) 适用法律法规规定的其他事项。除上述事项外，如未取得用户事先同意，我方不会将用户个人隐私信息使用于任何其他用途。;</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../content/style/frame/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../content/style/frame/iscroll/iscroll.js"></script>
    <script src="../../content/style/white/tiaokuan/js/tiaokuan.js"></script>
  </body>

  </html>
</div>
