<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>意见反馈历史</title>
    <!-- Bootstrap -->
    <link href="../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../content/style/common/css/common.css" rel="stylesheet">
    <link href="../../content/style/frame/iscroll4/css/pullToRefresh.css" rel="stylesheet">
    <link href="../../content/style/white/tushuguanjia/css/history.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elkements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="smart-history">
    <div class="smart-content">
        <!--  -->
        <h1><em>在图书馆蜗居3000天，节约图书330本</em></h1>
        <div id="wrapper">
            <ul>
                
            </ul>
        </div>
        <div class="smart-list-nothing">
          <p>无更多数据...<button onclick="$('.smart-list-nothing').hide(0);">重新获取</button></a></p>
        </div>
    </div>
</body>
<script src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
<script src="../../content/style/frame/bootstrap/js/bootstrap.min.js"></script>

<script src="../../content/style/frame/iscroll4/js/iscroll.js"></script>
<script src="../../content/style/frame/iscroll4/js/pullToRefresh.js"></script>
<script src="../../content/style/white/tushuguanjia/js/history.js"></script>
</html>
