<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>图书馆家</title>

  <!-- Bootstrap -->

  <link href="../../content/style/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../content/style/common/css/xiaoyuanka/common.css" rel="stylesheet">
  <link href="../../content/style/common/css/popup.css" rel="stylesheet">
  <link href="../../content/style/white/tushuguanjia/css/tushu.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]> param.month = getOtherDate(getM);
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- smart-book 标示，暂时没有用到 -->
<body class="smart-book smart-default"> 
  <div class="smart-content">
    <div id="wrapper">
      <div id="scroller">
        <!--  用户信息 -->
        <div class="smart-user-info">
          <div class="smart-user-info-img">
            <div class="img-box">
              <img src="../../content/style/white/tushuguanjia/images/head-default.png">
            </div>
          </div>
          <div class="smart-user-info-name">
            <h1>张三 201122334455</h1>
            <p>有效期：2017/09/01-2020/12/12</p>
          </div>
        </div>
        <!--  container -->
        <!-- 横向滚动 再借图书-->
        <div class="smart-probe smart-probe-borrow">
          <h2 class="">在借图书<em>3本</em><a href="history.html" class="more icon-continue">借阅历史</a></h2>
          <div id="wrapper-probe">
            <div id="scroller-probe">
              <!-- 添加class=nothing :代表没有东西-->
              <ul class=""> 
                <li>
                  <a>
                    <div class="tushu-img"><img src="../../content/style/white/tushuguanjia/images/img-1.png"></div>
                    <div class="tushu-info">
                      <h3>酷儿流浪记酷儿流浪记</h3>
                      <p>李白·机械工业出版业出版社</p>
                      <span>2017/12/12 16:16</span>
                      <!-- <div>
                        <button>交滞纳金 100元</button>
                        <button class="tushuBtn">续借</button>
                      </div> -->
                    </div>
                  </a>
                </li>
                <li class="topRight">
                  <a>
                    <div class="tushu-img"><img src="../../content/style/white/tushuguanjia/images/img-2.png"></div>
                    <div class="tushu-info">
                      <h3>酷儿流浪记</h3>
                      <p>李白·机械工业出版社</p>
                      <span>2017/12/12 16:16</span>
                      <!-- <div>
                        <button class="tushuBtn">续借</button>
                      </div> -->
                    </div>
                  </a>
                </li>
                <li>
                  <a>
                    <div class="tushu-img"><img src="../../content/style/white/tushuguanjia/images/img-3.png"></div>
                    <div class="tushu-info">
                      <h3>酷儿流浪记</h3>
                      <p>李白·机械工业出版社</p>
                      <span>2017/12/12 16:16</span>
                      <!-- <div>
                        <button class="tushuBtn">续借</button>
                      </div> -->
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- 横向滚动 新书推荐-->
        <div class="smart-probe smart-probe-new">
          <h2 class="">新书推荐<a href="new-book.html" class="more icon-continue">更多推荐</a></h2>
          <div id="wrapper-probe-1">
            <div id="scroller-probe-1">
              <ul class="">
                <li class="tushu-style-1">
                  <a>
                    <div class="tushu-info">
                      <h3>《哲学与主体自我意识 :论马克思实践观点的思维方式 :a study on Marx's practical vi》</h3>
                      <p>李白</p>
                    </div>
                  </a>
                </li>
                <li class="tushu-style-2">
                  <a>
                    <div class="tushu-info">
                      <h3>《酷儿流浪记》</h3>
                      <p>杜甫</p>
                    </div>
                  </a>
                </li>
                <li class="tushu-style-3">
                  <a>
                    <div class="tushu-info">
                      <h3>《活着》</h3>
                      <p>李白</p>
                    </div>
                  </a>
                </li>
                <li class="tushu-style-1">
                  <a>
                    <div class="tushu-info">
                      <h3>酷儿流浪记</h3>
                      <p>李白</p>
                    </div>
                  </a>
                </li>
                <li class="tushu-style-2">
                  <a>
                    <div class="tushu-info">
                      <h3>酷儿流浪记</h3>
                      <p>李白</p>
                    </div>
                  </a>
                </li>
                <li class="tushu-style-3">
                  <a>
                    <div class="tushu-info">
                      <h3>酷儿流浪记</h3>
                      <p>李白·机械工业出版社</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- 打榜排行 -->
        <div class="ranking-list">
          <h2 class="ranking-list-title "><img src="../../content/style/white/tushuguanjia/images/ranking-list.png"></h2>
          <!-- 周排行 -->
          <div class="ranking-list-box">
            <ul class="ranking-list-left ranking-list-bg-week">
              <li class="ranking-list-first"><a href="#n">功夫道：马云自传功夫道：马云自传</a></li>
              <li class="ranking-list-second"><a href="#n">东方列车谋杀案（珍藏版）</a></li>
              <li class="ranking-list-third"><a href="#n">摆渡人（2）：重返荒原</a></li>
            </ul>
            <div><a href="list.html?index=week" class="more icon-continue">更多</a></div>
          </div>
          <!-- 月排行 -->
          <div class="ranking-list-box">
            <ul class="ranking-list-right ranking-list-bg-month">
              <li class="ranking-list-first"><a href="#n">中国买一与港口中国买一与港口</a></li>
              <li class="ranking-list-second"><a href="#n">解忧杂货铺</a></li>
              <li class="ranking-list-third"><a href="#n">学会爱自己的有点</a></li>
            </ul>
            <div><a href="list.html?index=month" class="more icon-continue">更多</a></div>
          </div>
          <!-- 季度排行 -->
          <div class="ranking-list-box">
            <ul class="ranking-list-left ranking-list-bg-quarter">
              <li class="ranking-list-first"><a href="#n">中国买一与港口</a></li>
              <li class="ranking-list-second"><a href="#n">解忧杂货铺</a></li>
              <li class="ranking-list-third"><a href="#n">学会爱自己的有点</a></li>
            </ul>
            <div><a href="list.html?index=quarter" class="more icon-continue">更多</a></div>
          </div>
          <!-- 年排行 -->
          <div class="ranking-list-box">
            <ul class="ranking-list-right ranking-list-bg-year">
              <li class="ranking-list-first"><a href="#n">中国买一与港口</a></li>
              <li class="ranking-list-second"><a href="#n">解忧杂货铺</a></li>
              <li class="ranking-list-third"><a href="#n">学会爱自己的有点</a></li>
            </ul>
            <div><a href="list.html?index=year" class="more icon-continue">更多</a></div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../../content/style/frame/jquery/jquery-3.2.1.min.js"></script>
<script src="../../content/style/frame/bootstrap/js/bootstrap.min.js"></script>
<script src="../../content/style/frame/iscroll4/js/pullToRefresh.js"></script>
<script src="../../content/style/frame/iscroll/iscroll-probe.js"></script>
<script src="../../content/style/frame/iscroll4/js/iscroll.js"></script>
<script src="../../content/style/common/js/popup.js"></script>
<script src="../../content/style/white/tushuguanjia/js/tushu.js"></script>
<script type="text/javascript">
  // 滑动事件
  myScroll = new iScroll('wrapper',{
    vScrollbar:false,
    onBeforeScrollStart: function (e) { 
      var nodeType = e.explicitOriginalTarget ? e.explicitOriginalTarget.nodeName.toLowerCase() : ( e.target ? e.target.nodeName.toLowerCase() : '' );
      if(nodeType != 'button'&& nodeType != 'select'&& nodeType != 'option' && nodeType != 'input' && nodeType != 'textarea' )  e.preventDefault();
    }
  });

  // alertBox();
  function alertBox() {
      var option = {
        type: "alert",
        boxStyle: {
          // "background": "url(../../content/style/white/tushuguanjia/images/alert.png) no-repeat #fff center top",
          "background-size": "1rem",
          "border-radius": "10px"
        },
        title: {
          img:"../../content/style/white/tushuguanjia/images/alert.png",
          imgStyle: {
            "margin-top": "-1.2rem",
            "width": "80%"
          }
        },
        content: {
          title:"续借成功",
          val: "延长结束时间30天，请您在30天后会还图书",
          contentStyle: {
            "text-align": "center"
          }
        },
        btns: {
          cancelVal:"关闭",
          sureVal: "确定",
          // order:true
        }

      }
      campus.popup(option, function(data) {
        console.log(data);
        if(data.type == "sureBtn"){
          console.log("确定");
        }else{
          console.log("取消");
        }
        campus.togglePopup("hide", "alert");  
      });
    }

</script>
</html>
