html,
body,
.smart-content {
    overflow-x: hidden;
}

.smart-banner {
    height: 160px;
    position: relative;
    background: url(../images/banner.png) no-repeat;
    background-size: 100% 100%;
}

.smart-banner .smart-banner-header {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -40px;
}

.smart-banner p {
    color: #fff;
    font-size: 12px;
    width: 80%;
    line-height: 16px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40%;
}

.smart-banner p em {
    font-size: 18px;
    font-weight: normal;
}


/* 列表 */

.smart-xyjl-hotQuestions {
    background: #fff;
    overflow-x: hidden;
}

.smart-xyjl .smart-xyjl-hotQuestions {
    padding: 25px 0;
}

.smart-xyjl-hotQuestions>a {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    text-indent: 30px;
    font-size: 14px;
    background: url(../../yingyongdating/images/search.png) no-repeat 5px center;
    background-size: 20px;
    color: #a8a8a8;
}

.smart-lockCard-tips {
    padding: 20px 0;
}

.smart-xyjl-search .smart-lockCard-tips {
    padding: 10px 0;
}

.smart-lockCard-tips h1 {
    font-size: 16px;
    margin: 0;
}

.smart-list {
    position: relative;
}

.smart-list .smart-list-item {
    height: 46px;
    line-height: 46px;
    font-size: 14px;
}

.smart-list-end-icon img {
    max-width: 20px;
}

.smart-list,
.smart-sub-list {
    border: 0;
}
.smart-xyjl .smart-list:after {
    left: 20px!important;
    top: 0;
}

.smart-xyjl .smart-list.smart-list-space .smart-list-item:after {
    left: 20px!important;
}

.smart-xyjl .smart-list.smart-list-space .smart-list-item:last-child:after {
    content: ' ';
    height: 1px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #e0e0e0;
    transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
}

.smart-lockCard-tips h1:after {
    background: #75daf2;
}



/* 提问分类 */

.smart-xyjl-classify,
.smart-xyjl-activity {
    margin-top: 10px;
    background: #fff;
    padding: 10px 0;
    position: relative;
}

.smart-xyjl-classify>h2 {
    margin: 0;
    font-size: 16px;
    width: 36px;
    padding: 12px 10px;
    color: #8d8d8d;
    background: #f4f4f4;
}

.scroll-div {
    width: 150%;
    overflow-x: auto;
}

.smart-xyjl-classify ul,
.smart-xyjl-activity ul {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 0;
}

.smart-xyjl-classify ul li,
.smart-xyjl-activity ul li {
    text-align: center;
    display: inline-block;
    width: 90px;
    height: 100%;
    position: relative;
}
#categorylist li[mtype]{
    opacity: 0.6;
}
.smart-xyjl-classify ul li a {
	display: block;
}
.smart-xyjl-classify ul li img {
    height: 70px;
}

.smart-xyjl-classify ul li p{
    font-size: 14px;
    margin: 0;
    height: 22px;
    color: #3c3c3c;
}

#wrapper-1,
#wrapper-2 {
    position: absolute;
    z-index: 1;
    top: 10px;
    bottom: 10px;
    left: 40px;
    width: 100%;
    background: #fff;
    overflow: hidden;
}

#scroller-1,
#scroller-2 {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}


/* 热门活动 */

.smart-xyjl-activity {
    height: 160px;
    padding: 0;
}

.smart-xyjl-activity ul {}

.smart-xyjl-activity ul li {
    width: 120px;
    height: 84px;
    margin-right: 16px;

    border-radius: 5px;
    overflow: hidden;
}

.smart-xyjl-activity ul li a {
    position: relative;
    display: block;
}

.smart-xyjl-activity ul li a:after {
    position: absolute;
    content: " ";
    width: 120px;
    height: 84px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
    top: 0;
    left: 0;
}

.smart-xyjl-activity ul li img {
    width: 120px;
    display: block;
}

.smart-xyjl-activity ul li img+span {
    color: #fff;
    position: absolute;
    width: 120px;
    height: 25px;
    bottom: 0;
    left: 0;
    font-size: 14px;
    line-height: 25px;
    background: rgba(0, 0, 0, .4);
}

#wrapper-2 {
    top: 55px;
    left: 25px;
}


/* search */

.smart-xyjl-search,.smart-xyjl-chat {
	height: 100%;
    background: #fff;
    overflow: hidden;
}

.smart-xyjl-search .smart-list:after,
.smart-xyjl-search .smart-list.smart-list-space .smart-list-item:after {
    left: 20px;
}

.pullDown {
    font-size: 0;
    height: 0
}
.smart-search-box {
    position: relative;
    z-index: 3;
    background: #fff;
    margin: 0;
    padding: 15px 10px;
}

.smart-search-box input {
    margin-top: 0;
    padding: 10px 0;
    line-height: 20px;
}

.smart-search-box .smart-xyjl-search-container {
    right: 60px;
}

.smart-search-box button {
    width: 40px;
    height: 30px;
    line-height: 30px;
    top: 20px;
   padding: 0;
}

.smart-search-box .inputClear {
    width: 25px;
    position: absolute;
    top: 7.5px;
    right: 65px;
    z-index: -1;
    opacity: 0;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.smart-search-box .cancelBtn {
    right: 20px;
}

.smart-search-box .closeBtn {
    display: none;
}

.smart-search-box .smart-xyjl-search-container .searchBtn {
    top: 5px;
    right: 20px;
    z-index: -1;
    opacity: 0;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.smart-search-box .smart-xyjl-search-container .searchBtn:before {
    content: " ";
    position: absolute;
    top: 0;
    left: -10px;
    width: 1px;
    height: 100%;
    background: #e0e0e0;
}

.smart-search-box.smart-search-box-search input {
    padding-right: 60px;
}

.smart-search-box.smart-search-box-search .searchBtn,
.smart-search-box.smart-search-box-search .inputClear {
    opacity: 1;
    z-index: 1;
}


/*  */

.smart-xyjl-questionsType {
    position: absolute;
    width: 100%;
    top: 70px;
    bottom: 0;
    overflow: hidden;
}

.smart-xyjl-questionsType #wrapper {
    top: 40px;
}

.smart-xyjl-questionsType,
.smart-xyjl-questionsType .smart-lockCard-tips {
    display: none;
}

.smart-xyjl-questionsType-show,
.smart-xyjl-questionsType-show .smart-lockCard-tips {
    display: block;
}


/* chart */

/*.smart-xyjl-chat {
    height: 100%;
}*/

.smart-xyjl-chat-container {
    overflow: hidden;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.smart-xyjl-chat #wrapper {
    background: #f6f6f6;
}
.smart-search-container-show + #wrapper{
	top:70px;
}
.smart-xyjl-chat .smart-search-box,
.smart-xyjl-chat #suggestions-container {
	display: none;
}
.smart-xyjl-chat-container>div {
    margin-bottom: 15px;
}

.smart-xyjl-chat-left,
.smart-xyjl-chat-right {
    font-size: 0;
    opacity: 0;
    /*margin-top:100px;*/
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    transition: all .5s ease;
    ` -webkit-transition: all .5s ease;
}

.smart-xyjl-chat-show {
    opacity: 1;
    transform: translateY(15px);
    -webkit-transform: translateY(15px);
}

.smart-xyjl-chat-left .smart-xyjl-chat-header {
    width: 70px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.smart-xyjl-chat-left .smart-xyjl-chat-header img {
    width: 50px;
    height: 50px;
}

.smart-xyjl-chat-box {
    width: 75%;
    display: inline-block;
}

.smart-xyjl-chat-box {
    padding-top: 5px;
    vertical-align: top;
}

.smart-xyjl-chat-left-icon,
.smart-xyjl-chat-right-icon {
    height: 10px;
    display: block;
    position: relative;
    top: 1px;
}

.smart-xyjl-chat-left .smart-xyjl-chat-left-icon {
    background: url(../images/chat-left.png) no-repeat;
    background-size: 12px 10px;
}

.smart-xyjl-chat-right .smart-xyjl-chat-right-icon {
    background: url(../images/chat-right.png) no-repeat right;
    background-size: 12px 10px;
}

.smart-xyjl-chat-content {
    padding: 10px;
}

.smart-xyjl-chat-content p {
    margin: 0;
    font-size: 14px;
    text-align: justify;
}

.smart-xyjl-chat-content img {
    width: 100%;
    margin-top: 10px;
}

.smart-xyjl-chat-left .smart-xyjl-chat-content {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    border-top-left-radius: 0;
}

.smart-xyjl-chat-right:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.smart-xyjl-chat-right .smart-xyjl-chat-box {
    float: right;
    margin-right: 15px;
}

.smart-xyjl-chat-right .smart-xyjl-chat-content {
    color: #fff;
    border-radius: 5px;
    border-top-right-radius: 0;
    background: -moz-linear-gradient(top, #61bdff 0%, #43dbff 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #61bdff), color-stop(100%, #43dbff));
    background: -webkit-linear-gradient(left, #61bdff 0%, #43dbff 100%);
    background: -o-linear-gradient(left, #61bdff 0%, #43dbff 100%);
    background: -ms-linear-gradient(left, #61bdff 0%, #43dbff 100%);
    background: linear-gradient(to right, #61bdff 0%, #43dbff 100%);
}


/* 问答 */

.smart-xyjl-chat-QA {
    padding-top: 15px;
    position: relative;
    margin-top: 15px;
}

.smart-xyjl-chat-QA:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    background: #e0e0e0;
    transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
}

.smart-xyjl-chat-similarQuries {
    font-size: 14px;
    color: #6d6d6d;
    margin-top: 5px
}

.smart-xyjl-chat-similarQuries+.smart-xyjl-chat-QA {
    margin: 0;
}

.smart-xyjl-chat-similarQuries+.smart-xyjl-chat-QA:before {
    height: 0;
}

.smart-xyjl-chat-Q,
.smart-xyjl-chat-A {
    padding-left: 20px;
    padding-bottom: 5px;
}

.smart-xyjl-chat-Q {
    background: url(../images/icon-q.png) no-repeat top 2px left 0;
    background-size: 14px 14px;
}

.smart-xyjl-chat-A {
    background: url(../images/icon-a.png) no-repeat top 2px left 0;
    background-size: 14px 14px;
}

a[atype=tel] {
    color: #5bb6ba;
    font-size: 14px;
    display: block;
    line-height: 22px;
}

/* 结果 */

.smart-xyjl-chat-continue,
.smart-xyjl-chat-end {
    text-align: center;
    margin: 15px 0;
}

.smart-xyjl-chat-end {}

.smart-xyjl-chat-continue button,
.smart-xyjl-chat-end button {
    color: #0d2a70;
    background: #fff;
    font-size: 14px;
    border: 1px solid #0d2a70;
    border-radius: 5px;
    padding: 3px 16px;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}

.smart-xyjl-chat-continue .btn-disabled,
.smart-xyjl-chat-end .btn-disabled {
    background: #d3d3d3;
    color: #fff;
    border-color: #d3d3d3;
}

.smart-xyjl-chat-continue button:first-child,
.smart-xyjl-chat-end button:first-child {
    margin-right: 15px;
}

.smart-xyjl-chat-continue button:active,
.smart-xyjl-chat-end button:active {
    background: #0d2a70;
    color: #fff;
}
.smart-xyjl-chat-continue .btn-disabled:active,
.smart-xyjl-chat-end .btn-disabled:active {
    background: #d3d3d3;
    color: #fff;
    border-color: #d3d3d3;
}

#smart-map {
    position: fixed!important;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #fff;
    top: 0;
    left: 0;
}

#wrapper,#wrapper-3 {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow:hidden;
}

#scroller,#scroller-3 {
    position: relative;
    /* -webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    float: left;
    width: 100%;
    padding: 0;
}
.smart-list-item label{
    margin:0;
    padding: 0;
    padding-right: 20px;
    display: block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-weight: normal;
}
#suggestions-container{
	height: 200px;
	position: relative;
    z-index:-1;
    background: #fff;
}

@media screen and (max-width: 320px) {
    .smart-xyjl-chat-box  {
        max-width: 230px;
    }
}