<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>回复评论</title>
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/frame/jquery/toast/css/jquery.toast.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/white/shiwuzhaoling/css/swzl.css" />
	</head>

	<body class="znmj znmj-fb">
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" alt="">
				</a>
				<h1>
					回复评论
				</h1>
				<a class="smart-edit smart-icon-right">
					发送
				</a>
			</div>
		</nav>
		<div class="container">
			<div class="input-shuru">
				<textarea rows="5" placeholder="回复@航海学院韩梅梅"></textarea>
			</div>
		</div>
	</body>
</html>