<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>选择转发对象</title>
		<link rel="stylesheet" href="../../content/style/frame/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../content/style/frame/jquery/toast/css/jquery.toast.css" />
		<link rel="stylesheet" href="../../content/style/common/css/common.css" />
		<link rel="stylesheet" href="../../content/style/white/shiwuzhaoling/css/swzl.css" />
	</head>
	<body class="list-zhuanfa">
		<nav class="navbar">
			<div class="smart-header smart-white">
				<a href="javascript:history.go(-1)" class="smart-back smart-icon-left">
					<img src="../../content/style/common/images/back-2.png" alt="">
				</a>
				<h1>选择转发对象</h1>
			</div>
		</nav>
		<div class="container">
			<ul>
				<li class="row">
					<div class="col-xs-2">
						<img src="../../content/style/white/xiaoyuanka/images/xyk-car.png" />
					</div>
					<div class="col-xs-10">
						智慧校园社区
					</div>
				</li>
			</ul>
		</div>
	</body>
</html>
