<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>body</title>
</head>
<link rel="stylesheet" href="../content/frame/bootstrap/css/bootstrap.min.css" >
<!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" > -->
<link rel="stylesheet" href="../content/frame/animate/animate.min.css" >
<link rel="stylesheet" href="../content/normal/css/theme.css" >
<link rel="stylesheet" href="../content/normal/css/index-style.css">

<script type="text/javascript" src="../content/frame/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../content/frame/vuejs/vue.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="../content/frame/bootstrap/js/bootstrap.min.js"></script>

<!-- <script type="text/javascript" src="../content/frame/nicescroll/jquery.nicescroll.min.js"></script> -->
<body>
    <!-- 外部容器 -->
    <div class="container" id="vm-container" v-cloak>
        <!-- header -->
        <header></header>
        <!-- left-nav -->
        <div class="left-nav">
            
        </div>
        <!-- right-content -->
        <div class="right-content">
            <!-- <div class="loaded"></div> -->

        </div>
    </div>
</body>
<script type="text/javascript">
    $("header").load("views/header/header.html");
    $(".left-nav").load("views/nav/nav.html");
    $(".right-content").load("views/right-content.html");

</script>
<script type="text/javascript"></script>
<!-- <script type="text/javascript" src="../content/normal/js/v-body.js"></script> -->
</html>