<!DOCTYPE html>
<html>
  
  <head>
    <title>Minimal 1.0 - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/ico" href="../content/normal/images/favicon.ico" />-->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../content/frame/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="../content/frame/animate/animate.min.css">
    <link rel="stylesheet" href="../content/normal/css/theme-two.css">
    <link rel="stylesheet" href="../content/normal/css/base.css">
    <!-- my style end -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../content/frame/jquery.date/jquery.datetimepicker.min.css">
    

    <link rel="stylesheet" type="text/css" href="../content/frame/smoke/css/smoke.css">
  </head>

  <body class="bg-1">
      <!-- Wrap all page content here -->
      <div id="wrap">
        <!-- Make page fluid -->
        <div class="row">
          <!-- Fixed navbar -->
          <div class="navbar navbar-fixed-top" role="navigation" id="navbar">
            <!-- .nav-collapse -->
            <div class="navbar-collapse">
              <!-- logo-->
              <div class="navbar-header">
                <div class="navbar-brand">微校园后台管理系统</div></div>
              <!-- logo end-->
              <!-- Quick Actions -->
              <ul class="nav navbar-nav quick-actions">
                <li class="dropdown">
                  <a href="#">
                    <i class="ico-mail"></i>
                    <span class="label">1</span></a>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="ico-theme"></i>
                  </a>
                  <ul class="dropdown-menu arrow settings">
                    <li>
                      <ul id="color-schemes">
                        <li>
                          <a href="#" class="bg-1"></a>
                        </li>
                        <li>
                          <a href="#" class="bg-2"></a>
                        </li>
                        <li>
                          <a href="#" class="bg-3"></a>
                        </li>
                        <li>
                          <a href="#" class="bg-4"></a>
                        </li>
                        <li>
                          <a href="#" class="bg-5"></a>
                        </li>
                        <li>
                          <a href="#" class="bg-6"></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown user">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="profile-photo">
                      <img src="../content/normal/images/profile-photo.jpg" alt /></span>系统管理员
                    <i class="ico-arr-dropdown"></i></a>
                  <ul class="dropdown-menu arrow settings">
                    <li>
                      <a href="#">
                        <i class="fa fa-user"></i>基本信息</a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-envelope"></i>消息
                        <span class="badge badge-red" id="user-inbox">3</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="#">
                        <i class="fa fa-power-off"></i>退出系统</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="language">英文版</a></li>
              </ul>
              <!-- /Quick Actions -->
              <!-- Search -->
              <div class="search" id="main-search">
                <input type="text" placeholder="Search...">
                <i class="ico-search"></i>
              </div>
              <!-- Search end --></div>
            <!--/.nav-collapse -->
            <!-- Sidebar -->
            <div id="vm-nav">
              <ul id="sidebar" class="nav navbar-nav side-nav collapsed">
                <li>
                  <div class="sidebar-collapse">
                    <a href="#">
                      <i class="ico-bars"></i>
                    </a>
                  </div>
                </li>
                <li class="navigation active">
                  <a href="#" data-toggle="dropdown" set-index="0" class="sidebar-toggle" aria-expanded="true">
                    <i class="icon-service"></i>
                    <span>示例管理</span>
                    <i class="ico-arr-project"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="active">
                      <a href="#">
                        <i class="icon-repair"></i>示例-2层-0</a>
                    </li>
                    <li class="dropdown open active">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">
                        <i class="icon-repair"></i>示例-2层
                        <b class="ico-arr-dropdown"></b></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">示例-3层1
                            <b class="ico-arr-plus"></b></a>
                          <ul class="dropdown-menu">
                            <li class="dropdown open">
                              <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">示例-4层1
                                <b class="ico-arr-plus"></b></a>
                              <ul class="dropdown-menu active">
                                <li class="dropdown active">
                                  <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-5层1-选中
                                    <!----></a>
                                  <ul class="dropdown-menu"></ul>
                                </li>
                                <li class="dropdown open">
                                  <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">示例-5层2
                                    <!----></a>
                                  <ul class="dropdown-menu"></ul>
                                </li>
                              </ul>
                            </li>
                            <li class="dropdown">
                              <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-4层2
                                <!----></a>
                              <ul class="dropdown-menu"></ul>
                            </li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-3层2
                            <b class="ico-arr-plus"></b></a>
                          <ul class="dropdown-menu">
                            <li class="dropdown">
                              <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-4层1
                                <b class="ico-arr-plus"></b></a>
                              <ul class="dropdown-menu">
                                <li class="dropdown">
                                  <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-5层1
                                    <!----></a>
                                  <ul class="dropdown-menu"></ul>
                                </li>
                                <li class="dropdown">
                                  <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-5层2
                                    <!----></a>
                                  <ul class="dropdown-menu"></ul>
                                </li>
                              </ul>
                            </li>
                            <li class="dropdown">
                              <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-4层2
                                <!----></a>
                              <ul class="dropdown-menu"></ul>
                            </li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-3层3
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="icon-repair"></i>示例-sub2
                        <b class="ico-arr-dropdown"></b></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub2-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub2-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub2-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="icon-repair"></i>示例-sub3
                        <b class="ico-arr-dropdown"></b></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub3-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub3-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub3-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="navigation">
                  <a href="#" data-toggle="dropdown" set-index="1" class="sidebar-toggle">
                    <i class="icon-service"></i>
                    <span>运维管理</span>
                    <i class="ico-arr-project"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="icon-repair"></i>运维管理-sub1
                        <b class="ico-arr-dropdown"></b></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">运维管理-sub2-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">运维管理-sub2-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">运维管理-sub2-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="icon-repair"></i>运维管理-sub2
                        <b class="ico-arr-dropdown"></b></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">运维管理-sub2-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">运维管理-sub2-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">运维管理-sub2-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="icon-repair"></i>运维管理-sub3
                        <b class="ico-arr-dropdown"></b></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">运维管理-sub3-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">运维管理-sub3-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">运维管理-sub3-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="icon-repair"></i>运维管理-sub4
                        <b class="ico-arr-dropdown"></b></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">运维管理-sub4-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">运维管理-sub4-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">运维管理-sub4-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="navigation">
                  <a href="#" data-toggle="dropdown" set-index="2" class="sidebar-toggle">
                    <i class="icon-service"></i>
                    <span>智慧食堂</span>
                    <i class="ico-arr-project"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="icon-repair"></i>智慧食堂-sub1
                        <b class="ico-arr-dropdown"></b></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">智慧食堂-sub2-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">智慧食堂-sub2-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">智慧食堂-sub2-sub
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="icon-repair"></i>智慧食堂-sub2
                        <b class="ico-arr-dropdown"></b></a>
                      <ul class="dropdown-menu"></ul>
                    </li>
                  </ul>
                </li>
                <li class="navigation">
                  <a href="#" data-toggle="dropdown" set-index="3" class="sidebar-toggle">
                    <i class="icon-service"></i>
                    <span>APP管理</span>
                    <i class="ico-arr-project"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="icon-repair"></i>APP管理-sub0</a>
                    </li>
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="icon-repair"></i>APP管理-sub1
                        <b class="ico-arr-dropdown"></b></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">树形标题一
                            <!----></a>
                          <ul class="dropdown-menu">
                            <li>树形孙标题三</li>
                            <li>树形孙标题三</li></ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">树形标题二
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">树形标题三
                            <!----></a>
                          <ul class="dropdown-menu"></ul>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="icon-repair"></i>APP管理-sub2
                        <b class="ico-arr-dropdown"></b></a>
                      <ul class="dropdown-menu"></ul>
                    </li>
                  </ul>
                </li>
              </ul>
              <!--<div class="sidebar-collapse sec-sidebar-collapse" id="sec-sidebar">
              <a href="#">
              <i class="ico-arr-collapse"></i></a></div>-->
              <div class="product-nav">
                <div id="sec-sidebar" class="sec-sidebar">
                  <h1 class="h1">示例管理</h1>
                  <ul class="nav navbar-nav sec-side-nav">
                    <li class="navigation dropdown">
                      <a href="#" set-index="0" class="sidebar-toggle">
                        <i class="ico-arr-down-black"></i>示例-2层</a>
                      <ul class="dropdown-menu">
                        <li class="active">
                          <a href="#">树形标12312题一</a></li>
                      </ul>
                    </li>
                    <li class="navigation" id="navigation1">
                      <a href="#" class="sidebar-toggle" data-toggle="#navigation1">
                        <i class="ico-arr-down-black"></i>树形标题二</a>
                      <ul class="menu">
                        <li class="active">
                          <a href="">树形子标题一</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">树形子标题二-sub
                            <b class="ico-arr-plus-black"></b></a>
                          <ul class="dropdown-menu">
                            <li class="dropdown">
                              <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                <i class="icon-repair"></i>示例-sub2
                                <b class="ico-arr-dropdown"></b></a>
                              <ul class="dropdown-menu">
                                <li class="dropdown">
                                  <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub2-sub
                                    <!----></a>
                                  <ul class="dropdown-menu"></ul>
                                </li>
                                <li class="dropdown">
                                  <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub2-sub
                                    <!----></a>
                                  <ul class="dropdown-menu"></ul>
                                </li>
                                <li class="dropdown">
                                  <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub2-sub
                                    <!----></a>
                                  <ul class="dropdown-menu"></ul>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a href="">树形孙标题二</a></li>
                            <li>
                              <a href="">树形孙标题三</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">树形子标题三
                            <b class="ico-arr-plus-black"></b></a>
                          <ul class="dropdown-menu">
                            <li>
                              <a href="">树形孙标题一</a></li>
                            <li>
                              <a href="">树形孙标题二</a></li>
                            <li>
                              <a href="">树形孙标题三</a></li>
                            <li>
                              <a href="">树形孙标题一</a></li>
                            <li>
                              <a href="">树形孙标题二</a></li>
                            <li>
                              <a href="">树形孙标题三</a></li>
                            <li>
                              <a href="">树形孙标题一</a></li>
                            <li>
                              <a href="">树形孙标题二</a></li>
                            <li>
                              <a href="">树形孙标题三</a></li>
                            <li>
                              <a href="">树形孙标题二</a></li>
                            <li>
                              <a href="">树形孙标题三</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="navigation dropdown">
                      <a href="#" set-index="1" class="sidebar-toggle">
                        <i class="ico-arr-down-black"></i>示例-sub2</a>
                      <ul class="dropdown-menu">
                        <li class="active">
                          <a href="#">树形标12312题一</a></li>
                      </ul>
                    </li>
                    <li class="navigation dropdown">
                      <a href="#" set-index="2" class="sidebar-toggle">
                        <i class="ico-arr-down-black"></i>示例-sub3</a>
                      <ul class="dropdown-menu">
                        <li class="active">
                          <a href="#">树形标12312题一</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="sidebar-collapse sec-sidebar-collapse">
                  <a href="#">
                    <i class="ico-arr-collapse"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Fixed navbar end -->




          <!-- Page content -->
          <div id="content" class="col-md-12">
            <!-- page header -->
            <!-- 大标题 -->
            <!--<h1 class='content-h1'>大标题展示 <button class="refresh"></button></h1>-->
            <div class="pageheader">
              <h1>
                <i class="h1-title"></i>大标题展示</h1>
              <!--如果有个别页面要显示面包屑的 start-->
              <div class="breadcrumbs">
                <ol class="breadcrumb">
                  <li>
                    <a href="">子栏目</a></li>
                  <li class="active">具体页面名称</li></ol>
              </div>
              <!--如果有个别页面要显示面包屑的 end-->
              <div class="pull-right">
                <a href="" id="refresh-toggler" class="refresh" title="刷新">
                  <i class="icon-refresh"></i>
                </a>
              </div>
            </div>
            <!-- /page header -->



            <div class="main">
              <div class="searcharea">
                <form class="form-inline">
                  <div class="form-group">
                    <label>部门信息：</label>
                    <input class="form-control" type="text" name="" placeholder="部门编号/名称/助记码"></div>
                  <div class="form-group">
                    <label>部门信息：</label>
                    <select name="" id="" class="form-control">
                      <option>全部</option>
                      <option>中国银行</option>
                      <option>银联在线</option>
                      <option>手机银联</option></select>
                  </div>
                  <div class="form-group">
                    <label>就餐时间：</label>
                    <span class="form-date">
                      <input id="startDate" type="text" placeholder="选择时间"></span>
                    <em>—</em>
                    <span class="form-date">
                      <input id="endDate" type="text" placeholder="选择时间"></span>
                  </div>
                  <button class="btn btn-default" type="">查询按钮</button></form>
              </div>
              <div class="row">
                <h2 class="content-h2 col-md-2">小标题展示</h2>
                <div class="form-inline form-inline-table col-md-9 pull-right">
                  <div class="form-group">
                    <label>显示条数：</label>
                    <select name="" id="" class="form-control">
                      <option>10</option>
                      <option>20</option>
                      <option>50</option>
                      <option>100</option></select>
                  </div>
                  <div class="form-group">
                    <label>排列方式：</label>
                    <select name="" id="" class="form-control">
                      <option>默认</option>
                      <option>按数量</option>
                      <option>按金额</option>
                      <option>按状态</option></select>
                  </div>
                  <button class="btn btn-default" type="">导出终端列表</button>
                  <button class="btn btn-default btn-primary" type="">添加新终端</button></div>
              </div>



              <ul class="nav nav-tabs in">
                <li class="active">
                  <a href="#s1" data-toggle="tab">人工审核</a></li>
                <li class="">
                  <a href="#s2" data-toggle="tab">人工通过</a></li>
                <li>
                  <a href="#s3" data-toggle="tab">系统通过</a></li>
                <li>
                  <a href="#s4" data-toggle="tab">未通过</a></li>
              </ul>
              <div class="tab-content">
                <div id="s1" class="tab-pane fade active in">
                  <!-- 表格 table -->
                  <div class="table-responsive table-scrollable no-wrap">
                    <table class="table table-striped table-hover" id="table">
                      <thead>
                        <tr>
                          <th>对比照片</th>
                          <th>底库照片</th>
                          <th>FaceID</th>
                          <th>识别时间</th>
                          <th>应用名称</th>
                          <th>AuthKey</th>
                          <th>相似度</th>
                          <th>问题类别</th>
                          <th>备注</th>
                          <th>处理状态</th>
                          <th>操作</th></tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="zoom">
                            <span class="photo">
                              <a href="../content/normal/images/1cun.jpg">
                                <img src="../content/normal/images/1cun.jpg"></a>
                            </span>
                          </td>
                          <td class="zoom">
                            <span class="photo">
                              <a href="../content/normal/images/1cun.jpg">
                                <img src="../content/normal/images/1cun.jpg"></a>
                            </span>
                          </td>
                          <td class="time">2018-12-12 12:12:12</td>
                          <td class="time">2018-12-12 12:12:12</td>
                          <td>人脸识别</td>
                          <td class="numdisapy">
                            <span id="showDiv" class="showDiv" style="display:none;">334354546334354546334354546334354546
                              <a onclick="numDisplay()">
                                <i class="icon-hidden">隐藏</i></a>
                            </span>
                            <span id="hiddenDiv" class="hiddenDiv">*********
                              <a onclick="numDisplay()">
                                <i class="icon-show">显示</i></a>
                            </span>
                          </td>
                          <td class="right">98%</td>
                          <td>检测不到人脸</td>
                          <td class="linefeed">备注：关于表格的使用方法class="text-danger"禁止</td>
                          <td>
                            <span class="text-danger">禁止</span></td>
                          <td>
                            <a href="#" id="a-edit">处理</a></td>
                        </tr>
                        <tr>
                          <td class="zoom">
                            <span class="photo">
                              <a href="../content/normal/images/1cun.jpg">
                                <img src="../content/normal/images/1cun.jpg"></a>
                            </span>
                          </td>
                          <td class="zoom">
                            <span class="photo">
                              <a href="../content/normal/images/1cun.jpg">
                                <img src="../content/normal/images/1cun.jpg"></a>
                            </span>
                          </td>
                          <td class="time">2018-12-12 12:12:12</td>
                          <td class="time">2018-12-12 12:12:12</td>
                          <td>人脸识别</td>
                          <td class="numdisapy">
                            <span id="showDiv" class="showDiv" style="display:none;">334354546
                              <a onclick="numDisplay()">
                                <i class="icon-hidden">隐藏</i></a>
                            </span>
                            <span id="hiddenDiv" class="hiddenDiv">*********
                              <a onclick="numDisplay()">
                                <i class="icon-show">显示</i></a>
                            </span>
                          </td>
                          <td class="right">98%</td>
                          <td>检测不到人脸</td>
                          <td class="linefeed">备注：关于表格的使用方法class="text-danger"禁止</td>
                          <td>
                            <span class="text-danger">禁止</span></td>
                          <td>
                            <a href="#" id="a-edit">处理</a></td>
                        </tr>
                        <tr>
                          <td class="zoom">
                            <span class="photo">
                              <a href="../content/normal/images/1cun.jpg">
                                <img src="../content/normal/images/1cun.jpg"></a>
                            </span>
                          </td>
                          <td class="zoom">
                            <span class="photo">
                              <a href="../content/normal/images/1cun.jpg">
                                <img src="../content/normal/images/1cun.jpg"></a>
                            </span>
                          </td>
                          <td class="time">2018-12-12 12:12:12</td>
                          <td class="time">2018-12-12 12:12:12</td>
                          <td>人脸识别</td>
                          <td class="numdisapy">
                            <span id="showDiv" class="showDiv" style="display:none;">334354546
                              <a onclick="numDisplay()">
                                <i class="icon-hidden">隐藏</i></a>
                            </span>
                            <span id="hiddenDiv" class="hiddenDiv">*********
                              <a onclick="numDisplay()">
                                <i class="icon-show">显示</i></a>
                            </span>
                          </td>
                          <td class="right">98%</td>
                          <td>检测不到人脸</td>
                          <td class="linefeed">备注：关于表格的使用方法class="text-danger"禁止</td>
                          <td>
                            <span class="text-danger">禁止</span></td>
                          <td>
                            <a href="#" id="a-edit">处理</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div id="paging-app">
                    <div>
                      <div class="page" v-show="show">
                        <div class="pagelist">
                          <span class="auxiliary">共</span>
                          <span class="auxiliary">10</span>
                          <span class="auxiliary">页/</span>
                          <span class="auxiliary auxiliary-last">100条数据</span>
                          <span class="jump" :class="{disabled:pstart}" @click="current_page--">
                            <</span>
                              <span v-show="current_page>5" class="jump" @click="jumpPage(1)">1</span>
                              <span class="ellipsis" v-show="efont">...</span>
                              <span class="jump" v-for="num in indexs" :class="{bgprimary:current_page==num}" @click="jumpPage(num)">{{num}}</span>
                              <span class="ellipsis" v-show="ebehind">...</span>
                              <span :class="{disabled:pend}" class="jump" @click="current_page++">></span>
                              <span v-show="current_page<pages-4" class="jump" @click="jumpPage(pages)">{{pages}}</span>
                              <span class="jumppoint auxiliary">跳至：</span>
                              <span class="jumpinp ">
                                <input type="text" v-model="changePage"></span>
                              <span class="jumppoint auxiliary">页</span>
                              <span class="jump gobtn auxiliary" @click="jumpPage(changePage)">GO</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end s1 tab pane -->
                <div id="s2" class="tab-pane fade">2</div>
                <!-- end s2 tab pane -->
                <div id="s3" class="tab-pane fade">3</div>
                <!-- end s3 tab pane -->
                <div id="s4" class="tab-pane fade">4</div>
                <!-- end s4 tab pane -->



                <div class="clearfix height30"></div>
                <div id="unidentifieds-handle" class="form-inline">
                  <div class="form-group">
                    <label>问题类别:</label>
                    <select v-model="" class="form-control">
                      <option value="0">全部</option>
                      <option value="1">误报</option>
                      <option value="2">底库照片质量</option>
                      <option value="4">识别时遮挡干扰</option>
                      <option value="8">曝光过度</option>
                      <option value="16">曝光不足</option>
                      <option value="32">网络延迟</option>
                      <option value="64">未信息采集</option>
                      <option value="128">识别算法有误</option></select>
                  </div>
                  <div class="form-group">
                    <label>备注:</label>
                    <input type="text" v-model="" class="form-control"></div>
                  <button class="btn btn-default">处理</button>
                  <button class="btn btn-default">返回</button></div>
              </div>





              <div class="clearfix height30"></div>
              <h2 class="content-h2">例：# 表单验证简单效果，样式之后会调整不变结构 #</h2>
              <form class="form-horizontal" id="formEmpty">
                <div class="form-group">
                  <label class="col-md-3 control-label">
                    <span class="red">*</span>部门信息：</label>
                  <div class="col-md-4">
                    <input class="form-control" type="text" name="" placeholder="部门编号/名称/助记码" required></div>
                  <!--如果要把这个说明字段文字加在本行，就如下代码 （相应字色加样式标签如“red”）-->
                  <!--<div class="help-block col-md-reset">
                  <i class="icon-info"></i>提示在本行采用这个结构，如需改变字色加相应标签。
                  </div>-->
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">
                    <span class="red">*</span>部门信息：</label>
                  <div class="col-md-4">
                    <select class="form-control" required>
                      <option value="">全部</option>
                      <option value="1">中国银行</option>
                      <option value="2">银联在线</option>
                      <option value="3">手机银联</option></select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">
                    <span class="red">*</span>部门名称（不可写）：</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" disabled required></div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">
                    <span class="red">*</span></span>数字：</label>
                  <div class="col-md-4">
                    <input type="number" name="" class="form-control" required></div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">描述：</label>
                  <div class="col-md-4">
                    <textarea class="" rows="5" class="form-control" required></textarea>
                  </div>
                  <!--如果要把这个说明字段文字加在下一行，就如下代码 （col-md-offset-3 col-md-6 help-block） -->
                  <div class="col-md-offset-3 col-md-6 help-block red ">
                    <i class="icon-info"></i>若提示需在下一行就采用这种结构</div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">bootstrap样式按钮：</label>
                  <div class="col-md-4">            
                      <input type="file" class="filestyle" data-icon="false">
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">上传图片：</label>
                    <div class="col-md-4">            
                        <input id="fileUpload" type="file" class="filestyle" data-icon="false" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg">
                        <!--以上 accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"  是表示限制仅上传图片类文件用的，若用别的方法限定此处也可以不加-->
                        <div id="image-holder"></div>
                    </div>
                    <div class="help-block col-md-reset">请选择1寸照片比例的图片</div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="">状态：</label>
                  <div class="col-md-4">
                    <div class="radio-inline">
                      <label>
                        <input type="radio" name="radio2" class="ace" id="radio1" value="1" required />
                        <span for="radio1" class="lbl">启用</span></label>
                      <label>
                        <input id="radio2" name="radio2" class="ace" type="radio" value="2" required />
                        <span for="radio2" class="lbl">禁用</span></label>
                      <label>
                        <input id="radio2" name="radio2" class="ace" type="radio" disabled/>
                        <span for="radio2" class="lbl">禁用</span></label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="">状态：</label>
                  <div class="col-md-4">
                    <div class="radio-inline">
                      <label>
                        <input type="checkbox" name="checkbox2" class="ace" id="checkbox1" value="option1" required />
                        <span for="checkbox1" class="lbl">启用</span></label>
                      <label>
                        <input id="checkbox2" name="checkbox2" class="ace" type="checkbox" value="option2" required />
                        <span for="checkbox2" class="lbl">禁用</span></label>
                      <label>
                        <input type="checkbox" name="checkbox2" class="ace" id="checkbox1" value="option3" required />
                        <span for="checkbox1" class="lbl">启用</span></label>
                      <label>
                        <input id="checkbox2" name="checkbox2" class="ace" type="checkbox" value="option4" required />
                        <span for="checkbox2" class="lbl">禁用</span></label>
                    </div>
                  </div>
                </div>
                <div class="form-actions">
                  <div class="col-md-offset-3 col-md-8">
                    <button type="submit" class="btn btn-lg btn-default btn-primary" id="btnEmpty">保存</button>
                    <button id="btnClear" type="reset" class="btn btn-lg btn-default">重置</button></div>
                </div>
                <div class="clearfix height30"></div>
                <div class="form-actions">
                  <div class="col-md-offset-3 col-md-8">
                    <a href="" class="btn btn-lg btn-default btn-primary" id="btnEmpty">保存</a>
                    <a href="" class="btn btn-lg btn-default">重置</a></div>
                </div>
              </form>






              <div class="clearfix height30"></div>
              <h2 class="content-h2">例：# 会消失的提示框 #</h2>
              <a href="" class="btn btn-warning" id="btnWarning">Warning</a>
              <a href="" class="btn btn-success" id="btnSuccess">Success</a>
              <a href="" class="btn btn-danger" id="btnDanger">Danger 10 seconds</a>
              <a href="" class="btn btn-info" id="btnInfo">Info permanent</a>
             
             
             
              <div class="clearfix height30"></div>
              <h2 class="content-h2">例：# 几种弹框形式 #</h2>关于弹窗的几种形式
              <br>
              <br>
              <button type="button" class="btn btn-default" data-toggle="modal" href="#static">带两类按钮的弹窗</button>
              <button type="button" class="btn btn-default" data-toggle="modal" href="#static2">带一个按钮的弹窗</button>
              <button type="button" class="btn btn-default" data-toggle="modal" href="#static3">小弹窗</button>
              <button type="button" class="btn btn-default" data-toggle="modal" href="#static4">alert弹窗</button>
              <div id="static" class="modal fade modal-big" tabindex="-1" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn close" data-dismiss="modal" aria-hidden="true"></button>
                      <h4 class="modal-title">带提交表单的弹窗(modal-big)</h4></div>
                    <div class="modal-body">
                      <form id="" method="post" action="" class="form-horizontal">
                        <div class="form-group">
                          <label for="" class="col-md-3 control-label alignleft">类别：</label>
                          <div class="col-md-3">
                            <select name="" id="" class="form-control">
                              <option>全部</option>
                              <option>中国银行</option>
                              <option>银联在线</option>
                              <option>手机银联</option></select>
                          </div>
                          <!--如果要把这个说明字段文字加在本行，就如下代码 （相应字色加样式标签如“red”）-->
                          <div class="help-block col-md-reset">提示在本行采用这个结构。</div>
                          <!--如果要把这个说明字段文字加在下一行，就如下代码 （col-md-offset-3 col-md-6 help-block） -->
                          <div class="col-md-offset-3 col-md-6 help-block">
                            <i class="icon-info"></i>若提示需在下一行就采用这种结构</div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-md-3 control-label alignleft">请在文本框中输入：</label>
                          <div class="col-md-9">
                            <textarea type="text" value="" class="form-control" id="" name="" rows="5"></textarea>
                          </div>
                          <!--如果要把这个说明字段文字加在下一行，就如下代码 （col-md-offset-3 col-md-6 help-block） -->
                          <div class="col-md-offset-3 col-md-6 help-block">
                            <i class="icon-info"></i>若提示需在下一行就采用这种结构</div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" data-dismiss="modal" class="btn btn-primary">确定</button>
                      <button type="button" data-dismiss="modal" class="btn btn-default">取消</button></div>
                  </div>
                </div>
              </div>
              <div id="static2" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn close" data-dismiss="modal" aria-hidden="true"></button>
                      <!--如果不需标题则没有下面这条-->
                      <!--<h4 class="modal-title"></h4>--></div>
                    <div class="modal-body">
                      <form id="" method="post" action="">
                        <div class="form-group">
                          <label>请在文本框中输入一些文字：</label>
                          <textarea type="text" value="" class="form-control" id="" name="" rows="5"></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" data-dismiss="modal" class="btn btn-primary">确定</button>
                      <button type="button" data-dismiss="modal" class="btn btn-default">取消</button></div>
                  </div>
                </div>
              </div>
              <div id="static3" class="modal fade modal-small" tabindex="-1" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn close" data-dismiss="modal" aria-hidden="true"></button>
                      <h4 class="modal-title">
                        <i class="icon-info"></i>提示(modal-small)</h4>
                    </div>
                    <div class="modal-body">
                      <p>列出一段说明文字，如需加图加相应样式</p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="static4" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                  <div class="modal-dialog noborder">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="btn close" data-dismiss="modal" aria-hidden="true"></button>
                        <!--如果不需标题则没有下面这条-->
                        <h4 class="modal-title">localhost:8080显示</h4></div>
                      <div class="modal-body">
                        <p>确定删除吗？</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-primary">确定</button>
                        <button type="button" data-dismiss="modal" class="btn btn-default">取消</button></div>
                    </div>
                  </div>
                </div>
              <!-- /content container --></div>
            <!-- Page content end --></div>
          <!-- Make page fluid--></div>
        <!-- Wrap all page content end -->




 

      
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script type="text/javascript" src="../content/frame/jquery/jquery.min.js"></script>

      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script type="text/javascript" src="../content/frame/bootstrap/js/bootstrap.js"></script>
      
      
      <!-- my js start -->
      <script type="text/javascript" src="../content/frame/bootstrap/js/my-dropdown.js"></script>
      <script type="text/javascript" src="../content/frame/vuejs/ vue.js"></script>
      <script type="text/javascript" src="../content/normal/js/ data.js"></script>
      <script type="text/javascript" src="../content/normal/js /v-nav.js"></script>
      <!-- my js end -->
  
      <script type="text/javascript" src="../content/frame/nicescroll/jquery.nicescroll.min.js"></script>
  
  
      <script type="text/javascript" src="../content/frame/jquery.date/jquery.datetimepicker.full.min.js"></script>
  
      <script type="text/javascript" src="../content/normal/js/frame.js"></script>

      <script type="text/javascript" src="../content/frame/smoke/js/smoke.js"></script>
    
      <script type="text/javascript" src="../content/frame/bootstrap/js/bootstrap-filestyle.js"></script>

      <script>
    
            ////////以下单独写的，具体使用场景单摘出来可与其他文件合并
            //关于有数字显示与隐藏的块
            function numDisplay()
            {
            var show = document.getElementById("showDiv");
            var hidden = document.getElementById("hiddenDiv");
              if(show.style.display=="none")
              {
                  show.style.display = "inline-block";
                  hidden.style.display="none";
              }
              else
              {
                  show.style.display = "none";
                  hidden.style.display="inline-block";
              }
            };
    
            //表格中鼠标移动放大图像
            $(function(){
                $(".zoom a ").hover(function(){
                    $(this).append("<p id='pic'><img src='"+this.href+"' id='pic1'></p>");
                    $(".zoom a").mousemove(function(e){
                        $("#pic").css({
                            "top":(e.pageY+10)+"px",
                            "left":(e.pageX+20)+"px"
                        }).fadeIn("fast");
                        // $("#pic").fadeIn("fast");
                    });
                },function(){
                    $("#pic").remove();
                });
            });
    
  
            //表单验证例
            $('#btnEmpty').click(function() {
              if ($('#formEmpty').smkValidate()) {
                // Code here
                $.smkAlert({
                  text: 'Validate!',
                  type: 'success',
                  position:'top-center',
                  time: 2
                });
              }
            });
            //重置按钮
            $('#btnClear').click(function() {
              $('#formEmpty').smkClear();
            });
              
            
            // Alert type warning
              $('#btnWarning').click(function(e) {
                e.preventDefault();
                $.smkAlert({
                  text: 'Alert type "warning"',
                  type: 'warning',
                  position:'top-center'
                });
              });
              // Alert type success, position top-left
              $('#btnSuccess').click(function(e) {
                e.preventDefault();
                $.smkAlert({
                  text: 'Alert type "success"',
                  type: 'success',
                  position:'top-center',
                  time: 2
                });
              });
              // Alert type danger, position top-center, 10 seconds
              $('#btnDanger').click(function(e) {
                e.preventDefault();
                $.smkAlert({
                  text: 'Alert type "danger" time 10 seconds',
                  type: 'danger',
                  position:'top-center',
                  time: 10
                });
              });
              // Alert type info, position bottom-right, icon glyphicon-time, permanent
              $('#btnInfo').click(function(e) {
                e.preventDefault();
                $.smkAlert({
                  text: 'Alert type "info" permanent',
                  type: 'info',
                  position:'top-center',
                  icon: 'glyphicon-time',
                  permanent: true
                });
              })
        </script>

        <script>
           //关于图片上传缩略图的显示
           $("#fileUpload").on('change', function () {
              if (typeof (FileReader) != "undefined") {
                  var image_holder = $("#image-holder");
                  image_holder.empty();

                  var reader = new FileReader();
                  reader.onload = function (e) {
                      $("<img />", {
                          "src": e.target.result,
                          "class": "thumb-image"
                      }).appendTo(image_holder);

                  }
                  image_holder.show();
                  reader.readAsDataURL($(this)[0].files[0]);
              } else {
                  alert("你的浏览器不支持FileReader.");
              }
            });
        </script>
</body>
</html>