<!DOCTYPE html>
<html>

<head>
    <title>Minimal 1.0 - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/ico" href="../content/normal/images/favicon.ico" /> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../content/frame/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" >
    <link rel="stylesheet" href="../content/frame/animate/animate.min.css" >
    <link rel="stylesheet" href="../content/normal/css/theme.css" >
    <!-- my style start -->
    <link rel="stylesheet" href="../content/normal/css/my-theme.css" >
    <link rel="stylesheet" href="../content/normal/css/nav-style.css" >
    <link rel="stylesheet" href="../content/normal/css/container.css">
    <!-- my style end -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="bg-1">
    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Make page fluid -->
        <div class="row">
            <!-- Fixed navbar -->
            <div class="navbar navbar-fixed-top" role="navigation" id="navbar">
                <!-- .nav-collapse -->
                <div class="navbar-collapse">
                    <!-- logo-->
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            微校园后台管理系统
                        </div>
                    </div>
                    <!-- logo end-->
                    <!-- Quick Actions -->
                    <ul class="nav navbar-nav quick-actions">
                        <li class="dropdown">
                            <a href="#">
                                <i class="ico-mail"></i>
                                <span class="label">1</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="ico-theme"></i>
                            </a>
                            <ul class="dropdown-menu arrow settings">
                                <li>
                                    <ul id="color-schemes">
                                        <li><a href="#" class="bg-1"></a></li>
                                        <li><a href="#" class="bg-2"></a></li>
                                        <li><a href="#" class="bg-3"></a></li>
                                        <li><a href="#" class="bg-4"></a></li>
                                        <li><a href="#" class="bg-5"></a></li>
                                        <li><a href="#" class="bg-6"></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown user">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="profile-photo">
                                    <img src="../content/normal/images/profile-photo.jpg" alt />
                                </span>
                                系统管理员<i class="ico-arr-dropdown"></i>
                            </a>
                            <ul class="dropdown-menu arrow settings">
                                <li>
                                    <a href="#"><i class="fa fa-user"></i>基本信息</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-envelope"></i> 消息 <span class="badge badge-red" id="user-inbox">3</span></a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#"><i class="fa fa-power-off"></i> 退出系统</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="language">
                                英文版
                            </a>
                        </li>
                    </ul>
                    <!-- /Quick Actions -->
                    <!-- Search -->
                    <div class="search" id="main-search">
                        <input type="text" placeholder="Search..."><i class="ico-search"></i>
                    </div>
                    <!-- Search end -->
                </div>
                <!--/.nav-collapse -->
                <!-- Sidebar -->
                <div id="vm-nav" >
                    <ul class="nav navbar-nav side-nav" id="sidebar">
                        <li>
                            <div class="sidebar-collapse">
                                <a href="#">
                                    <i class="ico-bars"></i>
                                </a>
                            </div>
                        </li>
                        <li class="navigation" v-for="(e,i) in navData">
                            <dropdown-menu v-bind:todo ='e' v-bind:index="i"></dropdown-menu>
                            <ul class="dropdown-menu">
                                <dropdown-sub-list v-if="e.nodes" v-for="sub in e.nodes" v-bind:subtodo ='sub' v-bind:index ='i'></dropdown-sub-list>
                            </ul>
                        </li>
                    </ul>
                    <!-- Sidebar end -->
                    <!-- sec-Sidebar -->
                    <div class="product-nav">
                        <div class="sec-sidebar" id="sec-sidebar">
                            <h1 class="h1">{{activeNav.text}}</h1>
                            <ul class="nav navbar-nav sec-side-nav">
                                <li v-for="(event,index) in activeNav.nodes" class="navigation menu-hide" >
                                    <dropdown-product-menu v-bind:todo ='event' v-bind:index="index"  v-if="event.nodes"></dropdown-product-menu>
                                    <dropdown-product-a v-bind:todo ='event' v-bind:index="index"  v-else="event.nodes"></dropdown-product-a>
                                    <ul class="menu">
                                        <li v-for="(item,index) in event.nodes" class="dropdown">
                                            <dropdown-product-sub-menu v-bind:todo ='item' v-bind:index="index" v-if="event.nodes"></dropdown-product-sub-menu>
                                            <dropdown-product-a v-bind:todo ='event' v-bind:index="index"  v-else></dropdown-product-a>
                                            <ul class="dropdown-menu">
                                                <dropdown-product-sub-list v-if="event.nodes" v-for="sub in event.nodes" v-bind:subtodo ='sub' v-bind:index ='index'></dropdown-product-sub-list>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-collapse sec-sidebar-collapse">
                            <a href="#"><i class="ico-arr-collapse"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fixed navbar end -->
            <!-- Page content -->
            <div id="content" class="col-md-12">
                <div class="demo">        
                    <!--  -->
                    <h1 class="demo-title" id="demo-title">相关Demo 目录 <em>(注：点击demo 查看使用方法 )</em></h1>
                    <!-- 目录 -->
                    <table class="table table-bordered" >
                      <thead>
                        <tr>
                          <th>dome 名</th>
                          <th>图例</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td><a href="#demo-express-h2"># 大标题</a></td>
                            <td>
                                <div class="img-box">
                                    <img src="../content/normal/images/demo-img/h1.png" alt="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="#demo-express-form-1"># 表单——输入框</a></td>
                            <td>
                                <div class="img-box">
                                    <img src="../content/normal/images/demo-img/table-1.png" alt="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="#demo-express-form-2"># 表单——下拉框</a></td>
                            <td>
                                <div class="img-box">
                                    <img src="../content/normal/images/demo-img/table-2.png" alt="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="#demo-express-form-3"># 表单——按钮</a></td>
                            <td>
                                <div class="img-box">
                                    <img src="../content/normal/images/demo-img/table-3.png" alt="">
                                </div>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- ======================================== -->
                    <form class="form-inline">
                        <div class="form-line form-group">
                            <label>部门信息：</label>
                            <div class="dropdown">
                                <div class="btn btn-default dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                                    <span class="caret"></span>
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn btn-default" type="submit">查询按钮</button>
                    </form>
                    <!-- ======================================== -->
                    <!-- 具体 结构部分 -->
                    <h1 class="demo-title" id="demo-title">具体结构的使用方法</h1>
                    <div class="demo-container">
                        <!-- part-1 -->
                        <h2 id="demo-express-h2">大标题 <a href="#demo-title">返回</a></h2>
                        <div class="demo-express-code-box row">
                            <div class="col-sm-6">
                                <h3>html</h3>
                                <pre name="" readonly="readonly">
                                    <span>&lt;h1 class='CON-title'&gt;标题展示 &lt;button class="refresh"&gt;&lt;/button&gt;&lt;/h1&gt;</span>
                                </pre>
                            </div>
                            <div class="col-sm-6">
                                <h3>css</h3>
                                <pre>
                                    <span>.CON-title{</span>
                                    <span>    height: 66px;</span>
                                    <span>    padding: 0 30px 0 38px;</span>
                                    <span>    background: url(../../content/normal/images/ico-title.png) no-repeat left center;</span>
                                    <span>    line-height: 66px;</span>
                                    <span>    font-size: 24px;</span>
                                    <span>    color:#000;</span>
                                    <span>    margin:0;</span>
                                    <span>    border-bottom:1px solid #979797;</span>
                                    <span>}</span>
                                    <span>.CON-title .refresh{</span>
                                    <span>    width: 24px;</span>
                                    <span>    height: 24px;</span>
                                    <span>    float: right;</span>
                                    <span>    margin-top:21px;</span>
                                    <span>    border:0;</span>
                                    <span>    background: url(../../content/normal/images/refresh.png) no-repeat;</span>
                                    <span>}</span>
                                </pre>
                            </div>
                            
                        </div>
                        <!-- part-2 -->
                        <h2 id="demo-express-form-1">表单——输入框<a href="#demo-title">返回</a></h2>
                        <div class="demo-express-code-box row">
                            <div class="col-sm-6">
                                <h3>html</h3>
                                <pre>
                                    <span>&lt;form action="" method="get" accept-charset="utf-8"&gt;</span>
                                    <span>    &lt;div class="form-line"&gt;</span>
                                    <span>        &lt;label&gt;部门信息：&lt;/label&gt;&lt;input type="text" name="" placeholder="部门编号/</span>
                                    <span>名称/助记码"&gt;</span>
                                    <span>    &lt;/div&gt;</span>
                                    <span>&lt;/form&gt;</span>
                                </pre>
                            </div>
                            <div class="col-sm-6">
                                <h3>css</h3>
                                <pre>
                                    <span>form{</span>
                                    <span>    margin:30px 0;</span>
                                    <span>}</span>
                                    <span>.form-line{</span>
                                    <span>    display: inline-block;</span>
                                    <span>    height: 30px;</span>
                                    <span>    line-height: 30px;</span>
                                    <span>    margin-right: 26px;</span>
                                    <span>}</span>
                                    <span>.form-line *{</span>
                                    <span>    font-size: 14px;</span>
                                    <span>}</span>
                                    <span>.form-line label{</span>
                                    <span>    width: 80px;</span>
                                    <span>    font-weight: normal;</span>
                                    <span>    vertical-align: middle;</span>
                                    <span>    margin: 0;</span>
                                    <span>}</span>
                                    <span>.form-line input[type=text]{</span>
                                    <span>    width: 200px;</span>
                                    <span>    height: 30px;</span>
                                    <span>    padding:0 5px;</span>
                                    <span>    border:1px solid #c5c5c5;</span>
                                    <span>}</span>
                                    <span>.form-line input[type=text]::placeholder{</span>
                                    <span>    color:#8B8B8B;</span>
                                    <span>}</span>
                                </pre>
                            </div>
                            
                        </div>
                        <!-- part-3 -->
                        <h2 id="demo-express-form-2">表单——下拉框<a href="#demo-title">返回</a></h2>
                        <div class="demo-express-code-box row">
                            <div class="col-sm-4">
                                <h3>html</h3>
                                <pre>
                                    <span>注意：不要忘记修改下拉关联的id（模板里的‘dropdownMenu1’）</span>
                                    <span>&lt;form class="form-inline"&gt;</span>
                                    <span>    &lt;div class="form-line form-group"&gt;</span>
                                    <span>        &lt;label&gt;部门信息：&lt;/label&gt;</span>
                                    <span>        &lt;div class="dropdown"&gt;</span>
                                    <span>            &lt;button class="btn btn-default dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;</span>
                                    <span>            Dropdown</span>
                                    <span>                &lt;span class="caret"&gt;&lt;/span&gt;</span>
                                    <span>            &lt;/button&gt;</span>
                                    <span>            &lt;ul class="dropdown-menu" aria-labelledby="dropdownMenu1"&gt;</span>
                                    <span>                &lt;li&gt;&lt;a href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;</span>
                                    <span>                &lt;li&gt;&lt;a href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;</span>
                                    <span>                &lt;li&gt;&lt;a href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;</span>
                                    <span>                &lt;li role="separator" class="divider"&gt;&lt;/li&gt;</span>
                                    <span>                &lt;li&gt;&lt;a href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;</span>
                                    <span>            &lt;/ul&gt;</span>
                                    <span>        &lt;/div&gt;</span>
                                    <span>    &lt;/div&gt;</span>
                                    <span>&lt;/form&gt;</span>
                                </pre>
                            </div>
                            <div class="col-sm-4">
                                <h3>css</h3>
                                <pre>
                                    <span>form{</span>
                                    <span>    margin:30px 0;</span>
                                    <span>}</span>
                                    <span>.form-line{</span>
                                    <span>    display: inline-block;</span>
                                    <span>    height: 30px;</span>
                                    <span>    line-height: 30px;</span>
                                    <span>    margin-right: 26px;</span>
                                    <span>}</span>
                                    <span>.form-line *{</span>
                                    <span>    font-size: 14px;</span>
                                    <span>}</span>
                                    <span>.form-line label{</span>
                                    <span>    width: 80px;</span>
                                    <span>    font-weight: normal;</span>
                                    <span>    vertical-align: middle;</span>
                                    <span>    margin: 0;</span>
                                    <span>}</span>
                                    <span>.form-line label + .dropdown{</span>
                                    <span>    display: inline-block;</span>
                                    <span>    height: 30px;</span>
                                    <span>    vertical-align: middle;</span>
                                    <span>}</span>
                                    <span>.form-line label + .dropdown .dropdown-toggle{</span>
                                    <span>    height: 30px;</span>
                                    <span>    line-height: 10px;</span>
                                    <span>    border-radius:0;</span>
                                    <span>    border:1px solid #c5c5c5;</span>
                                    <span>}</span>
                                </pre>
                            </div>
                            <div class="col-sm-4">
                                <h3>js</h3>
                                <pre>
                                    <span>备注：点击选择后隐藏下拉框，</span>
                                    <span>      并添加到点击按钮上</span>
                                </pre>
                            </div>
                            
                        </div>
                        <!-- part-4 -->
                        <h2 id="demo-express-form-3">表单——按钮<a href="#demo-title">返回</a></h2>
                        <div class="demo-express-code-box row">
                            <div class="col-sm-6">
                                <h3>html</h3>
                                <pre>
                                    <span>&lt;form class="form-inline"&gt;</span>
                                    <span>&lt;button class="btn btn-default" type="submit"&gt;查询按钮&lt;/button&gt;</span>
                                    <span>&lt;/form&gt;</span>
                                </pre>
                            </div>
                            <div class="col-sm-6">
                                <h3>css</h3>
                                <pre>
                                    
                                </pre>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page content end -->
        </div>
        <!-- Make page fluid-->
    </div>
    <!-- Wrap all page content end -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="../content/frame/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="../content/frame/bootstrap/js/bootstrap.js"></script>

    <!-- my js start -->
    <script type="text/javascript" src="../content/frame/bootstrap/js/my-dropdown.js"></script>
    <script type="text/javascript" src="../content/frame/vuejs/vue.js"></script>
    <script type="text/javascript" src="../content/normal/js/data.js"></script>
    <script type="text/javascript" src="../content/normal/js/v-nav.js"></script>
    <!-- my js end -->
    <script type="text/javascript" src="../content/frame/nicescroll/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="../content/normal/js/frame.js"></script>
</body>

</html>