<!DOCTYPE html>
<html>

<head>
    <title>Minimal 1.0 - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/ico" href="../content/normal/images/favicon.ico" /> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../content/frame/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" >
    <link rel="stylesheet" href="../content/frame/animate/animate.min.css" >
    <link rel="stylesheet" href="../content/normal/css/theme.css" >
    <!-- my style start -->
    <link rel="stylesheet" href="../content/normal/css/my-theme.css" >
    <link rel="stylesheet" href="../content/normal/css/nav-style.css" >
    <link rel="stylesheet" href="../content/normal/css/container.css">
    <!-- my style end -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="../content/frame/jquery.date/jquery.datetimepicker.min.css">

</head>

<body class="bg-1">
    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Make page fluid -->
        <div class="row">
            <!-- Fixed navbar -->
            <div class="navbar navbar-fixed-top" role="navigation" id="navbar">
                <!-- .nav-collapse -->
                <div class="navbar-collapse">
                    <!-- logo-->
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            微校园后台管理系统
                        </div>
                    </div>
                    <!-- logo end-->
                    <!-- Quick Actions -->
                    <ul class="nav navbar-nav quick-actions">
                        <li class="dropdown">
                            <a href="#">
                                <i class="ico-mail"></i>
                                <span class="label">1</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="ico-theme"></i>
                            </a>
                            <ul class="dropdown-menu arrow settings">
                                <li>
                                    <ul id="color-schemes">
                                        <li><a href="#" class="bg-1"></a></li>
                                        <li><a href="#" class="bg-2"></a></li>
                                        <li><a href="#" class="bg-3"></a></li>
                                        <li><a href="#" class="bg-4"></a></li>
                                        <li><a href="#" class="bg-5"></a></li>
                                        <li><a href="#" class="bg-6"></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown user">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="profile-photo">
                                    <img src="../content/normal/images/profile-photo.jpg" alt />
                                </span>
                                系统管理员<i class="ico-arr-dropdown"></i>
                            </a>
                            <ul class="dropdown-menu arrow settings">
                                <li>
                                    <a href="#"><i class="fa fa-user"></i>基本信息</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-envelope"></i> 消息 <span class="badge badge-red" id="user-inbox">3</span></a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#"><i class="fa fa-power-off"></i> 退出系统</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="language">
                                英文版
                            </a>
                        </li>
                    </ul>
                    <!-- /Quick Actions -->
                    <!-- Search -->
                    <div class="search" id="main-search">
                        <input type="text" placeholder="Search..."><i class="ico-search"></i>
                    </div>
                    <!-- Search end -->
                </div>
                <!--/.nav-collapse -->
                <!-- Sidebar -->
                <div id="vm-nav" >
                    <ul class="nav navbar-nav side-nav" id="sidebar">
                        <li>
                            <div class="sidebar-collapse">
                                <a href="#">
                                    <i class="ico-bars"></i>
                                </a>
                            </div>
                        </li>
                        <li class="navigation" v-for="(e,i) in navData">
                            <dropdown-menu v-bind:todo ='e' v-bind:index="i"></dropdown-menu>
                            <ul class="dropdown-menu">
                                <dropdown-sub-list v-if="e.nodes" v-for="sub in e.nodes" v-bind:subtodo ='sub' v-bind:index ='i'></dropdown-sub-list>
                            </ul>
                        </li>
                    </ul>
                    <!-- Sidebar end -->
                    <!-- sec-Sidebar -->
                    <div class="product-nav">
                        <div class="sec-sidebar" id="sec-sidebar">
                            <h1 class="h1">{{activeNav.text}}</h1>
                            <ul class="nav navbar-nav sec-side-nav">
                                <li v-for="(event,index) in activeNav.nodes" class="navigation menu-hide" >
                                    <dropdown-product-menu v-bind:todo ='event' v-bind:index="index"  v-if="event.nodes"></dropdown-product-menu>
                                    <dropdown-product-a v-bind:todo ='event' v-bind:index="index"  v-else="event.nodes"></dropdown-product-a>
                                    <ul class="menu">
                                        <li v-for="(item,index) in event.nodes" class="dropdown">
                                            <dropdown-product-sub-menu v-bind:todo ='item' v-bind:index="index" v-if="event.nodes"></dropdown-product-sub-menu>
                                            <dropdown-product-a v-bind:todo ='event' v-bind:index="index"  v-else></dropdown-product-a>
                                            <ul class="dropdown-menu">
                                                <dropdown-product-sub-list v-if="event.nodes" v-for="sub in event.nodes" v-bind:subtodo ='sub' v-bind:index ='index'></dropdown-product-sub-list>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-collapse sec-sidebar-collapse">
                            <a href="#"><i class="ico-arr-collapse"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fixed navbar end -->
            <!-- Page content -->
            <div id="content" class="col-md-12">
                <div class="demo">  
                    <div class="show-box">
                        <div id="main" style="width: 1000px;height:700px;"></div>
                        
                    </div>      
                    <!--  -->
                    <h1 class="demo-title" id="demo-title">相关Demo 目录 <em>(注：点击demo名 查看使用方法 )</em></h1>
                    <!-- 文档分类 -->
                    <a href="#dome-table">html</a>
                    <a href="">js</a>
                    <!-- 目录 -->
                    <table class="table table-bordered" id="dome-table">
                        <thead>
                            <tr>
                                <th>dome 名</th>
                                <th>图例</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a style="font-weight:bold;color:red;font-size:40px;">声明</a></td>
                                <td style="font-weight:bold;color:red;line-height: 80px;font-size:20px;">
                                    以下所有css和js分别依赖bootstrao.min.css、boostrap.js(源码有删减)、jquery.min.js
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#demo-express-h2" id="demo-a-express-h2"># 大标题</a></td>
                                <td>
                                    <div class="img-box">
                                        <img src="../content/normal/images/demo-img/h1.png" alt="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#demo-express-form" id="demo-a-express-form"># 表单——form</a></td>
                                <td>
                                    form统一；以下关于表单内部的样式都依赖form，以及对label的样式说明
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#demo-express-form-1" id="demo-a-express-form-1"># 表单——输入框</a></td>
                                <td>
                                    <div class="img-box">
                                        <img src="../content/normal/images/demo-img/table-1.png" alt="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#demo-express-form-2" id="demo-a-express-form-2"># 表单——下拉框</a></td>
                                <td>
                                    <div class="img-box">
                                        <img src="../content/normal/images/demo-img/table-2.png" alt="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#demo-express-form-3" id="demo-a-express-form-3"># 表单——按钮</a></td>
                                <td>
                                    <div class="img-box">
                                        <img src="../content/normal/images/demo-img/table-3.png" alt="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#demo-express-form-4" id="demo-a-express-form-4"># 表单——时间</a></td>
                                <td>
                                    <div class="img-box">
                                        <img src="../content/normal/images/demo-img/table-4.png" alt="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#demo-express-form-5" id="demo-a-express-form-5"># 表单——数字</a></td>
                                <td>
                                    <div class="img-box">
                                        <img src="../content/normal/images/demo-img/table-5.png" alt="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#demo-express-form-5" id="demo-a-express-form-5"># 图表——折线图</a></td>
                                <td>
                                    <div class="img-box" style="height:400px;">
                                        <img src="../content/normal/images/demo-img/line.png" alt="">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- ======================================== -->

                    <!-- ======================================== -->
                    <!-- 具体 结构部分 -->
                    <h1 class="demo-title" id="demo-title">具体结构的使用方法</h1>
                    <div class="demo-container">
                        <!--  -->
                        <h2 id="demo-express-h2">大标题 <a href="#demo-a-express-h2">返回</a></h2>
                        <div class="demo-express-code-box row">
                            <div class="col-sm-6">
                                <h3><span>html</span><button class="copy" data-clipboard-target="#foo1"></button></h3>

                                <pre id="foo1">
                                    <span>&lt;h1 class='CON-title'&gt;标题展示 &lt;button class="refresh"&gt;&lt;/button&gt;&lt;/h1&gt;</span>
                                </pre>
                            </div>
                            <div class="col-sm-6">
                                <h3><span>css</span><button class="copy" data-clipboard-target="#foo2"></button></h3>
                                <pre id="foo2">
                                    <span>.CON-title{</span>
                                    <span>    height: 66px;</span>
                                    <span>    padding: 0 10px 0 38px;</span>
                                    <span>    background: url(../normal/images/ico-title.png) no-repeat left center;</span>
                                    <span>    line-height: 66px;</span>
                                    <span>    font-size: 24px;</span>
                                    <span>    color:#000;</span>
                                    <span>    margin:0;</span>
                                    <span>    border-bottom:1px solid #979797;</span>
                                    <span>}</span>
                                    <span>.CON-title .refresh{</span>
                                    <span>    width: 24px;</span>
                                    <span>    height: 24px;</span>
                                    <span>    float: right;</span>
                                    <span>    margin-top:21px;</span>
                                    <span>    border:0;</span>
                                    <span>    background: url(../normal/images/refresh.png) no-repeat;</span>
                                    <span>}</span>
                                </pre>
                            </div>
                            
                        </div>
                        <!--  -->
                        <h2 id="demo-express-form">表单——form<a href="#demo-a-express-form">返回</a></h2>
                        <div class="demo-express-code-box row">
                            <div class="col-sm-6">
                                <h3><span>html</span><button class="copy" data-clipboard-target="#form"></button></h3>
                                <pre id="form">
                                    <span>&lt;form class="form-inline"&gt; </span>
                                    <span>        &lt;label&gt;部门信息：&lt;/label&gt;</span>
                                    <span>&lt;/form&gt;</span>
                                </pre>
                            </div>
                            <div class="col-sm-6">
                                <h3><span>css</span><button class="copy" data-clipboard-target="#form-css"></button></h3>
                                <pre id="form-css">
                                    <span>form{</span>
                                    <span>    margin:30px 0;</span>
                                    <span>}</span>
                                    <span>form .form-line *{</span>
                                    <span>    font-size: 14px;</span>
                                    <span>}</span>
                                    <span>.form-line{</span>
                                    <span>    display: inline-block;</span>
                                    <span>    height: 30px;</span>
                                    <span>    line-height: 30px;</span>
                                    <span>    margin-right: 26px;</span>
                                    <span>}</span>
                                    <span>.form-line label{</span>
                                    <span>    width: 80px;</span>
                                    <span>    font-weight: normal;</span>
                                    <span>    vertical-align: middle;</span>
                                    <span>    margin: 0;</span>
                                    <span>}</span>
                                </pre>
                            </div>
                            
                        </div>
                        <!--  -->
                        <h2 id="demo-express-form-1">表单——输入框<a href="#demo-a-express-form-1">返回</a></h2>
                        <div class="demo-express-code-box row">
                            <div class="col-sm-6">
                                <h3><span>html</span><button class="copy" data-clipboard-target="#foo3"></button></h3>
                                <pre id="foo3">
                                    <span>&lt;form action="" method="get" accept-charset="utf-8"&gt;</span>
                                    <span>    &lt;div class="form-line"&gt;</span>
                                    <span>        &lt;label&gt;部门信息：&lt;/label&gt;&lt;input type="text" name="" placeholder="部门编号/</span>
                                    <span>名称/助记码"&gt;</span>
                                    <span>    &lt;/div&gt;</span>
                                    <span>&lt;/form&gt;</span>
                                </pre>
                            </div>
                            <div class="col-sm-6">
                                <h3><span>css</span><button class="copy" data-clipboard-target="#foo4"></button></h3>
                                <pre id="foo4">
                                    <span>.form-line input{</span>
                                    <span>    width: 200px;</span>
                                    <span>    height: 30px;</span>
                                    <span>    padding:0 5px;</span>
                                    <span>    border:1px solid #c5c5c5;</span>
                                    <span>    outline: none;</span>
                                    <span>}</span>
                                    <span>.form-line input::placeholder{</span>
                                    <span>    color:#8B8B8B;</span>
                                    <span>}</span>
                                </pre>
                            </div>
                            
                        </div>
                        <!--  -->
                        <h2 id="demo-express-form-2">表单——下拉框<a href="#demo-a-express-form-2">返回</a></h2>
                        <div class="demo-express-code-box row">
                            <div class="col-sm-4">
                                <h3><span>html</span><button class="copy" data-clipboard-target="#foo5"></button></h3>
                                <pre id="foo5">
                                    <span>注意：不要忘记修改下拉关联的id（模板里的‘dropdownMenu1’）</span>
                                    <span>&lt;form class="form-inline"&gt;</span>
                                    <span>    &lt;div class="form-line form-group"&gt;</span>
                                    <span>        &lt;label&gt;部门信息：&lt;/label&gt;</span>
                                    <span>        &lt;div class="dropdown"&gt;</span>
                                    <span>            &lt;button class="btn btn-default dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;</span>
                                    <span>            Dropdown</span>
                                    <span>                &lt;span class="caret"&gt;&lt;/span&gt;</span>
                                    <span>            &lt;/button&gt;</span>
                                    <span>            &lt;ul class="dropdown-menu" aria-labelledby="dropdownMenu1"&gt;</span>
                                    <span>                &lt;li&gt;&lt;a href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;</span>
                                    <span>                &lt;li&gt;&lt;a href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;</span>
                                    <span>                &lt;li&gt;&lt;a href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;</span>
                                    <span>                &lt;li role="separator" class="divider"&gt;&lt;/li&gt;</span>
                                    <span>                &lt;li&gt;&lt;a href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;</span>
                                    <span>            &lt;/ul&gt;</span>
                                    <span>        &lt;/div&gt;</span>
                                    <span>    &lt;/div&gt;</span>
                                    <span>&lt;/form&gt;</span>
                                </pre>
                            </div>
                            <div class="col-sm-4">
                                <h3><span>css</span><button class="copy" data-clipboard-target="#foo6"></button></h3>
                                <pre id="foo6">
                                    <span>.form-line label + .dropdown{</span>
                                    <span>    display: inline-block;</span>
                                    <span>    height: 30px;</span>
                                    <span>    vertical-align: middle;</span>
                                    <span>}</span>
                                    <span>.form-line label + .dropdown [data-toggle=dropdown]{</span>
                                    <span>    height: 30px;</span>
                                    <span>    line-height: 16px;</span>
                                    <span>    border-radius:0;</span>
                                    <span>    border:1px solid #c5c5c5;</span>
                                    <span>}</span>
                                </pre>
                            </div>
                            <div class="col-sm-4">
                                <h3><span>js</span><button class="copy" data-clipboard-target="#foo7"></button></h3>
                                <pre id="foo7">
                                    <span>备注：点击选择后隐藏下拉框，</span>
                                    <span>      并添加到点击按钮上</span>
                                    <span>$(".form-line .dropdown-menu").on("click","li a",function(event){</span>
                                    <span>    var dropdown = $(this).parents(".form-line").find('[data-toggle=dropdown]');</span>
                                    <span>    dropdown.text($(this).text()).parent().removeClass("open");</span>
                                    <span>});</span>
                                </pre>
                            </div>
                            
                        </div>
                        <!--  -->
                        <h2 id="demo-express-form-3">表单——按钮<a href="#demo-a-express-form-3">返回</a></h2>
                        <div class="demo-express-code-box row">
                            <div class="col-sm-6">
                                <h3><span>html</span><button class="copy" data-clipboard-target="#foo8"></button></h3>
                                <pre id="foo8">
                                    <span>&lt;form class="form-inline"&gt;</span>
                                    <span>&lt;button class="btn btn-default" type="submit"&gt;查询按钮&lt;/button&gt;</span>
                                    <span>&lt;/form&gt;</span>
                                </pre>
                            </div>
                            <div class="col-sm-6">
                                <h3><span>css</span><button class="copy" data-clipboard-target="#foo9"></button></h3>
                                <pre id="foo9">

                                </pre>
                            </div>
                            
                        </div>
                        <!--  -->
                        <h2 id="demo-express-form-4">表单——时间<a href="#demo-a-express-form-4">返回</a></h2>
                        <div class="demo-express-code-box row">
                            <div class="col-sm-12">
                                <h3><span>plugin</span><button class="copy" data-clipboard-target="#foo10"></button></h3>
                                <pre id="foo10">
                                    <span>引用 link</span>
                                    <span>&lt;link rel="stylesheet" type="text/css" href="../content/frame/jquery.date/jquery.datetimepicker.min.css"&gt;
                                        <span>引用 js</span>
                                        <span>&lt;script type="text/javascript" src="../content/frame/jquery.date/jquery.datetimepicker.full.min.js"&gt;&lt;/script&gt;</span>
                                    </pre>
                                </div>
                                <div class="col-sm-4">
                                    <h3><span>html</span><button class="copy" data-clipboard-target="#foo11"></button></h3>
                                    <pre id="foo11">
                                        <span>&lt;div class="form-line"&gt;</span>
                                        <span>    &lt;label&gt;就餐时间：&lt;/label&gt;</span>
                                        <span>    &lt;div class="form-date"&gt;</span>
                                        <span>        &lt;input id="startDate" type="text" placeholder="选择时间"&gt;</span>
                                        <span>    &lt;/div&gt;</span>
                                        <span>    &lt;em&gt; — &lt;/em&gt;</span>
                                        <span>    &lt;div class="form-date"&gt;</span>
                                        <span>        &lt;input id="endDate" type="text" placeholder="选择时间"&gt;</span>
                                        <span>    &lt;/div&gt;</span>
                                        <span>&lt;/div&gt;</span>
                                    </pre>
                                </div>
                                <div class="col-sm-4">
                                    <h3><span>css</span><button class="copy" data-clipboard-target="#foo12"></button></h3>
                                    <pre id="foo12">
                                        <span>.form-line .form-date{</span>
                                        <span>    display: inline-block;</span>
                                        <span>    width: 120px;</span>
                                        <span>    position: relative;</span>
                                        <span>    vertical-align: top</span>
                                        <span>}</span>
                                        <span>.form-line .form-date + em{</span>
                                        <span>    display: inline-block;</span>
                                        <span>    height: 30px;</span>
                                        <span>    color:#e6e6e6;</span>
                                        <span>}</span>
                                        <span>.form-line .form-date input[type=text]{</span>
                                        <span>    width: 100%;</span>
                                        <span>}</span>
                                        <span>.form-line .form-date input[type=text]{</span>
                                        <span>    background: url(../normal/images/clock.png) no-repeat right 5px center;</span>
                                        <span>}</span>
                                    </pre>
                                </div>
                                <div class="col-sm-4">
                                    <h3><span>js</span><button class="copy" data-clipboard-target="#foo13"></button></h3>
                                    <pre id="foo13">
                                        <span>$.datetimepicker.setLocale('zh');</span>
                                        <span>$('#startDate').datetimepicker({        </span>
                                        <span>    timepicker:false,</span>
                                        <span>    format:'Y.m.d',</span>
                                        <span>    onShow:function( ct ){</span>
                                        <span>        this.setOptions({</span>
                                        <span>            maxDate:$('#endDate').val()?$('#endDate').val():false</span>
                                        <span>        })</span>
                                        <span>    },</span>
                                        <span>});</span>
                                        <span>$('#endDate').datetimepicker({</span>
                                        <span>    timepicker:false,</span>
                                        <span>    format:'Y.m.d',</span>
                                        <span>    onShow:function( ct ){</span>
                                        <span>        this.setOptions({</span>
                                        <span>            minDate:$('#startDate').val()?$('#startDate').val():false</span>
                                        <span>        })</span>
                                        <span>    },</span>
                                        <span>});</span>

                                    </pre>
                                </div>
                            </div>
                            <!--  -->
                            <h2 id="demo-express-form-5">表单——数字<a href="#demo-a-express-form-5">返回</a></h2>
                            <div class="demo-express-code-box row">                
                                <div class="col-sm-6">
                                    <h3><span>html</span><button class="copy" data-clipboard-target="#foo14"></button></h3>
                                    <pre id="foo14">
                                        <span>&lt;div class="form-line"&gt;</span>
                                        <span>    &lt;input type="number" name=""&gt;</span>
                                        <span>&lt;/div&gt;</span>
                                    </pre>
                                </div>
                                <div class="col-sm-6">
                                    <h3><span>css</span><button class="copy" data-clipboard-target="#foo15"></button></h3>
                                    <pre id="foo15">
                                        <span>.form-line input[type=number]{</span>
                                        <span>    width: 50px;</span>
                                        <span>}</span>
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>  
        </div>
        <!-- Page content end -->
    </div>
    <!-- Make page fluid-->
    <!-- Wrap all page content end -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="../content/frame/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="../content/frame/bootstrap/js/bootstrap.js"></script>

    <script type="text/javascript" src="../content/frame/echarts/echarts.min.js"></script>
    <!-- my js start -->
    <script type="text/javascript" src="../content/frame/bootstrap/js/my-dropdown.js"></script>
    <script type="text/javascript" src="../content/frame/vuejs/vue.js"></script>
    <script type="text/javascript" src="../content/normal/js/data.js"></script>
    <script type="text/javascript" src="../content/normal/js/v-nav.js"></script>

    <script type="text/javascript" src="../content/frame/nicescroll/jquery.nicescroll.min.js"></script>

    <script type="text/javascript" src="../content/frame/clipboard/clipboard.min.js"></script>
    <script type="text/javascript" src="../content/frame/jquery.date/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="../content/normal/js/frame.js"></script>
    <script type="text/javascript" src="../content/normal/js/v-container.js"></script>
</body>

</html>