<!DOCTYPE html>
<html>

<head>
    <title>Minimal 1.0 - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/ico" href="../content/normal/images/favicon.ico" /> -->
    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="../content/frame/bootstrap/css/bootstrap.min.css" > -->
    <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" > -->
    <!-- <link rel="stylesheet" href="../content/frame/animate/animate.min.css" > -->
    <link rel="stylesheet" href="../content/normal/css/theme.css" >
    <!-- my style start -->

    
    <!-- my style end -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

</head>

<body class="bg-1">
    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Make page fluid -->
        <div class="row">
            <!-- Fixed navbar -->
            <div class="navbar navbar-fixed-top" role="navigation" id="navbar">
                <!-- .nav-collapse -->
                <div class="navbar-collapse">
                    <!-- logo-->
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            微校园后台管理系统
                        </div>
                    </div>
                    <!-- logo end-->
                    <!-- Quick Actions -->
                    <ul class="nav navbar-nav quick-actions">
                        <li class="dropdown">
                            <a href="#">
                                <i class="ico-mail"></i>
                                <span class="label">1</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="ico-theme"></i>
                            </a>
                            <ul class="dropdown-menu arrow settings">
                                <li>
                                    <ul id="color-schemes">
                                        <li><a href="#" class="bg-1"></a></li>
                                        <li><a href="#" class="bg-2"></a></li>
                                        <li><a href="#" class="bg-3"></a></li>
                                        <li><a href="#" class="bg-4"></a></li>
                                        <li><a href="#" class="bg-5"></a></li>
                                        <li><a href="#" class="bg-6"></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown user">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="profile-photo">
                                    <img src="../content/normal/images/profile-photo.jpg" alt />
                                </span>
                                系统管理员<i class="ico-arr-dropdown"></i>
                            </a>
                            <ul class="dropdown-menu arrow settings">
                                <li>
                                    <a href="#"><i class="fa fa-user"></i>基本信息</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-envelope"></i> 消息 <span class="badge badge-red" id="user-inbox">3</span></a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#"><i class="fa fa-power-off"></i> 退出系统</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="language">
                                英文版
                            </a>
                        </li>
                    </ul>
                    <!-- /Quick Actions -->
                    <!-- Search -->
                    <div class="search" id="main-search">
                        <input type="text" placeholder="Search..."><i class="ico-search"></i>
                    </div>
                    <!-- Search end -->
                </div>
            </div>
            <!-- nav -->
            <nav id="navApp" v-cloak>
            </nav>
            <!-- Fixed navbar end -->
            <!-- Page content -->
            <div id="right-container">
                <!-- 大标题 -->
                
                <div class="content-h1" id="h1-app" v-cloak>
                    <label>标题展示</label>
                    <ol class="breadcrumb" >
                        <li v-for='(item,index) in breadcrumbArr' :class="{'active':index == breadcrumbArr.length-1}">
                            <a href="#">{{item.match(/active/)?item.split('|')[0]:item}}</a>
                        </li>
                    </ol>
                    <span class="head-tools pull-right">
                        <button class="refresh" @click="refreshFn"></button>
                    </span>


                </div>
                <!--  -->

                <div id="btns">
                    <button class="openList" style="padding: 5px 10px;margin-bottom: 10px;">展开 [1,11] ,及示例管理——示例——2层</button>
                    <br>
                    <button class="activeItem" style="padding: 5px 10px;margin-bottom: 10px;">打开 id为112的页面（container-1.html）</button>
                </div>
                
                <!-- 图表 -->
                <div class="content-h2">
                    <label># 图表 #</label>
                </div>
                <div id="chartBox">
                    
                </div>
                <div id="date">
                    
                </div>
            </div>  
        </div>
        <!-- Page content end -->
    </div>
    <!-- requireJs -->
    <script type="text/javascript" data-main="../content/normal/js/main.js" src="../content/frame/requireJs/require.min.js"></script>
    <!-- 非模块开发用法，若要用requirejs，请遵行该规范；尽量避免此种引用  -->
    <script type="text/javascript" src="../content/normal/js/data.js" ></script>
</body>
</html>