<!DOCTYPE html>
<html>

<head>
    <title>Minimal 1.0 - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/ico" href="../content/normal/images/favicon.ico" /> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../content/frame/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" >
    <link rel="stylesheet" href="../content/frame/animate/animate.min.css" >
    <link rel="stylesheet" href="../content/normal/css/theme.css" >
    <!-- my style start -->
    <link rel="stylesheet" href="../content/normal/css/my-theme.css" >
    <link rel="stylesheet" href="../content/normal/css/nav-style.css" >
    <link rel="stylesheet" href="../content/normal/css/demo.css">
    <!-- my style end -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="../content/frame/jquery.date/jquery.datetimepicker.min.css">

</head>

<body class="bg-1">
    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Make page fluid -->
        <div class="row">
            <!-- Fixed navbar -->
            <div class="navbar navbar-fixed-top" role="navigation" id="navbar">
                <!-- .nav-collapse -->
                <div class="navbar-collapse">
                    <!-- logo-->
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            微校园后台管理系统
                        </div>
                    </div>
                    <!-- logo end-->
                    <!-- Quick Actions -->
                    <ul class="nav navbar-nav quick-actions">
                        <li class="dropdown">
                            <a href="#">
                                <i class="ico-mail"></i>
                                <span class="label">1</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="ico-theme"></i>
                            </a>
                            <ul class="dropdown-menu arrow settings">
                                <li>
                                    <ul id="color-schemes">
                                        <li><a href="#" class="bg-1"></a></li>
                                        <li><a href="#" class="bg-2"></a></li>
                                        <li><a href="#" class="bg-3"></a></li>
                                        <li><a href="#" class="bg-4"></a></li>
                                        <li><a href="#" class="bg-5"></a></li>
                                        <li><a href="#" class="bg-6"></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown user">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="profile-photo">
                                    <img src="../content/normal/images/profile-photo.jpg" alt />
                                </span>
                                系统管理员<i class="ico-arr-dropdown"></i>
                            </a>
                            <ul class="dropdown-menu arrow settings">
                                <li>
                                    <a href="#"><i class="fa fa-user"></i>基本信息</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-envelope"></i> 消息 <span class="badge badge-red" id="user-inbox">3</span></a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#"><i class="fa fa-power-off"></i> 退出系统</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="language">
                                英文版
                            </a>
                        </li>
                    </ul>
                    <!-- /Quick Actions -->
                    <!-- Search -->
                    <div class="search" id="main-search">
                        <input type="text" placeholder="Search..."><i class="ico-search"></i>
                    </div>
                    <!-- Search end -->
                </div>
                <!--/.nav-collapse -->
                <!-- Sidebar -->
                <div id="vm-nav" >
                    <ul class="nav navbar-nav side-nav" id="sidebar">
                        <li>
                            <div class="sidebar-collapse">
                                <a href="#">
                                    <i class="ico-bars"></i>
                                </a>
                            </div>
                        </li>
                        <li class="navigation" v-for="(e,i) in navData">
                            <dropdown-menu v-bind:todo ='e' v-bind:index="i"></dropdown-menu>
                            <ul class="dropdown-menu">
                                <dropdown-sub-list class="dropdown" v-if="e.nodes" v-for="sub in e.nodes" v-bind:subtodo ='sub' v-bind:index ='i'></dropdown-sub-list>
                            </ul>
                        </li>
                    </ul>
                    <!-- Sidebar end -->


                    <!-- sec-Sidebar -->
                    <div class="product-nav">
                        <div class="sec-sidebar" id="sec-sidebar">
                            <h1 class="h1">{{activeNav.text}}</h1>
                            <ul class="nav navbar-nav sec-side-nav">
                                <li v-for="(event,index) in activeNav.nodes" class="navigation menu-hide">
                                    <dropdown-product-menu v-bind:todo ='event' v-bind:index="index"  v-if="event.nodes"></dropdown-product-menu>
                                    <dropdown-product-a v-bind:todo ='event' v-bind:index="index"  v-else></dropdown-product-a>
                                    <ul class="menu">
                                        <li v-for="(item,index) in event.nodes"  v-bind:class="{'dropdown':true,active:item.active}">
                                            <dropdown-product-sub-menu v-bind:todo ='item' v-bind:index="index" v-if="item.nodes"></dropdown-product-sub-menu>
                                            <dropdown-product-a v-bind:todo ='item' v-bind:index="index"  v-else></dropdown-product-a>
                                            <ul class="dropdown-menu">
                                                <dropdown-product-sub-list v-if="item.nodes" v-for="sub in item.nodes" v-bind:subtodo ='sub' v-bind:index ='index'></dropdown-product-sub-list>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-collapse sec-sidebar-collapse">
                            <a href="#"><i class="ico-arr-collapse"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fixed navbar end -->
            <!-- Page content -->
            <div id="right-container">
                <!-- 大标题 -->
                <div class="content-h2">
                    <label># 大标题 #</label>
                </div>
                <div class="content-h1">
                    <label>标题展示</label>
                    <ol class="breadcrumb">
                        <li><a href="#">首页</a></li>
                        <li><a href="#">第一层</a></li>
                        <li class="active">第二层</li>
                    </ol>
                    <span class="head-tools pull-right">
                        <button class="refresh"></button>
                    </span>
                </div>
                <div class="content-h2">
                    <label># 栅格系统 #</label>
                </div>
                <!-- 栅格系统 -->
                <div class="grid row">
                    <div class="col-md-3">
                        部门编号：<span>12312312312</span>
                    </div>
                    <div class="col-md-3">
                        部门助记码：<span>12312312312</span>
                    </div>
                    <div class="col-md-3">
                        分区名称：<span>子单位A</span>
                    </div>
                    <div class="col-md-3">
                        分区编号：<span>20202020</span>
                    </div>
                </div>
                <div class="content-h2">
                    <label># 表单 #</label>
                </div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">部门信息：</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="" placeholder="部门编号/名称/助记码">  
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-3 control-label">部门信息：</label>
                        <div class="col-sm-5">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aspopup="true" aria-expanded="false">
                                Dropdown
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">就餐时间：</label>
                        <div class="col-sm-5">
                            <div class="form-date">
                                <input id="startDate" class="form-control" type="text" placeholder="选择时间">
                            </div>
                            <em> — </em>
                            <div class="form-date">
                                <input id="endDate" class="form-control" type="text" placeholder="选择时间">
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">数字：</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" name="">
                        </div>
                    </div>
                    <div class="form-group form-group-textarea">
                        <label class="col-sm-3 control-label">描述：</label>
                        <div class="col-sm-5">
                            <textarea class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">开餐编号：</label>
                        <div class="col-sm-5">
                            <span>123123123</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">就餐时间：</label>
                        <div class="col-sm-5">
                            <span>11:30—13:00</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">多选：</label>
                        <div class="col-sm-5">
                            <div class="checkbox-btns">
                                <label class="checkbox-inline">
                                    <span class="form-checkbox"></span> 多选一
                                </label>
                                <label class="checkbox-inline">
                                    <span class="form-checkbox"></span> 多选二
                                </label>
                                <label class="checkbox-inline">
                                    <span class="form-checkbox"></span> 多选三
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">单选：</label>
                        <div class="col-sm-5">
                            <div class="radio-btns">                        
                                <label class="radio-inline">
                                    <span class="form-radio"></span> 单选一
                                </label>
                                <label class="radio-inline">
                                    <span class="form-radio"></span> 单选二
                                </label>
                                <label class="radio-inline">
                                    <span class="form-radio"></span> 单选三
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">上传：</label>
                        <div class="col-sm-5">
                            <div class="file-upload">
                                <span><input type="file" name="" class="form-control" id=""></span>
                                <button class="btn btn-default search-btn" type="submit">上传</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">测试主题主题颜色按钮：</label>
                        <div class="col-sm-5">
                            <div class="btn btn-default btn-theme">主题按钮</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">表单按钮：</label>
                        <div class="col-sm-5">
                            <div class="btn btn-default">表单按钮</div>
                            <div class="btn btn-default">提交并设置活动商户</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-5">
                            <button class="btn btn-default search-btn" type="submit">查询按钮</button>
                        </div>
                    </div>
                </form>
                <!-- 内联表单 -->
                <div class="content-h2">
                    <label># 内联表单 #</label>
                </div>
                <form class="form-inline">
                    <div class="form-group">
                        <label>部门信息：</label>
                        <input type="text" class="form-control" name="" placeholder="部门编号/名称/助记码">  
                        
                    </div> 
                    
                    <div class="form-group">
                        <label>数字：</label>
                        <input type="number" class="form-control" name="">
                    </div>
                    <div class="form-group">
                        <label>开餐编号：</label>
                        <span>123123123</span>
                    </div>
                    <div class="form-group">
                        <label>就餐时间：</label>
                        <span>11:30—13:00</span>
                    </div>
                    
                    <div class="form-group">
                        <label>主题颜色按钮：</label>
                        <div class="btn btn-default btn-theme">主题按钮</div>
                        
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default search-btn" type="submit">查询按钮</button>
                    </div>
                </form>
                <!--小标题  -->
                <div class="content-h2">
                    <label>小标题</label>
                    
                    <form class="form-inline pull-right">
                        <div class="form-group">
                            <label>数字：</label>
                            <input type="number" class="form-control" name="">
                        </div>
                        <div class="form-group">
                            <label>部门信息：</label>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aspopup="true" aria-expanded="false">
                                Dropdown
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn btn-default btn-theme">主题按钮</div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default search-btn">查询按钮</button>
                        </div>
                    </form>
                </div>
                <div class="content-h2">
                    <label># 表格 #</label>
                </div>
                <!-- 表格 table-nothing -->
                <div class="table-responsive">
                    <table class="table table-hover table-condensed" id='table'>
                        <thead>
                            <tr>
                                <th><span class="table-checkbox"></span>部门编号</th>
                                <th>部门名称</th>
                                <th>助记码</th>
                                <th>部门层级</th>
                                <th>部门所在分区</th>
                                <th>封面图片</th>
                                <th>发布时间</th>
                                <th>就餐详情</th>
                                <th>限额</th>
                                <th>就餐折扣</th>
                                <th>余额</th>
                                <th>部门状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="table-checkbox"></span>12345678901234567890</td>
                                <td>测试角色一</td>
                                <td>1234567</td>
                                <td>测试层级一</td>
                                <td>测试部门所在分区一</td>
                                <td></td>
                                <td class="time">2018-12-12 12:12:12</td>
                                <td>测试就餐详情</td>
                                <td>1231元</td>
                                <td>7.77折</td>
                                <td>12311111</td>
                                <td>测试部门状态</td>
                                <td><a href="#">查看</a><a href="#">编辑</a></td>
                            </tr>
                            <tr>
                                <td><span class="table-checkbox"></span>12345678901234567890</td>
                                <td>测试角色二</td>
                                <td>1234567</td>
                                <td>11测试层级一</td>
                                <td>11测试部门所在分区一</td>
                                <td><img src="../content/normal/images/profile-photo.jpg" alt=""></td>
                                <td class="time">2018-12-12 12:12:12</td>
                                <td>11测试就餐详情</td>
                                <td>111231元</td>
                                <td>7.77折</td>
                                <td>12311111</td>
                                <td class="ongoing">进行中</td>
                                <td><a href="#">查看</a><a href="#">编辑</a></td>
                            </tr>
                            <tr>
                                <td><span class="table-checkbox"></span>12345678901234567890</td>
                                <td>测试角色三</td>
                                <td>1234567</td>
                                <td>11测试层级一</td>
                                <td>11测试部门所在分区一</td>
                                <td><img src="../content/normal/images/profile-photo.jpg" alt=""></td>
                                <td class="time">2018-12-12 12:12:12</td>
                                <td>11测试就餐详情</td>
                                <td>111231元</td>
                                <td>7.77折</td>
                                <td>12311111</td>
                                <td class="notSarted">未开始</td>
                                <td><a href="#">查看</a><a href="#">编辑</a></td>
                            </tr>
                            <tr>
                                <td><span class="table-checkbox"></span>12345678901234567890</td>
                                <td>测试角色四</td>
                                <td>1234567</td>
                                <td>11测试层级一</td>
                                <td>11测试部门所在分区一</td>
                                <td><img src="../content/normal/images/profile-photo.jpg" alt=""></td>
                                <td class="time">2018-12-12 12:12:12</td>
                                <td>11测试就餐详情</td>
                                <td>111231元</td>
                                <td>7.77折</td>
                                <td>12311111</td>
                                <td class="cancelled">已退回</td>
                                <td><a href="#">查看</a><a href="#">编辑</a></td>
                            </tr>
                            <tr>
                                <td><span class="table-checkbox"></span>12345678901234567890</td>
                                <td>测试角色五</td>
                                <td>1234567</td>
                                <td>11测试层级一</td>
                                <td>11测试部门所在分区一</td>
                                <td><img src="../content/normal/images/profile-photo.jpg" alt=""></td>
                                <td class="time">2018-12-12 12:12:12</td>
                                <td>11测试就餐详情</td>
                                <td>111231元</td>
                                <td>7.77折</td>
                                <td>12311111</td>
                                <td class="agreed">已审批</td>
                                <td><a href="#">查看</a><a href="#">编辑</a></td>
                            </tr>
                            <tr>
                                <td><span class="table-checkbox"></span>12345678901234567890</td>
                                <td>测试角色五</td>
                                <td>1234567</td>
                                <td>11测试层级一</td>
                                <td>11测试部门所在分区一</td>
                                <td><img src="../content/normal/images/profile-photo.jpg" alt=""></td>
                                <td class="time">2018-12-12 12:12:12</td>
                                <td>11测试就餐详情</td>
                                <td>111231元</td>
                                <td>7.77折</td>
                                <td>12311111</td>
                                <td class="started">启用</td>
                                <td><a href="#">查看</a><a href="#">编辑</a></td>
                            </tr>
                            <tr>
                                <td><span class="table-checkbox"></span>12345678901234567890</td>
                                <td>测试角色五</td>
                                <td>1234567</td>
                                <td>11测试层级一</td>
                                <td>11测试部门所在分区一</td>
                                <td><img src="../content/normal/images/profile-photo.jpg" alt=""></td>
                                <td class="time">2018-12-12 12:12:12</td>
                                <td>11测试就餐详情</td>
                                <td>111231元</td>
                                <td>7.77折</td>
                                <td>12311111</td>
                                <td class="ban">禁止</td>
                                <td><a href="#">查看</a><a href="#">编辑</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="nothing" style="display: none">
                        <span>暂时无数据</span>
                    </div>
                </div>
                <!-- 分页 -->
                <div class="content-h2">
                    <label># 分页 #</label>
                </div>
                <div id="paging-app">
                    <div>
                        <div class="page"  v-show="show">
                            <div class="pagelist">
                                <span class="auxiliary">共</span>
                                <span class="auxiliary">10</span>
                                <span class="auxiliary">页/</span>
                                <span class="auxiliary auxiliary-last">100条数据</span>
                                <span class="jump" :class="{disabled:pstart}" @click="current_page--"><</span>
                                <span v-show="current_page>5" class="jump" @click="jumpPage(1)">1</span>
                                <span class="ellipsis"  v-show="efont">...</span>
                                <span class="jump" v-for="num in indexs" :class="{bgprimary:current_page==num}" @click="jumpPage(num)">{{num}}</span>
                                <span class="ellipsis"  v-show="ebehind">...</span>
                                <span :class="{disabled:pend}" class="jump" @click="current_page++">></span>
                                <span v-show="current_page<pages-4" class="jump" @click="jumpPage(pages)">{{pages}}</span>
                                <span class="jumppoint auxiliary">跳至：</span>
                                <span class="jumpinp "><input type="text" v-model="changePage"></span>
                                <span class="jumppoint auxiliary">页</span>
                                <span class="jump gobtn auxiliary" @click="jumpPage(changePage)">GO</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 栅格系统 -->
                <div class="content-h2">
                    <label># 栅格系统 #</label>
                </div>
                <div class="grid row">
                    <div class="col-md-5">
                        部门编号：<span>12312312312</span>
                    </div>
                    <div class="col-md-4">
                        部门助记码：<span>12312312312</span>
                    </div>
                    <div class="col-md-3">
                        分区名称：<span>子单位A</span>
                    </div>
                </div>
                <div class="grid row">
                    <div class="col-md-3">
                        部门层级：<div class="dropdown">
                            <div class="btn btn-default dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                                <span class="caret"></span>
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        部门助记码：<span>12312312312</span>
                    </div>
                </div>
                <!-- 图表 -->
                <!-- <div class="content-h2">
                    <label># 图表 #</label>
                </div>
                <div id="myChart" style="width: 1000px;height:700px;"></div> -->
                <!-- 卡片 -->
                <div class="content-h2">
                    <label># 卡片 #</label>
                </div>
                <div class="cards">
                    <div class="item-card">
                        <label for="">
                            <span>水费</span>
                            <button class="edit">编辑</button>
                            <em><i>已使用</i></em>
                        </label>
                        <div class="person">赵老师</div>
                        <div class="time">2018.12.12 12：12</div>
                        <div class="tools">
                            <button>编辑</button>
                            <button>删除</button>
                        </div>
                    </div>
                    <div class="item-card">
                        <label for="">
                            <span>房屋维修</span>
                            <button class="edit">编辑</button>
                            <em class="forbid"><i>已禁用</i></em>
                        </label>
                        <div class="person">赵老师</div>
                        <div class="time">2018.12.12 12：12</div>
                        <div class="tools">
                            <button>编辑</button>
                            <button>删除</button>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <!-- Page content end -->
    </div>
    <!-- requireJs -->
    <script type="text/javascript" data-main="../content/normal/js/main.js" src="../content/frame/requireJs/require.min.js"></script>
    <!-- 非模块开发用法，若要用requirejs，请遵行该规范；尽量避免此种引用  -->
    <script type="text/javascript" src="../content/normal/js/data.js"></script>
    <script type="text/javascript" src="../content/normal/js/v-nav.js"></script>
</body>
</html>