<!DOCTYPE html>
<html>
  
  <head>
    <title>Minimal 1.0 - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/ico" href="../content/normal/images/favicon.ico" />-->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../content/frame/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="../content/frame/animate/animate.min.css">
    <link rel="stylesheet" href="../content/normal/css/theme-two.css">
    <link rel="stylesheet" href="../content/normal/css/base.css">
    <!-- my style end -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../content/frame/jquery.date/jquery.datetimepicker.min.css"></head>
  
  <body class="bg-1">
    <!-- Wrap all page content here -->
    <div id="wrap">
      <!-- Make page fluid -->
      <div class="row">
        <!-- Fixed navbar -->
        <div class="navbar navbar-fixed-top" role="navigation" id="navbar">
          <!-- .nav-collapse -->
          <div class="navbar-collapse">
            <!-- logo-->
            <div class="navbar-header">
              <div class="navbar-brand">微校园后台管理系统</div></div>
            <!-- logo end-->
            <!-- Quick Actions -->
            <ul class="nav navbar-nav quick-actions">
              <li class="dropdown">
                <a href="#">
                  <i class="ico-mail"></i>
                  <span class="label">1</span></a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="ico-theme"></i>
                </a>
                <ul class="dropdown-menu arrow settings">
                  <li>
                    <ul id="color-schemes">
                      <li>
                        <a href="#" class="bg-1"></a>
                      </li>
                      <li>
                        <a href="#" class="bg-2"></a>
                      </li>
                      <li>
                        <a href="#" class="bg-3"></a>
                      </li>
                      <li>
                        <a href="#" class="bg-4"></a>
                      </li>
                      <li>
                        <a href="#" class="bg-5"></a>
                      </li>
                      <li>
                        <a href="#" class="bg-6"></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown user">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="profile-photo">
                    <img src="../content/normal/images/profile-photo.jpg" alt /></span>系统管理员
                  <i class="ico-arr-dropdown"></i></a>
                <ul class="dropdown-menu arrow settings">
                  <li>
                    <a href="#">
                      <i class="fa fa-user"></i>基本信息</a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-envelope"></i>消息
                      <span class="badge badge-red" id="user-inbox">3</span></a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">
                      <i class="fa fa-power-off"></i>退出系统</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="language">英文版</a></li>
            </ul>
            <!-- /Quick Actions -->
            <!-- Search -->
            <div class="search" id="main-search">
              <input type="text" placeholder="Search...">
              <i class="ico-search"></i>
            </div>
            <!-- Search end --></div>
          <!--/.nav-collapse -->
          <!-- Sidebar -->
          <div id="vm-nav">
            <ul id="sidebar" class="nav navbar-nav side-nav collapsed">
              <li>
                <div class="sidebar-collapse">
                  <a href="#">
                    <i class="ico-bars"></i>
                  </a>
                </div>
              </li>
              <li class="navigation active">
                <a href="#" data-toggle="dropdown" set-index="0" class="sidebar-toggle" aria-expanded="true">
                  <i class="icon-service"></i>
                  <span>统一认证授权</span>
                  <i class="ico-arr-project"></i>
                </a>
                <ul class="dropdown-menu">
                  <li class="active">
                    <a href="#">
                      <i class="icon-repair"></i>示例-2层-0</a>
                  </li>
                  <li class="dropdown open active">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">
                      <i class="icon-repair"></i>示例-2层
                      <b class="ico-arr-dropdown"></b></a>
                    <ul class="dropdown-menu">
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">示例-3层1
                          <b class="ico-arr-plus"></b></a>
                        <ul class="dropdown-menu">
                          <li class="dropdown open">
                            <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">示例-4层1
                              <b class="ico-arr-plus"></b></a>
                            <ul class="dropdown-menu active">
                              <li class="dropdown active">
                                <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-5层1-选中
                                  <!----></a>
                                <ul class="dropdown-menu"></ul>
                              </li>
                              <li class="dropdown open">
                                <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">示例-5层2
                                  <!----></a>
                                <ul class="dropdown-menu"></ul>
                              </li>
                            </ul>
                          </li>
                          <li class="dropdown">
                            <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-4层2
                              <!----></a>
                            <ul class="dropdown-menu"></ul>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-3层2
                          <b class="ico-arr-plus"></b></a>
                        <ul class="dropdown-menu">
                          <li class="dropdown">
                            <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-4层1
                              <b class="ico-arr-plus"></b></a>
                            <ul class="dropdown-menu">
                              <li class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-5层1
                                  <!----></a>
                                <ul class="dropdown-menu"></ul>
                              </li>
                              <li class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-5层2
                                  <!----></a>
                                <ul class="dropdown-menu"></ul>
                              </li>
                            </ul>
                          </li>
                          <li class="dropdown">
                            <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-4层2
                              <!----></a>
                            <ul class="dropdown-menu"></ul>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-3层3
                          <!----></a>
                        <ul class="dropdown-menu"></ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                      <i class="icon-repair"></i>示例-sub2
                      <b class="ico-arr-dropdown"></b></a>
                    <ul class="dropdown-menu">
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub2-sub
                          <!----></a>
                        <ul class="dropdown-menu"></ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub2-sub
                          <!----></a>
                        <ul class="dropdown-menu"></ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub2-sub
                          <!----></a>
                        <ul class="dropdown-menu"></ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                      <i class="icon-repair"></i>示例-sub3
                      <b class="ico-arr-dropdown"></b></a>
                    <ul class="dropdown-menu">
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub3-sub
                          <!----></a>
                        <ul class="dropdown-menu"></ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub3-sub
                          <!----></a>
                        <ul class="dropdown-menu"></ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub3-sub
                          <!----></a>
                        <ul class="dropdown-menu"></ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

            </ul>
            <!--<div class="sidebar-collapse sec-sidebar-collapse" id="sec-sidebar">
            <a href="#">
            <i class="ico-arr-collapse"></i></a>
            </div>-->
            <div class="product-nav">
              <div id="sec-sidebar" class="sec-sidebar">
                <h1 class="h1">示例管理</h1>
                <ul class="nav navbar-nav sec-side-nav">
                  <li class="navigation dropdown">
                    <a href="#" set-index="0" class="sidebar-toggle">
                      <i class="ico-arr-down-black"></i>示例-2层</a>
                    <ul class="dropdown-menu">
                      <li class="active">
                        <a href="#">树形标12312题一</a></li>
                    </ul>
                  </li>
                  <li class="navigation" id="navigation1">
                    <a href="#" class="sidebar-toggle" data-toggle="#navigation1">
                      <i class="ico-arr-down-black"></i>树形标题二</a>
                    <ul class="menu">
                      <li class="active">
                        <a href="">树形子标题一</a></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">树形子标题二-sub
                          <b class="ico-arr-plus-black"></b></a>
                        <ul class="dropdown-menu">
                          <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                              <i class="icon-repair"></i>示例-sub2
                              <b class="ico-arr-dropdown"></b></a>
                            <ul class="dropdown-menu">
                              <li class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub2-sub
                                  <!----></a>
                                <ul class="dropdown-menu"></ul>
                              </li>
                              <li class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub2-sub
                                  <!----></a>
                                <ul class="dropdown-menu"></ul>
                              </li>
                              <li class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">示例-sub2-sub
                                  <!----></a>
                                <ul class="dropdown-menu"></ul>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href="">树形孙标题二</a></li>
                          <li>
                            <a href="">树形孙标题三</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">树形子标题三
                          <b class="ico-arr-plus-black"></b></a>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="">树形孙标题一</a></li>
                          <li>
                            <a href="">树形孙标题二</a></li>
                          <li>
                            <a href="">树形孙标题三</a></li>
                          <li>
                            <a href="">树形孙标题一</a></li>
                          <li>
                            <a href="">树形孙标题二</a></li>
                          <li>
                            <a href="">树形孙标题三</a></li>
                          <li>
                            <a href="">树形孙标题一</a></li>
                          <li>
                            <a href="">树形孙标题二</a></li>
                          <li>
                            <a href="">树形孙标题三</a></li>
                          <li>
                            <a href="">树形孙标题二</a></li>
                          <li>
                            <a href="">树形孙标题三</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="navigation dropdown">
                    <a href="#" set-index="1" class="sidebar-toggle">
                      <i class="ico-arr-down-black"></i>示例-sub2</a>
                    <ul class="dropdown-menu">
                      <li class="active">
                        <a href="#">树形标12312题一</a></li>
                    </ul>
                  </li>
                  <li class="navigation dropdown">
                    <a href="#" set-index="2" class="sidebar-toggle">
                      <i class="ico-arr-down-black"></i>示例-sub3</a>
                    <ul class="dropdown-menu">
                      <li class="active">
                        <a href="#">树形标12312题一</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="sidebar-collapse sec-sidebar-collapse">
                <a href="#">
                  <i class="ico-arr-collapse"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Fixed navbar end -->



        <!-- Page content -->
        <div id="content" class="col-md-12">
          <!-- page header -->
          <!-- 大标题 -->
          <div class="pageheader">
            <h1>
              <i class="h1-title"></i>微校园后台管理系统
            </h1>
            <!--如果有个别页面要显示面包屑的 start-->
            <div class="breadcrumbs">
              <ol class="breadcrumb">
                <li>
                  <a href="">子栏目</a></li>
                <li class="active">具体页面名称</li></ol>
            </div>
            <!--如果有个别页面要显示面包屑的 end-->
            <div class="pull-right">
              <a href="" id="refresh-toggler" class="refresh" title="刷新">
                <i class="icon-refresh"></i>
              </a>
            </div>
          </div>
          <!-- /page header -->
          <div class="main">
           
            <div id="div-oidc-rolesetting">
                <div id="unidentifieds-handle" class="form-inline">
                  <div class="form-group">
                    <label>机构:</label>
                    <select placeholder="请选择机构" class="form-control">
                      <option value="dlmu">大连海事大学</option>
                      <option value="zju">浙江大学</option>
                      <option value="sdu">山东大学</option></select>
                  </div>
                  <div class="form-group">
                    <label>角色名称：</label>
                    <input type="text" placeholder="角色名称" class="form-control"></div>
                  <button class="btn btn-default btn-primary">查询</button>
                  <button class="btn btn-default">按已输入的角色名创建新角色</button></div>
                <div>
                <div class="clearfix height10"></div>
                <!--注：id="div-oidc-rolesetting-roles" 当右侧有内容时加class="collapsed"，无时则不加class-->
                  <div id="div-oidc-rolesetting-roles" class="collapsed">
                    <div class="card card-1 alert">
                      <dl>
                        <dt>
                          <big>大连海事大学校管2</big></dt>
                        <dd>所属：</dd>
                        <dd>备注：</dd></dl>
                      <div class="operation-list">
                        <span>用户</span>
                        <span>维护</span>
                        <span>删除</span>
                        <span>开启</span></div>
                    </div>
                    <div class="card card-1 alert cur">
                      <dl>
                        <dt>
                          <big>大连海事大学校管1</big></dt>
                        <dd>所属：</dd>
                        <dd>备注：</dd></dl>
                      <div class="operation-list">
                        <span>用户</span>
                        <span>维护</span>
                        <span>删除</span>
                        <span>开启</span></div>
                    </div>
                    <div class="card card-1 alert">
                      <dl>
                        <dt>
                          <big>大连海事大学校管0</big></dt>
                        <dd>所属：</dd>
                        <dd>备注：</dd></dl>
                      <div class="operation-list">
                        <span>用户</span>
                        <span>维护</span>
                        <span>删除</span>
                        <span>开启</span></div>
                    </div>
                    <div class="card card-1 alert">
                      <dl>
                        <dt>
                          <big>大连海事大学校管0</big></dt>
                        <dd>所属：</dd>
                        <dd>备注：</dd></dl>
                      <div class="operation-list">
                        <span>用户</span>
                        <span>维护</span>
                        <span>删除</span>
                        <span>开启</span></div>
                    </div>
                    <div class="card card-1 alert">
                      <dl>
                        <dt>
                          <big>大连海事大学校管0</big></dt>
                        <dd>所属：</dd>
                        <dd>备注：</dd></dl>
                      <div class="operation-list">
                        <span>用户</span>
                        <span>维护</span>
                        <span>删除</span>
                        <span>开启</span></div>
                    </div>
                  </div>
                  <div id="div-oidc-rolesetting-roleuser" class="pull-right userlist">
                      <div class="clearfix marginb20">
                            <h3>大连海事大学校管2</h3>
                        <div class="pull-right">
                            <button id="btnEmpty" class="btn btn-lg btn-sm  btn-default btn-default">保存</button>
                            <button id="btnClear" type="reset" class="btn  btn-lg btn-sm btn-default">关闭</button>
                         </div>
                     
                     </div>
                     <div class="clearfix"></div>
                     
                    <div id="div-oidc-rolesetting-role-filter">
                      <div id="unidentifieds-handle" class="form-inline">
                        <div class="form-group marginr0">
                          <input type="text" placeholder="输入用户信息快速定位" class="form-control"></div>
                        <button class="btn btn-default">按学工号查询</button></div>
                      <div class="card card-4 alert forward-1" style="display: none;">
                        <span class="close">+</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img src="http://localhost:8080/"></span>
                        </div>
                        <dl>
                          <dt>
                            <big></big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：</dd>
                          <dd>部门：</dd></dl>
                      </div>
                    </div>
                    <div id="div-oidc-rolesetting-role-users">
                      <div class="card card-4 alert forward-1">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName001</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：001001</dd>
                          <dd>部门：OrgDeptName001</dd></dl>
                      </div>
                      <div class="card card-4 alert forward-2">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName005</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：005005</dd>
                          <dd>部门：OrgDeptName005</dd></dl>
                      </div>
                      <div class="card card-4 alert">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName033</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：033033</dd>
                          <dd>部门：OrgDeptName033</dd></dl>
                      </div>
                      <div class="card card-4 alert">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName065</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：065065</dd>
                          <dd>部门：OrgDeptName065</dd></dl>
                      </div>
                      <div class="card card-4 alert">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName085</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：085085</dd>
                          <dd>部门：OrgDeptName085</dd></dl>
                      </div>
                      <div class="card card-4 alert">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName097</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：097097</dd>
                          <dd>部门：OrgDeptName097</dd></dl>
                      </div>
                      <div class="card card-4 alert">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName129</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：129129</dd>
                          <dd>部门：OrgDeptName129</dd></dl>
                      </div>
                      <div class="card card-4 alert">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName161</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：161161</dd>
                          <dd>部门：OrgDeptName161</dd></dl>
                      </div>
                      <div class="card card-4 alert">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName165</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：165165</dd>
                          <dd>部门：OrgDeptName165</dd></dl>
                      </div>
                      <div class="card card-4 alert">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName193</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：193193</dd>
                          <dd>部门：OrgDeptName193</dd></dl>
                      </div>
                      <div class="card card-4 alert">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName225</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：225225</dd>
                          <dd>部门：OrgDeptName225</dd></dl>
                      </div>
                      <div class="card card-4 alert">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName245</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：245245</dd>
                          <dd>部门：OrgDeptName245</dd></dl>
                      </div>
                      <div class="card card-4 alert">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName257</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：257257</dd>
                          <dd>部门：OrgDeptName257</dd></dl>
                      </div>
                      <div class="card card-4 alert">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName289</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：289289</dd>
                          <dd>部门：OrgDeptName289</dd></dl>
                      </div>
                      <div class="card card-4 alert">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName321</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：321321</dd>
                          <dd>部门：OrgDeptName321</dd></dl>
                      </div>
                      <div class="card card-4 alert">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName325</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：325325</dd>
                          <dd>部门：OrgDeptName325</dd></dl>
                      </div>
                      <div class="card card-4 alert">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName353</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：353353</dd>
                          <dd>部门：OrgDeptName353</dd></dl>
                      </div>
                      <div class="card card-4 alert">
                        <span class="close">×</span>
                        <div class="pull-left">
                          <span class="photo-rectangle">
                            <img></span>
                        </div>
                        <dl>
                          <dt>
                            <big>RealName385</big>
                            <i class="icon-male">男</i></dt>
                          <dd>学工号：385385</dd>
                          <dd>部门：OrgDeptName385</dd></dl>
                      </div>
                    </div>
                    <!--<div class="col-md-offset-3 col-md-8">
                      <button id="btnEmpty" class="btn btn-lg btn-default btn-primary">保存</button>
                      <button id="btnClear" type="reset" class="btn btn-lg btn-default">关闭</button></div>-->
                  </div>



                  <div id="div-oidc-rolesetting-rolefunc" class="pull-right userlist" style="display:none;">
                      <div class="clearfix marginb20">
                          <h3>大连海事大学校管2</h3>
                      </div>
                      <div id="tree">
                          <tree :data="data2" show-checkbox></tree>
                      </div>
                    <div id="treea" tid="div-oidc-rolesetting-rolesysfunc-tree">
                      <div class="ivu-tree">
                        <ul class="ivu-tree-children" data-old-padding-top="" data-old-padding-bottom="" style="" visible="visible" data-old-overflow="">
                          <li>
                            <span class="ivu-tree-arrow">
                              <!---->
                              <!----></span>
                            <label class="ivu-checkbox-wrapper">
                              <span class="ivu-checkbox">
                                <span class="ivu-checkbox-inner"></span>
                                <input type="checkbox" class="ivu-checkbox-input"></span>
                              <!----></label>
                            <span class="ivu-tree-title">测试系统</span></li>
                        </ul>
                        <ul class="ivu-tree-children" data-old-padding-top="" data-old-padding-bottom="" style="" visible="visible" data-old-overflow="">
                          <li>
                            <span class="ivu-tree-arrow">
                              <i class="ivu-icon ivu-icon-arrow-right-b"></i>
                              <!----></span>
                            <label class="ivu-checkbox-wrapper">
                              <span class="ivu-checkbox">
                                <span class="ivu-checkbox-inner"></span>
                                <input type="checkbox" class="ivu-checkbox-input"></span>
                              <!----></label>
                            <span class="ivu-tree-title">统一认证授权</span>
                            <!---->
                            <!----></li>
                        </ul>
                        <!----></div>
                    </div>                      
                  </div>
                </div>
             
             
             
             
             
                <div class="clearfix"></div>
              </div>

          

          </div>
          <!-- /content container --></div>
        <!-- Page content end --></div>
      <!-- Make page fluid--></div>

      <!-- Wrap all page content end -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="../content/frame/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="../content/frame/bootstrap/js/bootstrap.js"></script>
    
    
    <!-- my js start -->
    <script type="text/javascript" src="../content/frame/bootstrap/js/my-dropdown.js"></script>
    <script type="text/javascript" src="../content/frame/vuejs/vue.js"></script>
    <script type="text/javascript" src="../content/normal/js/ data.js"></script>
    <script type="text/javascript" src="../content/normal/js /v-nav.js"></script>
    <!-- my js end -->

    <script type="text/javascript" src="../content/frame/nicescroll/jquery.nicescroll.min.js"></script>


    <script type="text/javascript" src="../content/frame/jquery.date/jquery.datetimepicker.full.min.js"></script>

    <script type="text/javascript" src="../content/normal/js/frame.js"></script>



    <script type="text/javascript" src="../content/frame/bootstrap/js/bootstrap-filestyle.js"></script>

  <script>
    // 卡片
    $(".item-card").on("click",function(event){
        if($(event.target).hasClass("edit")){
            $(".tools",this).addClass("show");
        }else{
            $(".tools",this).removeClass("show");
        }
    });

    //美化滚动条
    $("#div-oidc-rolesetting-role-users").niceScroll({
        cursorcolor: "#000000",
        zindex: 999999,
        bouncescroll: true,
        cursoropacitymax: 0.3,
        cursorborder: "",
        cursorborderradius: 10,
        cursorwidth: "6px",
        railalign: "right",
        railoffset: {
            top: 0,
            right:0
        },
        railpadding: {
            top: 0,
            right: 2,
            left: 2,
            bottom: 0
        }
    });
  </script>


<script src="../content/frame/iview/iview.min.js"></script>
<link rel="stylesheet" href="../content/frame/iview/iview.css">


<script>
                      
    var Main = {
        data () {
            return {
                data2: [
                    {
                        title: 'parent 1',
                        expand: true,
                        children: [
                            {
                                title: 'parent 1-1',
                                expand: true,
                                children: [
                                    {
                                        title: 'leaf 1-1-1'
                                    },
                                    {
                                        title: 'leaf 1-1-2',
                                        disabled: true
                                    }
                                ]
                            },
                            {
                                title: 'parent 1-2',
                                expand: true,
                                children: [
                                    {
                                        title: 'leaf 1-2-1'
                                    },
                                    {
                                        title: 'leaf 1-2-1'
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        }
    }

var Component = Vue.extend(Main)
new Component().$mount('#tree')
</script>
</body>
</html>