<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>快享client-收藏</title>
		<link rel="stylesheet" href="../../content/common/css/common.css" />
		<link rel="stylesheet" href="../../content/shoucang/css/shoucang.css" />
		<script type="text/javascript" src="../../content/common/js/jquery.main.js" ></script>
	</head>
	<body>
		<header>
			<div class="header header-border">
				<img class="header-login" src="../../content/common/img/logo@2x.png" srcset="../../content/common/img/logo@2x.png 2x,../../content/common/img/logo@3x.png 3x" />
				<h3 class="header-title header-title-top">快享</h3>
				<!-- 头部工具 -->
				<div class="header-tools">
					<!-- 收藏 -->
					<div class='header-collcetion-btn'>
						<button class="active">收藏</button>
					</div>
					<!-- 推荐 -->
					<div class="header-recommend-btn">
						<button>推荐</button>
					</div>
					<!-- 搜索 -->
					<div class="header-search-btn">
						<input type="text" name="" placeholder="请输入关键字">
						<button></button>
					</div>
					<div class="header-right">
						<!-- 通讯录 -->
						<div class="header-maillist-btn">
							<button></button>
						</div>
						<!-- 消息 -->
						<div class="header-message-btn">
							<button></button>
							<em class="message-tips"></em>
						</div>
						<!-- 个人 -->
						<div class="header-info">
							<a>
								<div class="header-info-img">
									<img src="../../content/common/img/header.png">
								</div>
								<p>风清扬</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="content collection">

			<!-- h1 标题 -->
			<h1>腾讯金融学院成立，致力成为培养互联网与金融复合型人才</h1>
			<!-- h2 副标题 -->
			<h2>
				<img src="../../content/common/img/Bitmap@2x.png">
				<em>微交互</em>
				<i>2017-12-12</i>
			</h2>
			<!-- p 文章内容 -->
			<p>腾讯金融学院挂牌仪式在深圳举行。腾讯集团副总裁、腾讯支付基础平台与金融应用线负责人腾讯金融学院院长赖智明，北京大学汇丰商学院经济学教授何帆，国家金融与发展实验室银行研究中心主任曾刚等嘉宾出席仪式。</p>
			<div class="content-img">
				<img src="../../content/shoucang/img/img-1.jpg">
			</div>
			<p>腾讯金融学院挂牌仪式在深圳举行。腾讯集团副总裁、腾讯支付基础平台与金融应用线负责人腾讯金融学院院长赖智明，北京大学汇丰商学院经济学教授何帆，国家金融与发展实验室银行研究中心主任曾刚等嘉宾出席仪式。</p>
			<div class="content-img">
				<img src="../../content/shoucang/img/img-2.jpg">
			</div>
			<p>腾讯金融学院挂牌仪式在深圳举行。腾讯集团副总裁、腾讯支付基础平台与金融应用线负责人腾讯金融学院院长赖智明，北京大学汇丰商学院经济学教授何帆，国家金融与发展实验室银行研究中心主任曾刚等嘉宾出席仪式。</p>
		</div>
	</body>
</html>
