body{
	background: #efefef;
	overflow: hidden;
}
ul,ol,li{
	list-style: none;
}
em,i{
	font-style: normal;
}
input,button,textarea{
	outline: none;
}
a:active,a:hover{
	text-decoration: none;
}
::-webkit-input-placeholder { /* WebKit browsers */ 
color: #a8a8a8; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #a8a8a8; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #a8a8a8; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #a8a8a8; 
} 
/* 标题 */
.navbar{
	margin:0; 
	border: none;
	min-height: 45px;
	z-index: 1;
}
.smart-message{

}
.smart-message-true:after{
	content: "●";
	color:red;
	font-size: 20px;
	position: absolute;
	top:0px;
	right: 0;
}

.smart-header {
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 45px;
	min-height: 45px;
	text-align: center;
}
.smart-header-fixed{
	position: fixed;
}
.smart-header-abs{
	position: absolute;
}
.smart-icon-right,.smart-icon-left{
	position: absolute;
	width: 45px;
	height: 45px;
	min-height: 45px;
	top: 0;
	z-index: 1;
	padding: 10px;
}
.smart-header .smart-icon-right{
	right:0;
}
.smart-header .smart-icon-left{
	left:0;
}
.smart-header .smart-back img,.smart-header .smart-scan-code img {
	/*width:100%;*/
	vertical-align: top;
}
.smart-header h1 {
	display: inline-block;
	color: #fff;
	margin: 0;
	font-size: 16px;
	line-height: 45px;
}
.smart-header .smart-cancel,.smart-header .smart-screen{
	color:#a8a8a8;
	font-size: 15px;
	position: absolute;
	width: 45px;
	height: 45px;
	right: 0;
	top: 0;
	z-index: 1;
	padding: 0px;
	line-height: 45px;
	font-weight: normal;
	text-align: left;
}
.smart-header.smart-white{
	background: #fff;
}
/* 边框 */
/*.smart-header:after,*/
.smart-gear:after,
.smart-accordion .smart-sub-list .smart-sub-list-item:first-child:before,
.smart-header.smart-white:after,
.smart-accordion .panel-default:after,
.smart-sub-list .smart-sub-list-item:not(:last-child):after, 
.smart-list.smart-list-space .smart-list-item:not(:last-child):after,
.smart-list:after,
.smart-sub-list:after,
.smart-content .smart-account:after,
.smart-payment-box:after,
.smart-keyboard-head:after,
.campus-index .smart-list-item:after,
.campus-CJ-table thead:after,
.campus-CJ-table tbody tr:after,
.campus-CJ-table thead tr th:after,
.campus-CJ-table tbody tr td:after{
	content:" ";
	height: 1px;
 	position: absolute;
 	left:0;
 	width: 100%;
 	background: #e0e0e0;
	transform: rotateX(45deg);
	-webkit-transform: rotateX(45deg);
}
/* 上边框 */

.smart-accordion .smart-sub-list .smart-sub-list-item:first-child:before{
	top:0;
}
/* 下边框 */
/*.smart-header:after,*/
.smart-gear:after,
.smart-list:after,
.smart-sub-list:after,
.smart-header.smart-white:after,
.smart-accordion .panel-default:after,
.smart-sub-list .smart-sub-list-item:not(:last-child):after, 
.smart-list.smart-list-space .smart-list-item:not(:last-child):after,
.smart-content .smart-account:after,
.smart-payment-box:after,
.smart-keyboard-head:after,
.campus-index .smart-list-item:after,
.campus-CJ-table thead:after,
.campus-CJ-table tbody tr:after,
.campus-CJ-table thead tr th:after,
.campus-CJ-table tbody tr td:after{
 	bottom: 0;
}
.smart-header.smart-white h1 {
  color: #000;
}
/* 无下边框 */
.smart-header.smart-border-0:after{
	height: 0;
}
/* 加载中 */
.smart-loading{
	text-align: center;
	padding: 10px;
}
.smart-loading:after{
	content:"加载中 . . .";
	display: block;
	color:#afafaf;
}
.smart-loading .mui-waiting {
	display: block;
	margin: 0 auto;
	
}
.smart-waiting {
	display: inline-block;
	width: 24px;
	height: 24px;
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-animation: waiting-spin 1s step-end infinite;
	animation: waiting-spin 1s step-end infinite
}

.smart-waiting:after {
	display: block;
	width: 100%;
	height: 100%;
	content: '';
	background-image: url('data:image/svg+xml;charset=utf-8,<svg viewBox=\'0 0 120 120\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'><defs><line id=\'l\' x1=\'60\' x2=\'60\' y1=\'7\' y2=\'27\' stroke=\'%236c6c6c\' stroke-width=\'11\' stroke-linecap=\'round\'/></defs><g><use xlink:href=\'%23l\' opacity=\'.27\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(30 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(60 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(90 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(120 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(150 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.37\' transform=\'rotate(180 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.46\' transform=\'rotate(210 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.56\' transform=\'rotate(240 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.66\' transform=\'rotate(270 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.75\' transform=\'rotate(300 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.85\' transform=\'rotate(330 60,60)\'/></g></svg>');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100%
}
/* 加载结果 nothing */
.smart-nothing .smart-waiting{
	display: none;
}
.smart-nothing:after{
	content:"无结果";
	color:#afafaf;
}
/*
.smart-waiting-white:after {
	background-image: url('data:image/svg+xml;charset=utf-8,<svg viewBox=\'0 0 120 120\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'><defs><line id=\'l\' x1=\'60\' x2=\'60\' y1=\'7\' y2=\'27\' stroke=\'%23fff\' stroke-width=\'11\' stroke-linecap=\'round\'/></defs><g><use xlink:href=\'%23l\' opacity=\'.27\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(30 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(60 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(90 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(120 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(150 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.37\' transform=\'rotate(180 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.46\' transform=\'rotate(210 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.56\' transform=\'rotate(240 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.66\' transform=\'rotate(270 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.75\' transform=\'rotate(300 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.85\' transform=\'rotate(330 60,60)\'/></g></svg>')
}*/

@-webkit-keyframes waiting-spin {
	0% {
		-webkit-transform: rotate(0deg)
	}
	8.33333333% {
		-webkit-transform: rotate(30deg)
	}
	16.66666667% {
		-webkit-transform: rotate(60deg)
	}
	25% {
		-webkit-transform: rotate(90deg)
	}
	33.33333333% {
		-webkit-transform: rotate(120deg)
	}
	41.66666667% {
		-webkit-transform: rotate(150deg)
	}
	50% {
		-webkit-transform: rotate(180deg)
	}
	58.33333333% {
		-webkit-transform: rotate(210deg)
	}
	66.66666667% {
		-webkit-transform: rotate(240deg)
	}
	75% {
		-webkit-transform: rotate(270deg)
	}
	83.33333333% {
		-webkit-transform: rotate(300deg)
	}
	91.66666667% {
		-webkit-transform: rotate(330deg)
	}
	100% {
		-webkit-transform: rotate(360deg)
	}
}

@keyframes waiting-spin {
	0% {
		transform: rotate(0deg)
	}
	8.33333333% {
		transform: rotate(30deg)
	}
	16.66666667% {
		transform: rotate(60deg)
	}
	25% {
		transform: rotate(90deg)
	}
	33.33333333% {
		transform: rotate(120deg)
	}
	41.66666667% {
		transform: rotate(150deg)
	}
	50% {
		transform: rotate(180deg)
	}
	58.33333333% {
		transform: rotate(210deg)
	}
	66.66666667% {
		transform: rotate(240deg)
	}
	75% {
		transform: rotate(270deg)
	}
	83.33333333% {
		transform: rotate(300deg)
	}
	91.66666667% {
		transform: rotate(330deg)
	}
	100% {
		transform: rotate(360deg)
	}
}
/* 快速 */
.fast-way-left,.fast-way-right{
	position: absolute;
	bottom: 30%;
	color:#c6c6c6;
	padding:10px 30px;
	
	background-color: rgba(0,0,0,.8);
	border-radius: 5rem;
	transition: background-color .1s ease-in;
	-webkit-transition: background-color .1s ease-in;
}
.fast-way-left:after,.fast-way-right:after{
	content:" ";
	position: absolute;
	width: 20px;
	height: 20px;
	top:50%;
	margin-top:-10px;
	background: url(../img/continue-1.png) no-repeat center;
}
.fast-way-right{
	background-color: rgba(0,0,0,.8);
	background-position: 0;
	right:-20px;
}
.fast-way-right:after{
	transform: rotateZ(180deg);
	left:10px;
}
.fast-way-left{
	left:-20px;
}
.fast-way-left:active,.fast-way-right:active{
	background-color: rgba(0,0,0,.6);
}



/* 弹出层提示 */
.smart-tips{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.5);
	top:0;
	left:0;
	z-index: 999;
	padding:15%;
}
.smart-tips-box{
	background: #fff;
	border-radius: 5px;
}
.smart-tips h1{
	color:#000;
	font-size: 20px;
	text-align: center;
	padding:10% 0 ;
}
.smart-tips p{
	color:#8d8d8d;
	font-size: 16px;
	width: 60%;
	padding: 7rem 0;
	margin:0 auto;
}
.smart-tips .smart-close{
	display: block;
	width: 40px;
	height: 40px;
	background: url(../img/close-1.png) no-repeat;
	background-size: 100%;
	border:2px solid #fff;
	border-radius: 5rem;
	margin:5rem auto;
}

/* 列表 */

.smart-list,.smart-sub-list{
	padding: 0;
	background: #efefef;
	margin:0;
	border-bottom: 1px solid #efefef;
}
.smart-list .smart-list-item,
.smart-sub-list .smart-sub-list-item {
	font-size: 15px;
	height:58px;
	display: block;
	line-height: 58px;
	padding:0 20px;	
	color:#3c3c3c;
	margin-top: 10px;
	background: #fff;
	transition: background .1s ease-in;
	-webkit-transition: background .1s ease-in;
	position: relative;
}

.smart-list .smart-list-item:first-child,
.smart-sub-list .smart-sub-list-item:first-child{
	margin-top: 0;
}

.smart-list .smart-list-item[set-terget]:active{
	text-decoration: none;
	background: #efefef;
}
/* sub list*/
.smart-sub-list .smart-sub-list-item {
	height: 48px;
	line-height: 48px;
	margin:0;
}
.smart-list.smart-list-space .smart-list-item{
	margin:0;
}

/* smart-sure */
.smart-list .smart-list-item .smart-icon-sure,.smart-sub-list .smart-sub-list-item .smart-icon-sure{
	position: absolute;
	width: 25px;
	height: 25px;
	background: url(../../img/sure.png) no-repeat;
	background-size: 100%;
	top:50%;
	right: 30px;
	margin-top: -12.5px;
	opacity: 0;
	transition: opacity .1s ease-in;
	-webkit-transition: opacity .1s ease-in;
}
.smart-list .smart-list-item .smart-icon-sure.smart-active,.smart-sub-list .smart-sub-list-item .smart-icon-sure.smart-active{
	opacity: 1;
}

.smart-list .smart-list-item.smart-list-expand{
	margin-top: 0;
	display: none;
}
.smart-list .smart-list-item.smart-list-expand:before{
	content:" ";
	position: absolute;
	height: 1px;
	background: #e0e0e0;
	width: 100%;
	top:0;
	left:20px;
}
.smart-list .smart-list-item.smart-list-expand.smart-list-expand-foot .smart-list-expand-content{
	width: 80%;
	color:#c8c8c8;
	line-height: initial;

}
.smart-list .smart-list-item.smart-list-expand.smart-list-expand-foot:before{
	height: 0px;
}

/* smart-change */
.smart-change{
	text-align: center;
}
.smart-change label{
 	font-weight: normal;
 	color:#8d8d8d;
 	font-size: 14px;
}
.smart-change span{
	color:#73d2fe;
}
.smart-change span:after{
	content: " ";
	display: inline-block;
	background: url(../../custom/img/continue-1.png) no-repeat center;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
/* 遮罩层 */
.smart-screen-mask{
	display: none;
 	position: fixed;
 	z-index: 2;
 	width: 100%;
 	height: 100%;
 	top:0;
 	left:0;
 	background: rgba(0,0,0,.6);
}
.smart-account-change,.camput-popup {
	position: fixed;
	bottom:0;
	width:100%;
	background: #fff;
	display: none;
	z-index: 111;
}
.smart-account-change ul,
.camput-popup ul,
.smart-account-change ul li,
.camput-popup ul li{
	padding: 0;
	text-align: center;
	position: relative;
	margin: 0;
}
.smart-account-change ul:before,
.smart-account-change ul li:before,
.camput-popup ul:before,
.camput-popup ul li:before{
	content:" ";
	height: 1px;
 	position: absolute;
 	left:0;
 	width: 100%;
 	background: #e0e0e0;
	transform: rotateX(45deg);
	-webkit-transform: rotateX(45deg);
	top:0;
}
.smart-account-change ul li,
.camput-popup ul li{
	font-size:16px;
	color: #3c3c3c;
	height: 40px;
	line-height: 40px;
	padding: 0 50px;
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.smart-account-change ul li:before,
.camput-popup ul li:before{
	bottom: 0;
}
.smart-account-change ul li.smart-active:after,
.camput-popup ul li.smart-active:after{
	content:" ";
	width: 25px;
	position: absolute;
	height:25px;
	right:20px;
	top:50%;
	margin-top: -12px;
	background: url(../../img/sure.png) no-repeat center;
	background-size: 100%;
}

/* 成绩单 */
.campus-CJ-info{
	background: #73d2fe;
	color:#fff;
	text-align: center;
	padding: 0 10px;
	height: 75px;
	line-height: 75px;
	font-size: 14px;
}
.campus-CJ-table{
	font-size: 12px;
	background: #fff;
	border:0;
}
.campus-CJ-table tr{
	height: 50px;
	/*overflow: hidden;*/
}
.campus-CJ-table thead{
	padding:10px;
	border:0;
}
.campus-CJ-table thead tr th{
	font-weight: normal;
	color:#6d6d6d;
	border:0;
	padding:0 15px;
	height: 50px;
	vertical-align: middle;
	position: relative;
}
.campus-CJ-table tbody{
}
.campus-CJ-table tbody tr{
}
.campus-CJ-table tbody tr td{
	vertical-align: middle;
	color:#6d6d6d;
	border:0;
	padding:0 0 0 15px;
	position: relative;
}
.campus-CJ-table tbody tr td:first-child{
	white-space: pre-wrap;
	color:#3c3c3c;
}
.campus-CJ-table tbody tr td:first-child:after{
	left:15px;
}
.campus-CJ-table tbody tr td:nth-child(2){
	white-space: pre-wrap;
	color:#a8a8a8;
}