html{
    font-size: 10px;
}
body{
    font-size: inherit;
}
body .smart-border-bottom-0:after,
body .smart-border-top-0:before {
    height: 0;
}
/*.smart-header h1{
    font-size: 1.6rem;
    margin-top: 2rem;
    padding-left:2rem;
}*/
/* poppicker css*/
.mui-poppicker{
    top:124px;
    bottom: auto;
    -webkit-transform: translateY(-400px);
}
.mui-poppicker-header{
    position: absolute;
    top:200px;
    background: #fff;
    width: 100%;
    border-top:1px solid #ddd;
}
.mui-poppicker-header .mui-poppicker-btn-ok{
    border: none;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #73D2FE;
}
.navbar,.smart-screen{
    z-index: 9999;
}
.mui-poppicker-body{
    border:0;
}
.mui-poppicker-header .mui-poppicker-btn-cancel,.mui-dtpicker-header button:first-child{
    border: none;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #a8a8a8;
}
/* poppicker*/

.smart-query-title{
    font-size: 16px;
    margin:0;
    /*height: 45px;*/
    line-height: 16px;
    padding: 17px 25px 6px 55px;
    background: url(../images/icon-1.png) no-repeat 25px 10px #fff;
    background-size:25px;
    color:#8d8d8d;
}
.smart-time-box{
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-top: 79px;
    background: #fff;
    display: none; 
}
.smart-time-box *{
    display: inline-block;
    vertical-align: middle;

}
.smart-time-box p{
    width: 35%;
    margin: 0;
    height: 100%;
    font-size:16px;
    color:#0f0f0f;
}
.smart-time-box em{
    width: 10%;
    min-width: 40px;
    color:#8d8d8d;
}
.smart-time-box.smart-screen-show{
    display: block;
}
.smart-query-statistics{
    text-align: center;
    margin-top: 79px;
    padding-top:19.5px; 
    padding-bottom: 15px;
    background: #fff;
}
.smart-time-box.smart-screen-show+.smart-query-statistics{
    margin-top: 0;
}
.smart-query-statistics button{
    width: 126.5px;
    border: 1px solid #42c3ef;
    border-radius: 5px;
    padding:5px 0;
    background: #fff;
    color:#42c3ef;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.smart-query-statistics button:active{
    color:#fff;
    background: #42c3ef;
}
.smart-query .smart-query-statistics button:first-child{
    margin-right: 40px;
}
.smart-screen .smart-column-list div[class^="col-xs"]{
    padding: 0;
    font-size: 15px;
}
.smart-screen .smart-column-list div[class^="col-xs"].disabled{
    color:#c8c8c8;
}
.panel-group{
    margin-top: 0;
}
/*  */
.smart-accordion{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.smart-query-bill .smart-accordion .smart-sub-list li .smart-accordion-content{
    padding-right:20px;
}
.smart-accordion-content em,.smart-accordion-content i{
    display: inline-block;
    width: 48%;
    font-size: 14px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}
.smart-accordion-content i{
    float:right;
    text-align: right;
}
.smart-accordion-content h3 i[set-status=pay]{
    color:#ee5b17;
}
.smart-accordion-content h3 i[set-status=income]{
    color:#01e699;
}
.smart-query-summarize{
    background: #fff;
    padding: 0 0 0 25px;
    font-size: 0;
}
.pos-tips{
    display: none;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    color:#8d8d8d;
    position: relative;
    margin:8px 0 7.5px 0; 
    padding-left:25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pos-tips:before{
    content: "i";
    position: absolute;
    top:2px;
    left:0;
    width: 16px;
    height: 16px;
    font-size: 14px;
    background: #95e1e1;
    color:#fff;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;

}

.smart-query-bill .smart-query-summarize{
    padding:0 25px 10px;
}
.smart-query-summarize p{
    color:#8d8d8d;
    /*margin-top: 10px;*/
    margin:0;
    font-size: 16px;
    line-height: 16px;
    padding-top: 25px; 
    padding-bottom: 27px
}
.smart-query-summarize em{
    display: block;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    margin-top: 11px;
    margin-bottom: 27px;
    color:#0f0f0f;
}
.smart-query-bill .smart-query-summarize em{
    display: inline-block;
    margin: 0 5px;
}
.smart-query-bill .smart-query-summarize .smart-query-money{
    width: 100%;
}
.smart-query-bill .smart-query-summarize .smart-query-money em{
    display: inline;
}
.smart-query-summarize .smart-query-note,.smart-query-summarize .smart-query-money{
    display: inline-block;
    width: 50%;
    font-size:16px;
    color:#0f0f0f;
}
.smart-accordion .smart-sub-list .smart-sub-list-item{
    padding:14px 15px;
}
.smart-query-bill .smart-accordion .smart-sub-list .smart-sub-list-item .smart-accordion-content{
    padding:14px 25px 14px 80px;
}
.smart-accordion .smart-sub-list .smart-sub-list-item .smart-accordion-content h3{
    height: 20px;
    line-height: 20px;
}
.smart-query .smart-accordion-content p *{
    font-size: 15px;
}
.smart-query-bill .smart-accordion-content p *{
    font-size: 14px;
}

.smart-query .smart-accordion .smart-sub-list li .smart-accordion-content h3{
    color:#8d8d8d;
}
.smart-query .smart-accordion .smart-sub-list li .smart-accordion-content p{
    color:#0f0f0f;
    height: 20px;
    line-height: 20px;
}
.smart-query .smart-accordion .smart-sub-list li:nth-child(odd):after{
    left:110px;
}
.smart-query-summarize .smart-query-note em:after{
    content:"笔";
    font-size: 16px;
    margin-left: 5px;
}
.smart-query-summarize .smart-query-money em:after{
    content:"元";
    font-size: 16px;
    margin-left: 5px;
}
.smart-query-bill .smart-accordion .smart-sub-list li .smart-accordion-head{
    width: 50px;
    height: auto;
    vertical-align: top;
}
.smart-query .smart-accordion .smart-sub-list li .smart-accordion-head{
    width: 88px;
}
.smart-query .smart-accordion .smart-sub-list li .smart-accordion-head span{
    font-size: 16px;
    color:#0f0f0f;
}
.smart-query .smart-accordion .smart-sub-list li .smart-accordion-content{
    padding-left: 120px;
    padding-right: 25px;
}
.smart-accordion .smart-sub-list{
    display: block;
}
.pullDown{
   /* height: 0;
    font-size: 0;*/
}
.smart-echart{
    display: none; 
    padding: 0 25px;
    position: absolute;
    width: 100%;
    bottom: 0;

}
#wrapper-echart{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    background: #fff
}
#wrapper-echart #scroller-echart{
    position: relative;
    /*background: #fff;*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    float: left;
    width: 100%;
    padding: 0;
}
.smart-toggle .smart-accordion,.smart-toggle .smart-query-summarize{
    display: none;
}
.smart-toggle .smart-echart{
    display: block;
}

.smart-echart p{
    color:#8d8d8d;
    margin-top: 10px;
    font-size:16px;
    line-height: 16px;
    padding: 5px 0;
}
.smart-echart label{
    color:#0f0f0f;
    margin:0;
    font-size:16px;
}
.smart-echart label em{
    font-size: 14px;
    margin-left: 10px;
}
.smart-query-bill .smart-accordion .smart-sub-list .smart-sub-list-item:nth-last-of-type(2):after{
    height: 1px;
}
.smart-query-bill .smart-sub-list .smart-sub-list-item:not(:last-child):after{
    left:70px;
}
/* dtpicker css*/
.mui-dtpicker {
    border: none;
    box-shadow: none;
    background-color: #fff;
}

.mui-dtpicker-header button {
    border: none;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #73D2FE;
}

.mui-dtpicker-header {
    border-bottom: 1px solid #EEEEEE;
}

.mui-dtpicker-title {
    display: none;
}

.mui-pciker-rule.mui-pciker-rule-ft {
    text-align: right;
    padding-right: 20px;
}

.mui-picker {
    background: #fff;
}

div[data-id='picker-h'] .mui-pciker-rule.mui-pciker-rule-ft {
    padding-right: 30px;
}

div[data-id='picker-i'] .mui-pciker-rule.mui-pciker-rule-ft {
    text-align: left;
    padding-left: 90px;
}

.mui-backdrop {
    background: rgba(0, 0, 0, .5);
}

div[data-id='picker-h'] .mui-pciker-list li {
    text-align: right;
    padding-right: 70px;
}

div[data-id='picker-i'] .mui-pciker-list li {
    text-align: left;
    padding-left: 70px;
}

.mui-toast-container div{
    border-radius: 20px !important;
}
.smart-header .smart-icon-left{
    margin-left: 10px;
    color: #8D8D8D;
}
.smart-header .smart-icon-left:active{
    color: #6D6D6D;
}
.smart-edit.smart-icon-right{
    padding-left: 10px;
    color: #6D6D6D;
}
.smart-edit.smart-icon-right:active{
    color: #505050;
}
/* 图表 */
.smart-echart{
    /*height: 300px;*/
    overflow-y: scroll;
    /*position: absolute;
    width: 100%;
    bottom: 0;
    overflow-y: scroll;*/

}
.smart-line-charts{
    margin-bottom: 20px;
}
.smart-line-charts,.smart-pie-charts{
    height: 200px;
}


/* iphone 5s */


@media screen and (max-width: 320px) {
    .smart-query-title{
        font-size: 14px;
        line-height: 14px;
        padding:14px 21px 2.5px 51px;
        background: url(../images/icon-1.png) no-repeat 21px 8px #fff;
        background-size: 25px;
    }
    .smart-screen .smart-column-list div[class^="col-xs"]{
        font-size: 14px;
    }
    .smart-query-statistics button{
        width: 109px;
    }
    .smart-time-box{
            margin-top: 70px;
    }
    .smart-query-statistics{
        margin-top: 70px;
        padding-top: 14.4px;
        padding-bottom: 20px
    }
    .smart-query-summarize{
        padding-left: 21px;
    }
    .smart-query-summarize p{
        padding:13.6px 0 22.68px 0 ;
    }
    .smart-query-summarize .smart-query-note, .smart-query-summarize .smart-query-money{
        font-size: 14px;
    }
    .smart-query-summarize em{
        font-size: 20px;
        margin-top: 9.24px; 
        margin-bottom: 22.68px
    }
    .pos-tips{
        margin:8.56px 0 7.5px 0 ;
    }
    .mui-poppicker{
        top:116px;
    }
    .mui-pciker-list li{
        font-size: 14px;
    }
    .mui-poppicker-header button,.mui-dtpicker-header button{
        font-size: 14px!important;
    }
}







/*<div class="smart-content">
    
    <!-- 筛选 -->
    <div class="smart-screen smart-top">
      <h1 class="smart-query-title">00112233--一餐厅1楼1-16窗口</h1>
      <div class="row smart-column-list">
        <div class="col-xs-4" id="picker1">今日统计</div>
        <div class="col-xs-4" id="picker2">全部POS</div>
        <div class="col-xs-4" id="picker3">全部时段</div>
      </div>
      <!-- 筛选内容 -->
      <div class="row smart-screen-list set-popup">
      </div>
    </div>
    <!-- 日期选择结果 -->
    <div class="smart-time-box smart-top smart-border">
      <p set-time="start" onclick="selectTime(this);" >开始时间</p>
      <em>至</em>
      <p set-time="end" onclick="selectTime(this);">结束时间</p>
    </div>
    <!-- 按钮 -->
    <div class="smart-query-statistics smart-top">
      <button class="toggle">分析</button>
      <button>查询流水</button>
    </div>
    <!-- summarize -->
    <div class="smart-query-summarize smart-border smart-top">
      <h1 class="pos-tips">您可以通过本功能查询到最近6个月的数据 </h1>
      <p>2017.09.08</p>
      <div class="smart-query-note">
        交易笔数：<em>20111</em>
      </div>
      <div class="smart-query-money">
        交易金额：<em>1111111.00</em>
      </div>
    </div>
    <!-- 折叠面板 -->
    <div class="smart-accordion" id="wrapper">
        <!-- 列表 -->
        <ul class="smart-sub-list smart-border-top-0">
          <!-- 列表一组 -->
          <li class="smart-sub-list-item">
            <!-- 日期 -->
            <div class="smart-accordion-head">
              <span>201</span>
            </div>
            <!-- 列表内容 -->
            <div class="smart-accordion-content">
              <h3>
                <em>交易笔数</em>
                <i>交易金额</i>
              </h3>
              <p>
                <em>67笔</em>
                <i>3333.00</i>
              </p>
            </div>
          </li>
          <li class="smart-sub-list-item smart-sub-list-item-content">
            <div class="row">
              <div class="col-xs-12">
                <label>交易时间：</label>
                <span>2017.09.08 14:11:11</span>
              </div>
              <div class="col-xs-12">
                <label>订单号：</label>
                <span></span>
              </div>
            </div>
          </li>
          <!-- 列表一组 -->
          <li class="smart-sub-list-item">
            <!-- 日期 -->
            <div class="smart-accordion-head">
              <span>202</span>
            </div>
            <!-- 列表内容 -->
            <div class="smart-accordion-content">
              <h3>
                <em>交易笔数</em>
                <i>交易金额</i>
              </h3>
              <p>
                <em>67笔</em>
                <i>3333.00</i>
              </p>
            </div>
          </li>
          <li class="smart-sub-list-item smart-sub-list-item-content">
            <div class="row">
              <div class="col-xs-12">
                <label>交易时间：</label>
                <span>2017.09.08 14:11：11</span>
              </div>
              <div class="col-xs-12">
                <label>订单号：</label>
                <span></span>
              </div>
            </div>
          </li>
          <!-- 列表一组 -->
          <li class="smart-sub-list-item">
            <!-- 日期 -->
            <div class="smart-accordion-head">
              <span>203</span>
            </div>
            <!-- 列表内容 -->
            <div class="smart-accordion-content">
              <h3>
                <em>交易笔数</em>
                <i>交易金额</i>
              </h3>
              <p>
                <em>67笔</em>
                <i>3333.00</i>
              </p>
            </div>
          </li>
          <li class="smart-sub-list-item smart-sub-list-item-content">
            <div class="row">
              <div class="col-xs-12">
                <label>交易时间：</label>
                <span>2017.09.08 14:11：11</span>
              </div>
              <div class="col-xs-12">
                <label>订单号：</label>
                <span></span>
              </div>
            </div>
          </li>
          <!-- 列表一组 -->
          <li class="smart-sub-list-item">
            <!-- 日期 -->
            <div class="smart-accordion-head">
              <span>204</span>
            </div>
            <!-- 列表内容 -->
            <div class="smart-accordion-content">
              <h3>
                <em>交易笔数</em>
                <i>交易金额</i>
              </h3>
              <p>
                <em>67笔</em>
                <i>3333.00</i>
              </p>
            </div>
          </li>
          <li class="smart-sub-list-item smart-sub-list-item-content">
            <div class="row">
              <div class="col-xs-12">
                <label>交易时间：</label>
                <span>2017.09.08 14:11：11</span>
              </div>
              <div class="col-xs-12">
                <label>订单号：</label>
                <span></span>
              </div>
            </div>
          </li>
        </ul>
    </div>
    <!-- 图表 -->
    <div class="smart-echart" id="wrapper-echart">
      <div id="scroller-echart">
        <h1 class="pos-tips">您可以通过本功能查询到最近6个月的数据 </h1>
        <p>2017.09.01-2017.09.30</p>
        <!-- <h1>总计：<em>144000.00</em>元</h1> -->
        <label>收入柱状图<em>(可左右滑动)</em></label>
        <!-- 柱形图 和 折线图 -->
        <div class="smart-line-charts">
 
        </div>
        <!-- 饼状图 -->
        <div class="smart-pie-charts">

        </div>
      </div>
    </div>
    <!-- 遮罩 -->
    <div class="smart-screen-mask"></div>
  </div>*/
