<link rel="stylesheet" type="text/css" href="../../content/normal/css/demo.css">
<script type="text/javascript" src="../../content/frame/clipboard/clipboard.min.js"></script>
<script type="text/javascript" src="../../content/frame/echarts/echarts.min.js"></script>
<div class="right-page-content">
    <!-- dome -->
    <div class="demo">  
        <!--  -->
        <!-- <h1 class="demo-title" id="demo-title">目录 <em>(注：点击demo名 查看使用方法 )</em></h1> -->
        <div class="page-header">
            <h1>目录 <small>(注：点击demo名 查看使用方法 )</small></h1>
        </div>
        <div class="alert alert-info">以下所有css和js分别依赖bootstrao.min.css、boostrap.js(源码有删减)、jquery.min.js</div>
        <!-- 目录 -->
        <div class="row">
            <div class="col-md-4">
                <h3 class="cul-h3">html</h3>
                <ul class="list">
                    <li><a href="#" action="views/container/demo/h1.html"># 大标题</a></li>
                    <li><a href="#" action="views/container/demo/h2.html"># 小标题</a></li>
                    <li><a href="#" action="views/container/demo/form.html"># 表单</a></li>
                    <li><a href="#" action="views/container/demo/echarts.html"># echarts 图表</a></li>
                    <li><a href="#" action="views/container/demo/paging.html"># 分页</a></li>
                    <li><a href="#" action="views/container/demo/grid.html"># 栅格系统</a></li>
                    <li><a href="#" action="views/container/demo/table.html"># 表格</a></li>
                    <li><a href="#" action="#"></a></li>
                    <li><a href="#" action="#"></a></li>
                    <li><a href="#" action="#"></a></li>
                </ul>
            </div>
           <!--  <div class="col-md-4">
                <h3 class="cul-h3">css</h3>
                <ul class="list">
                    <li><a href="#"># 大标题</a></li>
                    <li><a href="#"># 小标题</a></li>
                    <li><a href="#"># 表单</a></li>
                    <li><a href="#"># 图表</a></li>
                    <li><a href="#"># 分页</a></li>
                    <li><a href="#"># 栅格系统</a></li>
                    <li><a href="#"># 表格</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div> -->
            <!-- <div class="col-md-4">
                <h3 class="cul-h3">javascript</h3>
                <ul class="list">
                    <li><a href="#"># 大标题</a></li>
                    <li><a href="#"># 小标题</a></li>
                    <li><a href="#"># 表单</a></li>
                    <li><a href="#"># 图表</a></li>
                    <li><a href="#"># 分页</a></li>
                    <li><a href="#"># 栅格系统</a></li>
                    <li><a href="#"># 表格</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div> -->
        </div>
    <!-- dome end -->
</div>
<script type="text/javascript">
    $(".list").on("click","a",function(){
        console.log($(this).attr("action"));
        var href = $(this).attr("action");
        $(".demo").load(href,function(node,state,event){
            console.log(arguments);
            if(state == "success"){
                if($(".demo").height()>$("#right-container").height()){
                    $(".demo").append("<a class='btn goTop btn-info' href ='#demo' role='button'>返回顶部</a>");
                }
            }
        });
    });
</script>
<script type="text/javascript" src="../../../content/normal/js/v-demo.js"></script>
