
<link rel="stylesheet" type="text/css" href="../../../content/frame/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../../content/normal/css/my-theme.css">
<link rel="stylesheet" type="text/css" href="../../../content/normal/css/demo.css">
<script type="text/javascript" src="../../../content/frame/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../../content/frame/clipboard/clipboard.min.js"></script>
<!-- <script type="text/javascript" src="../../../content/frame/echarts/echarts.min.js"></script> -->
<script type="text/javascript" src="../../../content/frame/highcharts/highcharts.js"></script>
<script type="text/javascript" src="../../../content/normal/js/v-demo.js"></script>


<h2 id="demo-express-h1">echarts-pie
    <a type="button" class="btn btn-default" href="../../local-index.html">返回</a>
</h2>
<!-- html -->
<div class="demo-express">
    <h3>结果展示</h3>
    <div class="demo-express-bg">
        <!-- myChartPie -->
        <div id="myChartPie" style="width: 700px;height:300px;"></div>
        <!-- myChartPie-2 -->
        <div id="myChartPie-2" style="width: 700px;height:300px;"></div>
    </div>
</div>
<div class="demo-express">
    <h3>代码</h3>
    <div class="demo-express-bg">
<!-- js -->
<div class="demo-express-code-box row">
    <div class="col-sm-12">
        <h3>
            <span>plugin</span>
            <button class="copy" data-clipboard-target="#plugin"></button>
        </h3>
<pre id="plugin">
&lt;script type="text/javascript" src="../../../content/frame/highcharts/highcharts.js"&gt;&lt;/script&gt;
</pre>
    </div>
                <div class="col-sm-12">
                    <h3><span>html</span><button class="copy" data-clipboard-target="#foo1"></button></h3>

<pre id="foo1">
&lt;!-- myChartPie --&gt;
&lt;div id="myChartPie"style="width: 700px;height:300px;"&gt;&lt;/div&gt;
&lt;!-- myChartPie-2 --&gt;
&lt;div id="myChartPie-2" style="width: 700px;height:300px;"&gt;&lt;/div&gt;
</pre>
                </div>
                <div class="col-sm-12">
                    <h3><span>css</span><button class="copy" data-clipboard-target="#foo2"></button></h3>
<pre id="foo2">
/* heightchart */
#myChartPie,#myChartPie-2{
    margin: 0 auto;
}
/* #myChartPie*/
.highcharts-title{
    padding-left: 10px;
    line-height: 20px;
    font-size: 14px!important;
    position: relative;
}
.highcharts-title:before{
    position: absolute;
    content:" ";
    left:0;
    width: 4px;
    height: 16px;
    background: -webkit-linear-gradient(#1ac3e4,#5981fd); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#1ac3e4,#5981fd); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#1ac3e4,#5981fd); /* Firefox 3.6 - 15 */
    background: linear-gradient(#1ac3e4,#5981fd); /* 标准的语法 */
}
.highcharts-color-0 .highcharts-point,
.highcharts-color-1 .highcharts-point,
.highcharts-color-2 .highcharts-point,
.highcharts-color-3 .highcharts-point{
    display: none;
}
.highcharts-color-0:before,
.highcharts-color-1:before,
.highcharts-color-2:before,
.highcharts-color-3:before{
    position: absolute;
    content:" ";
    left:0;
    top:5px;
    width: 25px;
    height: 12px;
}
/* #myChartPie*/
#myChartPie .highcharts-color-0:before{
    background: -webkit-linear-gradient(left,#00E5E4,#CDFFFF);
    background: -o-linear-gradient(left,#00E5E4,#CDFFFF);
    background: -moz-linear-gradient(left,#00E5E4,#CDFFFF);
    background: linear-gradient(left,#00E5E4,#CDFFFF);
}
#myChartPie .highcharts-color-1:before{
    background: -webkit-linear-gradient(left,#FFDD6D,#FFF6AF);
    background: -o-linear-gradient(left,#FFDD6D,#FFF6AF);
    background: -moz-linear-gradient(left,#FFDD6D,#FFF6AF);
    background: linear-gradient(left,#FFDD6D,#FFF6AF);
}
#myChartPie .highcharts-color-2:before{
    background: -webkit-linear-gradient(left,#FFB99D,#FBB8A3);
    background: -o-linear-gradient(left,#FFB99D,#FBB8A3);
    background: -moz-linear-gradient(left,#FFB99D,#FBB8A3);
    background: linear-gradient(left,#FFB99D,#FBB8A3);
}

#myChartPie .highcharts-color-3:before{
    background: -webkit-linear-gradient(45deg,#8EE7FF,#00A5FF);
    background: -o-linear-gradient(45deg,#8EE7FF,#00A5FF);
    background: -moz-linear-gradient(45deg,#8EE7FF,#00A5FF);
    background: linear-gradient(45deg,#8EE7FF,#00A5FF);
}
#myChartPie .highcharts-data-label-connector{
    stroke-width: 2px;
}
#myChartPie .highcharts-data-label-connector.highcharts-color-0{
    stroke:#4BEFEE;
}
#myChartPie .highcharts-data-label-connector.highcharts-color-1{
    stroke:#FFE37C;
}
#myChartPie .highcharts-data-label-connector.highcharts-color-2{
    stroke:#FEB89E;
}
#myChartPie .highcharts-data-label-connector.highcharts-color-3{
    stroke:#23B6FF;
}
/* myChartPie-2*/
#myChartPie-2 .highcharts-color-0:before{
    background: -webkit-linear-gradient(left,#CDFFFF,#73A373);
    background: -o-linear-gradient(left,#CDFFFF,#73A373);
    background: -moz-linear-gradient(left,#CDFFFF,#73A373);
    background: linear-gradient(left,#CDFFFF,#73A373);
}
#myChartPie-2 .highcharts-color-1:before{
    background: -webkit-linear-gradient(left,#BFBFBF,#F5F5F3);
    background: -o-linear-gradient(left,#BFBFBF,#F5F5F3);
    background: -moz-linear-gradient(left,#BFBFBF,#F5F5F3);
    background: linear-gradient(left,#BFBFBF,#F5F5F3);
}
#myChartPie-2 .highcharts-color-2:before{
    background: -webkit-linear-gradient(left,#35E8EF,#73B9BC);
    background: -o-linear-gradient(left,#35E8EF,#73B9BC);
    background: -moz-linear-gradient(left,#35E8EF,#73B9BC);
    background: linear-gradient(left,#35E8EF,#73B9BC);
}
#myChartPie-2 .highcharts-data-label-connector.highcharts-color-0{
    stroke:#7AAB7F;
}
#myChartPie-2 .highcharts-data-label-connector.highcharts-color-1{
    stroke:#FFE37C;
}
#myChartPie-2 .highcharts-data-label-connector.highcharts-color-2{
    stroke:#50D3D9;
}
/**/
#myChartPie .highcharts-color-0.highcharts-legend-item-hidden:before,
#myChartPie .highcharts-color-1.highcharts-legend-item-hidden:before,
#myChartPie .highcharts-color-2.highcharts-legend-item-hidden:before,
#myChartPie .highcharts-color-3.highcharts-legend-item-hidden:before,
#myChartPie-2 .highcharts-color-0.highcharts-legend-item-hidden:before,
#myChartPie-2 .highcharts-color-1.highcharts-legend-item-hidden:before,
#myChartPie-2 .highcharts-color-2.highcharts-legend-item-hidden:before{
    background: #ddd;
}
</pre>
                </div>
                <div class="col-sm-12">
                    <h3><span>javascript</span><button class="copy" data-clipboard-target="#foo3"></button></h3>
<pre id="foo3">
var data1 = {
        title:'人脸审核分析',
        data:[
            {
                text:"系统通过",
                value:20000,
                radial:['#CDFFFF','#00E5E4'],
            },
            {
                text:"人工通过",
                value:1000,
                radial:['#FFDD6D','#FFF6AF'],
            },
            {
                text:"不通过",
                value:1000,
                radial:['#FFB99D','#FBB8A3'],
            },
            {
                text:"未审核",
                value:1000,
                radial:['#8EE7FF','#00A5FF'],
            }
        ]
    }
var data2 = {
        title:'人脸库分析',
        data:[
            {
                text:"新增量",
                value:1500,
                radial:['#CDFFFF','#73A373'],
            },
            {
                text:"更新量",
                value:1000,
                radial:['#BFBFBF','#F5F5F3'],
            },
            {
                text:"删除量",
                value:1000,
                radial:['#35E8EF','#73B9BC'],
            }
        ],
    }

// setRadial
function setRadial(startColor,endColor){
    return  {
        radialGradient: {
            cx: 0.5,
            cy: 0.5,
            r: 1
        },
        stops: [
            [0, startColor],
            [1, endColor] // darken
        ]
    }
}
// pie-1 
runCharts(data1,"myChartPie");
// pie-2
runCharts(data2,"myChartPie-2");
// runCharts
function runCharts(data,id){
    Highcharts.chart(id, {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            marginLeft:190,
        },
        title: {
            text: data.title,
            align: 'left',
            useHTML:true
        },
        tooltip:{
            headerFormat:" ",
            pointFormatter: function() {
                return this.name + ': '+ this.y;
            },
        },
        plotOptions:{
            pie:{
                borderColor:'red',
                borderWidth:1,
                showInLegend:true,
                dataLabels:{
                    softConnector: false,
                    style:{
                        fontWeight:0,
                    }
                },
                borderWidth:0,
                // useHTML:true,
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            floating: true,
            x: 60,
            y: 40,
            itemMarginBottom:15,
            itemStyle:{
                fontWeight:0,
                fontSize:"12px"
            },
            squareSymbol:false,
            symbolRadius: 0,
            symbolPadding:10,
            symbolWidth: 25,
            useHTML:true
        },
        credits:{
            enabled:false
        },
        series: [{
            name: 'Share',
            data:(function(){
                var arr = [];
                for(var i = 0;i<data.data.length;i++){
                    var evt = data.data[i];
                    arr.push({
                        name:evt.text,
                        y:evt.value,
                        color: setRadial(evt.radial[0],evt.radial[1])
                    });
                }
                return arr;
            })(),
            
        }]
    });
}
</pre>
                </div>
            </div>
    </div>
</div>
<script type="text/javascript">
var data1 = {
        title:'人脸审核分析',
        data:[
            {
                text:"系统通过",
                value:20000,
                radial:['#CDFFFF','#00E5E4'],
            },
            {
                text:"人工通过",
                value:1000,
                radial:['#FFDD6D','#FFF6AF'],
            },
            {
                text:"不通过",
                value:1000,
                radial:['#FFB99D','#FBB8A3'],
            },
            {
                text:"未审核",
                value:1000,
                radial:['#8EE7FF','#00A5FF'],
            }
        ]
    }
var data2 = {
        title:'人脸库分析',
        data:[
            {
                text:"新增量",
                value:1500,
                radial:['#CDFFFF','#73A373'],
            },
            {
                text:"更新量",
                value:1000,
                radial:['#BFBFBF','#F5F5F3'],
            },
            {
                text:"删除量",
                value:1000,
                radial:['#35E8EF','#73B9BC'],
            }
        ],
    }

// setRadial
function setRadial(startColor,endColor){
    return  {
        radialGradient: {
            cx: 0.5,
            cy: 0.5,
            r: 1
        },
        stops: [
            [0, startColor],
            [1, endColor] // darken
        ]
    }
}
// pie-1 
runCharts(data1,"myChartPie");
// pie-2
runCharts(data2,"myChartPie-2");
// runCharts
function runCharts(data,id){
    Highcharts.chart(id, {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            marginLeft:190,
        },
        title: {
            text: data.title,
            align: 'left',
            useHTML:true
        },
        tooltip:{
            headerFormat:" ",
            pointFormatter: function() {
                return this.name + ': '+ this.y;
            },
        },
        plotOptions:{
            pie:{
                borderColor:'red',
                borderWidth:1,
                showInLegend:true,
                dataLabels:{
                    softConnector: false,
                    style:{
                        fontWeight:0,
                    },
                },
                borderWidth:0,
                
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            floating: true,
            x: 60,
            y: 40,
            itemMarginBottom:15,
            itemStyle:{
                fontWeight:0,
                fontSize:"12px"
            },
            squareSymbol:false,
            symbolRadius: 0,
            symbolPadding:10,
            symbolWidth: 25,
            useHTML:true
        },
        credits:{
            enabled:false
        },
        series: [{
            name: 'Share',
            data:(function(){
                var arr = [];
                for(var i = 0;i<data.data.length;i++){
                    var evt = data.data[i];
                    arr.push({
                        name:evt.text,
                        y:evt.value,
                        color: setRadial(evt.radial[0],evt.radial[1])
                    });
                }
                return arr;
            })(),
            
        }]
    });
}


</script>