<link rel="stylesheet" type="text/css" href="../../../content/frame/jquery.date/jquery.datetimepicker.min.css">
<script type="text/javascript" src="../../../content/frame/jquery.date/jquery.datetimepicker.full.min.js"></script>
<h2 id="demo-express-h1">form 
    <button type="button" class="btn btn-default" onclick="$('.demo').load('views/container/demo/demo.html');">返回</button>
</h2>
<!-- css -->
<style type="text/css" media="screen">
/* form */
form{
    margin:30px 0;
}
form .form-line *{
    font-size: 14px;
}
.form-inline .form-line,{
    display: inline-block;
    margin: 0;
}
.content-h2 .form-line{
    display: inline-block;
    margin: 0;
}
.form-line{
    font-size: 0;
    height: 30px;
    line-height: 30px;
    margin-right: 26px;
    margin-bottom: 10px;
}
.form-line >label{
    width: 80px;
    height:30px;
    font-weight: normal;
    vertical-align: top;
    text-align: right;
}

.form-line >label + .dropdown{
    display: inline-block;
    height: 30px;
    vertical-align: top;
}
.form-line >label + .dropdown [data-toggle=dropdown]{
    height: 30px;
    line-height: 16px;
    border-radius:0;
    border:1px solid #c5c5c5;
}
.form-line input{
    width: 200px;
    height: 30px;
    padding:0 5px;
    border:1px solid #c5c5c5;
    outline: none;
}
.form-line input::placeholder{
    color:#8B8B8B;
}

/* date */
.form-line .form-date{
    display: inline-block;
    width: 120px;
    position: relative;
    vertical-align: top
}
.form-line .form-date + em{
    display: inline-block;
    height: 30px;
    color:#e6e6e6;
}
.form-line .form-date input[type=text]{
    width: 100%;
}
.form-line .form-date input[type=text]{
    background: url(../../../content/normal/images/clock.png) no-repeat right 5px center;
}
/*  */
form button.btn-default{
    background: #F7F7F7;
    line-height: 10px;
    font-size: 14px;
    height: 30px;
    border-radius:0;
    border:1px solid #c5c5c5;
}
/*  */
.form-line input[type=number]{
    width: 50px;
    height: 25px;
    padding-right: 0;
}
/*  */
.form-line textarea{
    padding: 0 5px;
    line-height: 20px;
}
.form-line.form-line-textarea{
    height: auto;
}
/*  */
.form-line .checkbox-btns,
.form-line .radio-btns{
    display: inline-block;
}
.form-line .checkbox-btns .form-checkbox,
.form-line .radio-btns .form-radio{
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;

}
.form-line .checkbox-btns .form-checkbox{
    background: #fff url(../../../content/normal/images/Checkbox-off.png) 0 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.form-line .checkbox-btns .form-checkbox.active{
    background: #fff url(../../../content/normal/images/Checkbox-on.png) 0 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.form-line .radio-btns .form-radio{
    background: #fff url(../../../content/normal/images/Radio-button-off.png) 0 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.form-line .radio-btns .form-radio.active{
    background: #fff url(../../../content/normal/images/Radio-button-on.png) 0 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
</style>
<!-- html -->
<div class="demo-express">
    <h3>结果展示</h3>
    <div class="demo-express-bg">
        为 <kbd>form</kbd>元素添加 .form-inline 类可使其内容左对齐并且表现为 inline-block 级别的控件。只适用于视口（viewport）至少在 768px 宽度时（视口宽度再小的话就会使表单折叠）。
        <form class=""> 
            <div class="form-line">
                <label>部门信息：</label>
            </div> 
            <div class="form-line">
                <label>部门信息：</label>
                <input type="text" name="" placeholder="部门编号/名称/助记码">
            </div> 
            <div class="form-line form-group">
                <label>部门信息：</label>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aspopup="true" aria-expanded="false">
                    Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-line">
                <label>就餐时间：</label>
                <div class="form-date">
                    <input id="startDate" type="text" placeholder="选择时间">
                </div>
                <em> — </em>
                <div class="form-date">
                    <input id="endDate" type="text" placeholder="选择时间">
                </div>
            </div>
            <div class="form-line">
                <label>数字：</label><input type="number" name="">
            </div>
            <div class="form-line form-line-textarea">
                    <label>描述：</label><textarea class="" rows="2"></textarea>
                </div>
                <div class="form-line">
                    <label>开餐编号：</label><span>123123123</span>
                </div>
                <div class="form-line">
                    <label>就餐时间：</label><span>11:30—13:00</span>
                </div>
                <div class="form-line">
                    <label>多选：</label>
                    <div class="checkbox-btns">
                        <label class="checkbox-inline">
                            <span class="form-checkbox"></span> 1
                        </label>
                        <label class="checkbox-inline">
                            <span class="form-checkbox"></span> 2
                        </label>
                        <label class="checkbox-inline">
                            <span class="form-checkbox"></span> 3
                        </label>
                    </div>
                </div>
                <div class="form-line">
                    <label>单选：</label>
                    <div class="radio-btns">                        
                        <label class="radio-inline">
                            <span class="form-radio"></span> 1
                        </label>
                        <label class="radio-inline">
                            <span class="form-radio"></span> 2
                        </label>
                        <label class="radio-inline">
                            <span class="form-radio"></span> 3
                        </label>
                    </div>
                </div>
            <button class="btn btn-default" type="">查询按钮</button>
        </form>
        <!--  -->
    </div>
</div>
<div class="demo-express">
    <h3>代码</h3>
    <div class="demo-express-bg">
<!-- js -->
<div class="demo-express-code-box row">
                <div class="col-sm-12">
                    <h3><span>html</span><button class="copy" data-clipboard-target="#foo1"></button></h3>

<pre id="foo1">
※ 注 .form-inline 为bootstrap内联样式（及横向排列）
&lt;form class=""&gt; 
    &lt;div class="form-line"&gt;
        &lt;label&gt;部门信息：&lt;/label&gt;
    &lt;/div&gt; 
    &lt;div class="form-line"&gt;
        &lt;label&gt;部门信息：&lt;/label&gt;
        &lt;input type="text" name="" placeholder="部门编号/名称/助记码"&gt;
    &lt;/div&gt; 
    &lt;div class="form-line form-group"&gt;
        &lt;label&gt;部门信息：&lt;/label&gt;
        &lt;div class="dropdown"&gt;
            &lt;button class="btn btn-default dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aspopup="true" aria-expanded="false"&gt;
            Dropdown
                &lt;span class="caret"&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;ul class="dropdown-menu" aria-labelledby="dropdownMenu1"&gt;
                &lt;li&gt;&lt;a href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
                &lt;li role="separator" class="divider"&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-line"&gt;
        &lt;label&gt;就餐时间：&lt;/label&gt;
        &lt;div class="form-date"&gt;
            &lt;input id="startDate" type="text" placeholder="选择时间"&gt;
        &lt;/div&gt;
        &lt;em&gt; — &lt;/em&gt;
        &lt;div class="form-date"&gt;
            &lt;input id="endDate" type="text" placeholder="选择时间"&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-line"&gt;
        &lt;label&gt;数字：&lt;/label&gt;&lt;input type="number" name=""&gt;
    &lt;/div&gt;
    &lt;div class="form-line form-line-textarea"&gt;
        &lt;label&gt;描述：&lt;/label&gt;&lt;textarea class="" rows="2"&gt;&lt;/textarea&gt;
    &lt;/div&gt;
    &lt;div class="form-line"&gt;
        &lt;label&gt;开餐编号：&lt;/label&gt;&lt;span&gt;123123123&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="form-line"&gt;
        &lt;label&gt;就餐时间：&lt;/label&gt;&lt;span&gt;11:30—13:00&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="form-line"&gt;
        &lt;label&gt;多选：&lt;/label&gt;
        &lt;div class="checkbox-btns"&gt;
            &lt;label class="checkbox-inline"&gt;
                &lt;span class="form-checkbox"&gt;&lt;/span&gt; 1
            &lt;/label&gt;
            &lt;label class="checkbox-inline"&gt;
                &lt;span class="form-checkbox"&gt;&lt;/span&gt; 2
            &lt;/label&gt;
            &lt;label class="checkbox-inline"&gt;
                &lt;span class="form-checkbox"&gt;&lt;/span&gt; 3
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-line"&gt;
        &lt;label&gt;单选：&lt;/label&gt;
        &lt;div class="radio-btns"&gt;                        
            &lt;label class="radio-inline"&gt;
                &lt;span class="form-radio"&gt;&lt;/span&gt; 1
            &lt;/label&gt;
            &lt;label class="radio-inline"&gt;
                &lt;span class="form-radio"&gt;&lt;/span&gt; 2
            &lt;/label&gt;
            &lt;label class="radio-inline"&gt;
                &lt;span class="form-radio"&gt;&lt;/span&gt; 3
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;button class="btn" type=""&gt;查询按钮&lt;/button&gt;
&lt;/form&gt;
</pre>
                </div>
                <div class="col-sm-12">
                    <h3><span>css</span><button class="copy" data-clipboard-target="#foo2"></button></h3>
<pre id="foo2">
/* form */
form{
    margin:30px 0;
}
form .form-line *{
    font-size: 14px;
}
.form-inline .form-line,{
    display: inline-block;
    margin: 0;
}
.content-h2 .form-line{
    display: inline-block;
    margin: 0;
}
.form-line{
    font-size: 0;
    height: 30px;
    line-height: 30px;
    margin-right: 26px;
    margin-bottom: 10px;
}
.form-line >label{
    width: 80px;
    height:30px;
    font-weight: normal;
    vertical-align: top;
    text-align: right;
}

.form-line >label + .dropdown{
    display: inline-block;
    height: 30px;
    vertical-align: top;
}
.form-line >label + .dropdown [data-toggle=dropdown]{
    height: 30px;
    line-height: 16px;
    border-radius:0;
    border:1px solid #c5c5c5;
}
.form-line input{
    width: 200px;
    height: 30px;
    padding:0 5px;
    border:1px solid #c5c5c5;
    outline: none;
}
.form-line input::placeholder{
    color:#8B8B8B;
}

/* date */
.form-line .form-date{
    display: inline-block;
    width: 120px;
    position: relative;
    vertical-align: top
}
.form-line .form-date + em{
    display: inline-block;
    height: 30px;
    color:#e6e6e6;
}
.form-line .form-date input[type=text]{
    width: 100%;
}
.form-line .form-date input[type=text]{
    background: url(../../../content/normal/images/clock.png) no-repeat right 5px center;
}
/*  */
form button.btn-default{
    background: #F7F7F7;
    line-height: 10px;
    font-size: 14px;
    height: 30px;
    border-radius:0;
    border:1px solid #c5c5c5;
}
/*  */
.form-line input[type=number]{
    width: 50px;
    height: 25px;
    padding-right: 0;
}
/*  */
.form-line textarea{
    padding: 0 5px;
    line-height: 20px;
}
.form-line.form-line-textarea{
    height: auto;
}
/*  */
.form-line .checkbox-btns,
.form-line .radio-btns{
    display: inline-block;
}
.form-line .checkbox-btns .form-checkbox,
.form-line .radio-btns .form-radio{
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;

}
.form-line .checkbox-btns .form-checkbox{
    background: #fff url(../images/Checkbox-off.png) 0 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.form-line .checkbox-btns .form-checkbox.active{
    background: #fff url(../images/Checkbox-on.png) 0 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.form-line .radio-btns .form-radio{
    background: #fff url(../images/Radio-button-off.png) 0 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.form-line .radio-btns .form-radio.active{
    background: #fff url(../images/Radio-button-on.png) 0 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
</pre>
                </div>
                <div class="col-sm-12">
                    <h3><span>javascript</span><button class="copy" data-clipboard-target="#foo3"></button></h3>
<pre id="foo3">
备注：点击选择后隐藏下拉框，
      并添加到点击按钮上
# 下拉框
$(".form-line .dropdown-menu").on("click","li a",function(event){
    var dropdown = $(this).parents(".form-line").find('[data-toggle=dropdown]');
    dropdown.text($(this).text()).parent().removeClass("open");
});
# 时间选择
$.datetimepicker.setLocale('zh');
$('#startDate').datetimepicker({        
    timepicker:false,
    format:'Y.m.d',
    onShow:function( ct ){
        this.setOptions({
            maxDate:$('#endDate').val()?$('#endDate').val():false
        })
    },
});
$('#endDate').datetimepicker({
    timepicker:false,
    format:'Y.m.d',
    onShow:function( ct ){
        this.setOptions({
            minDate:$('#startDate').val()?$('#startDate').val():false
        })
    },
});
form_checkbox_change();
function form_checkbox_change(){
    // 多选
    $("form").on("click",".form-checkbox",function(){
        $(this).toggleClass("active");
    });
    // 单选
    $("form").on("click",".form-radio",function(){
        $(this).addClass("active").parent().siblings().find(".form-radio").removeClass("active");
    });
}
</pre>
                </div>
            </div>
    </div>
</div>
<script type="text/javascript">
        // 日期
    $.datetimepicker.setLocale('zh');
    $('#startDate').datetimepicker({        
        timepicker:false,
        format:'Y.m.d',
        parentID:"html",
        onShow:function( ct ){
            console.log(123)
            this.setOptions({
                maxDate:$('#endDate').val()?$('#endDate').val():false
            })
        },
    });

    $('#endDate').datetimepicker({
        timepicker:false,
        format:'Y.m.d',
        parentID:"html",
        onShow:function( ct ){
            this.setOptions({
                minDate:$('#startDate').val()?$('#startDate').val():false
            })
        },
    });

    // 下拉选项
    
    $("#right-container .dropdown-menu").on("click","li a",function(event){
        var dropdown = $(this).parents("ul").prev('[data-toggle=dropdown]');
        dropdown.text($(this).text()).parent().removeClass("open");
    });
    form_checkbox_change();
    function form_checkbox_change(){
        // 多选
        $("form").on("click",".form-checkbox",function(){
            $(this).toggleClass("active");
        });
        // 单选
        $("form").on("click",".form-radio",function(){
            $(this).addClass("active").parent().siblings().find(".form-radio").removeClass("active");
        });
    }
    // 上传按钮
    $(".file-upload").on("click","button",uploadBtnFn);
    function uploadBtnFn(){
        $(this).prev().find("input[type=file]").trigger("click");
    }
</script>