
<link rel="stylesheet" type="text/css" href="../../../content/frame/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../../content/normal/css/my-theme.css">
<link rel="stylesheet" type="text/css" href="../../../content/normal/css/demo.css">
<link rel="stylesheet" type="text/css" href="../../../content/frame/jquery.date/jquery.datetimepicker.min.css">
<script type="text/javascript" src="../../../content/frame/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../../content/frame/jquery.date/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript" src="../../../content/frame/clipboard/clipboard.min.js"></script>
<script type="text/javascript" src="../../../content/frame/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../../../content/normal/js/v-demo.js"></script>

<h2 id="demo-express-h1">form 
    <a type="button" class="btn btn-default" href="../../local-index.html">返回</a>
</h2>

<!-- html -->
<div class="demo-express">
    <h3>结果展示</h3>
    <div class="demo-express-bg">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">部门信息：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="" placeholder="部门编号/名称/助记码">  
                </div>
            </div> 
            <div class="form-group">
                <label class="col-sm-3 control-label">部门信息：</label>
                <div class="col-sm-5">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aspopup="true" aria-expanded="false">
                        Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">就餐时间：</label>
                <div class="col-sm-5">
                    <div class="form-date">
                        <input id="startDate" class="form-control" type="text" placeholder="选择时间">
                    </div>
                    <em> — </em>
                    <div class="form-date">
                        <input id="endDate" class="form-control" type="text" placeholder="选择时间">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">数字：</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" name="">
                </div>
            </div>
            <div class="form-group form-group-textarea">
                <label class="col-sm-3 control-label">描述：</label>
                <div class="col-sm-5">
                    <textarea class="form-control" rows="2"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">开餐编号：</label>
                <div class="col-sm-5">
                    <span>123123123</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">就餐时间：</label>
                <div class="col-sm-5">
                    <span>11:30—13:00</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">多选：</label>
                <div class="col-sm-5">
                    <div class="checkbox-btns">
                        <label class="checkbox-inline">
                            <span class="form-checkbox"></span> 多选一
                        </label>
                        <label class="checkbox-inline">
                            <span class="form-checkbox"></span> 多选二
                        </label>
                        <label class="checkbox-inline">
                            <span class="form-checkbox"></span> 多选三
                        </label>
                        <label class="checkbox-inline disabled">
                            <span class="form-checkbox"></span> 禁止
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">单选：</label>
                <div class="col-sm-5">
                    <div class="radio-btns">                        
                        <label class="radio-inline">
                            <span class="form-radio"></span> 单选一
                        </label>
                        <label class="radio-inline">
                            <span class="form-radio"></span> 单选二
                        </label>
                        <label class="radio-inline">
                            <span class="form-radio"></span> 单选三
                        </label>
                        <label class="radio-inline disabled">
                            <span class="form-radio"></span> 禁止
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">上传：</label>
                <div class="col-sm-5">
                    <div class="file-upload">
                        <span><input type="file" name="" class="form-control" id=""></span>
                        <button class="btn btn-default search-btn" type="submit">上传</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">测试主题主题颜色按钮：</label>
                <div class="col-sm-5">
                    <div class="btn btn-default btn-theme">主题按钮</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">表单按钮：</label>
                <div class="col-sm-5">
                    <div class="btn btn-default btn-lg">保存</div>
                    <div class="btn btn-default btn-lg">取消</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-5">
                    <button class="btn btn-default search-btn" type="submit">查询按钮</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="demo-express">
    <h3>代码</h3>
    <div class="demo-express-bg">
<!-- js -->
<div class="demo-express-code-box row">
                <div class="col-sm-12">
                    <h3><span>plugin</span><button class="copy" data-clipboard-target="#foo"></button></h3>
<pre id="foo">
&lt;!-- 日期控件依赖 --&gt;
&lt;link rel="stylesheet" type="text/css" href="../../../content/frame/jquery.date/jquery.datetimepicker.min.css"&gt;
&lt;script type="text/javascript" src="../../../content/frame/jquery.date/jquery.datetimepicker.full.min.js"&gt;&lt;/script&gt;
</pre>
                </div>
                <div class="col-sm-12">
                    <h3><span>html</span><button class="copy" data-clipboard-target="#foo1"></button></h3>

<pre id="foo1">

</pre>
                </div>
                <div class="col-sm-12">
                    <h3><span>css</span><button class="copy" data-clipboard-target="#foo2"></button></h3>
<pre id="foo2">

</pre>
                </div>
                <div class="col-sm-12">
                    <h3><span>javascript</span><button class="copy" data-clipboard-target="#foo3"></button></h3>
<pre id="foo3">

</pre>
                </div>
            </div>
    </div>
</div>
<script type="text/javascript">
    // 日期
    $.datetimepicker.setLocale('zh');
    $('#startDate').datetimepicker({        
        timepicker:false,
        format:'Y.m.d',
        parentID:"html",
        onShow:function( ct ){
            console.log(123)
            this.setOptions({
                maxDate:$('#endDate').val()?$('#endDate').val():false
            })
        },
    });

    $('#endDate').datetimepicker({
        timepicker:false,
        format:'Y.m.d',
        parentID:"html",
        onShow:function( ct ){
            this.setOptions({
                minDate:$('#startDate').val()?$('#startDate').val():false
            })
        },
    });

    // 下拉选项
    var menu = $(".dropdown-menu");
    if($("#right-container .dropdown-menu").length){
        menu = $("#right-container .dropdown-menu");
    }
    
    menu.on("click","li a",function(event){
        var dropdown = $(this).parents("ul").prev('[data-toggle=dropdown]');
        dropdown.html($(this).text()+'<span class="caret"></span>').parent().removeClass("open");
    });
    // 
    form_checkbox_change();
    function form_checkbox_change(){
        // 多选
        $("form").on("click",".form-checkbox",function(){
            if(!$(this).hasClass("form-disabled")){
                $(this).toggleClass("active");
            }
            
        });
        // 单选
        $("form").on("click",".form-radio",function(){
            if(!$(this).hasClass("active")){
                $(this).addClass("active").parent().siblings().find(".form-radio").removeClass("active");
            }
            
        });
    }
    // 上传按钮
    $(".file-upload").on("click","button",uploadBtnFn);
    function uploadBtnFn(){
        $(this).prev().find("input[type=file]").trigger("click");
    }

</script>