<!-- 本地查看是用 质保城复制功能好用 -->
<link rel="stylesheet" type="text/css" href="../../../content/frame/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../../content/normal/css/my-theme.css">
<link rel="stylesheet" type="text/css" href="../../../content/normal/css/demo.css">
<link rel="stylesheet" type="text/css" href="../../../content/frame/jquery.date/jquery.datetimepicker.min.css">
<script type="text/javascript" src="../../../content/frame/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../../content/frame/clipboard/clipboard.min.js"></script>
<script type="text/javascript" src="../../../content/normal/js/v-demo.js"></script>
<!-- end -->
<h2 id="demo-express-h1">大标题 
    <a type="button" class="btn btn-default" href="../../local-index.html">返回</a>
</h2>
<!-- html -->
<div class="demo-express">
    <h3>结果展示</h3>
    <div class="demo-express-bg">
        <div class="content-h1">
            <label>标题展示</label>
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">第一层</a></li>
                <li class="active">第二层</li>
            </ol>
            <span class="head-tools pull-right">
                <button class="refresh"></button>
            </span>
        </div>
    </div>
</div>
<div class="demo-express">
    <h3>代码</h3>
    <div class="demo-express-bg">
<!-- js -->
<div class="demo-express-code-box row">
                <div class="col-sm-12">
                    <h3><span>html</span><button class="copy" data-clipboard-target="#foo1"></button></h3>

<pre id="foo1">
&lt;div class="content-h1"&gt;
    &lt;label&gt;标题展示&lt;/label&gt;
    &lt;ol class="breadcrumb"&gt;
        &lt;li&gt;&lt;a href="#"&gt;首页&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;第一层&lt;/a&gt;&lt;/li&gt;
        &lt;li class="active"&gt;第二层&lt;/li&gt;
    &lt;/ol&gt;
    &lt;span class="head-tools pull-right"&gt;
        &lt;button class="refresh"&gt;&lt;/button&gt;
    &lt;/span&gt;
&lt;/div&gt;
</pre>
                </div>
                <div class="col-sm-12">
                    <h3><span>css</span><button class="copy" data-clipboard-target="#foo2"></button></h3>
<pre id="foo2">
.content-h1{
    height: 66px;
    padding: 0 10px 0 38px;
    background: url(../../../content/normal/images/ico-title.png) no-repeat left center;
    line-height: 66px;
    color:#000;
    margin:0 0 20px 0;
    border-bottom:1px solid #979797;
}
.content-h1 label{
   font-size: 24px;
   font-weight: normal;
   margin-right: 10px; 
   margin-bottom: 0;    
}
.content-h1 .refresh{
    width: 24px;
    height: 24px;
    margin-top:21px;
    border:0;
    background: url(../../../content/normal/images/refresh.png) no-repeat;
}
.content-h1 .breadcrumb{
    display: inline-block;
    background: none;
    padding: 0;
    margin-top: 0;
}
.content-h1 .breadcrumb a{
    color: #000;
}
.content-h1 .breadcrumb>li:before,
.content-h1 .breadcrumb>li+li:before{
    font-family: monospace;
    font-size: 12px;
    content:"〉";
    color: #9f9f9f;
    background:none;
}
</pre>
                </div>
            </div>
    </div>
</div>