
<link rel="stylesheet" type="text/css" href="../../../content/frame/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../../content/normal/css/theme.css">
<link rel="stylesheet" type="text/css" href="../../../content/normal/css/demo.css">
<!-- end -->
<h2 id="demo-express-h1">
     
    <a type="button" class="btn btn-default" href="../../local-index.html">返回</a>
</h2>
<!-- css -->
<style type="text/css" media="screen">


</style>
<!-- html -->
<div class="demo-express">
    <h3>结果展示</h3>
    <div class="demo-express-bg">
        
        <!--  -->
        <!--  -->
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-5">
                    <div class="form-date">
                        <input id="startDate" class="form-control" type="text" placeholder="选择时间">
                    </div>
                    <div class="form-date">
                        <input id="endDate" class="form-control" type="text" placeholder="选择时间">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="demo-express">
    <h3>代码</h3>
    <div class="demo-express-bg">
        <div class="demo-express-code-box row">
            <!-- plugin -->
            <div class="col-sm-12">
                <h3><span>plugin</span><button class="copy" data-clipboard-target="#plugin"></button></h3>
<pre id="plugin">

</pre>
            </div>
            <!-- html -->
            <div class="col-sm-12">
                <h3><span>html</span><button class="copy" data-clipboard-target="#html"></button></h3>
<pre id="html">

</pre>
            </div>
            <!-- css -->
            <div class="col-sm-12">
                <h3><span>css</span><button class="copy" data-clipboard-target="#css"></button></h3>
<pre id="css">

</pre>
            </div>
            <!-- javascript -->
            <div class="col-sm-12">
                <h3><span>javascript</span><button class="copy" data-clipboard-target="#javascript"></button></h3>
<pre id="javascript">

</pre>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>