
<h2 id="demo-express-h1">
    table
    <button type="button" class="btn btn-default" onclick="$('.demo').load('views/container/demo/demo.html');">返回</button>
</h2>
<!-- css -->
<style type="text/css" media="screen">

#table{

}
#table thead{
    background: #f1f1f1;

}
#table.table>thead>tr>th{
    border: 0;
    height: 40px;
    line-height: 40px;
    color:#4A4A4A;
    font-weight: normal;
}
#table.table tbody td{
    height: 40px;
    line-height: 40px;
}
#table.table .table-checkbox{
    display: inline-block;
    width: 16px;
    height: 16px;  
    margin: 0;
    vertical-align: middle;
    margin-right: 6px;
    background: url(../../../content/normal/images/Checkbox-off.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    
}
#table.table .table-checkbox.active{
    background: url(../../../content/normal/images/Checkbox-off-half.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    
}   
#table.table tbody td a{
    padding: 0;
    line-height: 40px;
    color:#3F9EE7;
}
#table.table tbody td a + a{
    margin-left: 18px;
}
#table.table tbody td img{
    width: 50px;
    height: 50px;
}
#table.table tbody td a:hover{
    text-decoration: none;
}
#table.table.table-hover>tbody>tr:hover{
    background: #FFF7EA;
}
#table.table tbody td.time{
    color:#bdbdbd;
}
#table.table tbody td.ongoing,
#table.table tbody td.notSarted,
#table.table tbody td.started{
    color:#2ead88;
}
#table.table tbody td.cancelled,
#table.table tbody td.ban{
    color:#974343;
}
#table.table tbody td.agreed{
    color:#535353;
}
@media screen and (min-width: 768px) and (max-width: 1366px){
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
}
@media screen and (min-width: 768px) and (max-width: 1600px){
    .table-responsive>#table>.table {
        margin-bottom: 0;
    } 
}
@media screen and (min-width: 768px) and (max-width: 1600px){
    .table-responsive>#table.table>tbody>tr>td,
    .table-responsive>#table.table>tbody>tr>th,
    .table-responsive>#table.table>tfoot>tr>td,
    .table-responsive>#table.table>tfoot>tr>th,
    .table-responsive>#table.table>thead>tr>td, 
    .table-responsive>#table.table>thead>tr>th {
        white-space: nowrap;
    }
}

</style>
<!-- html -->
<div class="demo-express">
    <h3>结果展示</h3>
    <div class="demo-express-bg">
        <div class="table-responsive">
            <table class="table table-hover table-condensed" id='table'>
                <thead>
                    <tr>
                        <th><span class="table-checkbox"></span>部门编号</th>
                        <th>部门名称</th>
                        <th>助记码</th>
                        <th>部门层级</th>
                        <th>部门所在分区</th>
                        <th>封面图片</th>
                        <th>发布时间</th>
                        <th>就餐详情</th>
                        <th>限额</th>
                        <th>就餐折扣</th>
                        <th>余额</th>
                        <th>部门状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="table-checkbox"></span>12345678901234567890</td>
                        <td>测试角色一</td>
                        <td>1234567</td>
                        <td>测试层级一</td>
                        <td>测试部门所在分区一</td>
                        <td></td>
                        <td class="time">2018-12-12 12:12:12</td>
                        <td>测试就餐详情</td>
                        <td>1231元</td>
                        <td>7.77折</td>
                        <td>12311111</td>
                        <td>测试部门状态</td>
                        <td><a href="#">查看</a><a href="#">编辑</a></td>
                    </tr>
                    <tr>
                        <td><span class="table-checkbox"></span>12345678901234567890</td>
                        <td>测试角色二</td>
                        <td>1234567</td>
                        <td>11测试层级一</td>
                        <td>11测试部门所在分区一</td>
                        <td><img src="../../../content/normal/images/profile-photo.jpg" alt=""></td>
                        <td class="time">2018-12-12 12:12:12</td>
                        <td>11测试就餐详情</td>
                        <td>111231元</td>
                        <td>7.77折</td>
                        <td>12311111</td>
                        <td class="ongoing">进行中</td>
                        <td><a href="#">查看</a><a href="#">编辑</a></td>
                    </tr>
                    <tr>
                        <td><span class="table-checkbox"></span>12345678901234567890</td>
                        <td>测试角色三</td>
                        <td>1234567</td>
                        <td>11测试层级一</td>
                        <td>11测试部门所在分区一</td>
                        <td><img src="../../../content/normal/images/profile-photo.jpg" alt=""></td>
                        <td class="time">2018-12-12 12:12:12</td>
                        <td>11测试就餐详情</td>
                        <td>111231元</td>
                        <td>7.77折</td>
                        <td>12311111</td>
                        <td class="notSarted">未开始</td>
                        <td><a href="#">查看</a><a href="#">编辑</a></td>
                    </tr>
                    <tr>
                        <td><span class="table-checkbox"></span>12345678901234567890</td>
                        <td>测试角色四</td>
                        <td>1234567</td>
                        <td>11测试层级一</td>
                        <td>11测试部门所在分区一</td>
                        <td><img src="../../../content/normal/images/profile-photo.jpg" alt=""></td>
                        <td class="time">2018-12-12 12:12:12</td>
                        <td>11测试就餐详情</td>
                        <td>111231元</td>
                        <td>7.77折</td>
                        <td>12311111</td>
                        <td class="cancelled">已退回</td>
                        <td><a href="#">查看</a><a href="#">编辑</a></td>
                    </tr>
                    <tr>
                        <td><span class="table-checkbox"></span>12345678901234567890</td>
                        <td>测试角色五</td>
                        <td>1234567</td>
                        <td>11测试层级一</td>
                        <td>11测试部门所在分区一</td>
                        <td><img src="../../../content/normal/images/profile-photo.jpg" alt=""></td>
                        <td class="time">2018-12-12 12:12:12</td>
                        <td>11测试就餐详情</td>
                        <td>111231元</td>
                        <td>7.77折</td>
                        <td>12311111</td>
                        <td class="agreed">已审批</td>
                        <td><a href="#">查看</a><a href="#">编辑</a></td>
                    </tr>
                    <tr>
                        <td><span class="table-checkbox"></span>12345678901234567890</td>
                        <td>测试角色五</td>
                        <td>1234567</td>
                        <td>11测试层级一</td>
                        <td>11测试部门所在分区一</td>
                        <td><img src="../../../content/normal/images/profile-photo.jpg" alt=""></td>
                        <td class="time">2018-12-12 12:12:12</td>
                        <td>11测试就餐详情</td>
                        <td>111231元</td>
                        <td>7.77折</td>
                        <td>12311111</td>
                        <td class="started">启用</td>
                        <td><a href="#">查看</a><a href="#">编辑</a></td>
                    </tr>
                    <tr>
                        <td><span class="table-checkbox"></span>12345678901234567890</td>
                        <td>测试角色五</td>
                        <td>1234567</td>
                        <td>11测试层级一</td>
                        <td>11测试部门所在分区一</td>
                        <td><img src="../../../content/normal/images/profile-photo.jpg" alt=""></td>
                        <td class="time">2018-12-12 12:12:12</td>
                        <td>11测试就餐详情</td>
                        <td>111231元</td>
                        <td>7.77折</td>
                        <td>12311111</td>
                        <td class="ban">禁止</td>
                        <td><a href="#">查看</a><a href="#">编辑</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--  -->
    </div>
</div>
<div class="demo-express">
    <h3>代码</h3>
    <div class="demo-express-bg">
<!-- js -->
<div class="demo-express-code-box row">
                <div class="col-sm-12">
                    <h3><span>html</span><button class="copy" data-clipboard-target="#foo1"></button></h3>

<pre id="foo1">
&lt;div class="table-responsive"&gt;
    &lt;table class="table table-hover table-condensed" id='table'&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;&lt;span class="table-checkbox"&gt;&lt;/span&gt;部门编号&lt;/th&gt;
                &lt;th&gt;部门名称&lt;/th&gt;
                &lt;th&gt;助记码&lt;/th&gt;
                &lt;th&gt;部门层级&lt;/th&gt;
                &lt;th&gt;部门所在分区&lt;/th&gt;
                &lt;th&gt;封面图片&lt;/th&gt;
                &lt;th&gt;发布时间&lt;/th&gt;
                &lt;th&gt;就餐详情&lt;/th&gt;
                &lt;th&gt;限额&lt;/th&gt;
                &lt;th&gt;就餐折扣&lt;/th&gt;
                &lt;th&gt;余额&lt;/th&gt;
                &lt;th&gt;部门状态&lt;/th&gt;
                &lt;th&gt;操作&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td&gt;&lt;span class="table-checkbox"&gt;&lt;/span&gt;12345678901234567890&lt;/td&gt;
                &lt;td&gt;测试角色一&lt;/td&gt;
                &lt;td&gt;1234567&lt;/td&gt;
                &lt;td&gt;测试层级一&lt;/td&gt;
                &lt;td&gt;测试部门所在分区一&lt;/td&gt;
                &lt;td&gt;&lt;/td&gt;
                &lt;td class="time"&gt;2018-12-12 12:12:12&lt;/td&gt;
                &lt;td&gt;测试就餐详情&lt;/td&gt;
                &lt;td&gt;1231元&lt;/td&gt;
                &lt;td&gt;7.77折&lt;/td&gt;
                &lt;td&gt;12311111&lt;/td&gt;
                &lt;td&gt;测试部门状态&lt;/td&gt;
                &lt;td&gt;&lt;a href="#"&gt;查看&lt;/a&gt;&lt;a href="#"&gt;编辑&lt;/a&gt;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;&lt;span class="table-checkbox"&gt;&lt;/span&gt;12345678901234567890&lt;/td&gt;
                &lt;td&gt;测试角色二&lt;/td&gt;
                &lt;td&gt;1234567&lt;/td&gt;
                &lt;td&gt;11测试层级一&lt;/td&gt;
                &lt;td&gt;11测试部门所在分区一&lt;/td&gt;
                &lt;td&gt;&lt;img src="../../../content/normal/images/profile-photo.jpg" alt=""&gt;&lt;/td&gt;
                &lt;td class="time"&gt;2018-12-12 12:12:12&lt;/td&gt;
                &lt;td&gt;11测试就餐详情&lt;/td&gt;
                &lt;td&gt;111231元&lt;/td&gt;
                &lt;td&gt;7.77折&lt;/td&gt;
                &lt;td&gt;12311111&lt;/td&gt;
                &lt;td class="ongoing"&gt;进行中&lt;/td&gt;
                &lt;td&gt;&lt;a href="#"&gt;查看&lt;/a&gt;&lt;a href="#"&gt;编辑&lt;/a&gt;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;&lt;span class="table-checkbox"&gt;&lt;/span&gt;12345678901234567890&lt;/td&gt;
                &lt;td&gt;测试角色三&lt;/td&gt;
                &lt;td&gt;1234567&lt;/td&gt;
                &lt;td&gt;11测试层级一&lt;/td&gt;
                &lt;td&gt;11测试部门所在分区一&lt;/td&gt;
                &lt;td&gt;&lt;img src="../../../content/normal/images/profile-photo.jpg" alt=""&gt;&lt;/td&gt;
                &lt;td class="time"&gt;2018-12-12 12:12:12&lt;/td&gt;
                &lt;td&gt;11测试就餐详情&lt;/td&gt;
                &lt;td&gt;111231元&lt;/td&gt;
                &lt;td&gt;7.77折&lt;/td&gt;
                &lt;td&gt;12311111&lt;/td&gt;
                &lt;td class="notSarted"&gt;未开始&lt;/td&gt;
                &lt;td&gt;&lt;a href="#"&gt;查看&lt;/a&gt;&lt;a href="#"&gt;编辑&lt;/a&gt;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;&lt;span class="table-checkbox"&gt;&lt;/span&gt;12345678901234567890&lt;/td&gt;
                &lt;td&gt;测试角色四&lt;/td&gt;
                &lt;td&gt;1234567&lt;/td&gt;
                &lt;td&gt;11测试层级一&lt;/td&gt;
                &lt;td&gt;11测试部门所在分区一&lt;/td&gt;
                &lt;td&gt;&lt;img src="../../../content/normal/images/profile-photo.jpg" alt=""&gt;&lt;/td&gt;
                &lt;td class="time"&gt;2018-12-12 12:12:12&lt;/td&gt;
                &lt;td&gt;11测试就餐详情&lt;/td&gt;
                &lt;td&gt;111231元&lt;/td&gt;
                &lt;td&gt;7.77折&lt;/td&gt;
                &lt;td&gt;12311111&lt;/td&gt;
                &lt;td class="cancelled"&gt;已退回&lt;/td&gt;
                &lt;td&gt;&lt;a href="#"&gt;查看&lt;/a&gt;&lt;a href="#"&gt;编辑&lt;/a&gt;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;&lt;span class="table-checkbox"&gt;&lt;/span&gt;12345678901234567890&lt;/td&gt;
                &lt;td&gt;测试角色五&lt;/td&gt;
                &lt;td&gt;1234567&lt;/td&gt;
                &lt;td&gt;11测试层级一&lt;/td&gt;
                &lt;td&gt;11测试部门所在分区一&lt;/td&gt;
                &lt;td&gt;&lt;img src="../../../content/normal/images/profile-photo.jpg" alt=""&gt;&lt;/td&gt;
                &lt;td class="time"&gt;2018-12-12 12:12:12&lt;/td&gt;
                &lt;td&gt;11测试就餐详情&lt;/td&gt;
                &lt;td&gt;111231元&lt;/td&gt;
                &lt;td&gt;7.77折&lt;/td&gt;
                &lt;td&gt;12311111&lt;/td&gt;
                &lt;td class="agreed"&gt;已审批&lt;/td&gt;
                &lt;td&gt;&lt;a href="#"&gt;查看&lt;/a&gt;&lt;a href="#"&gt;编辑&lt;/a&gt;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;&lt;span class="table-checkbox"&gt;&lt;/span&gt;12345678901234567890&lt;/td&gt;
                &lt;td&gt;测试角色五&lt;/td&gt;
                &lt;td&gt;1234567&lt;/td&gt;
                &lt;td&gt;11测试层级一&lt;/td&gt;
                &lt;td&gt;11测试部门所在分区一&lt;/td&gt;
                &lt;td&gt;&lt;img src="../../../content/normal/images/profile-photo.jpg" alt=""&gt;&lt;/td&gt;
                &lt;td class="time"&gt;2018-12-12 12:12:12&lt;/td&gt;
                &lt;td&gt;11测试就餐详情&lt;/td&gt;
                &lt;td&gt;111231元&lt;/td&gt;
                &lt;td&gt;7.77折&lt;/td&gt;
                &lt;td&gt;12311111&lt;/td&gt;
                &lt;td class="started"&gt;启用&lt;/td&gt;
                &lt;td&gt;&lt;a href="#"&gt;查看&lt;/a&gt;&lt;a href="#"&gt;编辑&lt;/a&gt;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;&lt;span class="table-checkbox"&gt;&lt;/span&gt;12345678901234567890&lt;/td&gt;
                &lt;td&gt;测试角色五&lt;/td&gt;
                &lt;td&gt;1234567&lt;/td&gt;
                &lt;td&gt;11测试层级一&lt;/td&gt;
                &lt;td&gt;11测试部门所在分区一&lt;/td&gt;
                &lt;td&gt;&lt;img src="../../../content/normal/images/profile-photo.jpg" alt=""&gt;&lt;/td&gt;
                &lt;td class="time"&gt;2018-12-12 12:12:12&lt;/td&gt;
                &lt;td&gt;11测试就餐详情&lt;/td&gt;
                &lt;td&gt;111231元&lt;/td&gt;
                &lt;td&gt;7.77折&lt;/td&gt;
                &lt;td&gt;12311111&lt;/td&gt;
                &lt;td class="ban"&gt;禁止&lt;/td&gt;
                &lt;td&gt;&lt;a href="#"&gt;查看&lt;/a&gt;&lt;a href="#"&gt;编辑&lt;/a&gt;&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;
</pre>
                </div>
                <div class="col-sm-12">
                    <h3><span>css</span><button class="copy" data-clipboard-target="#foo2"></button></h3>
<pre id="foo2">
#table{

}
#table thead{
    background: #f1f1f1;

}
#table.table>thead>tr>th{
    border: 0;
    height: 40px;
    line-height: 40px;
    color:#4A4A4A;
    font-weight: normal;
}
#table.table tbody td{
    height: 40px;
    line-height: 40px;
}
#table.table .table-checkbox{
    display: inline-block;
    width: 16px;
    height: 16px;  
    margin: 0;
    vertical-align: middle;
    margin-right: 6px;
    background: url(../../../content/normal/images/Checkbox-off.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    
}
#table.table .table-checkbox.active{
    background: url(../../../content/normal/images/Checkbox-off-half.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    
}   
#table.table tbody td a{
    padding: 0;
    line-height: 40px;
    color:#3F9EE7;
}
#table.table tbody td a + a{
    margin-left: 18px;
}
#table.table tbody td img{
    width: 50px;
    height: 50px;
}
#table.table tbody td a:hover{
    text-decoration: none;
}
#table.table.table-hover>tbody>tr:hover{
    background: #FFF7EA;
}
#table.table tbody td.time{
    color:#bdbdbd;
}
#table.table tbody td.ongoing,
#table.table tbody td.notSarted,
#table.table tbody td.started{
    color:#2ead88;
}
#table.table tbody td.cancelled,
#table.table tbody td.ban{
    color:#974343;
}
#table.table tbody td.agreed{
    color:#535353;
}
@media screen and (min-width: 768px) and (max-width: 1366px){
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
}
@media screen and (min-width: 768px) and (max-width: 1600px){
    .table-responsive>#table>.table {
        margin-bottom: 0;
    } 
}
@media screen and (min-width: 768px) and (max-width: 1600px){
    .table-responsive>#table.table>tbody>tr>td,
    .table-responsive>#table.table>tbody>tr>th,
    .table-responsive>#table.table>tfoot>tr>td,
    .table-responsive>#table.table>tfoot>tr>th,
    .table-responsive>#table.table>thead>tr>td, 
    .table-responsive>#table.table>thead>tr>th {
        white-space: nowrap;
    }
}

</pre>
                </div>
                <div class="col-sm-12">
                    <h3><span>javascript</span><button class="copy" data-clipboard-target="#foo3"></button></h3>
<pre id="foo3">
// 多选
function table_checkbox_change(){
    $("#table").on("click",".table-checkbox",function(){
        var table = $("#table");
        $(this).toggleClass("active");

        if($("tbody .table-checkbox").length == $("tbody .table-checkbox.active").length){
            $("thead .table-checkbox").addClass("active");
        }else{
            $("thead .table-checkbox").removeClass("active");
        }
    });

    $("#table").on("click","thead .table-checkbox",function(){
        var table = $("#table");
        $(this).toggleClass("active");
        if($(this).hasClass("active")){
            $("tbody .table-checkbox").addClass("active");
        }else{
            $("tbody .table-checkbox").removeClass("active");
        }
        
    });
}
table_checkbox_change();
</pre>
                </div>
            </div>
    </div>
</div>
<script type="text/javascript">
// 多选
function table_checkbox_change(){
    $("#table").on("click",".table-checkbox",function(){
        var table = $("#table");
        $(this).toggleClass("active");

        if($("tbody .table-checkbox").length == $("tbody .table-checkbox.active").length){
            $("thead .table-checkbox").addClass("active");
        }else{
            $("thead .table-checkbox").removeClass("active");
        }
    });

    $("#table").on("click","thead .table-checkbox",function(){
        var table = $("#table");
        $(this).toggleClass("active");
        if($(this).hasClass("active")){
            $("tbody .table-checkbox").addClass("active");
        }else{
            $("tbody .table-checkbox").removeClass("active");
        }
        
    });
}
table_checkbox_change();
</script>