
html,.examine{
  height: auto;
  overflow-y:scroll;
  -webkit-overflow-scrolling:touch;
}
.info{
  background: #fff;
  padding:.2rem;
}
.info h2{
  font-size: .15rem;
  line-height: .15rem;
  color:#3c3c3c;
  margin-bottom: .1rem;
}
.info p{
  font-size: .14rem;
  color:#a8a8a8;
  line-height: .14rem;
}

/*照片对比 部分*/
.examine-contrast{
  padding:.32rem .2rem;
  background: #fff;
  margin-top: .1rem;
}
.examine-imgs{
  font-size: 0;
  border:1px solid #e0e0e0;
  border-radius:5px;
  padding: .28rem .2rem 0 .2rem;
  height: 2.1rem;
  position: relative;
}
.examine-imgs:before{
  position: absolute;
  content: "图片审核";
  font-size: .15rem;
  background: #fff;
  color:#73d2fe;
  top:-.11rem;
  left:calc(20% - .1rem);
  padding: 0 .1rem;
}
.using-img,.contrast-num,.contrast-img{
  display: inline-block;
  width: 40%;
  height: 100%;
  vertical-align: top
}
.contrast-num{
  width: 20%;
  font-size: .14rem;
  color:#8d8d8d;
  text-align: center;
}
.contrast-num em{
  display: block;
  font-size: .12rem;
  color:#ff5408;
  margin-top: calc(1.2rem / 2 - .14rem);
}
.using-img,.contrast-img{
  overflow:hidden;
}
.using-img .img-box,
.contrast-img .img-box{
  height: 1.2rem;
  overflow: hidden;
  text-align: center;
  background: url(../images/default.png) no-repeat center;
  background-size: contain;
}
.using-img img,.contrast-img img{
  height:100%;
}
.using-img div:last-child,
.contrast-img .contrast-img-btns{
  height: .2rem;
  line-height: .2rem;
  text-align: center;
  margin-top: .12rem;
  font-size: .12rem;
}
.using-img div span{
  display: inline-block;
  width: .5rem;
  height: inherit;
  background: #01e699;
  color:#fff;
}
.contrast-img div button{
  width: .55rem;
  height: inherit;
  border:1px solid #73d2fe;
  border-radius: 2px;
  background: #fff;
  color:#73d2fe;
  font-size: .12rem;
  line-height: .18rem;
  transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
}
.contrast-img div button:active{
  background: #73d2fe;
  color:#fff;
}

/* 认证结果 部分 */
.examine-result{
  padding: .2rem;
  background: #fff;
  margin-top: .1rem;
}

.examine-result ul{
  margin-top: .06rem;
}
.examine-result ul li{
  height: .78rem;
  font-size: 0;
}
.examine-result ul li >*{
  display: inline-block;
}
.examine-result ul li div{
  width: .3rem;
  height: 100%;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  margin-right: .12rem;
  position: relative;
}
.examine-result ul li div:after{
  position: absolute;
  content: "";
  width: 1px;
  height: .25rem;
  background: #e0e0e0;
  left:.15rem;
  top:.48rem;
}
.examine-result ul li div img{
  width: 100%;
  max-height: .42rem;
}
.examine-result ul li p{
  width: calc(100% - .12rem - .3rem);
  vertical-align: top;
  font-size: .12rem;

}
.examine-result ul li p span{
  /*display: block;*/
  color:#a8a8a8;
  padding-left: .1rem;
}

/* 输入框 */
.input-box{
  position: fixed;
  width: 100%;
  height: .5rem;
  padding: .1rem;
  bottom:0;
  z-index: 3;
  background: #fff;
  /*opacity: 0;
	transition: all .3s ease 1s;
  -webkit-transition: all .3s ease 1s;*/
}
.input-box input{
  width: calc(100% - .6rem);
  border:none;
  height: .3rem;
  display: inline-block;
  font-size: .12rem;
}
.input-box button{
  display: inline-block;
  width: .5rem;
  height: .3rem;
  color:#fff;
  border:0;
  border-radius:5px;
  background: #73d2fe;
  font-size: .12rem;
}
#baguetteBox-overlay .full-image img{
  width: 2.8rem;
}


.smart-content.input-show .smart-screen-mask{
  display: block;
}
.smart-content.input-show .input-box{
	opacity: 1;
  /*bottom: 0;*/
}




