html{
  font-size: calc(100vw/3.75);
  background:#fff;
  height: 100%;
}
html *{
  margin:0;
  padding: 0; 
  font-style:normal;
}
button{
  outline-style: none;
  transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
}
body{
  background: #efefef;
  height: 100%;
  overflow:hidden;
}
.clearfix:after{
  content:" ";
  height: 0;
  display: block;
  clear:both;
}
#wrapper{
  position: absolute;
  width: 100%;
  top:0;
  bottom: 0;
}



/* error.html */
.error .smart-content{
  position: relative;
  height: 100vh;
  background: #fff;

}
.error .smart-content div{
  position: absolute;
  width: 80%;
  top:20%;
  left:10%;
}
.error .smart-content div img{
  width: 100%;
}
.error .smart-content div p{
  text-align: center;
  color:#8d8d8d;
  margin-top: .1rem;
  font-size: .14rem;

}